automations/make-scenarios/snapshots/2026-02-18_produccion/7_envio/4058936_sending_messages_dev.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {},
      "module": "supabase:watchEvents",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "__IMTHOOK__": {
              "data": {
                "editable": "false"
              },
              "label": "Nuevos mensajes de prueba (BORRAR)"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 300,
          "name": "Watch new interaction"
        },
        "parameters": [
          {
            "name": "__IMTHOOK__",
            "type": "hook:supabase",
            "label": "Webhook",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTHOOK__": 1863043
      }
    },
    {
      "id": 20,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 22,
              "filter": {
                "name": "Pending_delivery",
                "conditions": [
                  [
                    {
                      "a": "{{1.record.id_person_conversation}}",
                      "o": "notexist"
                    },
                    {
                      "a": "{{1.record.status}}",
                      "b": "pending_delivery",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "data": {
                  "id_interaction": "{{1.record.id}}"
                }
              },
              "module": "scenario-service:CallSubscenario",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "data",
                    "spec": [
                      {
                        "name": "id_interaction",
                        "type": "text",
                        "label": "",
                        "required": true
                      }
                    ],
                    "type": "collection",
                    "label": "Scenario Inputs"
                  }
                ],
                "restore": {
                  "parameters": {
                    "scenario": {
                      "label": "IITA - Message dispatcher"
                    }
                  }
                },
                "designer": {
                  "x": 600,
                  "y": 0,
                  "name": "Message dispatcher"
                },
                "interface": [
                  {
                    "name": "executionId",
                    "type": "text",
                    "label": "Execution ID"
                  }
                ],
                "parameters": [
                  {
                    "name": "scenario",
                    "type": "scenario",
                    "label": "Scenario",
                    "required": true
                  },
                  {
                    "name": "shouldWaitForExecutionEnd",
                    "type": "boolean",
                    "label": "Wait for the scenario to finish",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "scenario": "SCN_3759370",
                "shouldWaitForExecutionEnd": false
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 23,
              "filter": {
                "name": "Send",
                "conditions": [
                  [
                    {
                      "a": "{{1.record.id_person_conversation}}",
                      "o": "notexist"
                    },
                    {
                      "a": "{{1.record.status}}",
                      "b": "send",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": null,
              "module": "builtin:BasicRouter",
              "routes": [
                {
                  "flow": [
                    {
                      "id": 24,
                      "filter": {
                        "name": "Salta",
                        "conditions": []
                      },
                      "mapper": {
                        "from": "share",
                        "filter": [
                          [
                            {
                              "a": "L",
                              "b": "{{1.record.id}}",
                              "o": "text:equal"
                            }
                          ]
                        ],
                        "sheetId": "Salta",
                        "sortOrder": "asc",
                        "spreadsheetId": "1z7DFdi9aLXEeU-MnG4bbkIQZz6z9N_Q0mXJeHjn5n24",
                        "tableFirstRow": "A1:CZ1",
                        "includesHeaders": true,
                        "valueRenderOption": "FORMATTED_VALUE",
                        "dateTimeRenderOption": "FORMATTED_STRING"
                      },
                      "module": "google-sheets:filterRows",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "from",
                            "type": "select",
                            "label": "Search Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "drive",
                                "share"
                              ]
                            }
                          },
                          {
                            "name": "valueRenderOption",
                            "type": "select",
                            "label": "Value render option",
                            "validate": {
                              "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                              ]
                            }
                          },
                          {
                            "name": "dateTimeRenderOption",
                            "type": "select",
                            "label": "Date and time render option",
                            "validate": {
                              "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                              ]
                            }
                          },
                          {
                            "name": "limit",
                            "type": "uinteger",
                            "label": "Limit"
                          },
                          {
                            "name": "spreadsheetId",
                            "type": "text",
                            "label": "Spreadsheet ID",
                            "required": true
                          },
                          {
                            "name": "sheetId",
                            "type": "select",
                            "label": "Sheet Name",
                            "required": true
                          },
                          {
                            "name": "includesHeaders",
                            "type": "select",
                            "label": "Table contains headers",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "tableFirstRow",
                            "type": "select",
                            "label": "Column range",
                            "required": true,
                            "validate": {
                              "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                              ]
                            }
                          },
                          {
                            "name": "filter",
                            "type": "filter",
                            "label": "Filter",
                            "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                          },
                          {
                            "name": "orderBy",
                            "type": "select",
                            "label": "Order by"
                          },
                          {
                            "name": "sortOrder",
                            "type": "select",
                            "label": "Sort order",
                            "validate": {
                              "enum": [
                                "asc",
                                "desc"
                              ]
                            }
                          }
                        ],
                        "restore": {
                          "expect": {
                            "from": {
                              "label": "Select from all"
                            },
                            "orderBy": {
                              "mode": "chose"
                            },
                            "sheetId": {
                              "mode": "chose",
                              "label": "Salta"
                            },
                            "sortOrder": {
                              "mode": "chose",
                              "label": "Ascending"
                            },
                            "tableFirstRow": {
                              "label": "A-CZ"
                            },
                            "includesHeaders": {
                              "mode": "chose",
                              "label": "Yes"
                            },
                            "valueRenderOption": {
                              "mode": "chose",
                              "label": "Formatted value"
                            },
                            "dateTimeRenderOption": {
                              "mode": "chose",
                              "label": "Formatted string"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "google"
                              },
                              "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                            }
                          }
                        },
                        "designer": {
                          "x": 900,
                          "y": 300,
                          "name": "Search row"
                        },
                        "interface": [
                          {
                            "name": "__IMTLENGTH__",
                            "type": "uinteger",
                            "label": "Total number of bundles"
                          },
                          {
                            "name": "__IMTINDEX__",
                            "type": "uinteger",
                            "label": "Bundle order position"
                          },
                          {
                            "name": "__ROW_NUMBER__",
                            "type": "number",
                            "label": "Row number"
                          },
                          {
                            "name": "__SPREADSHEET_ID__",
                            "type": "text",
                            "label": "Spreadsheet ID"
                          },
                          {
                            "name": "__SHEET__",
                            "type": "text",
                            "label": "Sheet"
                          },
                          {
                            "name": "0",
                            "type": "text",
                            "label": "ID (A)"
                          },
                          {
                            "name": "1",
                            "type": "text",
                            "label": "Fecha y hora (B)"
                          },
                          {
                            "name": "2",
                            "type": "text",
                            "label": "Canal (C)"
                          },
                          {
                            "name": "3",
                            "type": "text",
                            "label": "ID Conversación (D)"
                          },
                          {
                            "name": "4",
                            "type": "text",
                            "label": "Mensaje recibido (E)"
                          },
                          {
                            "name": "5",
                            "type": "text",
                            "label": "ID Mensaje (F)"
                          },
                          {
                            "name": "6",
                            "type": "text",
                            "label": "Respuesta generada (G)"
                          },
                          {
                            "name": "7",
                            "type": "text",
                            "label": "OK (H)"
                          },
                          {
                            "name": "8",
                            "type": "text",
                            "label": "Estado del envío (I)"
                          },
                          {
                            "name": "9",
                            "type": "text",
                            "label": "Fecha y hora de salida (J)"
                          },
                          {
                            "name": "10",
                            "type": "text",
                            "label": "ID DB (K)"
                          },
                          {
                            "name": "11",
                            "type": "text",
                            "label": "ID Generado (L)"
                          },
                          {
                            "name": "12",
                            "type": "text",
                            "label": "Evaluación (M)"
                          },
                          {
                            "name": "13",
                            "type": "text",
                            "label": "Puntaje (N)"
                          },
                          {
                            "name": "14",
                            "type": "text",
                            "label": "Devolución (O)"
                          },
                          {
                            "name": "15",
                            "type": "text",
                            "label": "(P)"
                          },
                          {
                            "name": "16",
                            "type": "text",
                            "label": "(Q)"
                          },
                          {
                            "name": "17",
                            "type": "text",
                            "label": "(R)"
                          },
                          {
                            "name": "18",
                            "type": "text",
                            "label": "(S)"
                          },
                          {
                            "name": "19",
                            "type": "text",
                            "label": "(T)"
                          },
                          {
                            "name": "20",
                            "type": "text",
                            "label": "(U)"
                          },
                          {
                            "name": "21",
                            "type": "text",
                            "label": "(V)"
                          },
                          {
                            "name": "22",
                            "type": "text",
                            "label": "(W)"
                          },
                          {
                            "name": "23",
                            "type": "text",
                            "label": "(X)"
                          },
                          {
                            "name": "24",
                            "type": "text",
                            "label": "(Y)"
                          },
                          {
                            "name": "25",
                            "type": "text",
                            "label": "(Z)"
                          },
                          {
                            "name": "26",
                            "type": "text",
                            "label": "(AA)"
                          },
                          {
                            "name": "27",
                            "type": "text",
                            "label": "(AB)"
                          },
                          {
                            "name": "28",
                            "type": "text",
                            "label": "(AC)"
                          },
                          {
                            "name": "29",
                            "type": "text",
                            "label": "(AD)"
                          },
                          {
                            "name": "30",
                            "type": "text",
                            "label": "(AE)"
                          },
                          {
                            "name": "31",
                            "type": "text",
                            "label": "(AF)"
                          },
                          {
                            "name": "32",
                            "type": "text",
                            "label": "(AG)"
                          },
                          {
                            "name": "33",
                            "type": "text",
                            "label": "(AH)"
                          },
                          {
                            "name": "34",
                            "type": "text",
                            "label": "(AI)"
                          },
                          {
                            "name": "35",
                            "type": "text",
                            "label": "(AJ)"
                          },
                          {
                            "name": "36",
                            "type": "text",
                            "label": "(AK)"
                          },
                          {
                            "name": "37",
                            "type": "text",
                            "label": "(AL)"
                          },
                          {
                            "name": "38",
                            "type": "text",
                            "label": "(AM)"
                          },
                          {
                            "name": "39",
                            "type": "text",
                            "label": "(AN)"
                          },
                          {
                            "name": "40",
                            "type": "text",
                            "label": "(AO)"
                          },
                          {
                            "name": "41",
                            "type": "text",
                            "label": "(AP)"
                          },
                          {
                            "name": "42",
                            "type": "text",
                            "label": "(AQ)"
                          },
                          {
                            "name": "43",
                            "type": "text",
                            "label": "(AR)"
                          },
                          {
                            "name": "44",
                            "type": "text",
                            "label": "(AS)"
                          },
                          {
                            "name": "45",
                            "type": "text",
                            "label": "(AT)"
                          },
                          {
                            "name": "46",
                            "type": "text",
                            "label": "(AU)"
                          },
                          {
                            "name": "47",
                            "type": "text",
                            "label": "(AV)"
                          },
                          {
                            "name": "48",
                            "type": "text",
                            "label": "(AW)"
                          },
                          {
                            "name": "49",
                            "type": "text",
                            "label": "(AX)"
                          },
                          {
                            "name": "50",
                            "type": "text",
                            "label": "(AY)"
                          },
                          {
                            "name": "51",
                            "type": "text",
                            "label": "(AZ)"
                          },
                          {
                            "name": "52",
                            "type": "text",
                            "label": "(BA)"
                          },
                          {
                            "name": "53",
                            "type": "text",
                            "label": "(BB)"
                          },
                          {
                            "name": "54",
                            "type": "text",
                            "label": "(BC)"
                          },
                          {
                            "name": "55",
                            "type": "text",
                            "label": "(BD)"
                          },
                          {
                            "name": "56",
                            "type": "text",
                            "label": "(BE)"
                          },
                          {
                            "name": "57",
                            "type": "text",
                            "label": "(BF)"
                          },
                          {
                            "name": "58",
                            "type": "text",
                            "label": "(BG)"
                          },
                          {
                            "name": "59",
                            "type": "text",
                            "label": "(BH)"
                          },
                          {
                            "name": "60",
                            "type": "text",
                            "label": "(BI)"
                          },
                          {
                            "name": "61",
                            "type": "text",
                            "label": "(BJ)"
                          },
                          {
                            "name": "62",
                            "type": "text",
                            "label": "(BK)"
                          },
                          {
                            "name": "63",
                            "type": "text",
                            "label": "(BL)"
                          },
                          {
                            "name": "64",
                            "type": "text",
                            "label": "(BM)"
                          },
                          {
                            "name": "65",
                            "type": "text",
                            "label": "(BN)"
                          },
                          {
                            "name": "66",
                            "type": "text",
                            "label": "(BO)"
                          },
                          {
                            "name": "67",
                            "type": "text",
                            "label": "(BP)"
                          },
                          {
                            "name": "68",
                            "type": "text",
                            "label": "(BQ)"
                          },
                          {
                            "name": "69",
                            "type": "text",
                            "label": "(BR)"
                          },
                          {
                            "name": "70",
                            "type": "text",
                            "label": "(BS)"
                          },
                          {
                            "name": "71",
                            "type": "text",
                            "label": "(BT)"
                          },
                          {
                            "name": "72",
                            "type": "text",
                            "label": "(BU)"
                          },
                          {
                            "name": "73",
                            "type": "text",
                            "label": "(BV)"
                          },
                          {
                            "name": "74",
                            "type": "text",
                            "label": "(BW)"
                          },
                          {
                            "name": "75",
                            "type": "text",
                            "label": "(BX)"
                          },
                          {
                            "name": "76",
                            "type": "text",
                            "label": "(BY)"
                          },
                          {
                            "name": "77",
                            "type": "text",
                            "label": "(BZ)"
                          },
                          {
                            "name": "78",
                            "type": "text",
                            "label": "(CA)"
                          },
                          {
                            "name": "79",
                            "type": "text",
                            "label": "(CB)"
                          },
                          {
                            "name": "80",
                            "type": "text",
                            "label": "(CC)"
                          },
                          {
                            "name": "81",
                            "type": "text",
                            "label": "(CD)"
                          },
                          {
                            "name": "82",
                            "type": "text",
                            "label": "(CE)"
                          },
                          {
                            "name": "83",
                            "type": "text",
                            "label": "(CF)"
                          },
                          {
                            "name": "84",
                            "type": "text",
                            "label": "(CG)"
                          },
                          {
                            "name": "85",
                            "type": "text",
                            "label": "(CH)"
                          },
                          {
                            "name": "86",
                            "type": "text",
                            "label": "(CI)"
                          },
                          {
                            "name": "87",
                            "type": "text",
                            "label": "(CJ)"
                          },
                          {
                            "name": "88",
                            "type": "text",
                            "label": "(CK)"
                          },
                          {
                            "name": "89",
                            "type": "text",
                            "label": "(CL)"
                          },
                          {
                            "name": "90",
                            "type": "text",
                            "label": "(CM)"
                          },
                          {
                            "name": "91",
                            "type": "text",
                            "label": "(CN)"
                          },
                          {
                            "name": "92",
                            "type": "text",
                            "label": "(CO)"
                          },
                          {
                            "name": "93",
                            "type": "text",
                            "label": "(CP)"
                          },
                          {
                            "name": "94",
                            "type": "text",
                            "label": "(CQ)"
                          },
                          {
                            "name": "95",
                            "type": "text",
                            "label": "(CR)"
                          },
                          {
                            "name": "96",
                            "type": "text",
                            "label": "(CS)"
                          },
                          {
                            "name": "97",
                            "type": "text",
                            "label": "(CT)"
                          },
                          {
                            "name": "98",
                            "type": "text",
                            "label": "(CU)"
                          },
                          {
                            "name": "99",
                            "type": "text",
                            "label": "(CV)"
                          },
                          {
                            "name": "100",
                            "type": "text",
                            "label": "(CW)"
                          },
                          {
                            "name": "101",
                            "type": "text",
                            "label": "(CX)"
                          },
                          {
                            "name": "102",
                            "type": "text",
                            "label": "(CY)"
                          },
                          {
                            "name": "103",
                            "type": "text",
                            "label": "(CZ)"
                          }
                        ],
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:google",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 5710354
                      }
                    },
                    {
                      "id": 25,
                      "filter": {
                        "name": "",
                        "conditions": [
                          [
                            {
                              "a": "{{24.`__IMTLENGTH__`}}",
                              "b": "0",
                              "o": "text:notequal"
                            },
                            {
                              "a": "{{24.`__ROW_NUMBER__`}}",
                              "o": "exist"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "mode": "fromAll",
                        "values": {
                          "8": "Enviado",
                          "9": "{{formatDate(now; \"DD/MM/YYYY HH:mm\"; \"America/Argentina/Salta\")}}"
                        },
                        "sheetId": "Salta",
                        "rowNumber": "{{24.`__ROW_NUMBER__`}}",
                        "spreadsheetId": "1z7DFdi9aLXEeU-MnG4bbkIQZz6z9N_Q0mXJeHjn5n24",
                        "includesHeaders": true,
                        "valueInputOption": "USER_ENTERED"
                      },
                      "module": "google-sheets:updateRow",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "mode",
                            "type": "select",
                            "label": "Search Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "select",
                                "fromAll",
                                "map"
                              ]
                            }
                          },
                          {
                            "name": "valueInputOption",
                            "type": "select",
                            "label": "Value input option",
                            "validate": {
                              "enum": [
                                "USER_ENTERED",
                                "RAW"
                              ]
                            }
                          },
                          {
                            "name": "spreadsheetId",
                            "type": "text",
                            "label": "Spreadsheet ID",
                            "required": true
                          },
                          {
                            "mode": "edit",
                            "name": "sheetId",
                            "type": "select",
                            "label": "Sheet Name",
                            "required": true
                          },
                          {
                            "name": "rowNumber",
                            "type": "uinteger",
                            "label": "Row number",
                            "required": true
                          },
                          {
                            "name": "includesHeaders",
                            "type": "select",
                            "label": "Table contains headers",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "values",
                            "spec": [
                              {
                                "name": "0",
                                "type": "text",
                                "label": "ID (A)"
                              },
                              {
                                "name": "1",
                                "type": "text",
                                "label": "Fecha y hora (B)"
                              },
                              {
                                "name": "2",
                                "type": "text",
                                "label": "Canal (C)"
                              },
                              {
                                "name": "3",
                                "type": "text",
                                "label": "ID Conversación (D)"
                              },
                              {
                                "name": "4",
                                "type": "text",
                                "label": "Mensaje recibido (E)"
                              },
                              {
                                "name": "5",
                                "type": "text",
                                "label": "ID Mensaje (F)"
                              },
                              {
                                "name": "6",
                                "type": "text",
                                "label": "Respuesta generada (G)"
                              },
                              {
                                "name": "7",
                                "type": "text",
                                "label": "OK (H)"
                              },
                              {
                                "name": "8",
                                "type": "text",
                                "label": "Estado del envío (I)"
                              },
                              {
                                "name": "9",
                                "type": "text",
                                "label": "Fecha y hora de salida (J)"
                              },
                              {
                                "name": "10",
                                "type": "text",
                                "label": "ID DB (K)"
                              },
                              {
                                "name": "11",
                                "type": "text",
                                "label": "ID Generado (L)"
                              },
                              {
                                "name": "12",
                                "type": "text",
                                "label": "Evaluación (M)"
                              },
                              {
                                "name": "13",
                                "type": "text",
                                "label": "Puntaje (N)"
                              },
                              {
                                "name": "14",
                                "type": "text",
                                "label": "Devolución (O)"
                              },
                              {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                              },
                              {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                              },
                              {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                              },
                              {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                              },
                              {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                              },
                              {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                              },
                              {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                              },
                              {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                              },
                              {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                              },
                              {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                              },
                              {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                              },
                              {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                              }
                            ],
                            "type": "collection",
                            "label": "Values"
                          }
                        ],
                        "restore": {
                          "expect": {
                            "mode": {
                              "label": "Select from all"
                            },
                            "sheetId": {
                              "mode": "chose",
                              "label": "Salta"
                            },
                            "includesHeaders": {
                              "label": "Yes",
                              "nested": [
                                {
                                  "name": "values",
                                  "spec": [
                                    {
                                      "name": "0",
                                      "type": "text",
                                      "label": "ID (A)"
                                    },
                                    {
                                      "name": "1",
                                      "type": "text",
                                      "label": "Fecha y hora (B)"
                                    },
                                    {
                                      "name": "2",
                                      "type": "text",
                                      "label": "Canal (C)"
                                    },
                                    {
                                      "name": "3",
                                      "type": "text",
                                      "label": "ID Conversación (D)"
                                    },
                                    {
                                      "name": "4",
                                      "type": "text",
                                      "label": "Mensaje recibido (E)"
                                    },
                                    {
                                      "name": "5",
                                      "type": "text",
                                      "label": "ID Mensaje (F)"
                                    },
                                    {
                                      "name": "6",
                                      "type": "text",
                                      "label": "Respuesta generada (G)"
                                    },
                                    {
                                      "name": "7",
                                      "type": "text",
                                      "label": "OK (H)"
                                    },
                                    {
                                      "name": "8",
                                      "type": "text",
                                      "label": "Estado del envío (I)"
                                    },
                                    {
                                      "name": "9",
                                      "type": "text",
                                      "label": "Fecha y hora de salida (J)"
                                    },
                                    {
                                      "name": "10",
                                      "type": "text",
                                      "label": "ID DB (K)"
                                    },
                                    {
                                      "name": "11",
                                      "type": "text",
                                      "label": "ID Generado (L)"
                                    },
                                    {
                                      "name": "12",
                                      "type": "text",
                                      "label": "Evaluación (M)"
                                    },
                                    {
                                      "name": "13",
                                      "type": "text",
                                      "label": "Puntaje (N)"
                                    },
                                    {
                                      "name": "14",
                                      "type": "text",
                                      "label": "Devolución (O)"
                                    },
                                    {
                                      "name": "15",
                                      "type": "text",
                                      "label": "(P)"
                                    },
                                    {
                                      "name": "16",
                                      "type": "text",
                                      "label": "(Q)"
                                    },
                                    {
                                      "name": "17",
                                      "type": "text",
                                      "label": "(R)"
                                    },
                                    {
                                      "name": "18",
                                      "type": "text",
                                      "label": "(S)"
                                    },
                                    {
                                      "name": "19",
                                      "type": "text",
                                      "label": "(T)"
                                    },
                                    {
                                      "name": "20",
                                      "type": "text",
                                      "label": "(U)"
                                    },
                                    {
                                      "name": "21",
                                      "type": "text",
                                      "label": "(V)"
                                    },
                                    {
                                      "name": "22",
                                      "type": "text",
                                      "label": "(W)"
                                    },
                                    {
                                      "name": "23",
                                      "type": "text",
                                      "label": "(X)"
                                    },
                                    {
                                      "name": "24",
                                      "type": "text",
                                      "label": "(Y)"
                                    },
                                    {
                                      "name": "25",
                                      "type": "text",
                                      "label": "(Z)"
                                    },
                                    {
                                      "name": "26",
                                      "type": "text",
                                      "label": "(AA)"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Values"
                                }
                              ]
                            },
                            "valueInputOption": {
                              "mode": "chose",
                              "label": "User entered"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "google"
                              },
                              "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1200,
                          "y": 300,
                          "name": "Update row"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:google",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 5710354
                      }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 26,
                      "filter": {
                        "name": "San Lorenzo Chico",
                        "conditions": []
                      },
                      "mapper": {
                        "from": "share",
                        "filter": [
                          [
                            {
                              "a": "L",
                              "b": "{{1.record.id}}",
                              "o": "text:equal"
                            }
                          ]
                        ],
                        "sheetId": "San Lorenzo Chico",
                        "sortOrder": "asc",
                        "spreadsheetId": "1z7DFdi9aLXEeU-MnG4bbkIQZz6z9N_Q0mXJeHjn5n24",
                        "tableFirstRow": "A1:CZ1",
                        "includesHeaders": true,
                        "valueRenderOption": "FORMATTED_VALUE",
                        "dateTimeRenderOption": "FORMATTED_STRING"
                      },
                      "module": "google-sheets:filterRows",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "from",
                            "type": "select",
                            "label": "Search Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "drive",
                                "share"
                              ]
                            }
                          },
                          {
                            "name": "valueRenderOption",
                            "type": "select",
                            "label": "Value render option",
                            "validate": {
                              "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                              ]
                            }
                          },
                          {
                            "name": "dateTimeRenderOption",
                            "type": "select",
                            "label": "Date and time render option",
                            "validate": {
                              "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                              ]
                            }
                          },
                          {
                            "name": "limit",
                            "type": "uinteger",
                            "label": "Limit"
                          },
                          {
                            "name": "spreadsheetId",
                            "type": "text",
                            "label": "Spreadsheet ID",
                            "required": true
                          },
                          {
                            "name": "sheetId",
                            "type": "select",
                            "label": "Sheet Name",
                            "required": true
                          },
                          {
                            "name": "includesHeaders",
                            "type": "select",
                            "label": "Table contains headers",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "tableFirstRow",
                            "type": "select",
                            "label": "Column range",
                            "required": true,
                            "validate": {
                              "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                              ]
                            }
                          },
                          {
                            "name": "filter",
                            "type": "filter",
                            "label": "Filter",
                            "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                          },
                          {
                            "name": "orderBy",
                            "type": "select",
                            "label": "Order by"
                          },
                          {
                            "name": "sortOrder",
                            "type": "select",
                            "label": "Sort order",
                            "validate": {
                              "enum": [
                                "asc",
                                "desc"
                              ]
                            }
                          }
                        ],
                        "restore": {
                          "expect": {
                            "from": {
                              "label": "Select from all"
                            },
                            "orderBy": {
                              "mode": "chose"
                            },
                            "sheetId": {
                              "mode": "chose",
                              "label": "San Lorenzo Chico"
                            },
                            "sortOrder": {
                              "mode": "chose",
                              "label": "Ascending"
                            },
                            "tableFirstRow": {
                              "label": "A-CZ"
                            },
                            "includesHeaders": {
                              "mode": "chose",
                              "label": "Yes"
                            },
                            "valueRenderOption": {
                              "mode": "chose",
                              "label": "Formatted value"
                            },
                            "dateTimeRenderOption": {
                              "mode": "chose",
                              "label": "Formatted string"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "google"
                              },
                              "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                            }
                          }
                        },
                        "designer": {
                          "x": 900,
                          "y": 600,
                          "name": "Search row"
                        },
                        "interface": [
                          {
                            "name": "__ROW_NUMBER__",
                            "type": "number",
                            "label": "Row number"
                          },
                          {
                            "name": "__SPREADSHEET_ID__",
                            "type": "text",
                            "label": "Spreadsheet ID"
                          },
                          {
                            "name": "__SHEET__",
                            "type": "text",
                            "label": "Sheet"
                          },
                          {
                            "name": "0",
                            "type": "text",
                            "label": "ID (A)"
                          },
                          {
                            "name": "1",
                            "type": "text",
                            "label": "Fecha y hora (B)"
                          },
                          {
                            "name": "2",
                            "type": "text",
                            "label": "Canal (C)"
                          },
                          {
                            "name": "3",
                            "type": "text",
                            "label": "ID Conversación (D)"
                          },
                          {
                            "name": "4",
                            "type": "text",
                            "label": "Mensaje recibido (E)"
                          },
                          {
                            "name": "5",
                            "type": "text",
                            "label": "ID Mensaje (F)"
                          },
                          {
                            "name": "6",
                            "type": "text",
                            "label": "Respuesta generada (G)"
                          },
                          {
                            "name": "7",
                            "type": "text",
                            "label": "OK (H)"
                          },
                          {
                            "name": "8",
                            "type": "text",
                            "label": "Estado del envío (I)"
                          },
                          {
                            "name": "9",
                            "type": "text",
                            "label": "Fecha y hora de salida (J)"
                          },
                          {
                            "name": "10",
                            "type": "text",
                            "label": "ID DB (K)"
                          },
                          {
                            "name": "11",
                            "type": "text",
                            "label": "ID generado (L)"
                          },
                          {
                            "name": "12",
                            "type": "text",
                            "label": "Evaluación (M)"
                          },
                          {
                            "name": "13",
                            "type": "text",
                            "label": "Puntaje (N)"
                          },
                          {
                            "name": "14",
                            "type": "text",
                            "label": "Devolución (O)"
                          },
                          {
                            "name": "15",
                            "type": "text",
                            "label": "(P)"
                          },
                          {
                            "name": "16",
                            "type": "text",
                            "label": "(Q)"
                          },
                          {
                            "name": "17",
                            "type": "text",
                            "label": "(R)"
                          },
                          {
                            "name": "18",
                            "type": "text",
                            "label": "(S)"
                          },
                          {
                            "name": "19",
                            "type": "text",
                            "label": "(T)"
                          },
                          {
                            "name": "20",
                            "type": "text",
                            "label": "(U)"
                          },
                          {
                            "name": "21",
                            "type": "text",
                            "label": "(V)"
                          },
                          {
                            "name": "22",
                            "type": "text",
                            "label": "(W)"
                          },
                          {
                            "name": "23",
                            "type": "text",
                            "label": "(X)"
                          },
                          {
                            "name": "24",
                            "type": "text",
                            "label": "(Y)"
                          },
                          {
                            "name": "25",
                            "type": "text",
                            "label": "(Z)"
                          },
                          {
                            "name": "26",
                            "type": "text",
                            "label": "(AA)"
                          },
                          {
                            "name": "27",
                            "type": "text",
                            "label": "(AB)"
                          },
                          {
                            "name": "28",
                            "type": "text",
                            "label": "(AC)"
                          },
                          {
                            "name": "29",
                            "type": "text",
                            "label": "(AD)"
                          },
                          {
                            "name": "30",
                            "type": "text",
                            "label": "(AE)"
                          },
                          {
                            "name": "31",
                            "type": "text",
                            "label": "(AF)"
                          },
                          {
                            "name": "32",
                            "type": "text",
                            "label": "(AG)"
                          },
                          {
                            "name": "33",
                            "type": "text",
                            "label": "(AH)"
                          },
                          {
                            "name": "34",
                            "type": "text",
                            "label": "(AI)"
                          },
                          {
                            "name": "35",
                            "type": "text",
                            "label": "(AJ)"
                          },
                          {
                            "name": "36",
                            "type": "text",
                            "label": "(AK)"
                          },
                          {
                            "name": "37",
                            "type": "text",
                            "label": "(AL)"
                          },
                          {
                            "name": "38",
                            "type": "text",
                            "label": "(AM)"
                          },
                          {
                            "name": "39",
                            "type": "text",
                            "label": "(AN)"
                          },
                          {
                            "name": "40",
                            "type": "text",
                            "label": "(AO)"
                          },
                          {
                            "name": "41",
                            "type": "text",
                            "label": "(AP)"
                          },
                          {
                            "name": "42",
                            "type": "text",
                            "label": "(AQ)"
                          },
                          {
                            "name": "43",
                            "type": "text",
                            "label": "(AR)"
                          },
                          {
                            "name": "44",
                            "type": "text",
                            "label": "(AS)"
                          },
                          {
                            "name": "45",
                            "type": "text",
                            "label": "(AT)"
                          },
                          {
                            "name": "46",
                            "type": "text",
                            "label": "(AU)"
                          },
                          {
                            "name": "47",
                            "type": "text",
                            "label": "(AV)"
                          },
                          {
                            "name": "48",
                            "type": "text",
                            "label": "(AW)"
                          },
                          {
                            "name": "49",
                            "type": "text",
                            "label": "(AX)"
                          },
                          {
                            "name": "50",
                            "type": "text",
                            "label": "(AY)"
                          },
                          {
                            "name": "51",
                            "type": "text",
                            "label": "(AZ)"
                          },
                          {
                            "name": "52",
                            "type": "text",
                            "label": "(BA)"
                          },
                          {
                            "name": "53",
                            "type": "text",
                            "label": "(BB)"
                          },
                          {
                            "name": "54",
                            "type": "text",
                            "label": "(BC)"
                          },
                          {
                            "name": "55",
                            "type": "text",
                            "label": "(BD)"
                          },
                          {
                            "name": "56",
                            "type": "text",
                            "label": "(BE)"
                          },
                          {
                            "name": "57",
                            "type": "text",
                            "label": "(BF)"
                          },
                          {
                            "name": "58",
                            "type": "text",
                            "label": "(BG)"
                          },
                          {
                            "name": "59",
                            "type": "text",
                            "label": "(BH)"
                          },
                          {
                            "name": "60",
                            "type": "text",
                            "label": "(BI)"
                          },
                          {
                            "name": "61",
                            "type": "text",
                            "label": "(BJ)"
                          },
                          {
                            "name": "62",
                            "type": "text",
                            "label": "(BK)"
                          },
                          {
                            "name": "63",
                            "type": "text",
                            "label": "(BL)"
                          },
                          {
                            "name": "64",
                            "type": "text",
                            "label": "(BM)"
                          },
                          {
                            "name": "65",
                            "type": "text",
                            "label": "(BN)"
                          },
                          {
                            "name": "66",
                            "type": "text",
                            "label": "(BO)"
                          },
                          {
                            "name": "67",
                            "type": "text",
                            "label": "(BP)"
                          },
                          {
                            "name": "68",
                            "type": "text",
                            "label": "(BQ)"
                          },
                          {
                            "name": "69",
                            "type": "text",
                            "label": "(BR)"
                          },
                          {
                            "name": "70",
                            "type": "text",
                            "label": "(BS)"
                          },
                          {
                            "name": "71",
                            "type": "text",
                            "label": "(BT)"
                          },
                          {
                            "name": "72",
                            "type": "text",
                            "label": "(BU)"
                          },
                          {
                            "name": "73",
                            "type": "text",
                            "label": "(BV)"
                          },
                          {
                            "name": "74",
                            "type": "text",
                            "label": "(BW)"
                          },
                          {
                            "name": "75",
                            "type": "text",
                            "label": "(BX)"
                          },
                          {
                            "name": "76",
                            "type": "text",
                            "label": "(BY)"
                          },
                          {
                            "name": "77",
                            "type": "text",
                            "label": "(BZ)"
                          },
                          {
                            "name": "78",
                            "type": "text",
                            "label": "(CA)"
                          },
                          {
                            "name": "79",
                            "type": "text",
                            "label": "(CB)"
                          },
                          {
                            "name": "80",
                            "type": "text",
                            "label": "(CC)"
                          },
                          {
                            "name": "81",
                            "type": "text",
                            "label": "(CD)"
                          },
                          {
                            "name": "82",
                            "type": "text",
                            "label": "(CE)"
                          },
                          {
                            "name": "83",
                            "type": "text",
                            "label": "(CF)"
                          },
                          {
                            "name": "84",
                            "type": "text",
                            "label": "(CG)"
                          },
                          {
                            "name": "85",
                            "type": "text",
                            "label": "(CH)"
                          },
                          {
                            "name": "86",
                            "type": "text",
                            "label": "(CI)"
                          },
                          {
                            "name": "87",
                            "type": "text",
                            "label": "(CJ)"
                          },
                          {
                            "name": "88",
                            "type": "text",
                            "label": "(CK)"
                          },
                          {
                            "name": "89",
                            "type": "text",
                            "label": "(CL)"
                          },
                          {
                            "name": "90",
                            "type": "text",
                            "label": "(CM)"
                          },
                          {
                            "name": "91",
                            "type": "text",
                            "label": "(CN)"
                          },
                          {
                            "name": "92",
                            "type": "text",
                            "label": "(CO)"
                          },
                          {
                            "name": "93",
                            "type": "text",
                            "label": "(CP)"
                          },
                          {
                            "name": "94",
                            "type": "text",
                            "label": "(CQ)"
                          },
                          {
                            "name": "95",
                            "type": "text",
                            "label": "(CR)"
                          },
                          {
                            "name": "96",
                            "type": "text",
                            "label": "(CS)"
                          },
                          {
                            "name": "97",
                            "type": "text",
                            "label": "(CT)"
                          },
                          {
                            "name": "98",
                            "type": "text",
                            "label": "(CU)"
                          },
                          {
                            "name": "99",
                            "type": "text",
                            "label": "(CV)"
                          },
                          {
                            "name": "100",
                            "type": "text",
                            "label": "(CW)"
                          },
                          {
                            "name": "101",
                            "type": "text",
                            "label": "(CX)"
                          },
                          {
                            "name": "102",
                            "type": "text",
                            "label": "(CY)"
                          },
                          {
                            "name": "103",
                            "type": "text",
                            "label": "(CZ)"
                          }
                        ],
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:google",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 5710354
                      }
                    },
                    {
                      "id": 27,
                      "filter": {
                        "name": "",
                        "conditions": [
                          [
                            {
                              "a": "{{26.`__IMTLENGTH__`}}",
                              "b": "0",
                              "o": "text:notequal"
                            },
                            {
                              "a": "{{26.`__ROW_NUMBER__`}}",
                              "o": "exist"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "mode": "fromAll",
                        "values": {
                          "8": "Enviado",
                          "9": "{{formatDate(now; \"DD/MM/YYYY HH:mm\"; \"America/Argentina/Salta\")}}"
                        },
                        "sheetId": "San Lorenzo Chico",
                        "rowNumber": "{{26.`__ROW_NUMBER__`}}",
                        "spreadsheetId": "1z7DFdi9aLXEeU-MnG4bbkIQZz6z9N_Q0mXJeHjn5n24",
                        "includesHeaders": true,
                        "valueInputOption": "USER_ENTERED"
                      },
                      "module": "google-sheets:updateRow",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "mode",
                            "type": "select",
                            "label": "Search Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "select",
                                "fromAll",
                                "map"
                              ]
                            }
                          },
                          {
                            "name": "valueInputOption",
                            "type": "select",
                            "label": "Value input option",
                            "validate": {
                              "enum": [
                                "USER_ENTERED",
                                "RAW"
                              ]
                            }
                          },
                          {
                            "name": "spreadsheetId",
                            "type": "text",
                            "label": "Spreadsheet ID",
                            "required": true
                          },
                          {
                            "mode": "edit",
                            "name": "sheetId",
                            "type": "select",
                            "label": "Sheet Name",
                            "required": true
                          },
                          {
                            "name": "rowNumber",
                            "type": "uinteger",
                            "label": "Row number",
                            "required": true
                          },
                          {
                            "name": "includesHeaders",
                            "type": "select",
                            "label": "Table contains headers",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "values",
                            "spec": [
                              {
                                "name": "0",
                                "type": "text",
                                "label": "ID (A)"
                              },
                              {
                                "name": "1",
                                "type": "text",
                                "label": "Fecha y hora (B)"
                              },
                              {
                                "name": "2",
                                "type": "text",
                                "label": "Canal (C)"
                              },
                              {
                                "name": "3",
                                "type": "text",
                                "label": "ID Conversación (D)"
                              },
                              {
                                "name": "4",
                                "type": "text",
                                "label": "Mensaje recibido (E)"
                              },
                              {
                                "name": "5",
                                "type": "text",
                                "label": "ID Mensaje (F)"
                              },
                              {
                                "name": "6",
                                "type": "text",
                                "label": "Respuesta generada (G)"
                              },
                              {
                                "name": "7",
                                "type": "text",
                                "label": "OK (H)"
                              },
                              {
                                "name": "8",
                                "type": "text",
                                "label": "Estado del envío (I)"
                              },
                              {
                                "name": "9",
                                "type": "text",
                                "label": "Fecha y hora de salida (J)"
                              },
                              {
                                "name": "10",
                                "type": "text",
                                "label": "ID DB (K)"
                              },
                              {
                                "name": "11",
                                "type": "text",
                                "label": "ID generado (L)"
                              },
                              {
                                "name": "12",
                                "type": "text",
                                "label": "Evaluación (M)"
                              },
                              {
                                "name": "13",
                                "type": "text",
                                "label": "Puntaje (N)"
                              },
                              {
                                "name": "14",
                                "type": "text",
                                "label": "Devolución (O)"
                              },
                              {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                              },
                              {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                              },
                              {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                              },
                              {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                              },
                              {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                              },
                              {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                              },
                              {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                              },
                              {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                              },
                              {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                              },
                              {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                              },
                              {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                              },
                              {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                              }
                            ],
                            "type": "collection",
                            "label": "Values"
                          }
                        ],
                        "restore": {
                          "expect": {
                            "mode": {
                              "label": "Select from all"
                            },
                            "sheetId": {
                              "mode": "chose",
                              "label": "San Lorenzo Chico"
                            },
                            "includesHeaders": {
                              "label": "Yes",
                              "nested": [
                                {
                                  "name": "values",
                                  "spec": [
                                    {
                                      "name": "0",
                                      "type": "text",
                                      "label": "ID (A)"
                                    },
                                    {
                                      "name": "1",
                                      "type": "text",
                                      "label": "Fecha y hora (B)"
                                    },
                                    {
                                      "name": "2",
                                      "type": "text",
                                      "label": "Canal (C)"
                                    },
                                    {
                                      "name": "3",
                                      "type": "text",
                                      "label": "ID Conversación (D)"
                                    },
                                    {
                                      "name": "4",
                                      "type": "text",
                                      "label": "Mensaje recibido (E)"
                                    },
                                    {
                                      "name": "5",
                                      "type": "text",
                                      "label": "ID Mensaje (F)"
                                    },
                                    {
                                      "name": "6",
                                      "type": "text",
                                      "label": "Respuesta generada (G)"
                                    },
                                    {
                                      "name": "7",
                                      "type": "text",
                                      "label": "OK (H)"
                                    },
                                    {
                                      "name": "8",
                                      "type": "text",
                                      "label": "Estado del envío (I)"
                                    },
                                    {
                                      "name": "9",
                                      "type": "text",
                                      "label": "Fecha y hora de salida (J)"
                                    },
                                    {
                                      "name": "10",
                                      "type": "text",
                                      "label": "ID DB (K)"
                                    },
                                    {
                                      "name": "11",
                                      "type": "text",
                                      "label": "ID generado (L)"
                                    },
                                    {
                                      "name": "12",
                                      "type": "text",
                                      "label": "Evaluación (M)"
                                    },
                                    {
                                      "name": "13",
                                      "type": "text",
                                      "label": "Puntaje (N)"
                                    },
                                    {
                                      "name": "14",
                                      "type": "text",
                                      "label": "Devolución (O)"
                                    },
                                    {
                                      "name": "15",
                                      "type": "text",
                                      "label": "(P)"
                                    },
                                    {
                                      "name": "16",
                                      "type": "text",
                                      "label": "(Q)"
                                    },
                                    {
                                      "name": "17",
                                      "type": "text",
                                      "label": "(R)"
                                    },
                                    {
                                      "name": "18",
                                      "type": "text",
                                      "label": "(S)"
                                    },
                                    {
                                      "name": "19",
                                      "type": "text",
                                      "label": "(T)"
                                    },
                                    {
                                      "name": "20",
                                      "type": "text",
                                      "label": "(U)"
                                    },
                                    {
                                      "name": "21",
                                      "type": "text",
                                      "label": "(V)"
                                    },
                                    {
                                      "name": "22",
                                      "type": "text",
                                      "label": "(W)"
                                    },
                                    {
                                      "name": "23",
                                      "type": "text",
                                      "label": "(X)"
                                    },
                                    {
                                      "name": "24",
                                      "type": "text",
                                      "label": "(Y)"
                                    },
                                    {
                                      "name": "25",
                                      "type": "text",
                                      "label": "(Z)"
                                    },
                                    {
                                      "name": "26",
                                      "type": "text",
                                      "label": "(AA)"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Values"
                                }
                              ]
                            },
                            "valueInputOption": {
                              "mode": "chose",
                              "label": "User entered"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "google"
                              },
                              "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1200,
                          "y": 600,
                          "name": "Update row"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:google",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 5710354
                      }
                    }
                  ]
                }
              ],
              "version": 1,
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 450,
                  "name": "¿Sede?"
                }
              }
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 300,
          "name": "¿Status?"
        }
      }
    }
  ],
  "name": "Sending messages (Dev)",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "1": {
          "type": "UPDATE",
          "table": "interactions",
          "record": {
            "id": 46,
            "text": "¡Buenos días! Soy Ana, asesora de cursos en IITA 😊  \n¿Este mensaje de prueba es para pedir info de ...",
            "ad_id": null,
            "status": "send",
            "time_stamp": "2026-02-13T14:09:34.174",
            "external_ref": "wamid.HBgNNTQ5Mzg3NDU0NTA3OBUCABEYEkUwN0M4M0IxNEZEREE2NzNCNAA=",
            "id_person_conversation": null,
            "id_system_conversation": 2
          },
          "schema": "public",
          "old_record": {
            "id": 46,
            "text": "¡Buenos días! Soy Ana, asesora de cursos en IITA 😊  \n¿Este mensaje de prueba es para pedir info de ...",
            "ad_id": null,
            "status": "sending",
            "time_stamp": "2026-02-13T14:09:32.624124",
            "external_ref": null,
            "id_person_conversation": null,
            "id_system_conversation": 2
          }
        },
        "24": {
          "__IMTLENGTH__": 0
        },
        "26": {
          "__IMTLENGTH__": 0
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}