automations/make-scenarios/snapshots/2026-02-18_pre_fix/7_envio/4124832_out_instagram_salta_produccion.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {},
      "module": "scenario-service:StartSubscenario",
      "version": 2,
      "metadata": {
        "restore": {},
        "designer": {
          "x": 0,
          "y": 0
        },
        "interface": [
          {
            "help": "Contiene el identificador del cuenta que enviará el mensaje.",
            "name": "channel_address",
            "type": "text",
            "label": "",
            "default": "",
            "required": true,
            "multiline": false
          },
          {
            "help": "Contiene el identificador de la cuenta destinataria.",
            "name": "person_address",
            "type": "text",
            "label": "",
            "default": "",
            "required": true,
            "multiline": false
          },
          {
            "help": "Contiene el mensaje que se enviará al destinatario.",
            "name": "text",
            "type": "text",
            "label": "",
            "default": "",
            "required": true,
            "multiline": false
          },
          {
            "help": "Contiene el identificador de la interacción para poder actualizar el registro.",
            "name": "id_interaction",
            "type": "text",
            "label": "",
            "default": "",
            "required": true,
            "multiline": false
          }
        ]
      },
      "parameters": {}
    },
    {
      "id": 3,
      "filter": {
        "name": "Salta",
        "conditions": [
          [
            {
              "a": "{{1.channel_address}}",
              "b": "17841404168256335",
              "o": "text:equal"
            }
          ]
        ]
      },
      "mapper": {
        "url": "https://graph.instagram.com/v22.0/me/messages",
        "method": "post",
        "contentType": "json",
        "inputMethod": "jsonString",
        "shareCookies": false,
        "parseResponse": true,
        "allowRedirects": true,
        "stopOnHttpError": true,
        "jsonStringBodyContent": "{\r\n  \"messaging_type\": \"RESPONSE\",\r\n  \"recipient\": {\r\n    \"id\": \"{{1.person_address}}\"\r\n  },\r\n  \"message\": {\r\n    \"text\": \"{{replace(1.text; newline; \"\\n\")}}\"\r\n  }\r\n}",
        "requestCompressedContent": true
      },
      "module": "http:MakeRequest",
      "version": 4,
      "metadata": {
        "expect": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "get",
                "head",
                "post",
                "put",
                "patch",
                "delete",
                "options"
              ]
            }
          },
          {
            "name": "headers",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true,
                  "validate": {
                    "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                  }
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "collection",
              "label": "Header"
            },
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "queryParameters",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "collection",
              "label": "Parameter"
            },
            "type": "array",
            "label": "Query parameters"
          },
          {
            "name": "contentType",
            "type": "select",
            "label": "Body content type",
            "validate": {
              "enum": [
                "json",
                "multipart",
                "urlEncoded",
                "custom"
              ]
            }
          },
          {
            "name": "parseResponse",
            "type": "boolean",
            "label": "Parse response",
            "required": true
          },
          {
            "name": "stopOnHttpError",
            "type": "boolean",
            "label": "Return error if HTTP request fails",
            "required": true
          },
          {
            "name": "timeout",
            "type": "uinteger",
            "label": "Timeout",
            "validate": {
              "max": 300,
              "min": 1
            }
          },
          {
            "name": "allowRedirects",
            "type": "boolean",
            "label": "Allow redirects",
            "required": true
          },
          {
            "name": "shareCookies",
            "type": "boolean",
            "label": "Share cookies with other HTTP modules",
            "required": true
          },
          {
            "name": "requestCompressedContent",
            "type": "boolean",
            "label": "Request compressed content",
            "required": true
          },
          {
            "name": "inputMethod",
            "type": "select",
            "label": "Body input method",
            "required": true,
            "validate": {
              "enum": [
                "dataStructure",
                "jsonString"
              ]
            }
          },
          {
            "name": "jsonStringBodyContent",
            "type": "text",
            "label": "Body content",
            "required": true
          },
          {
            "name": "paginationType",
            "type": "select",
            "label": "Pagination type",
            "validate": {
              "enum": [
                "offsetBased",
                "pageBased",
                "urlBased",
                "tokenBased"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "method": {
              "mode": "chose",
              "label": "POST"
            },
            "headers": {
              "mode": "chose"
            },
            "contentType": {
              "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
            },
            "inputMethod": {
              "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
            },
            "shareCookies": {
              "mode": "chose"
            },
            "parseResponse": {
              "mode": "chose"
            },
            "allowRedirects": {
              "mode": "chose"
            },
            "paginationType": {
              "label": "Empty"
            },
            "queryParameters": {
              "mode": "chose"
            },
            "stopOnHttpError": {
              "mode": "chose"
            },
            "requestCompressedContent": {
              "mode": "chose"
            }
          },
          "parameters": {
            "tlsType": {
              "label": "Empty"
            },
            "proxyKeychain": {
              "label": "Choose a key"
            },
            "apiKeyKeychain": {
              "label": "IITA Salta Instagram"
            },
            "authenticationType": {
              "label": "API keyUse when the service requires an API key."
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 0,
          "name": "iita_salta"
        },
        "interface": [
          {
            "name": "data",
            "type": "any",
            "label": "Data"
          },
          {
            "name": "statusCode",
            "type": "number",
            "label": "Status Code"
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "content-length",
                "type": "text",
                "label": "Content-Length"
              },
              {
                "name": "content-encoding",
                "type": "text",
                "label": "Content-Encoding"
              },
              {
                "name": "content-type",
                "type": "text",
                "label": "Content-Type"
              },
              {
                "name": "server",
                "type": "text",
                "label": "Server"
              },
              {
                "name": "cache-control",
                "type": "text",
                "label": "Cache-Control"
              },
              {
                "name": "set-cookie",
                "spec": {
                  "type": "text"
                },
                "type": "array",
                "label": "Set-Cookie"
              }
            ],
            "type": "collection",
            "label": "Headers"
          }
        ],
        "parameters": [
          {
            "name": "authenticationType",
            "type": "select",
            "label": "Authentication type",
            "required": true,
            "validate": {
              "enum": [
                "noAuth",
                "apiKey",
                "basicAuth",
                "oAuth"
              ]
            }
          },
          {
            "name": "tlsType",
            "type": "select",
            "label": "Transport layer security (TLS)",
            "validate": {
              "enum": [
                "mTls",
                "tls"
              ]
            }
          },
          {
            "name": "proxyKeychain",
            "type": "keychain:proxy",
            "label": "Proxy"
          },
          {
            "name": "apiKeyKeychain",
            "type": "keychain:apikeyauth",
            "label": "Credentials",
            "required": true
          }
        ]
      },
      "parameters": {
        "tlsType": "",
        "proxyKeychain": "",
        "apiKeyKeychain": 110965,
        "authenticationType": "apiKey"
      }
    },
    {
      "id": 5,
      "mapper": {
        "@id": "",
        "@text": "",
        "where": [
          [
            {
              "a": "id",
              "b": "{{1.id_interaction}}",
              "o": "equal"
            },
            {
              "a": "status",
              "b": "sending",
              "o": "equal"
            }
          ]
        ],
        "@ad_id": "",
        "@status": "send",
        "@time_stamp": "{{now}}",
        "@external_ref": "{{3.Data.message_id}}",
        "@id_person_conversation": "",
        "@id_system_conversation": ""
      },
      "module": "postgres:UpdateTable",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "@id",
            "type": "integer",
            "label": "id"
          },
          {
            "name": "@external_ref",
            "type": "text",
            "label": "external_ref"
          },
          {
            "name": "@id_person_conversation",
            "type": "integer",
            "label": "id_person_conversation"
          },
          {
            "name": "@id_system_conversation",
            "type": "integer",
            "label": "id_system_conversation"
          },
          {
            "name": "@text",
            "type": "text",
            "label": "text"
          },
          {
            "name": "@time_stamp",
            "type": "text",
            "label": "time_stamp"
          },
          {
            "name": "@ad_id",
            "type": "integer",
            "label": "ad_id"
          },
          {
            "name": "@status",
            "type": "text",
            "label": "status"
          },
          {
            "name": "where",
            "type": "filter",
            "label": "Filter",
            "options": {
              "store": [
                {
                  "label": "id",
                  "value": "id"
                },
                {
                  "label": "external_ref",
                  "value": "external_ref"
                },
                {
                  "label": "id_person_conversation",
                  "value": "id_person_conversation"
                },
                {
                  "label": "id_system_conversation",
                  "value": "id_system_conversation"
                },
                {
                  "label": "text",
                  "value": "text"
                },
                {
                  "label": "time_stamp",
                  "value": "time_stamp"
                },
                {
                  "label": "ad_id",
                  "value": "ad_id"
                },
                {
                  "label": "status",
                  "value": "status"
                }
              ],
              "operators": [
                {
                  "label": "Basic",
                  "options": [
                    {
                      "label": "Is not null",
                      "value": "exist"
                    },
                    {
                      "label": "Is null",
                      "value": "notexist"
                    },
                    {
                      "label": "Equal to",
                      "value": "equal"
                    },
                    {
                      "label": "Not equal to",
                      "value": "notequal"
                    },
                    {
                      "label": "Greater than",
                      "value": "greater"
                    },
                    {
                      "label": "Greater than or equal to",
                      "value": "greaterorequal"
                    },
                    {
                      "label": "Less than",
                      "value": "less"
                    },
                    {
                      "label": "Less than or equal to",
                      "value": "lessorequal"
                    },
                    {
                      "label": "Contains",
                      "value": "contain"
                    },
                    {
                      "label": "Does not contain",
                      "value": "notcontain"
                    },
                    {
                      "label": "Starts with",
                      "value": "startwith"
                    },
                    {
                      "label": "Does not start with",
                      "value": "notstartwith"
                    },
                    {
                      "label": "Ends with",
                      "value": "endwith"
                    },
                    {
                      "label": "Does not end with",
                      "value": "notendwith"
                    }
                  ]
                }
              ]
            }
          },
          {
            "name": "@id",
            "type": "integer",
            "label": "id"
          },
          {
            "name": "@external_ref",
            "type": "text",
            "label": "external_ref"
          },
          {
            "name": "@id_person_conversation",
            "type": "integer",
            "label": "id_person_conversation"
          },
          {
            "name": "@id_system_conversation",
            "type": "integer",
            "label": "id_system_conversation"
          },
          {
            "name": "@text",
            "type": "text",
            "label": "text"
          },
          {
            "name": "@time_stamp",
            "type": "text",
            "label": "time_stamp"
          },
          {
            "name": "@ad_id",
            "type": "integer",
            "label": "ad_id"
          },
          {
            "name": "@status",
            "type": "text",
            "label": "status"
          },
          {
            "name": "where",
            "type": "filter",
            "label": "Filter",
            "options": {
              "store": [
                {
                  "label": "id",
                  "value": "id"
                },
                {
                  "label": "external_ref",
                  "value": "external_ref"
                },
                {
                  "label": "id_person_conversation",
                  "value": "id_person_conversation"
                },
                {
                  "label": "id_system_conversation",
                  "value": "id_system_conversation"
                },
                {
                  "label": "text",
                  "value": "text"
                },
                {
                  "label": "time_stamp",
                  "value": "time_stamp"
                },
                {
                  "label": "ad_id",
                  "value": "ad_id"
                },
                {
                  "label": "status",
                  "value": "status"
                }
              ],
              "operators": [
                {
                  "label": "Basic",
                  "options": [
                    {
                      "label": "Is not null",
                      "value": "exist"
                    },
                    {
                      "label": "Is null",
                      "value": "notexist"
                    },
                    {
                      "label": "Equal to",
                      "value": "equal"
                    },
                    {
                      "label": "Not equal to",
                      "value": "notequal"
                    },
                    {
                      "label": "Greater than",
                      "value": "greater"
                    },
                    {
                      "label": "Greater than or equal to",
                      "value": "greaterorequal"
                    },
                    {
                      "label": "Less than",
                      "value": "less"
                    },
                    {
                      "label": "Less than or equal to",
                      "value": "lessorequal"
                    },
                    {
                      "label": "Contains",
                      "value": "contain"
                    },
                    {
                      "label": "Does not contain",
                      "value": "notcontain"
                    },
                    {
                      "label": "Starts with",
                      "value": "startwith"
                    },
                    {
                      "label": "Does not start with",
                      "value": "notstartwith"
                    },
                    {
                      "label": "Ends with",
                      "value": "endwith"
                    },
                    {
                      "label": "Does not end with",
                      "value": "notendwith"
                    }
                  ]
                }
              ]
            }
          }
        ],
        "restore": {
          "parameters": {
            "table": {
              "label": "public.interactions"
            },
            "account": {
              "data": {
                "scoped": "true",
                "connection": "postgres"
              },
              "label": "IITA - Producción (Supabase) (postgres.cpkzzzwncpbzexpesock@aws-1-us-east-1.pooler.supabase.com:5432/postgres)"
            }
          }
        },
        "designer": {
          "x": 600,
          "y": 0,
          "name": "Update record"
        },
        "parameters": [
          {
            "name": "account",
            "type": "account:postgres",
            "label": "Connection",
            "required": true
          },
          {
            "name": "isToManageDataInSharedTransaction",
            "type": "boolean",
            "label": "Manage data within the shared transaction",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          }
        ]
      },
      "parameters": {
        "table": "\"public\".\"interactions\"",
        "account": 6184753,
        "isToManageDataInSharedTransaction": true
      }
    }
  ],
  "name": "[OUT] Instagram ~ Salta (Producción)",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": []
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}