snapshots/2026-02-18_produccion/3_preprocesamiento/4132732_prepross_media_analisis_-_prod.json
{
  "flow": [
    {
      "id": 2,
      "mapper": {},
      "module": "supabase:watchEvents",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "__IMTHOOK__": {
              "data": {
                "editable": "false"
              },
              "label": "Pre-Processing - Produccion"
            }
          }
        },
        "designer": {
          "x": -1403,
          "y": 77
        },
        "parameters": [
          {
            "name": "__IMTHOOK__",
            "type": "hook:supabase",
            "label": "Webhook",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTHOOK__": 1881112
      }
    },
    {
      "id": 3,
      "filter": {
        "name": "new",
        "conditions": [
          [
            {
              "a": "{{2.record.status}}",
              "b": "new",
              "o": "text:equal"
            }
          ]
        ]
      },
      "mapper": {
        "duration": "10"
      },
      "module": "util:FunctionSleep",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "duration",
            "type": "uinteger",
            "label": "Delay",
            "required": true,
            "validate": {
              "max": 300,
              "min": 1
            }
          }
        ],
        "restore": {},
        "designer": {
          "x": -1103,
          "y": 77
        }
      },
      "parameters": {}
    },
    {
      "id": 4,
      "mapper": {
        "command": "select m.id as media_id, m.content_dir, m.type\n\nfrom interaction_medias im\n\njoin medias m\non m.id = im.media_id\n\nwhere im.interaction_id = {{2.record.id}}\nlimit 1"
      },
      "module": "postgres:Query",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "command",
            "type": "text",
            "label": "Command",
            "required": true
          }
        ],
        "restore": {
          "parameters": {
            "account": {
              "data": {
                "scoped": "true",
                "connection": "postgres"
              },
              "label": "IITA - Producción (Supabase) (postgres.cpkzzzwncpbzexpesock@aws-1-us-east-1.pooler.supabase.com:5432/postgres)"
            }
          }
        },
        "designer": {
          "x": -803,
          "y": 77
        },
        "parameters": [
          {
            "name": "account",
            "type": "account:postgres",
            "label": "Connection",
            "required": true
          },
          {
            "name": "continueWhenNoRes",
            "type": "boolean",
            "label": "Continue the execution of the route even if the module returns no rows",
            "required": true
          },
          {
            "name": "isToManageDataInSharedTransaction",
            "type": "boolean",
            "label": "Manage data within the shared transaction",
            "required": true
          }
        ]
      },
      "parameters": {
        "account": 6184753,
        "continueWhenNoRes": true,
        "isToManageDataInSharedTransaction": true
      }
    },
    {
      "id": 5,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 6,
              "filter": {
                "name": "media",
                "conditions": [
                  [
                    {
                      "a": "{{4.media_id}}",
                      "o": "exist"
                    }
                  ]
                ]
              },
              "mapper": {
                "url": "https://cpkzzzwncpbzexpesock.supabase.co/storage/v1/object/sign/{{4.content_dir}}",
                "method": "post",
                "contentType": "json",
                "inputMethod": "jsonString",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "jsonStringBodyContent": "{ \"expiresIn\": 3600 }",
                "requestCompressedContent": true
              },
              "module": "http:MakeRequest",
              "version": 4,
              "metadata": {
                "expect": [
                  {
                    "name": "url",
                    "type": "url",
                    "label": "URL",
                    "required": true
                  },
                  {
                    "name": "method",
                    "type": "select",
                    "label": "Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "get",
                        "head",
                        "post",
                        "put",
                        "patch",
                        "delete",
                        "options"
                      ]
                    }
                  },
                  {
                    "name": "headers",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "name",
                          "type": "text",
                          "label": "Name",
                          "required": true,
                          "validate": {
                            "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                          }
                        },
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Value"
                        }
                      ],
                      "type": "collection",
                      "label": "Header"
                    },
                    "type": "array",
                    "label": "Headers"
                  },
                  {
                    "name": "queryParameters",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "name",
                          "type": "text",
                          "label": "Name",
                          "required": true
                        },
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Value"
                        }
                      ],
                      "type": "collection",
                      "label": "Parameter"
                    },
                    "type": "array",
                    "label": "Query parameters"
                  },
                  {
                    "name": "contentType",
                    "type": "select",
                    "label": "Body content type",
                    "validate": {
                      "enum": [
                        "json",
                        "multipart",
                        "urlEncoded",
                        "custom"
                      ]
                    }
                  },
                  {
                    "name": "parseResponse",
                    "type": "boolean",
                    "label": "Parse response",
                    "required": true
                  },
                  {
                    "name": "stopOnHttpError",
                    "type": "boolean",
                    "label": "Return error if HTTP request fails",
                    "required": true
                  },
                  {
                    "name": "timeout",
                    "type": "uinteger",
                    "label": "Timeout",
                    "validate": {
                      "max": 300,
                      "min": 1
                    }
                  },
                  {
                    "name": "allowRedirects",
                    "type": "boolean",
                    "label": "Allow redirects",
                    "required": true
                  },
                  {
                    "name": "shareCookies",
                    "type": "boolean",
                    "label": "Share cookies with other HTTP modules",
                    "required": true
                  },
                  {
                    "name": "requestCompressedContent",
                    "type": "boolean",
                    "label": "Request compressed content",
                    "required": true
                  },
                  {
                    "name": "inputMethod",
                    "type": "select",
                    "label": "Body input method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "dataStructure",
                        "jsonString"
                      ]
                    }
                  },
                  {
                    "name": "jsonStringBodyContent",
                    "type": "text",
                    "label": "Body content",
                    "required": true
                  },
                  {
                    "name": "paginationType",
                    "type": "select",
                    "label": "Pagination type",
                    "validate": {
                      "enum": [
                        "offsetBased",
                        "pageBased",
                        "urlBased",
                        "tokenBased"
                      ]
                    }
                  }
                ],
                "restore": {
                  "expect": {
                    "method": {
                      "mode": "chose",
                      "label": "POST"
                    },
                    "headers": {
                      "mode": "chose"
                    },
                    "contentType": {
                      "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                    },
                    "inputMethod": {
                      "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                    },
                    "shareCookies": {
                      "mode": "chose"
                    },
                    "parseResponse": {
                      "mode": "chose"
                    },
                    "allowRedirects": {
                      "mode": "chose"
                    },
                    "paginationType": {
                      "label": "Empty"
                    },
                    "queryParameters": {
                      "mode": "chose"
                    },
                    "stopOnHttpError": {
                      "mode": "chose"
                    },
                    "requestCompressedContent": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "tlsType": {
                      "label": "Empty"
                    },
                    "proxyKeychain": {
                      "label": "Choose a key"
                    },
                    "apiKeyKeychain": {
                      "label": "supabase prod"
                    },
                    "authenticationType": {
                      "label": "API keyUse when the service requires an API key."
                    }
                  }
                },
                "designer": {
                  "x": -203,
                  "y": -73
                },
                "interface": [
                  {
                    "name": "data",
                    "type": "any",
                    "label": "Data"
                  },
                  {
                    "name": "statusCode",
                    "type": "number",
                    "label": "Status Code"
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "content-length",
                        "type": "text",
                        "label": "Content-Length"
                      },
                      {
                        "name": "content-encoding",
                        "type": "text",
                        "label": "Content-Encoding"
                      },
                      {
                        "name": "content-type",
                        "type": "text",
                        "label": "Content-Type"
                      },
                      {
                        "name": "server",
                        "type": "text",
                        "label": "Server"
                      },
                      {
                        "name": "cache-control",
                        "type": "text",
                        "label": "Cache-Control"
                      },
                      {
                        "name": "set-cookie",
                        "spec": {
                          "type": "text"
                        },
                        "type": "array",
                        "label": "Set-Cookie"
                      }
                    ],
                    "type": "collection",
                    "label": "Headers"
                  }
                ],
                "parameters": [
                  {
                    "name": "authenticationType",
                    "type": "select",
                    "label": "Authentication type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "noAuth",
                        "apiKey",
                        "basicAuth",
                        "oAuth"
                      ]
                    }
                  },
                  {
                    "name": "tlsType",
                    "type": "select",
                    "label": "Transport layer security (TLS)",
                    "validate": {
                      "enum": [
                        "mTls",
                        "tls"
                      ]
                    }
                  },
                  {
                    "name": "proxyKeychain",
                    "type": "keychain:proxy",
                    "label": "Proxy"
                  },
                  {
                    "name": "apiKeyKeychain",
                    "type": "keychain:apikeyauth",
                    "label": "Credentials",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "apiKeyKeychain": 112991,
                "authenticationType": "apiKey"
              }
            },
            {
              "id": 7,
              "mapper": {
                "url": "https://cpkzzzwncpbzexpesock.supabase.co/storage/v1/{{if(contains(6.data.signedURL; \"{\"\"signedURL\"\":\"\"\"); last(slice(split(6.data.signedURL; \"\"\"\"); -2; -1)); 6.data.signedURL)}}",
                "shareCookies": false,
                "stopOnHttpError": true
              },
              "module": "http:DownloadFile",
              "version": 4,
              "metadata": {
                "expect": [
                  {
                    "name": "url",
                    "type": "url",
                    "label": "URL",
                    "required": true
                  },
                  {
                    "name": "stopOnHttpError",
                    "type": "boolean",
                    "label": "Return error if HTTP request fails",
                    "required": true
                  },
                  {
                    "name": "shareCookies",
                    "type": "boolean",
                    "label": "Share cookies with other HTTP modules",
                    "required": true
                  },
                  {
                    "name": "headers",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "name",
                          "type": "text",
                          "label": "Name",
                          "required": true,
                          "validate": {
                            "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                          }
                        },
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Value"
                        }
                      ],
                      "type": "collection",
                      "label": "Header"
                    },
                    "type": "array",
                    "label": "Headers"
                  },
                  {
                    "name": "queryParameters",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "name",
                          "type": "text",
                          "label": "Name",
                          "required": true
                        },
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Value"
                        }
                      ],
                      "type": "collection",
                      "label": "Parameter"
                    },
                    "type": "array",
                    "label": "Query parameters"
                  }
                ],
                "restore": {
                  "expect": {
                    "headers": {
                      "mode": "chose"
                    },
                    "shareCookies": {
                      "mode": "chose"
                    },
                    "queryParameters": {
                      "mode": "chose"
                    },
                    "stopOnHttpError": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "authenticationType": {
                      "label": "No authenticationUse when no credentials are required for the request."
                    }
                  }
                },
                "designer": {
                  "x": 97,
                  "y": -73
                },
                "parameters": [
                  {
                    "name": "authenticationType",
                    "type": "select",
                    "label": "Authentication type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "noAuth",
                        "apiKey",
                        "basicAuth",
                        "oAuth"
                      ]
                    }
                  }
                ]
              },
              "parameters": {
                "authenticationType": "noAuth"
              }
            },
            {
              "id": 8,
              "mapper": null,
              "module": "builtin:BasicRouter",
              "routes": [
                {
                  "flow": [
                    {
                      "id": 9,
                      "filter": {
                        "name": "Imagen",
                        "conditions": [
                          [
                            {
                              "a": "{{7.headers.`content-type`}}",
                              "b": "image",
                              "o": "text:contain:ci"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "model": "gpt-5.2",
                        "top_p": "1",
                        "images": [
                          {
                            "imageFileData": "{{7.data}}",
                            "imageUploadType": "imageFile"
                          }
                        ],
                        "prompt": "Eres un agente dedicado únicamente a analizar imágenes. Tu tarea es observar la imagen y devolver un único resultado en texto plano, sin usar listas, viñetas, numeración, tablas, JSON, diccionarios ni formato estructurado. Escribí en párrafos normales.\n\nReglas obligatorias:\nNo inventes información. No completes datos faltantes. Si un dato no es visible o no se puede leer con certeza, indicá explícitamente que no es legible o no es visible.\n\nSiempre debés incluir una descripción de la imagen al comienzo:\nSi la imagen es un comprobante de pago, boleta, ticket, recibo, transferencia, depósito o captura de pantalla de una operación, la descripción debe ser breve y decir que es un comprobante (por ejemplo: “La imagen es un comprobante de pago.”).\nSi la imagen no es un comprobante ni algo similar, la descripción debe ser más detallada e incluir toda la información relevante que se observe (qué aparece, qué contexto sugiere, elementos principales, texto destacado, etc.).\n\nSi la imagen es un comprobante (o similar), extraé toda la información disponible sin omitir nada, incluyendo cuando sea posible:\nFechas y horas, importes, moneda, concepto o descripción de la operación, estado (aprobado, pendiente, rechazado), medio de pago, banco/entidad, nombre y/o identificador del comercio o destinatario, nombre y/o identificador del pagador u ordenante, números de operación o referencia, identificadores (CBU/alias/cuenta/tarjeta), cuotas (si aplica), comisiones o impuestos (si aparecen), y cualquier otro dato textual presente.\n\nFormato de salida:\nEntregá primero la descripción y luego la extracción de datos en texto corrido, separando por oraciones y usando claridad, pero siempre en texto plano.",
                        "max_tokens": "2048",
                        "temperature": "1",
                        "n_completions": "1"
                      },
                      "module": "openai-gpt-3:analyzeImages",
                      "version": 1,
                      "metadata": {
                        "expect": [
                          {
                            "name": "prompt",
                            "type": "text",
                            "label": "Prompt",
                            "required": true
                          },
                          {
                            "name": "images",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "imageUploadType",
                                  "type": "select",
                                  "label": "How would you like to specify an image?",
                                  "options": [
                                    {
                                      "label": "Image URL",
                                      "value": "url",
                                      "nested": [
                                        {
                                          "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`.",
                                          "mode": "edit",
                                          "name": "imageUrl",
                                          "type": "url",
                                          "label": "Image URL",
                                          "mappable": {
                                            "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`."
                                          },
                                          "required": true
                                        }
                                      ],
                                      "default": true
                                    },
                                    {
                                      "label": "Image File",
                                      "value": "imageFile",
                                      "nested": [
                                        {
                                          "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the __HTTP: Get a file__ module.",
                                          "name": "imageFileData",
                                          "type": "buffer",
                                          "label": "Image File",
                                          "required": true,
                                          "semantic": "file:data"
                                        }
                                      ]
                                    }
                                  ],
                                  "required": true
                                }
                              ],
                              "type": "collection",
                              "label": "Image"
                            },
                            "type": "array",
                            "label": "Images",
                            "required": true
                          },
                          {
                            "name": "model",
                            "type": "select",
                            "label": "Model",
                            "required": true
                          },
                          {
                            "name": "max_tokens",
                            "type": "uinteger",
                            "label": "Max Completion Tokens"
                          },
                          {
                            "name": "temperature",
                            "type": "number",
                            "label": "Temperature",
                            "validate": {
                              "max": 2,
                              "min": 0
                            }
                          },
                          {
                            "name": "top_p",
                            "type": "number",
                            "label": "Top P",
                            "validate": {
                              "max": 1,
                              "min": 0
                            }
                          },
                          {
                            "name": "n_completions",
                            "type": "number",
                            "label": "Number"
                          }
                        ],
                        "restore": {
                          "expect": {
                            "model": {
                              "mode": "chose",
                              "label": "gpt-5.2 (system)The best model for coding and agentic tasks across industries"
                            },
                            "images": {
                              "mode": "chose",
                              "items": [
                                {
                                  "imageUploadType": {
                                    "mode": "chose",
                                    "label": "Image File"
                                  }
                                }
                              ]
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                              },
                              "label": "Open AI connection (produccion)"
                            }
                          }
                        },
                        "designer": {
                          "x": 697,
                          "y": -523,
                          "name": "analisis de imagenes"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:openai-gpt-3",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 4371900
                      }
                    },
                    {
                      "id": 10,
                      "mapper": {
                        "command": "UPDATE interactions\nSET status = 'preprocessed'\nWHERE id = {{2.record.id}};\n\nUPDATE medias\nSET description = 'Analisis de la imagen:\n{{9.result}}'\nWHERE id = {{4.media_id}};"
                      },
                      "module": "postgres:Query",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "command",
                            "type": "text",
                            "label": "Command",
                            "required": true
                          },
                          {
                            "name": "command",
                            "type": "text",
                            "label": "Command",
                            "required": true
                          }
                        ],
                        "restore": {
                          "parameters": {
                            "account": {
                              "data": {
                                "scoped": "true",
                                "connection": "postgres"
                              },
                              "label": "IITA - Producción (Supabase) (postgres.cpkzzzwncpbzexpesock@aws-1-us-east-1.pooler.supabase.com:5432/postgres)"
                            }
                          }
                        },
                        "designer": {
                          "x": 997,
                          "y": -523
                        },
                        "parameters": [
                          {
                            "name": "account",
                            "type": "account:postgres",
                            "label": "Connection",
                            "required": true
                          },
                          {
                            "name": "continueWhenNoRes",
                            "type": "boolean",
                            "label": "Continue the execution of the route even if the module returns no rows",
                            "required": true
                          },
                          {
                            "name": "isToManageDataInSharedTransaction",
                            "type": "boolean",
                            "label": "Manage data within the shared transaction",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "account": 6184753,
                        "continueWhenNoRes": false,
                        "isToManageDataInSharedTransaction": true
                      }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 11,
                      "filter": {
                        "name": "audio",
                        "conditions": [
                          [
                            {
                              "a": "{{7.headers.`content-type`}}",
                              "b": "audio",
                              "o": "text:contain"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "model": "gpt-4o-mini-transcribe",
                        "prompt": "transcribe este audio",
                        "fileData": "{{7.data}}",
                        "fileName": "audio.{{4.type}}",
                        "logProbs": false,
                        "temperature": "1"
                      },
                      "module": "openai-gpt-3:CreateTranscription",
                      "version": 1,
                      "metadata": {
                        "expect": [
                          {
                            "name": "fileName",
                            "type": "filename",
                            "label": "File Name",
                            "required": true
                          },
                          {
                            "name": "fileData",
                            "type": "buffer",
                            "label": "File Data",
                            "required": true
                          },
                          {
                            "name": "model",
                            "type": "select",
                            "label": "Model",
                            "required": true
                          },
                          {
                            "name": "prompt",
                            "type": "text",
                            "label": "Prompt"
                          },
                          {
                            "name": "temperature",
                            "type": "number",
                            "label": "Temperature",
                            "validate": {
                              "max": 1,
                              "min": 0
                            }
                          },
                          {
                            "name": "language",
                            "type": "text",
                            "label": "Language"
                          },
                          {
                            "name": "logProbs",
                            "type": "boolean",
                            "label": "Include Log Probabilities",
                            "required": true
                          }
                        ],
                        "restore": {
                          "expect": {
                            "model": {
                              "mode": "chose",
                              "label": "gpt-4o-mini-transcribe (system)Speech-to-text model powered by GPT-4o mini",
                              "nested": [
                                {
                                  "help": "If chosen will return the log probabilities of the tokens in the response to understand the model's confidence in the transcription.",
                                  "name": "logProbs",
                                  "type": "boolean",
                                  "label": "Include Log Probabilities",
                                  "default": false,
                                  "required": true
                                }
                              ]
                            },
                            "logProbs": {
                              "mode": "chose"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                              },
                              "label": "Open AI connection (produccion)"
                            }
                          }
                        },
                        "designer": {
                          "x": 697,
                          "y": -223,
                          "name": "Analisis de audios"
                        },
                        "interface": [
                          {
                            "name": "text",
                            "type": "text",
                            "label": "Text"
                          }
                        ],
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:openai-gpt-3",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 4371900
                      }
                    },
                    {
                      "id": 12,
                      "mapper": {
                        "command": "UPDATE interactions\nSET status = 'preprocessed'\nWHERE id = {{2.record.id}};\n\nUPDATE medias\nSET description = 'Contenido del audio:\n{{get(11.text; \"text\")}}'\nWHERE id = {{4.media_id}};"
                      },
                      "module": "postgres:Query",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "command",
                            "type": "text",
                            "label": "Command",
                            "required": true
                          },
                          {
                            "name": "command",
                            "type": "text",
                            "label": "Command",
                            "required": true
                          }
                        ],
                        "restore": {
                          "parameters": {
                            "account": {
                              "data": {
                                "scoped": "true",
                                "connection": "postgres"
                              },
                              "label": "IITA - Producción (Supabase) (postgres.cpkzzzwncpbzexpesock@aws-1-us-east-1.pooler.supabase.com:5432/postgres)"
                            }
                          }
                        },
                        "designer": {
                          "x": 997,
                          "y": -223
                        },
                        "parameters": [
                          {
                            "name": "account",
                            "type": "account:postgres",
                            "label": "Connection",
                            "required": true
                          },
                          {
                            "name": "continueWhenNoRes",
                            "type": "boolean",
                            "label": "Continue the execution of the route even if the module returns no rows",
                            "required": true
                          },
                          {
                            "name": "isToManageDataInSharedTransaction",
                            "type": "boolean",
                            "label": "Manage data within the shared transaction",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "account": 6184753,
                        "continueWhenNoRes": false,
                        "isToManageDataInSharedTransaction": true
                      }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 13,
                      "filter": {
                        "name": "PDF",
                        "conditions": [
                          [
                            {
                              "a": "{{7.headers.`content-type`}}",
                              "b": "application",
                              "o": "text:contain:ci"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "files": [
                          {
                            "filename": "{{7.fileName}}",
                            "file_data": "{{7.data}}",
                            "fileUploadType": "data"
                          }
                        ],
                        "model": "gpt-5.2",
                        "store": true,
                        "format": {},
                        "reasoning": {},
                        "background": false,
                        "textPrompt": "Sos un agente dedicado únicamente a analizar archivos. Tu tarea es leer el contenido del archivo y devolver un único resultado en texto plano, sin usar listas, viñetas, numeración, tablas, JSON, diccionarios ni formato estructurado. Escribí en párrafos normales.\n\nReglas obligatorias:\nNo inventes información. No completes datos faltantes. Si un dato no está presente, no es visible, no se puede extraer o no se puede leer con certeza, indicá explícitamente que no aparece o que no es legible.\n\nSiempre debés incluir una descripción del archivo al comienzo:\nSi el archivo es un comprobante de pago, boleta, ticket, recibo, transferencia, depósito, factura o un documento equivalente, la descripción debe ser breve y decir que es un comprobante (por ejemplo: “El archivo es un comprobante de pago.”).\nSi el archivo no es un comprobante ni algo similar, la descripción debe ser más detallada e incluir toda la información relevante que se observe, incluyendo el tipo de documento, propósito aparente, temas principales, entidades mencionadas y cualquier dato destacado.\n\nSi el archivo es un comprobante (o similar), extraé toda la información disponible sin omitir nada, incluyendo cuando sea posible:\nFechas y horas, importes, moneda, concepto o descripción de la operación, estado (aprobado, pendiente, rechazado), medio de pago, banco/entidad, nombre y/o identificador del comercio o destinatario, nombre y/o identificador del pagador u ordenante, números de operación o referencia, identificadores (CBU/alias/cuenta/tarjeta), cuotas (si aplica), comisiones o impuestos (si aparecen), datos fiscales si corresponde, y cualquier otro texto presente en el documento.\n\nSi el archivo tiene varias páginas, integrá toda la información en un solo texto final, sin duplicar innecesariamente, pero sin perder datos.\n\nFormato de salida:\nEntregá primero la descripción y luego la extracción de datos en texto corrido, separando por oraciones y usando claridad, pero siempre en texto plano.",
                        "truncation": "auto",
                        "inputContentType": "file",
                        "createConversation": true,
                        "parallel_tool_calls": true
                      },
                      "module": "openai-gpt-3:createModelResponse",
                      "version": 1,
                      "metadata": {
                        "expect": [
                          {
                            "name": "model",
                            "type": "select",
                            "label": "Model",
                            "required": true
                          },
                          {
                            "name": "inputContentType",
                            "type": "select",
                            "label": "Prompt Type",
                            "required": true,
                            "validate": {
                              "enum": [
                                "text",
                                "image",
                                "file",
                                "prompt",
                                "items"
                              ]
                            }
                          },
                          {
                            "name": "max_output_tokens",
                            "type": "integer",
                            "label": "Max Output Tokens"
                          },
                          {
                            "name": "tools",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "type",
                                  "type": "select",
                                  "label": "Type",
                                  "options": [
                                    {
                                      "label": "File search",
                                      "value": "file_search",
                                      "nested": [
                                        {
                                          "help": "The IDs of the vector stores to search.",
                                          "name": "vector_store_ids",
                                          "type": "select",
                                          "label": "Vector Store IDs",
                                          "options": "rpc://openai-gpt-3/1/getVectorStores",
                                          "multiple": true,
                                          "required": true,
                                          "validate": {
                                            "maxItems": 2
                                          }
                                        },
                                        {
                                          "help": "A filter to apply based on file attributes.",
                                          "name": "filters",
                                          "spec": [
                                            {
                                              "name": "type",
                                              "type": "select",
                                              "label": "Type",
                                              "options": [
                                                {
                                                  "label": "Equals",
                                                  "value": "eq",
                                                  "nested": [
                                                    {
                                                      "help": "The key to compare against the value.",
                                                      "name": "key",
                                                      "type": "text",
                                                      "label": "Key",
                                                      "required": true
                                                    },
                                                    {
                                                      "help": "The value to compare against the attribute key",
                                                      "name": "value",
                                                      "type": "any",
                                                      "label": "Value",
                                                      "required": true
                                                    }
                                                  ]
                                                },
                                                {
                                                  "label": "Not equal",
                                                  "value": "ne",
                                                  "nested": [
                                                    {
                                                      "help": "The key to compare against the value.",
                                                      "name": "key",
                                                      "type": "text",
                                                      "label": "Key",
                                                      "required": true
                                                    },
                                                    {
                                                      "help": "The value to compare against the attribute key",
                                                      "name": "value",
                                                      "type": "any",
                                                      "label": "Value",
                                                      "required": true
                                                    }
                                                  ]
                                                },
                                                {
                                                  "label": "Greater than",
                                                  "value": "gt",
                                                  "nested": [
                                                    {
                                                      "help": "The key to compare against the value.",
                                                      "name": "key",
                                                      "type": "text",
                                                      "label": "Key",
                                                      "required": true
                                                    },
                                                    {
                                                      "help": "The value to compare against the attribute key",
                                                      "name": "value",
                                                      "type": "any",
                                                      "label": "Value",
                                                      "required": true
                                                    }
                                                  ]
                                                },
                                                {
                                                  "label": "Greater than or equal",
                                                  "value": "gte",
                                                  "nested": [
                                                    {
                                                      "help": "The key to compare against the value.",
                                                      "name": "key",
                                                      "type": "text",
                                                      "label": "Key",
                                                      "required": true
                                                    },
                                                    {
                                                      "help": "The value to compare against the attribute key",
                                                      "name": "value",
                                                      "type": "any",
                                                      "label": "Value",
                                                      "required": true
                                                    }
                                                  ]
                                                },
                                                {
                                                  "label": "Less than",
                                                  "value": "lt",
                                                  "nested": [
                                                    {
                                                      "help": "The key to compare against the value.",
                                                      "name": "key",
                                                      "type": "text",
                                                      "label": "Key",
                                                      "required": true
                                                    },
                                                    {
                                                      "help": "The value to compare against the attribute key",
                                                      "name": "value",
                                                      "type": "any",
                                                      "label": "Value",
                                                      "required": true
                                                    }
                                                  ]
                                                },
                                                {
                                                  "label": "Less than or equal",
                                                  "value": "lte",
                                                  "nested": [
                                                    {
                                                      "help": "The key to compare against the value.",
                                                      "name": "key",
                                                      "type": "text",
                                                      "label": "Key",
                                                      "required": true
                                                    },
                                                    {
                                                      "help": "The value to compare against the attribute key",
                                                      "name": "value",
                                                      "type": "any",
                                                      "label": "Value",
                                                      "required": true
                                                    }
                                                  ]
                                                },
                                                {
                                                  "label": "Compound filter [and]",
                                                  "value": "and",
                                                  "nested": [
                                                    {
                                                      "name": "filters",
                                                      "spec": {
                                                        "spec": [
                                                          {
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                              {
                                                                "label": "Equals",
                                                                "value": "eq"
                                                              },
                                                              {
                                                                "label": "Not equal",
                                                                "value": "ne"
                                                              },
                                                              {
                                                                "label": "Greater than",
                                                                "value": "gt"
                                                              },
                                                              {
                                                                "label": "Greater than or equal",
                                                                "value": "gte"
                                                              },
                                                              {
                                                                "label": "Less than",
                                                                "value": "lt"
                                                              },
                                                              {
                                                                "label": "Less than or equal",
                                                                "value": "lte"
                                                              }
                                                            ],
                                                            "required": true
                                                          },
                                                          {
                                                            "help": "The key to compare against the value.",
                                                            "name": "key",
                                                            "type": "text",
                                                            "label": "Key",
                                                            "required": true
                                                          },
                                                          {
                                                            "help": "The value to compare against the attribute key",
                                                            "name": "value",
                                                            "type": "any",
                                                            "label": "Value",
                                                            "required": true
                                                          }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Filter"
                                                      },
                                                      "type": "array",
                                                      "label": "Filters",
                                                      "labels": {
                                                        "add": "Add filter"
                                                      },
                                                      "required": true
                                                    }
                                                  ]
                                                },
                                                {
                                                  "label": "Compound filter [or]",
                                                  "value": "or",
                                                  "nested": [
                                                    {
                                                      "name": "filters",
                                                      "spec": {
                                                        "spec": [
                                                          {
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                              {
                                                                "label": "Equals",
                                                                "value": "eq"
                                                              },
                                                              {
                                                                "label": "Not equal",
                                                                "value": "ne"
                                                              },
                                                              {
                                                                "label": "Greater than",
                                                                "value": "gt"
                                                              },
                                                              {
                                                                "label": "Greater than or equal",
                                                                "value": "gte"
                                                              },
                                                              {
                                                                "label": "Less than",
                                                                "value": "lt"
                                                              },
                                                              {
                                                                "label": "Less than or equal",
                                                                "value": "lte"
                                                              }
                                                            ],
                                                            "required": true
                                                          },
                                                          {
                                                            "help": "The key to compare against the value.",
                                                            "name": "key",
                                                            "type": "text",
                                                            "label": "Key",
                                                            "required": true
                                                          },
                                                          {
                                                            "help": "The value to compare against the attribute key",
                                                            "name": "value",
                                                            "type": "any",
                                                            "label": "Value",
                                                            "required": true
                                                          }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Filter"
                                                      },
                                                      "type": "array",
                                                      "label": "Filters",
                                                      "labels": {
                                                        "add": "Add filter"
                                                      },
                                                      "required": true
                                                    }
                                                  ]
                                                }
                                              ]
                                            }
                                          ],
                                          "type": "collection",
                                          "label": "Filters"
                                        },
                                        {
                                          "name": "max_num_results",
                                          "type": "integer",
                                          "label": "Max Results Number",
                                          "validate": {
                                            "max": 50,
                                            "min": 1
                                          }
                                        },
                                        {
                                          "help": "Ranking options for search.",
                                          "name": "ranking_options",
                                          "spec": [
                                            {
                                              "help": "The ranker to use for the file search.",
                                              "name": "ranker",
                                              "type": "select",
                                              "label": "Ranker",
                                              "options": [
                                                {
                                                  "label": "auto",
                                                  "value": "auto"
                                                },
                                                {
                                                  "label": "default-2024-08-21",
                                                  "value": "default-2024-08-21"
                                                },
                                                {
                                                  "label": "default-2024-11-15",
                                                  "value": "default-2024-11-15"
                                                }
                                              ]
                                            },
                                            {
                                              "help": "The score threshold for the file search. Numbers closer to `1` will attempt to return only the most relevant results, but may return fewer results.",
                                              "name": "score_threshold",
                                              "type": "number",
                                              "label": "Score Threshold",
                                              "validate": {
                                                "max": 1,
                                                "min": 0
                                              }
                                            }
                                          ],
                                          "type": "collection",
                                          "label": "Ranking Options"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Function",
                                      "value": "function",
                                      "nested": [
                                        {
                                          "help": "The name of the function to call.",
                                          "name": "name",
                                          "type": "text",
                                          "label": "Name",
                                          "required": true
                                        },
                                        {
                                          "help": "A JSON schema object describing the parameters of the function.",
                                          "name": "parameters",
                                          "type": "json",
                                          "label": "Parameters",
                                          "required": true
                                        },
                                        {
                                          "help": "Whether to enforce strict parameter validation.",
                                          "name": "strict",
                                          "type": "boolean",
                                          "label": "Strict",
                                          "default": true,
                                          "required": true
                                        },
                                        {
                                          "help": "A description of the function.",
                                          "name": "description",
                                          "type": "text",
                                          "label": "Description"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Computer use preview",
                                      "value": "computer_use_preview",
                                      "nested": [
                                        {
                                          "help": "The height of the computer display.",
                                          "name": "display_height",
                                          "type": "number",
                                          "label": "Display Height",
                                          "required": true
                                        },
                                        {
                                          "help": "The width of the computer display.",
                                          "name": "display_width",
                                          "type": "number",
                                          "label": "Display Width",
                                          "required": true
                                        },
                                        {
                                          "help": "The type of computer environment to control.",
                                          "name": "environment",
                                          "type": "select",
                                          "label": "Environment",
                                          "options": [
                                            {
                                              "label": "Windows",
                                              "value": "windows"
                                            },
                                            {
                                              "label": "Mac",
                                              "value": "mac"
                                            },
                                            {
                                              "label": "Linux",
                                              "value": "linux"
                                            },
                                            {
                                              "label": "Browser",
                                              "value": "browser"
                                            }
                                          ],
                                          "required": true
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Web search preview",
                                      "value": "web_search_preview",
                                      "nested": [
                                        {
                                          "help": "High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                          "name": "search_context_size",
                                          "type": "select",
                                          "label": "Search Context Size",
                                          "options": [
                                            {
                                              "label": "Low",
                                              "value": "low"
                                            },
                                            {
                                              "label": "Medium",
                                              "value": "medium"
                                            },
                                            {
                                              "label": "High",
                                              "value": "high"
                                            }
                                          ]
                                        },
                                        {
                                          "help": "Approximate location parameters for the search.",
                                          "name": "user_location",
                                          "spec": [
                                            {
                                              "help": "The type of location approximation.",
                                              "name": "type",
                                              "type": "select",
                                              "label": "Type",
                                              "options": [
                                                {
                                                  "label": "Approximate",
                                                  "value": "approximate"
                                                }
                                              ]
                                            },
                                            {
                                              "help": "The city of the user, e.g. `San Francisco`.",
                                              "name": "city",
                                              "type": "text",
                                              "label": "City"
                                            },
                                            {
                                              "help": "The two-letter ISO country code of the user, e.g. `US`.",
                                              "name": "country",
                                              "type": "select",
                                              "label": "Country",
                                              "options": "rpc://openai-gpt-3/1/getCountryCodes"
                                            },
                                            {
                                              "help": "The region of the user, e.g. `California`.",
                                              "name": "region",
                                              "type": "text",
                                              "label": "Region"
                                            },
                                            {
                                              "help": "The timezone of the user, e.g. `America/Los_Angeles`.",
                                              "name": "timezone",
                                              "type": "timezone",
                                              "label": "Timezone"
                                            }
                                          ],
                                          "type": "collection",
                                          "label": "User Location"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Web search preview (2025_03_11)",
                                      "value": "web_search_preview_2025_03_11",
                                      "nested": [
                                        {
                                          "help": "High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                          "name": "search_context_size",
                                          "type": "select",
                                          "label": "Search Context Size",
                                          "options": [
                                            {
                                              "label": "Low",
                                              "value": "low"
                                            },
                                            {
                                              "label": "Medium",
                                              "value": "medium"
                                            },
                                            {
                                              "label": "High",
                                              "value": "high"
                                            }
                                          ]
                                        },
                                        {
                                          "help": "Approximate location parameters for the search.",
                                          "name": "user_location",
                                          "spec": [
                                            {
                                              "help": "The type of location approximation.",
                                              "name": "type",
                                              "type": "select",
                                              "label": "Type",
                                              "options": [
                                                {
                                                  "label": "Approximate",
                                                  "value": "approximate"
                                                }
                                              ]
                                            },
                                            {
                                              "help": "The city of the user, e.g. `San Francisco`.",
                                              "name": "city",
                                              "type": "text",
                                              "label": "City"
                                            },
                                            {
                                              "help": "The two-letter ISO country code of the user, e.g. `US`.",
                                              "name": "country",
                                              "type": "select",
                                              "label": "Country",
                                              "options": "rpc://openai-gpt-3/1/getCountryCodes"
                                            },
                                            {
                                              "help": "The region of the user, e.g. `California`.",
                                              "name": "region",
                                              "type": "text",
                                              "label": "Region"
                                            },
                                            {
                                              "help": "The timezone of the user, e.g. `America/Los_Angeles`.",
                                              "name": "timezone",
                                              "type": "timezone",
                                              "label": "Timezone"
                                            }
                                          ],
                                          "type": "collection",
                                          "label": "User Location"
                                        }
                                      ]
                                    },
                                    {
                                      "label": "MCP",
                                      "value": "mcp",
                                      "nested": [
                                        {
                                          "text": "MCP requests will automatically be approved.",
                                          "type": "banner",
                                          "theme": "info"
                                        },
                                        {
                                          "name": "require_approval",
                                          "type": "hidden",
                                          "label": "Require Approval",
                                          "default": "never"
                                        },
                                        {
                                          "help": "A label for this MCP server, used to identify it in tool calls.",
                                          "name": "server_label",
                                          "type": "text",
                                          "label": "Server Label",
                                          "required": true
                                        },
                                        {
                                          "help": "The URL for the MCP server.",
                                          "name": "server_url",
                                          "type": "url",
                                          "label": "Server URL",
                                          "required": true
                                        },
                                        {
                                          "help": "List of allowed tool names.",
                                          "name": "allowed_tools",
                                          "spec": {
                                            "type": "text",
                                            "label": "Tool"
                                          },
                                          "type": "array",
                                          "label": "Allowed Tools",
                                          "labels": {
                                            "add": "Add allowed tool"
                                          }
                                        },
                                        {
                                          "help": "Optional HTTP headers to send to the MCP server. Use for authentication or other purposes.",
                                          "name": "headers",
                                          "spec": {
                                            "spec": [
                                              {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                              },
                                              {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                              }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                          },
                                          "type": "array",
                                          "label": "Headers",
                                          "labels": {
                                            "add": "Add header"
                                          }
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Code interpreter",
                                      "value": "code_interpreter",
                                      "nested": [
                                        {
                                          "help": "**Container**\nA container is a fully sandboxed virtual machine where the model runs Python code.\n\n**Expiration Time**\nContainers expire if unused for 20 minutes. The expiration timer is reset after any operation on the container.",
                                          "name": "container_type",
                                          "type": "select",
                                          "label": "Container type",
                                          "options": [
                                            {
                                              "label": "Use existing container",
                                              "value": "existing_container",
                                              "nested": [
                                                {
                                                  "name": "container",
                                                  "type": "select",
                                                  "label": "Container",
                                                  "options": {
                                                    "store": "rpc://openai-gpt-3/1/getContainers"
                                                  },
                                                  "mappable": {
                                                    "help": "Map the container ID. For example: `cntr_6878d51b5ffc8191b7c32c11c747cf4e`."
                                                  },
                                                  "required": true
                                                }
                                              ]
                                            },
                                            {
                                              "label": "Create new container",
                                              "value": "new_container",
                                              "nested": [
                                                {
                                                  "name": "container",
                                                  "spec": [
                                                    {
                                                      "help": "An optional list of uploaded files to make available to your code.",
                                                      "name": "file_ids",
                                                      "spec": {
                                                        "type": "select",
                                                        "label": "File ID",
                                                        "options": "rpc://openai-gpt-3/1/getFiles"
                                                      },
                                                      "type": "array",
                                                      "label": "File IDs",
                                                      "labels": {
                                                        "add": "Add file ID"
                                                      }
                                                    }
                                                  ],
                                                  "type": "collection",
                                                  "label": "Container"
                                                }
                                              ]
                                            }
                                          ],
                                          "required": true
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Image generation",
                                      "value": "image_generation",
                                      "nested": [
                                        {
                                          "help": "Background type for the generated image.",
                                          "name": "background",
                                          "type": "select",
                                          "label": "Background",
                                          "options": [
                                            {
                                              "label": "Auto",
                                              "value": "auto"
                                            },
                                            {
                                              "label": "Transparent",
                                              "value": "transparent"
                                            },
                                            {
                                              "label": "Opaque",
                                              "value": "opaque"
                                            }
                                          ]
                                        },
                                        {
                                          "help": "Controls how much effort the model will exert to match the style and features of input images, especially facial features.",
                                          "name": "input_fidelity",
                                          "type": "select",
                                          "label": "Input Fidelity",
                                          "options": [
                                            {
                                              "label": "Low",
                                              "value": "low"
                                            },
                                            {
                                              "label": "High",
                                              "value": "high"
                                            }
                                          ]
                                        },
                                        {
                                          "help": "Optional mask for inpainting.",
                                          "name": "input_image_mask",
                                          "spec": [
                                            {
                                              "name": "mask_input_type",
                                              "type": "select",
                                              "label": "Mask Input Type",
                                              "options": [
                                                {
                                                  "label": "File ID",
                                                  "value": "id",
                                                  "nested": [
                                                    {
                                                      "help": "The ID of the file to be sent to the model.",
                                                      "name": "file_id",
                                                      "type": "select",
                                                      "label": "File ID",
                                                      "options": "rpc://openai-gpt-3/1/getFiles",
                                                      "required": true
                                                    }
                                                  ]
                                                },
                                                {
                                                  "label": "Image URL",
                                                  "value": "url",
                                                  "nested": [
                                                    {
                                                      "help": "The URL of the image to be sent to the model.",
                                                      "name": "image_url",
                                                      "type": "url",
                                                      "label": "Image URL",
                                                      "required": true
                                                    }
                                                  ]
                                                }
                                              ]
                                            }
                                          ],
                                          "type": "collection",
                                          "label": "Input Image Mask"
                                        },
                                        {
                                          "help": "Moderation level for the generated image.",
                                          "name": "moderation",
                                          "type": "select",
                                          "label": "Moderation",
                                          "options": [
                                            {
                                              "label": "Auto",
                                              "value": "auto"
                                            },
                                            {
                                              "label": "Low",
                                              "value": "low"
                                            }
                                          ]
                                        },
                                        {
                                          "help": "The output format of the generated image.",
                                          "name": "output_format",
                                          "type": "select",
                                          "label": "Output Format",
                                          "options": [
                                            {
                                              "label": "PNG",
                                              "value": "png"
                                            },
                                            {
                                              "label": "WEBP",
                                              "value": "webp",
                                              "nested": [
                                                {
                                                  "help": "Compression level for the output image.",
                                                  "name": "output_compression",
                                                  "type": "number",
                                                  "label": "Output Compression",
                                                  "validate": {
                                                    "max": 100,
                                                    "min": 0
                                                  }
                                                }
                                              ]
                                            },
                                            {
                                              "label": "JPEG",
                                              "value": "jpeg",
                                              "nested": [
                                                {
                                                  "help": "Compression level for the output image.",
                                                  "name": "output_compression",
                                                  "type": "number",
                                                  "label": "Output Compression",
                                                  "validate": {
                                                    "max": 100,
                                                    "min": 0
                                                  }
                                                }
                                              ]
                                            }
                                          ]
                                        },
                                        {
                                          "help": "The quality of the generated image.",
                                          "name": "quality",
                                          "type": "select",
                                          "label": "Quality",
                                          "options": [
                                            {
                                              "label": "Auto",
                                              "value": "auto"
                                            },
                                            {
                                              "label": "Low",
                                              "value": "low"
                                            },
                                            {
                                              "label": "Medium",
                                              "value": "medium"
                                            },
                                            {
                                              "label": "High",
                                              "value": "high"
                                            }
                                          ]
                                        },
                                        {
                                          "help": "The size of the generated image.",
                                          "name": "size",
                                          "type": "select",
                                          "label": "Size",
                                          "options": [
                                            {
                                              "label": "1024x1024",
                                              "value": "1024x1024"
                                            },
                                            {
                                              "label": "1024x1536",
                                              "value": "1024x1536"
                                            },
                                            {
                                              "label": "1536x1024",
                                              "value": "1536x1024"
                                            }
                                          ]
                                        }
                                      ]
                                    },
                                    {
                                      "label": "Custom",
                                      "value": "custom",
                                      "nested": [
                                        {
                                          "help": "The name of the custom tool, used to identify it in tool calls, for example: `abc`, `abc_defg`.",
                                          "name": "name",
                                          "type": "text",
                                          "label": "Name",
                                          "required": true
                                        },
                                        {
                                          "help": "Description of the custom tool, used to provide more context.",
                                          "name": "description",
                                          "type": "text",
                                          "label": "Description"
                                        },
                                        {
                                          "name": "format",
                                          "spec": [
                                            {
                                              "name": "type",
                                              "type": "select",
                                              "label": "Type",
                                              "options": [
                                                {
                                                  "label": "Text",
                                                  "value": "text"
                                                },
                                                {
                                                  "label": "Grammar",
                                                  "value": "grammar",
                                                  "nested": [
                                                    {
                                                      "help": "The syntax of the grammar definition.",
                                                      "name": "syntax",
                                                      "type": "select",
                                                      "label": "Syntax",
                                                      "options": [
                                                        {
                                                          "label": "Lark",
                                                          "value": "lark"
                                                        },
                                                        {
                                                          "label": "Regex",
                                                          "value": "regex"
                                                        }
                                                      ],
                                                      "required": true
                                                    },
                                                    {
                                                      "help": "The grammar definition.",
                                                      "name": "definition",
                                                      "type": "text",
                                                      "label": "Definition",
                                                      "required": true
                                                    }
                                                  ]
                                                }
                                              ]
                                            }
                                          ],
                                          "type": "collection",
                                          "label": "Format"
                                        }
                                      ]
                                    }
                                  ],
                                  "required": true
                                }
                              ],
                              "type": "collection",
                              "label": "Tool"
                            },
                            "type": "array",
                            "label": "Tools"
                          },
                          {
                            "name": "tool_choice",
                            "type": "select",
                            "label": "Tool Choice",
                            "validate": {
                              "enum": [
                                "none",
                                "auto",
                                "required",
                                "file_search",
                                "web_search_preview",
                                "computer_use_preview",
                                "code_interpreter",
                                "function",
                                "custom",
                                "allowed_tools"
                              ]
                            }
                          },
                          {
                            "name": "parallel_tool_calls",
                            "type": "boolean",
                            "label": "Parallel Tool Calls"
                          },
                          {
                            "name": "background",
                            "type": "boolean",
                            "label": "Run in Background"
                          },
                          {
                            "name": "conversationId",
                            "type": "text",
                            "label": "Conversation ID"
                          },
                          {
                            "name": "createConversation",
                            "type": "boolean",
                            "label": "Create a new conversation",
                            "required": true
                          },
                          {
                            "name": "temperature",
                            "type": "number",
                            "label": "Temperature",
                            "validate": {
                              "max": 2,
                              "min": 0
                            }
                          },
                          {
                            "name": "top_p",
                            "type": "number",
                            "label": "Top P"
                          },
                          {
                            "name": "store",
                            "type": "boolean",
                            "label": "Store"
                          },
                          {
                            "name": "previous_response_id",
                            "type": "text",
                            "label": "Previous Response ID"
                          },
                          {
                            "name": "instructions",
                            "type": "text",
                            "label": "Instructions"
                          },
                          {
                            "name": "reasoning",
                            "spec": [
                              {
                                "name": "effort",
                                "type": "select",
                                "label": "Effort",
                                "validate": {
                                  "enum": [
                                    "none",
                                    "minimal",
                                    "low",
                                    "medium",
                                    "high",
                                    "xhigh"
                                  ]
                                }
                              },
                              {
                                "name": "summary",
                                "type": "select",
                                "label": "Summary",
                                "validate": {
                                  "enum": [
                                    "auto",
                                    "concise",
                                    "detailed"
                                  ]
                                }
                              }
                            ],
                            "type": "collection",
                            "label": "Reasoning"
                          },
                          {
                            "name": "format",
                            "spec": [
                              {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "validate": {
                                  "enum": [
                                    "text",
                                    "json_schema",
                                    "json_object"
                                  ]
                                }
                              }
                            ],
                            "type": "collection",
                            "label": "Output Format"
                          },
                          {
                            "name": "truncation",
                            "type": "select",
                            "label": "Truncation",
                            "validate": {
                              "enum": [
                                "auto",
                                "disabled"
                              ]
                            }
                          },
                          {
                            "name": "include",
                            "type": "select",
                            "label": "Include",
                            "multiple": true,
                            "validate": {
                              "enum": [
                                "file_search_call.results",
                                "code_interpreter_call.outputs",
                                "message.input_image.image_url",
                                "computer_call_output.output.image_url"
                              ]
                            }
                          },
                          {
                            "name": "metadata",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "key",
                                  "type": "text",
                                  "label": "Key"
                                },
                                {
                                  "name": "value",
                                  "type": "text",
                                  "label": "Value"
                                }
                              ],
                              "type": "collection",
                              "label": "Metadata"
                            },
                            "type": "array",
                            "label": "Metadata"
                          },
                          {
                            "name": "files",
                            "spec": {
                              "name": "value",
                              "spec": [
                                {
                                  "name": "fileUploadType",
                                  "type": "select",
                                  "label": "File Upload Type",
                                  "options": [
                                    {
                                      "label": "File ID",
                                      "value": "id",
                                      "nested": [
                                        {
                                          "help": "The ID of the file to be sent to the model.",
                                          "name": "file_id",
                                          "type": "select",
                                          "label": "File ID",
                                          "options": "rpc://openai-gpt-3/1/getFiles",
                                          "required": true
                                        }
                                      ]
                                    },
                                    {
                                      "label": "File URL",
                                      "value": "url",
                                      "nested": [
                                        {
                                          "help": "The URL of the file to be sent to the model.",
                                          "name": "file_url",
                                          "type": "url",
                                          "label": "File URL",
                                          "required": true
                                        }
                                      ]
                                    },
                                    {
                                      "label": "File Data",
                                      "value": "data",
                                      "nested": [
                                        {
                                          "help": "The name of the file to be sent to the model.",
                                          "name": "filename",
                                          "type": "text",
                                          "label": "File Name",
                                          "required": true,
                                          "semantic": "file:name"
                                        },
                                        {
                                          "help": "The content of the file to be sent to the model.",
                                          "name": "file_data",
                                          "type": "buffer",
                                          "label": "File Data",
                                          "required": true,
                                          "semantic": "file:data"
                                        }
                                      ]
                                    }
                                  ],
                                  "required": true
                                }
                              ],
                              "type": "collection",
                              "label": "File"
                            },
                            "type": "array",
                            "label": "Files",
                            "required": true
                          },
                          {
                            "name": "textPrompt",
                            "type": "text",
                            "label": "Text Prompt"
                          }
                        ],
                        "restore": {
                          "expect": {
                            "files": {
                              "mode": "chose",
                              "items": [
                                {
                                  "fileUploadType": {
                                    "mode": "chose",
                                    "label": "File Data"
                                  }
                                }
                              ]
                            },
                            "model": {
                              "mode": "chose",
                              "label": "gpt-5.2 (system)The best model for coding and agentic tasks across industries"
                            },
                            "store": {
                              "mode": "chose"
                            },
                            "tools": {
                              "mode": "chose"
                            },
                            "format": {
                              "nested": {
                                "type": {
                                  "mode": "chose",
                                  "label": "Empty"
                                }
                              }
                            },
                            "include": {
                              "mode": "chose"
                            },
                            "metadata": {
                              "mode": "chose"
                            },
                            "reasoning": {
                              "nested": {
                                "effort": {
                                  "mode": "chose",
                                  "label": "Empty"
                                },
                                "summary": {
                                  "mode": "chose",
                                  "label": "Empty"
                                }
                              }
                            },
                            "background": {
                              "mode": "chose"
                            },
                            "truncation": {
                              "mode": "chose",
                              "label": "Auto"
                            },
                            "tool_choice": {
                              "mode": "chose",
                              "label": "Empty"
                            },
                            "inputContentType": {
                              "mode": "chose",
                              "label": "File prompt"
                            },
                            "createConversation": {
                              "mode": "chose"
                            },
                            "parallel_tool_calls": {
                              "mode": "chose"
                            }
                          },
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                              },
                              "label": "Open AI connection (produccion)"
                            }
                          }
                        },
                        "designer": {
                          "x": 697,
                          "y": 77,
                          "name": "Analiss de pdf"
                        },
                        "interface": [
                          {
                            "name": "result",
                            "type": "any",
                            "label": "Result"
                          },
                          {
                            "name": "conversationId",
                            "type": "text",
                            "label": "Conversation ID"
                          },
                          {
                            "name": "raw_result",
                            "type": "any",
                            "label": "Raw Result"
                          },
                          {
                            "name": "id",
                            "type": "text",
                            "label": "Response ID"
                          },
                          {
                            "name": "object",
                            "type": "text",
                            "label": "Object"
                          },
                          {
                            "name": "created_at",
                            "type": "date",
                            "label": "Created at"
                          },
                          {
                            "name": "status",
                            "type": "text",
                            "label": "Status"
                          },
                          {
                            "name": "background",
                            "type": "boolean",
                            "label": "Background"
                          },
                          {
                            "name": "billing",
                            "spec": [
                              {
                                "name": "payer",
                                "type": "text",
                                "label": "Payer"
                              }
                            ],
                            "type": "collection",
                            "label": "Billing"
                          },
                          {
                            "name": "error",
                            "type": "text",
                            "label": "Error"
                          },
                          {
                            "name": "max_tool_calls",
                            "type": "number",
                            "label": "Max Tool Calls"
                          },
                          {
                            "name": "top_logprobs",
                            "type": "number",
                            "label": "Top Logprobs"
                          },
                          {
                            "name": "incomplete_details",
                            "spec": [
                              {
                                "name": "reason",
                                "type": "text",
                                "label": "Reason"
                              }
                            ],
                            "type": "collection",
                            "label": "Incomplete Details"
                          },
                          {
                            "name": "instructions",
                            "type": "any",
                            "label": "Instructions"
                          },
                          {
                            "name": "max_output_tokens",
                            "type": "number",
                            "label": "Max Output Tokens"
                          },
                          {
                            "name": "model",
                            "type": "text",
                            "label": "Model"
                          },
                          {
                            "name": "output",
                            "spec": [
                              {
                                "name": "input",
                                "type": "text",
                                "label": "Input"
                              },
                              {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                              },
                              {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                              },
                              {
                                "name": "server_label",
                                "type": "text",
                                "label": "Server Label"
                              },
                              {
                                "name": "background",
                                "type": "text",
                                "label": "Background"
                              },
                              {
                                "name": "moderation",
                                "type": "text",
                                "label": "Moderation"
                              },
                              {
                                "name": "n",
                                "type": "number",
                                "label": "N"
                              },
                              {
                                "name": "output_compression",
                                "type": "number",
                                "label": "Output compression"
                              },
                              {
                                "name": "output_format",
                                "type": "text",
                                "label": "Output format"
                              },
                              {
                                "name": "quality",
                                "type": "text",
                                "label": "Quality"
                              },
                              {
                                "name": "size",
                                "type": "text",
                                "label": "Size"
                              },
                              {
                                "name": "revised_prompt",
                                "type": "text",
                                "label": "Revised Prompt"
                              },
                              {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name",
                                "semantic": "file:name"
                              },
                              {
                                "name": "filedata",
                                "type": "buffer",
                                "label": "File data",
                                "semantic": "file:data"
                              },
                              {
                                "name": "tools",
                                "spec": {
                                  "spec": [
                                    {
                                      "name": "annotations",
                                      "type": "text",
                                      "label": "Annotations"
                                    },
                                    {
                                      "name": "description",
                                      "type": "text",
                                      "label": "Description"
                                    },
                                    {
                                      "name": "input_schema",
                                      "spec": [
                                        {
                                          "name": "type",
                                          "type": "text",
                                          "label": "Type"
                                        },
                                        {
                                          "name": "properties",
                                          "spec": [
                                            {
                                              "name": "query",
                                              "spec": [
                                                {
                                                  "name": "type",
                                                  "type": "text",
                                                  "label": "Type"
                                                },
                                                {
                                                  "name": "description",
                                                  "type": "text",
                                                  "label": "Description"
                                                }
                                              ],
                                              "type": "collection",
                                              "label": "Query"
                                            }
                                          ],
                                          "type": "collection",
                                          "label": "Properties"
                                        },
                                        {
                                          "name": "required",
                                          "spec": {
                                            "type": "text"
                                          },
                                          "type": "array",
                                          "label": "Required"
                                        },
                                        {
                                          "name": "additionalProperties",
                                          "type": "boolean",
                                          "label": "Additional Properties"
                                        },
                                        {
                                          "name": "$schema",
                                          "type": "text",
                                          "label": "Schema"
                                        }
                                      ],
                                      "type": "collection",
                                      "label": "Input Schema"
                                    },
                                    {
                                      "name": "name",
                                      "type": "text",
                                      "label": "Name"
                                    },
                                    {
                                      "name": "container",
                                      "spec": [
                                        {
                                          "name": "type",
                                          "type": "text",
                                          "label": "Type"
                                        }
                                      ],
                                      "type": "collection",
                                      "label": "Container"
                                    }
                                  ],
                                  "type": "collection"
                                },
                                "type": "array",
                                "label": "Tools"
                              },
                              {
                                "name": "approval_request_id",
                                "type": "text",
                                "label": "Approval Request ID"
                              },
                              {
                                "name": "error",
                                "spec": [
                                  {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                  },
                                  {
                                    "name": "content",
                                    "spec": {
                                      "spec": [
                                        {
                                          "name": "type",
                                          "type": "text",
                                          "label": "Type"
                                        },
                                        {
                                          "name": "text",
                                          "type": "text",
                                          "label": "Text"
                                        },
                                        {
                                          "name": "annotations",
                                          "type": "text",
                                          "label": "Annotations"
                                        }
                                      ],
                                      "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Content"
                                  }
                                ],
                                "type": "collection",
                                "label": "Error"
                              },
                              {
                                "name": "output",
                                "type": "text",
                                "label": "Output"
                              },
                              {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                              },
                              {
                                "name": "queries",
                                "spec": {
                                  "type": "text"
                                },
                                "type": "array",
                                "label": "Queries"
                              },
                              {
                                "name": "results",
                                "spec": {
                                  "spec": [
                                    {
                                      "name": "attributes",
                                      "type": "collection",
                                      "label": "Attributes"
                                    },
                                    {
                                      "name": "file_id",
                                      "type": "text",
                                      "label": "File ID"
                                    },
                                    {
                                      "name": "filename",
                                      "type": "text",
                                      "label": "File name"
                                    },
                                    {
                                      "name": "score",
                                      "type": "number",
                                      "label": "Score"
                                    },
                                    {
                                      "name": "text",
                                      "type": "text",
                                      "label": "Text"
                                    }
                                  ],
                                  "type": "collection"
                                },
                                "type": "array",
                                "label": "Results"
                              },
                              {
                                "name": "role",
                                "type": "text",
                                "label": "Role"
                              },
                              {
                                "name": "call_id",
                                "type": "text",
                                "label": "Call ID"
                              },
                              {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                              },
                              {
                                "name": "arguments",
                                "type": "text",
                                "label": "Arguments"
                              },
                              {
                                "name": "summary",
                                "spec": [
                                  {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                  },
                                  {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                  }
                                ],
                                "type": "array",
                                "label": "Summary"
                              },
                              {
                                "name": "content",
                                "spec": {
                                  "spec": [
                                    {
                                      "name": "type",
                                      "type": "text",
                                      "label": "Type"
                                    },
                                    {
                                      "name": "text",
                                      "type": "text",
                                      "label": "Text"
                                    },
                                    {
                                      "name": "annotations",
                                      "spec": {
                                        "spec": [
                                          {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                          },
                                          {
                                            "name": "container_id",
                                            "type": "text",
                                            "label": "Container ID"
                                          },
                                          {
                                            "name": "end_index",
                                            "type": "uinteger",
                                            "label": "End Index"
                                          },
                                          {
                                            "name": "start_index",
                                            "type": "uinteger",
                                            "label": "Start Index"
                                          },
                                          {
                                            "name": "title",
                                            "type": "text",
                                            "label": "Title"
                                          },
                                          {
                                            "name": "file_id",
                                            "type": "text",
                                            "label": "File ID"
                                          },
                                          {
                                            "name": "filename",
                                            "type": "text",
                                            "label": "File name"
                                          },
                                          {
                                            "name": "index",
                                            "type": "uinteger",
                                            "label": "Index"
                                          },
                                          {
                                            "name": "url",
                                            "type": "url",
                                            "label": "URL"
                                          },
                                          {
                                            "name": "container_id",
                                            "type": "text",
                                            "label": "Container ID"
                                          }
                                        ],
                                        "type": "collection"
                                      },
                                      "type": "array",
                                      "label": "Annotations"
                                    },
                                    {
                                      "name": "logprobs",
                                      "spec": {
                                        "type": "text"
                                      },
                                      "type": "array",
                                      "label": "Logprobs"
                                    }
                                  ],
                                  "type": "collection"
                                },
                                "type": "array",
                                "label": "Content"
                              },
                              {
                                "name": "code",
                                "type": "text",
                                "label": "Code"
                              },
                              {
                                "name": "container_id",
                                "type": "text",
                                "label": "Container ID"
                              },
                              {
                                "name": "outputs",
                                "spec": {
                                  "spec": [
                                    {
                                      "name": "type",
                                      "type": "text",
                                      "label": "Type"
                                    },
                                    {
                                      "name": "filename",
                                      "type": "text",
                                      "label": "Filename",
                                      "semantic": "file:name"
                                    },
                                    {
                                      "name": "filedata",
                                      "type": "buffer",
                                      "label": "Data",
                                      "semantic": "file:data"
                                    },
                                    {
                                      "name": "url",
                                      "type": "text",
                                      "label": "Base64 data URL"
                                    },
                                    {
                                      "name": "logs",
                                      "type": "text",
                                      "label": "Logs"
                                    }
                                  ],
                                  "type": "collection"
                                },
                                "type": "array",
                                "label": "Outputs"
                              }
                            ],
                            "type": "array",
                            "label": "Output"
                          },
                          {
                            "name": "parallel_tool_calls",
                            "type": "boolean",
                            "label": "Parallel Tool Calls"
                          },
                          {
                            "name": "previous_response_id",
                            "type": "text",
                            "label": "Previous Response ID"
                          },
                          {
                            "name": "prompt",
                            "spec": [
                              {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                              },
                              {
                                "name": "variables",
                                "type": "array",
                                "label": "Variables"
                              },
                              {
                                "name": "version",
                                "type": "text",
                                "label": "Version"
                              }
                            ],
                            "type": "collection",
                            "label": "Prompt"
                          },
                          {
                            "name": "reasoning",
                            "spec": [
                              {
                                "name": "effort",
                                "type": "text",
                                "label": "Effort"
                              },
                              {
                                "name": "summary",
                                "type": "text",
                                "label": "Summary"
                              }
                            ],
                            "type": "collection",
                            "label": "Reasoning"
                          },
                          {
                            "name": "service_tier",
                            "type": "text",
                            "label": "Service Tier"
                          },
                          {
                            "name": "store",
                            "type": "boolean",
                            "label": "Store"
                          },
                          {
                            "name": "temperature",
                            "type": "number",
                            "label": "Temperature"
                          },
                          {
                            "name": "text",
                            "spec": [
                              {
                                "name": "format",
                                "spec": [
                                  {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                  },
                                  {
                                    "name": "description",
                                    "type": "text",
                                    "label": "Description"
                                  },
                                  {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                  },
                                  {
                                    "name": "schema",
                                    "spec": [
                                      {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                      },
                                      {
                                        "name": "properties",
                                        "type": "collection",
                                        "label": "Properties"
                                      },
                                      {
                                        "name": "additionalProperties",
                                        "type": "boolean",
                                        "label": "Additional Properties"
                                      },
                                      {
                                        "name": "required",
                                        "type": "array",
                                        "label": "Required"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Schema"
                                  },
                                  {
                                    "name": "strict",
                                    "type": "boolean",
                                    "label": "Strict"
                                  }
                                ],
                                "type": "collection",
                                "label": "Format"
                              },
                              {
                                "name": "verbosity",
                                "type": "text",
                                "label": "Verbosity"
                              }
                            ],
                            "type": "collection",
                            "label": "Text"
                          },
                          {
                            "name": "tool_choice",
                            "spec": [
                              {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                              },
                              {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                              },
                              {
                                "name": "mode",
                                "type": "text",
                                "label": "Mode"
                              },
                              {
                                "name": "tools",
                                "spec": [
                                  {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                  },
                                  {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                  },
                                  {
                                    "name": "server_label",
                                    "type": "text",
                                    "label": "Server Label"
                                  }
                                ],
                                "type": "array",
                                "label": "Tools"
                              }
                            ],
                            "type": "collection",
                            "label": "Tool Choice"
                          },
                          {
                            "name": "tools",
                            "spec": {
                              "spec": [
                                {
                                  "name": "type",
                                  "type": "text",
                                  "label": "Type"
                                },
                                {
                                  "name": "search_context_size",
                                  "type": "text",
                                  "label": "Search Context Size"
                                },
                                {
                                  "name": "user_location",
                                  "spec": [
                                    {
                                      "name": "type",
                                      "type": "text",
                                      "label": "Type"
                                    },
                                    {
                                      "name": "city",
                                      "type": "text",
                                      "label": "City"
                                    },
                                    {
                                      "name": "country",
                                      "type": "text",
                                      "label": "Country"
                                    },
                                    {
                                      "name": "region",
                                      "type": "text",
                                      "label": "Region"
                                    },
                                    {
                                      "name": "timezone",
                                      "type": "timezone",
                                      "label": "Timezone"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "User Location"
                                },
                                {
                                  "name": "description",
                                  "type": "text",
                                  "label": "Description"
                                },
                                {
                                  "name": "name",
                                  "type": "text",
                                  "label": "Name"
                                },
                                {
                                  "name": "allowed_tools",
                                  "type": "text",
                                  "label": "Allowed Tools"
                                },
                                {
                                  "name": "headers",
                                  "type": "collection",
                                  "label": "Headers"
                                },
                                {
                                  "name": "require_approval",
                                  "type": "text",
                                  "label": "Require Approval"
                                },
                                {
                                  "name": "server_label",
                                  "type": "text",
                                  "label": "Server Label"
                                },
                                {
                                  "name": "server_url",
                                  "type": "url",
                                  "label": "Server URL"
                                },
                                {
                                  "name": "parameters",
                                  "type": "collection",
                                  "label": "Parameters"
                                },
                                {
                                  "name": "strict",
                                  "type": "boolean",
                                  "label": "Strict"
                                },
                                {
                                  "name": "filters",
                                  "spec": [
                                    {
                                      "name": "type",
                                      "type": "text",
                                      "label": "Type"
                                    },
                                    {
                                      "name": "key",
                                      "type": "text",
                                      "label": "Key"
                                    },
                                    {
                                      "name": "value",
                                      "type": "text",
                                      "label": "Value"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Filters"
                                },
                                {
                                  "name": "max_num_results",
                                  "type": "number",
                                  "label": "Max Results Number"
                                },
                                {
                                  "name": "ranking_options",
                                  "spec": [
                                    {
                                      "name": "ranker",
                                      "type": "text",
                                      "label": "Ranker"
                                    },
                                    {
                                      "name": "score_threshold",
                                      "type": "number",
                                      "label": "Score Threshold"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Ranking Options"
                                },
                                {
                                  "name": "vector_store_ids",
                                  "spec": {
                                    "type": "text"
                                  },
                                  "type": "array",
                                  "label": "Vector Store IDs"
                                },
                                {
                                  "name": "container",
                                  "spec": [
                                    {
                                      "name": "type",
                                      "type": "text",
                                      "label": "Type"
                                    },
                                    {
                                      "name": "file_ids",
                                      "spec": {
                                        "type": "text"
                                      },
                                      "type": "array",
                                      "label": "File ids"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Container"
                                },
                                {
                                  "name": "format",
                                  "spec": [
                                    {
                                      "name": "type",
                                      "type": "text",
                                      "label": "Type"
                                    },
                                    {
                                      "name": "definition",
                                      "type": "text",
                                      "label": "Definition"
                                    },
                                    {
                                      "name": "syntax",
                                      "type": "text",
                                      "label": "Syntax"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Format"
                                },
                                {
                                  "name": "background",
                                  "type": "text",
                                  "label": "Background"
                                },
                                {
                                  "name": "moderation",
                                  "type": "text",
                                  "label": "Moderation"
                                },
                                {
                                  "name": "n",
                                  "type": "number",
                                  "label": "N"
                                },
                                {
                                  "name": "output_compression",
                                  "type": "number",
                                  "label": "Output compression"
                                },
                                {
                                  "name": "output_format",
                                  "type": "text",
                                  "label": "Output format"
                                },
                                {
                                  "name": "quality",
                                  "type": "text",
                                  "label": "Quality"
                                },
                                {
                                  "name": "size",
                                  "type": "text",
                                  "label": "Size"
                                }
                              ],
                              "type": "collection"
                            },
                            "type": "array",
                            "label": "Tools"
                          },
                          {
                            "name": "top_p",
                            "type": "number",
                            "label": "Top P"
                          },
                          {
                            "name": "truncation",
                            "type": "text",
                            "label": "Truncation"
                          },
                          {
                            "name": "usage",
                            "spec": [
                              {
                                "name": "input_tokens",
                                "type": "number",
                                "label": "Input Tokens"
                              },
                              {
                                "name": "input_tokens_details",
                                "spec": [
                                  {
                                    "name": "cached_tokens",
                                    "type": "number",
                                    "label": "Cached Tokens"
                                  }
                                ],
                                "type": "collection",
                                "label": "Input Tokens Details"
                              },
                              {
                                "name": "output_tokens",
                                "type": "number",
                                "label": "Output Tokens"
                              },
                              {
                                "name": "output_tokens_details",
                                "spec": [
                                  {
                                    "name": "reasoning_tokens",
                                    "type": "number",
                                    "label": "Reasoning Tokens"
                                  }
                                ],
                                "type": "collection",
                                "label": "Output Tokens Details"
                              },
                              {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                              }
                            ],
                            "type": "collection",
                            "label": "Usage"
                          },
                          {
                            "name": "user",
                            "type": "text",
                            "label": "User"
                          },
                          {
                            "name": "metadata",
                            "type": "collection",
                            "label": "Metadata"
                          },
                          {
                            "name": "prompt_cache_key",
                            "type": "text",
                            "label": "Prompt Cache Key"
                          },
                          {
                            "name": "safety_identifier",
                            "type": "text",
                            "label": "Safety Identifier"
                          }
                        ],
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:openai-gpt-3",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 4371900
                      }
                    },
                    {
                      "id": 14,
                      "mapper": {
                        "command": "UPDATE interactions\nSET status = 'preprocessed'\nWHERE id = {{2.record.id}};\n\nUPDATE medias\nSET description = 'Contenido del Archivo:\n{{13.result}}'\nWHERE id = {{4.media_id}};"
                      },
                      "module": "postgres:Query",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "command",
                            "type": "text",
                            "label": "Command",
                            "required": true
                          },
                          {
                            "name": "command",
                            "type": "text",
                            "label": "Command",
                            "required": true
                          }
                        ],
                        "restore": {
                          "parameters": {
                            "account": {
                              "data": {
                                "scoped": "true",
                                "connection": "postgres"
                              },
                              "label": "IITA - Producción (Supabase) (postgres.cpkzzzwncpbzexpesock@aws-1-us-east-1.pooler.supabase.com:5432/postgres)"
                            }
                          }
                        },
                        "designer": {
                          "x": 997,
                          "y": 77
                        },
                        "parameters": [
                          {
                            "name": "account",
                            "type": "account:postgres",
                            "label": "Connection",
                            "required": true
                          },
                          {
                            "name": "continueWhenNoRes",
                            "type": "boolean",
                            "label": "Continue the execution of the route even if the module returns no rows",
                            "required": true
                          },
                          {
                            "name": "isToManageDataInSharedTransaction",
                            "type": "boolean",
                            "label": "Manage data within the shared transaction",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "account": 6184753,
                        "continueWhenNoRes": false,
                        "isToManageDataInSharedTransaction": true
                      }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 15,
                      "filter": {
                        "name": "Otro",
                        "conditions": []
                      },
                      "mapper": {
                        "command": "UPDATE interactions\nSET status = 'preprocessed'\nWHERE id = {{2.record.id}};\n\nUPDATE medias\nSET description = 'Actualmente no es posible analizar la media...\nTipo de media: {{7.headers.`content-type`}}'\nWHERE id = {{4.media_id}};"
                      },
                      "module": "postgres:Query",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "command",
                            "type": "text",
                            "label": "Command",
                            "required": true
                          },
                          {
                            "name": "command",
                            "type": "text",
                            "label": "Command",
                            "required": true
                          }
                        ],
                        "restore": {
                          "parameters": {
                            "account": {
                              "data": {
                                "scoped": "true",
                                "connection": "postgres"
                              },
                              "label": "IITA - Producción (Supabase) (postgres.cpkzzzwncpbzexpesock@aws-1-us-east-1.pooler.supabase.com:5432/postgres)"
                            }
                          }
                        },
                        "designer": {
                          "x": 697,
                          "y": 377
                        },
                        "parameters": [
                          {
                            "name": "account",
                            "type": "account:postgres",
                            "label": "Connection",
                            "required": true
                          },
                          {
                            "name": "continueWhenNoRes",
                            "type": "boolean",
                            "label": "Continue the execution of the route even if the module returns no rows",
                            "required": true
                          },
                          {
                            "name": "isToManageDataInSharedTransaction",
                            "type": "boolean",
                            "label": "Manage data within the shared transaction",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "account": 6184753,
                        "continueWhenNoRes": false,
                        "isToManageDataInSharedTransaction": true
                      }
                    }
                  ]
                }
              ],
              "version": 1,
              "metadata": {
                "designer": {
                  "x": 397,
                  "y": -73
                }
              },
              "parameters": {
                "else": 3
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 16,
              "filter": {
                "name": "Otro",
                "conditions": []
              },
              "mapper": {
                "command": "UPDATE interactions\nSET status = 'preprocessed'\nWHERE id = {{2.record.id}};"
              },
              "module": "postgres:Query",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "command",
                    "type": "text",
                    "label": "Command",
                    "required": true
                  },
                  {
                    "name": "command",
                    "type": "text",
                    "label": "Command",
                    "required": true
                  }
                ],
                "restore": {
                  "parameters": {
                    "account": {
                      "data": {
                        "scoped": "true",
                        "connection": "postgres"
                      },
                      "label": "IITA - Producción (Supabase) (postgres.cpkzzzwncpbzexpesock@aws-1-us-east-1.pooler.supabase.com:5432/postgres)"
                    }
                  }
                },
                "designer": {
                  "x": -203,
                  "y": 677
                },
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:postgres",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "continueWhenNoRes",
                    "type": "boolean",
                    "label": "Continue the execution of the route even if the module returns no rows",
                    "required": true
                  },
                  {
                    "name": "isToManageDataInSharedTransaction",
                    "type": "boolean",
                    "label": "Manage data within the shared transaction",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "account": 6184753,
                "continueWhenNoRes": false,
                "isToManageDataInSharedTransaction": true
              }
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": -503,
          "y": 77
        }
      },
      "parameters": {
        "else": 1
      }
    }
  ],
  "name": "[Prepross] Media Analisis - prod",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "2": {
          "type": "INSERT",
          "table": "interactions",
          "record": {
            "id": 102240,
            "text": null,
            "ad_id": null,
            "status": "new",
            "time_stamp": "2026-02-17T23:30:42.585",
            "external_ref": "m_WTe01utVub1QU750_IpJq3-LSUHBAhMO5nhviplPT-Z7s919pkJrpSap9NgKpmysWWt7evfWH0uPGoJabv02HA",
            "id_person_conversation": 25877,
            "id_system_conversation": null
          },
          "schema": "public",
          "old_record": null
        },
        "4": {
          "type": "html; charset=\"utf-8\"",
          "media_id": 45,
          "content_dir": "media/interaction_medias/interaction_media_102240 (1).html"
        },
        "6": {
          "data": "{\"signedURL\":\"/object/sign/media/interaction_medias/interaction_media_102240 (1).html?token=eyJraWQi...",
          "headers": {
            "date": "Wed, 18 Feb 2026 01:17:47 GMT",
            "vary": "Accept-Encoding",
            "cf-ray": "9cf9afd02e0be633-IAD",
            "server": "cloudflare",
            "alt-svc": "h3=\":443\"; ma=86400",
            "connection": "keep-alive",
            "set-cookie": [
              "__cf_bm=BatHi4LJd8QopGGT.mEkT7ucvl9.S6J2nhZVsu4vZmQ-1771377467-1.0.1.1-gbaRzaYjxT3tFKcJ8vPLAqYgj1e4t..."
            ],
            "content-type": "text/plain",
            "sb-request-id": "019c6e53-1e25-7409-b716-d73e662f2f9d",
            "sb-project-ref": "cpkzzzwncpbzexpesock",
            "cf-cache-status": "DYNAMIC",
            "sb-gateway-mode": "direct",
            "transfer-encoding": "chunked",
            "sb-gateway-version": "1",
            "x-content-type-options": "nosniff",
            "content-security-policy": "default-src 'none'; sandbox",
            "strict-transport-security": "max-age=31536000; includeSubDomains; preload",
            "access-control-allow-origin": "*"
          },
          "statusCode": 200
        },
        "7": {
          "data": "IMTString(693378): <!DOCTYPE html><html id=\"facebook\" class=\"_9dls __fb-light-mode\" lang=\"en\" dir=\"l...",
          "headers": {
            "date": "Wed, 18 Feb 2026 01:17:47 GMT",
            "etag": "\"f8fe992df333624614d03a7921fc1d17\"",
            "vary": "Accept-Encoding",
            "cf-ray": "9cf9afd0f861d600-IAD",
            "server": "cloudflare",
            "alt-svc": "h3=\":443\"; ma=86400",
            "expires": "Wed, 18 Feb 2026 02:17:47 GMT",
            "connection": "keep-alive",
            "set-cookie": [
              "__cf_bm=0PHfyGCePOG4y5A1NU_w9idzHdouUjzbkUEfCMf0iGo-1771377467-1.0.1.1-xA1oSn3_Vmz7PjBFtPEvH5upDFpT6..."
            ],
            "x-smart-cdn": "true",
            "content-type": "text/plain",
            "x-robots-tag": "none",
            "accept-ranges": "bytes",
            "last-modified": "Tue, 17 Feb 2026 23:30:44 GMT",
            "sb-request-id": "019c6e53-1ea3-7ed0-9317-a53d5e5c3891",
            "content-length": "693378",
            "sb-project-ref": "cpkzzzwncpbzexpesock",
            "cf-cache-status": "MISS",
            "sb-gateway-mode": "direct",
            "sb-gateway-version": "1",
            "x-content-type-options": "nosniff",
            "content-security-policy": "default-src 'none'; sandbox",
            "strict-transport-security": "max-age=31536000; includeSubDomains; preload",
            "access-control-allow-origin": "*"
          },
          "fileName": "interaction_media_102240 (1).txt",
          "fileSize": 693378,
          "statusCode": 200
        },
        "9": {
          "id": "chatcmpl-D8mmtEoocc4Hbl3SinmoePQU9ySAo",
          "model": "gpt-5.2-2025-12-11",
          "usage": {
            "total_tokens": 1987,
            "prompt_tokens": 1763,
            "completion_tokens": 224,
            "prompt_tokens_details": {
              "audio_tokens": 0,
              "cached_tokens": 0
            },
            "completion_tokens_details": {
              "audio_tokens": 0,
              "reasoning_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "object": "chat.completion",
          "result": "La imagen es un comprobante o detalle de una transferencia bancaria mostrada en una pantalla de celu...",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "La imagen es un comprobante o detalle de una transferencia bancaria mostrada en una pantalla de celu...",
                "refusal": null,
                "annotations": []
              },
              "finish_reason": "stop"
            }
          ],
          "created": "2026-02-13T12:42:15.000Z",
          "service_tier": "default",
          "system_fingerprint": null
        },
        "11": {
          "text": {
            "text": "Este es un audio de prueba de Nicolás Martínez.",
            "usage": {
              "type": "tokens",
              "input_tokens": 39,
              "total_tokens": 51,
              "output_tokens": 12,
              "input_token_details": {
                "text_tokens": 4,
                "audio_tokens": 35
              }
            }
          }
        },
        "13": {
          "id": "resp_0c4186d01532915f00698f1d45cdc88197988edce3093634b0",
          "text": {
            "format": {
              "type": "text"
            },
            "verbosity": "medium"
          },
          "user": null,
          "error": null,
          "model": "gpt-5.2-2025-12-11",
          "store": true,
          "tools": [],
          "top_p": 0.98,
          "usage": {
            "input_tokens": 1359,
            "total_tokens": 1583,
            "output_tokens": 224,
            "input_tokens_details": {
              "cached_tokens": 0
            },
            "output_tokens_details": {
              "reasoning_tokens": 0
            }
          },
          "object": "response",
          "output": [
            {
              "id": "msg_0c4186d01532915f00698f1d46e1008197be21710e80e4e70f",
              "role": "assistant",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "text": "El archivo es un comprobante de transferencia de Ualá.\n\nEn el documento se lee el título “Comprobant...",
                  "type": "output_text",
                  "logprobs": [],
                  "annotations": []
                }
              ]
            }
          ],
          "result": "El archivo es un comprobante de transferencia de Ualá.\n\nEn el documento se lee el título “Comprobant...",
          "status": "completed",
          "billing": {
            "payer": "developer"
          },
          "metadata": {},
          "reasoning": {
            "effort": "none",
            "summary": null
          },
          "background": false,
          "created_at": "2026-02-13T12:47:02.000Z",
          "truncation": "auto",
          "temperature": 1,
          "tool_choice": "auto",
          "completed_at": 1770986828,
          "instructions": null,
          "service_tier": "default",
          "top_logprobs": 0,
          "conversationId": "conv_698f1d453b188197bbfeee4f3cb7e8830c4186d01532915f",
          "max_tool_calls": null,
          "presence_penalty": 0,
          "prompt_cache_key": null,
          "frequency_penalty": 0,
          "max_output_tokens": null,
          "safety_identifier": null,
          "incomplete_details": null,
          "parallel_tool_calls": true,
          "previous_response_id": null,
          "prompt_cache_retention": null
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}