automations/make-scenarios/snapshots/2026-02-19_produccion/8_otros/3079682_wp_ia_agent_test.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {},
      "module": "whatsapp-business-cloud:watchEvents2",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "__IMTHOOK__": {
              "data": {
                "editable": "false"
              },
              "label": "My WhatsApp Business Cloud Events webhook"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 0
        },
        "interface": [
          {
            "name": "id",
            "type": "text",
            "label": "WhatsApp Business Account ID"
          },
          {
            "name": "time",
            "type": "date",
            "label": "Time"
          },
          {
            "name": "field",
            "type": "text",
            "label": "Field"
          },
          {
            "name": "messaging_product",
            "type": "text",
            "label": "Messaging Product"
          },
          {
            "name": "metadata",
            "spec": [
              {
                "name": "display_phone_number",
                "type": "text",
                "label": "Display Phone Number"
              },
              {
                "name": "phone_number_id",
                "type": "text",
                "label": "Phone Number ID"
              }
            ],
            "type": "collection",
            "label": "Metadata"
          },
          {
            "name": "contacts",
            "spec": {
              "spec": [
                {
                  "name": "profile",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    }
                  ],
                  "type": "collection",
                  "label": "Profile"
                },
                {
                  "name": "wa_id",
                  "type": "text",
                  "label": "WhatsApp ID"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Contacts"
          },
          {
            "name": "messages",
            "spec": {
              "spec": [
                {
                  "name": "from",
                  "type": "text",
                  "label": "Sender"
                },
                {
                  "name": "id",
                  "type": "text",
                  "label": "Message ID"
                },
                {
                  "name": "timestamp",
                  "type": "date",
                  "label": "Timestamp"
                },
                {
                  "name": "text",
                  "spec": [
                    {
                      "name": "body",
                      "type": "text",
                      "label": "Body"
                    }
                  ],
                  "type": "collection",
                  "label": "Text"
                },
                {
                  "name": "type",
                  "type": "text",
                  "label": "Type"
                },
                {
                  "name": "image",
                  "spec": [
                    {
                      "name": "caption",
                      "type": "text",
                      "label": "Caption"
                    },
                    {
                      "name": "mime_type",
                      "type": "text",
                      "label": "MIME Type"
                    },
                    {
                      "name": "sha256",
                      "type": "text",
                      "label": "SHA256"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "Media ID"
                    }
                  ],
                  "type": "collection",
                  "label": "Image"
                },
                {
                  "name": "audio",
                  "spec": [
                    {
                      "name": "mime_type",
                      "type": "text",
                      "label": "MIME Type"
                    },
                    {
                      "name": "sha256",
                      "type": "text",
                      "label": "SHA256"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "Media ID"
                    },
                    {
                      "name": "voice",
                      "type": "boolean",
                      "label": "Voice"
                    }
                  ],
                  "type": "collection",
                  "label": "Audio"
                },
                {
                  "name": "video",
                  "spec": [
                    {
                      "name": "caption",
                      "type": "text",
                      "label": "Caption"
                    },
                    {
                      "name": "mime_type",
                      "type": "text",
                      "label": "MIME Type"
                    },
                    {
                      "name": "sha256",
                      "type": "text",
                      "label": "SHA256"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "Media ID"
                    }
                  ],
                  "type": "collection",
                  "label": "Video"
                },
                {
                  "name": "document",
                  "spec": [
                    {
                      "name": "caption",
                      "type": "text",
                      "label": "Caption"
                    },
                    {
                      "name": "filename",
                      "type": "text",
                      "label": "File Name"
                    },
                    {
                      "name": "mime_type",
                      "type": "text",
                      "label": "MIME Type"
                    },
                    {
                      "name": "sha256",
                      "type": "text",
                      "label": "SHA256"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "Media ID"
                    }
                  ],
                  "type": "collection",
                  "label": "Document"
                },
                {
                  "name": "contacts",
                  "spec": {
                    "spec": [
                      {
                        "name": "name",
                        "spec": [
                          {
                            "name": "formatted_name",
                            "type": "text",
                            "label": "Formatted Name"
                          },
                          {
                            "name": "first_name",
                            "type": "text",
                            "label": "First Name"
                          },
                          {
                            "name": "last_name",
                            "type": "text",
                            "label": "Last Name"
                          },
                          {
                            "name": "middle_name",
                            "type": "text",
                            "label": "Middle Name"
                          },
                          {
                            "name": "suffix",
                            "type": "text",
                            "label": "Name Suffix"
                          },
                          {
                            "name": "prefix",
                            "type": "text",
                            "label": "Name Prefix"
                          }
                        ],
                        "type": "collection",
                        "label": "Name"
                      },
                      {
                        "name": "phones",
                        "spec": [
                          {
                            "name": "phone",
                            "type": "text",
                            "label": "Phone"
                          },
                          {
                            "name": "type",
                            "type": "text",
                            "label": "Type"
                          }
                        ],
                        "type": "array",
                        "label": "Phones"
                      },
                      {
                        "name": "emails",
                        "spec": [
                          {
                            "name": "email",
                            "type": "email",
                            "label": "Email"
                          },
                          {
                            "name": "type",
                            "type": "text",
                            "label": "Type"
                          }
                        ],
                        "type": "array",
                        "label": "Emails"
                      },
                      {
                        "name": "org",
                        "spec": [
                          {
                            "name": "company",
                            "type": "text",
                            "label": "Company"
                          },
                          {
                            "name": "department",
                            "type": "text",
                            "label": "Department"
                          },
                          {
                            "name": "title",
                            "type": "text",
                            "label": "Title"
                          }
                        ],
                        "type": "collection",
                        "label": "Organization"
                      },
                      {
                        "name": "urls",
                        "spec": [
                          {
                            "name": "type",
                            "type": "text",
                            "label": "Type"
                          },
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL"
                          }
                        ],
                        "type": "array",
                        "label": "URLs"
                      },
                      {
                        "name": "addresses",
                        "spec": [
                          {
                            "name": "type",
                            "type": "text",
                            "label": "Type"
                          },
                          {
                            "name": "street",
                            "type": "text",
                            "label": "Street"
                          },
                          {
                            "name": "city",
                            "type": "text",
                            "label": "City"
                          },
                          {
                            "name": "zip",
                            "type": "text",
                            "label": "ZIP"
                          },
                          {
                            "name": "country",
                            "type": "text",
                            "label": "Country"
                          },
                          {
                            "name": "country_code",
                            "type": "text",
                            "label": "Country Code"
                          }
                        ],
                        "type": "array",
                        "label": "Addresses"
                      },
                      {
                        "name": "birthday",
                        "type": "text",
                        "label": "Birthday"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Contacts"
                },
                {
                  "name": "sticker",
                  "spec": [
                    {
                      "name": "mime_type",
                      "type": "text",
                      "label": "MIME Type"
                    },
                    {
                      "name": "sha256",
                      "type": "text",
                      "label": "SHA256"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "Media ID"
                    }
                  ],
                  "type": "collection",
                  "label": "Sticker"
                },
                {
                  "name": "location",
                  "spec": [
                    {
                      "name": "latitude",
                      "type": "number",
                      "label": "Latitude"
                    },
                    {
                      "name": "longitude",
                      "type": "number",
                      "label": "Longitude"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "address",
                      "type": "text",
                      "label": "Address"
                    }
                  ],
                  "type": "collection",
                  "label": "Location"
                },
                {
                  "name": "context",
                  "spec": [
                    {
                      "name": "from",
                      "type": "text",
                      "label": "From"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "Context ID"
                    }
                  ],
                  "type": "collection",
                  "label": "Context"
                },
                {
                  "name": "button",
                  "spec": [
                    {
                      "name": "payload",
                      "type": "text",
                      "label": "Payload"
                    },
                    {
                      "name": "text",
                      "type": "text",
                      "label": "Text"
                    }
                  ],
                  "type": "collection",
                  "label": "Button"
                },
                {
                  "name": "interactive",
                  "spec": [
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "list_reply",
                      "spec": [
                        {
                          "name": "id",
                          "type": "number",
                          "label": "ID"
                        },
                        {
                          "name": "title",
                          "type": "text",
                          "label": "Title"
                        },
                        {
                          "name": "description",
                          "type": "text",
                          "label": "Description"
                        }
                      ],
                      "type": "collection",
                      "label": "List Reply"
                    },
                    {
                      "name": "button_reply",
                      "spec": [
                        {
                          "name": "id",
                          "type": "number",
                          "label": "ID"
                        },
                        {
                          "name": "title",
                          "type": "text",
                          "label": "Title"
                        }
                      ],
                      "type": "collection",
                      "label": "Button Reply"
                    }
                  ],
                  "type": "collection",
                  "label": "Interactive"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Messages"
          }
        ],
        "parameters": [
          {
            "name": "__IMTHOOK__",
            "type": "hook:whatsapp-business-cloud",
            "label": "Webhook",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTHOOK__": 1374558
      }
    },
    {
      "id": 2,
      "mapper": {
        "agent": "d5568d5f-072d-410a-8c60-2cc48e944525",
        "timeout": "",
        "messages": [
          "{{1.messages[].text.body}}"
        ],
        "threadID": "{{1.messages[].from}}",
        "outputType": "",
        "additionalSystemPrompt": ""
      },
      "module": "ai-agent:RunAnAIAgent",
      "version": 0,
      "metadata": {
        "expect": [
          {
            "name": "agent",
            "type": "aiagent",
            "label": "Agent",
            "required": true
          },
          {
            "name": "threadID",
            "type": "text",
            "label": "Thread ID"
          },
          {
            "name": "additionalSystemPrompt",
            "type": "text",
            "label": "Additional system instructions"
          },
          {
            "name": "messages",
            "spec": {
              "name": "value",
              "type": "text",
              "label": "Message"
            },
            "type": "array",
            "label": "Messages"
          },
          {
            "name": "timeout",
            "type": "number",
            "label": "Timeout",
            "validate": {
              "max": 600,
              "min": 120
            }
          },
          {
            "name": "outputType",
            "type": "select",
            "label": "Output schema",
            "validate": {
              "enum": [
                "text",
                "make-schema"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "agent": {
              "label": "Atención al cliente y asesor de cursos"
            },
            "messages": {
              "mode": "chose",
              "items": [
                null
              ]
            },
            "outputType": {
              "label": "Empty"
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 0
        }
      },
      "parameters": {}
    },
    {
      "id": 3,
      "mapper": {
        "to": "{{1.contacts[].wa_id}}",
        "text": {
          "body": "{{2.response}}",
          "preview_url": false
        },
        "type": "text",
        "fromId": "326139457242025"
      },
      "module": "whatsapp-business-cloud:sendMessage",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "fromId",
            "type": "select",
            "label": "Sender ID",
            "required": true
          },
          {
            "name": "to",
            "type": "text",
            "label": "Receiver",
            "required": true
          },
          {
            "name": "type",
            "type": "select",
            "label": "Message Type",
            "required": true,
            "validate": {
              "enum": [
                "text",
                "image",
                "audio",
                "video",
                "document",
                "sticker",
                "location",
                "contacts",
                "interactive"
              ]
            }
          },
          {
            "name": "text",
            "spec": [
              {
                "name": "body",
                "type": "text",
                "label": "Body",
                "required": true,
                "validate": {
                  "max": 4096
                }
              },
              {
                "name": "preview_url",
                "type": "boolean",
                "label": "Preview URL",
                "required": true
              }
            ],
            "type": "collection",
            "label": "Text"
          }
        ],
        "restore": {
          "expect": {
            "text": {
              "nested": {
                "preview_url": {
                  "mode": "chose"
                }
              }
            },
            "type": {
              "label": "Text"
            },
            "fromId": {
              "mode": "chose",
              "label": "Chat Bot Test (+54 9 387 255-0002)"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "whatsapp-business-cloud"
              },
              "label": " Flujo de Reportes (WhatsApp API) (Chat Bot Test (320037831181784))"
            }
          }
        },
        "designer": {
          "x": 600,
          "y": 0
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:whatsapp-business-cloud,whatsapp-business-cloud2",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 5499241
      }
    }
  ],
  "name": "WP IA Agent Test",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "1": {
          "id": "320037831181784",
          "time": null,
          "field": "messages",
          "contacts": [
            {
              "wa_id": "5493874545078",
              "profile": {
                "name": "Gonzalo Aybar"
              }
            }
          ],
          "messages": [
            {
              "id": "wamid.HBgNNTQ5Mzg3NDU0NTA3OBUCABIYIEFDRUU1M0I0QTIxNUU4QzhEREZBM0NEMUVCQjVCMDgwAA==",
              "from": "5493874545078",
              "text": {
                "body": "Hola"
              },
              "type": "text",
              "timestamp": "2025-09-24T15:37:53.000Z"
            }
          ],
          "metadata": {
            "phone_number_id": "326139457242025",
            "display_phone_number": "5493872550002"
          },
          "messaging_product": "whatsapp"
        },
        "2": {
          "response": "¡Hola! 👋 Bienvenido al Instituto de Tecnología e Innovación Aplicada (IITA). ¿En qué curso o área d...",
          "threadId": "5493874545078",
          "executionSteps": [
            {
              "id": "chatcmpl-CJLr22iqX3e4f6B4J1BhMhYG53VxG",
              "role": "assistant",
              "index": 3,
              "content": "¡Hola! 👋 Bienvenido al Instituto de Tecnología e Innovación Aplicada (IITA). ¿En qué curso o área d...",
              "tokenUsage": {
                "totalTokens": 1812,
                "promptTokens": 1732,
                "completionTokens": 80
              },
              "executionTimeMs": 3503,
              "agentIterationId": "54022686-9cb5-4695-9e01-d142ff9ffb6e"
            }
          ],
          "executionTimeMs": 3661,
          "tokenUsageSummary": {
            "totalTokens": 1812,
            "promptTokens": 1732,
            "completionTokens": 80
          },
          "lastAgentIterationId": "54022686-9cb5-4695-9e01-d142ff9ffb6e"
        },
        "3": {
          "contacts": [
            {
              "input": "5493874545078",
              "wa_id": "5493874545078"
            }
          ],
          "messages": [
            {
              "id": "wamid.HBgNNTQ5Mzg3NDU0NTA3OBUCABEYEjEyRUJDNzE3ODM2RTBFMDE5MwA="
            }
          ],
          "messaging_product": "whatsapp"
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}