automations/make-scenarios/snapshots/2026-02-19_produccion/8_otros/3439558_crear_link_de_pago_en_tres_cuotas_en_mercado_pago.json
{
  "flow": [
    {
      "id": 11,
      "mapper": {
        "from": "share",
        "filter": [
          [
            {
              "a": "F",
              "o": "exist"
            },
            {
              "a": "C",
              "o": "exist"
            }
          ]
        ],
        "sheetId": "Cursos",
        "sortOrder": "asc",
        "spreadsheetId": "1PV6gBaZbYttoZZGZxsb2MxKWuV-FbaBntGR9O8C_xzw",
        "tableFirstRow": "A1:CZ1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "module": "google-sheets:filterRows",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "from",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share"
              ]
            }
          },
          {
            "name": "valueRenderOption",
            "type": "select",
            "label": "Value render option",
            "validate": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            }
          },
          {
            "name": "dateTimeRenderOption",
            "type": "select",
            "label": "Date and time render option",
            "validate": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          },
          {
            "name": "spreadsheetId",
            "type": "text",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "tableFirstRow",
            "type": "select",
            "label": "Column range",
            "required": true,
            "validate": {
              "enum": [
                "A1:Z1",
                "A1:BZ1",
                "A1:CZ1",
                "A1:DZ1",
                "A1:MZ1",
                "A1:ZZ1",
                "A1:AZZ1",
                "A1:BZZ1",
                "A1:CZZ1",
                "A1:DZZ1",
                "A1:MZZ1",
                "A1:ZZZ1"
              ]
            }
          },
          {
            "name": "filter",
            "type": "filter",
            "label": "Filter",
            "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
          },
          {
            "name": "orderBy",
            "type": "select",
            "label": "Order by"
          },
          {
            "name": "sortOrder",
            "type": "select",
            "label": "Sort order",
            "validate": {
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "from": {
              "label": "Select from all"
            },
            "orderBy": {
              "mode": "chose"
            },
            "sheetId": {
              "mode": "chose",
              "label": "Cursos"
            },
            "sortOrder": {
              "mode": "chose",
              "label": "Ascending"
            },
            "tableFirstRow": {
              "label": "A-CZ"
            },
            "includesHeaders": {
              "mode": "chose",
              "label": "Yes"
            },
            "valueRenderOption": {
              "mode": "chose",
              "label": "Formatted value"
            },
            "dateTimeRenderOption": {
              "mode": "chose",
              "label": "Formatted string"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google"
              },
              "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 450,
          "name": "Lista de cursos"
        },
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "__ROW_NUMBER__",
            "type": "number",
            "label": "Row number"
          },
          {
            "name": "__SPREADSHEET_ID__",
            "type": "text",
            "label": "Spreadsheet ID"
          },
          {
            "name": "__SHEET__",
            "type": "text",
            "label": "Sheet"
          },
          {
            "name": "0",
            "type": "text",
            "label": "ID (A)"
          },
          {
            "name": "1",
            "type": "text",
            "label": "Nombre (B)"
          },
          {
            "name": "2",
            "type": "text",
            "label": "Respuesta estándar N°1 (sin precios) (C)"
          },
          {
            "name": "3",
            "type": "text",
            "label": "Respuesta estándar N°2 (con precios) (D)"
          },
          {
            "name": "4",
            "type": "text",
            "label": "Respuesta estándar N°3 (E)"
          },
          {
            "name": "5",
            "type": "text",
            "label": "Precio (F)"
          },
          {
            "name": "6",
            "type": "text",
            "label": "Programa (link a Drive) (G)"
          },
          {
            "name": "7",
            "type": "text",
            "label": "Archivos adicionales (opcional) (H)"
          },
          {
            "name": "8",
            "type": "text",
            "label": "Plantilla (I)"
          },
          {
            "name": "9",
            "type": "text",
            "label": "(J)"
          },
          {
            "name": "10",
            "type": "text",
            "label": "(K)"
          },
          {
            "name": "11",
            "type": "text",
            "label": "(L)"
          },
          {
            "name": "12",
            "type": "text",
            "label": "(M)"
          },
          {
            "name": "13",
            "type": "text",
            "label": "(N)"
          },
          {
            "name": "14",
            "type": "text",
            "label": "(O)"
          },
          {
            "name": "15",
            "type": "text",
            "label": "(P)"
          },
          {
            "name": "16",
            "type": "text",
            "label": "(Q)"
          },
          {
            "name": "17",
            "type": "text",
            "label": "(R)"
          },
          {
            "name": "18",
            "type": "text",
            "label": "(S)"
          },
          {
            "name": "19",
            "type": "text",
            "label": "(T)"
          },
          {
            "name": "20",
            "type": "text",
            "label": "(U)"
          },
          {
            "name": "21",
            "type": "text",
            "label": "(V)"
          },
          {
            "name": "22",
            "type": "text",
            "label": "(W)"
          },
          {
            "name": "23",
            "type": "text",
            "label": "(X)"
          },
          {
            "name": "24",
            "type": "text",
            "label": "(Y)"
          },
          {
            "name": "25",
            "type": "text",
            "label": "(Z)"
          },
          {
            "name": "26",
            "type": "text",
            "label": "(AA)"
          },
          {
            "name": "27",
            "type": "text",
            "label": "(AB)"
          },
          {
            "name": "28",
            "type": "text",
            "label": "(AC)"
          },
          {
            "name": "29",
            "type": "text",
            "label": "(AD)"
          },
          {
            "name": "30",
            "type": "text",
            "label": "(AE)"
          },
          {
            "name": "31",
            "type": "text",
            "label": "(AF)"
          },
          {
            "name": "32",
            "type": "text",
            "label": "(AG)"
          },
          {
            "name": "33",
            "type": "text",
            "label": "(AH)"
          },
          {
            "name": "34",
            "type": "text",
            "label": "(AI)"
          },
          {
            "name": "35",
            "type": "text",
            "label": "(AJ)"
          },
          {
            "name": "36",
            "type": "text",
            "label": "(AK)"
          },
          {
            "name": "37",
            "type": "text",
            "label": "(AL)"
          },
          {
            "name": "38",
            "type": "text",
            "label": "(AM)"
          },
          {
            "name": "39",
            "type": "text",
            "label": "(AN)"
          },
          {
            "name": "40",
            "type": "text",
            "label": "(AO)"
          },
          {
            "name": "41",
            "type": "text",
            "label": "(AP)"
          },
          {
            "name": "42",
            "type": "text",
            "label": "(AQ)"
          },
          {
            "name": "43",
            "type": "text",
            "label": "(AR)"
          },
          {
            "name": "44",
            "type": "text",
            "label": "(AS)"
          },
          {
            "name": "45",
            "type": "text",
            "label": "(AT)"
          },
          {
            "name": "46",
            "type": "text",
            "label": "(AU)"
          },
          {
            "name": "47",
            "type": "text",
            "label": "(AV)"
          },
          {
            "name": "48",
            "type": "text",
            "label": "(AW)"
          },
          {
            "name": "49",
            "type": "text",
            "label": "(AX)"
          },
          {
            "name": "50",
            "type": "text",
            "label": "(AY)"
          },
          {
            "name": "51",
            "type": "text",
            "label": "(AZ)"
          },
          {
            "name": "52",
            "type": "text",
            "label": "(BA)"
          },
          {
            "name": "53",
            "type": "text",
            "label": "(BB)"
          },
          {
            "name": "54",
            "type": "text",
            "label": "(BC)"
          },
          {
            "name": "55",
            "type": "text",
            "label": "(BD)"
          },
          {
            "name": "56",
            "type": "text",
            "label": "(BE)"
          },
          {
            "name": "57",
            "type": "text",
            "label": "(BF)"
          },
          {
            "name": "58",
            "type": "text",
            "label": "(BG)"
          },
          {
            "name": "59",
            "type": "text",
            "label": "(BH)"
          },
          {
            "name": "60",
            "type": "text",
            "label": "(BI)"
          },
          {
            "name": "61",
            "type": "text",
            "label": "(BJ)"
          },
          {
            "name": "62",
            "type": "text",
            "label": "(BK)"
          },
          {
            "name": "63",
            "type": "text",
            "label": "(BL)"
          },
          {
            "name": "64",
            "type": "text",
            "label": "(BM)"
          },
          {
            "name": "65",
            "type": "text",
            "label": "(BN)"
          },
          {
            "name": "66",
            "type": "text",
            "label": "(BO)"
          },
          {
            "name": "67",
            "type": "text",
            "label": "(BP)"
          },
          {
            "name": "68",
            "type": "text",
            "label": "(BQ)"
          },
          {
            "name": "69",
            "type": "text",
            "label": "(BR)"
          },
          {
            "name": "70",
            "type": "text",
            "label": "(BS)"
          },
          {
            "name": "71",
            "type": "text",
            "label": "(BT)"
          },
          {
            "name": "72",
            "type": "text",
            "label": "(BU)"
          },
          {
            "name": "73",
            "type": "text",
            "label": "(BV)"
          },
          {
            "name": "74",
            "type": "text",
            "label": "(BW)"
          },
          {
            "name": "75",
            "type": "text",
            "label": "(BX)"
          },
          {
            "name": "76",
            "type": "text",
            "label": "(BY)"
          },
          {
            "name": "77",
            "type": "text",
            "label": "(BZ)"
          },
          {
            "name": "78",
            "type": "text",
            "label": "(CA)"
          },
          {
            "name": "79",
            "type": "text",
            "label": "(CB)"
          },
          {
            "name": "80",
            "type": "text",
            "label": "(CC)"
          },
          {
            "name": "81",
            "type": "text",
            "label": "(CD)"
          },
          {
            "name": "82",
            "type": "text",
            "label": "(CE)"
          },
          {
            "name": "83",
            "type": "text",
            "label": "(CF)"
          },
          {
            "name": "84",
            "type": "text",
            "label": "(CG)"
          },
          {
            "name": "85",
            "type": "text",
            "label": "(CH)"
          },
          {
            "name": "86",
            "type": "text",
            "label": "(CI)"
          },
          {
            "name": "87",
            "type": "text",
            "label": "(CJ)"
          },
          {
            "name": "88",
            "type": "text",
            "label": "(CK)"
          },
          {
            "name": "89",
            "type": "text",
            "label": "(CL)"
          },
          {
            "name": "90",
            "type": "text",
            "label": "(CM)"
          },
          {
            "name": "91",
            "type": "text",
            "label": "(CN)"
          },
          {
            "name": "92",
            "type": "text",
            "label": "(CO)"
          },
          {
            "name": "93",
            "type": "text",
            "label": "(CP)"
          },
          {
            "name": "94",
            "type": "text",
            "label": "(CQ)"
          },
          {
            "name": "95",
            "type": "text",
            "label": "(CR)"
          },
          {
            "name": "96",
            "type": "text",
            "label": "(CS)"
          },
          {
            "name": "97",
            "type": "text",
            "label": "(CT)"
          },
          {
            "name": "98",
            "type": "text",
            "label": "(CU)"
          },
          {
            "name": "99",
            "type": "text",
            "label": "(CV)"
          },
          {
            "name": "100",
            "type": "text",
            "label": "(CW)"
          },
          {
            "name": "101",
            "type": "text",
            "label": "(CX)"
          },
          {
            "name": "102",
            "type": "text",
            "label": "(CY)"
          },
          {
            "name": "103",
            "type": "text",
            "label": "(CZ)"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 5710354
      }
    },
    {
      "id": 22,
      "mapper": {
        " ": "{{11.`1`}}"
      },
      "module": "builtin:BasicAggregator",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": " ",
            "type": "text",
            "label": "Name",
            "required": true
          }
        ],
        "restore": {
          "extra": {
            "feeder": {
              "label": "Google Sheets - Search Rows [11]"
            },
            "target": {
              "label": "Categories"
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 450,
          "name": "Agrupar cursos"
        }
      },
      "parameters": {
        "feeder": 11,
        "target": "13.categories"
      }
    },
    {
      "id": 13,
      "mapper": {
        "input": "{{var.input.Nombre_curso}}",
        "categories": "{{22.array}}",
        "shouldGenerateDescription": false
      },
      "module": "ai-tools:Categorize",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "input",
            "type": "text",
            "label": "Text to categorize",
            "required": true
          },
          {
            "name": "categories",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": " ",
                  "type": "text",
                  "label": "Name",
                  "required": true
                }
              ],
              "type": "collection",
              "label": "Category"
            },
            "type": "array",
            "label": "Categories",
            "required": true
          },
          {
            "name": "shouldGenerateDescription",
            "type": "boolean",
            "label": "Return an explanation for the categorization",
            "required": true
          }
        ],
        "restore": {
          "expect": {
            "categories": {
              "mode": "edit"
            }
          },
          "parameters": {
            "model": {
              "mode": "chose",
              "label": "gpt-4.1"
            },
            "makeConnectionId": {
              "data": {
                "scoped": "true",
                "connection": "openai-gpt-3"
              },
              "label": "My OpenAI connection",
              "nested": [
                {
                  "name": "model",
                  "type": "select",
                  "label": "Model",
                  "options": {
                    "store": "rpc://ai-tools/2/RpcGetModels?connectionId={{makeConnectionId}}&teamId=954615"
                  },
                  "mappable": true,
                  "required": true
                }
              ]
            }
          }
        },
        "designer": {
          "x": 600,
          "y": 450,
          "name": "Encontrar curso del cliente"
        },
        "parameters": [
          {
            "name": "makeConnectionId",
            "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
            "label": "Connection",
            "required": true
          },
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true
          }
        ]
      },
      "parameters": {
        "model": "gpt-4.1",
        "makeConnectionId": 3633195
      }
    },
    {
      "id": 14,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 23,
              "filter": {
                "name": "No",
                "conditions": [
                  [
                    {
                      "a": "{{13.categories[]}}",
                      "b": "{{null}}",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "Link_mercado_pago": "Ocurrió un error en la generación del link."
              },
              "module": "scenario-service:ReturnData",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "Link_mercado_pago",
                    "type": "text",
                    "label": "",
                    "required": true
                  }
                ],
                "restore": {},
                "designer": {
                  "x": 1200,
                  "y": 300,
                  "name": "Retorna mensaje"
                }
              },
              "parameters": {}
            }
          ]
        },
        {
          "flow": [
            {
              "id": 15,
              "filter": {
                "name": "Si",
                "conditions": []
              },
              "mapper": {
                "tq": "select F where B = \"{{13.categories[]}}\"",
                "limit": "1",
                "select": "fromAll",
                "sheetId": 0,
                "spreadsheetId": "1PV6gBaZbYttoZZGZxsb2MxKWuV-FbaBntGR9O8C_xzw"
              },
              "module": "google-sheets:filterRowsAdvanced",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "select",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "list",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "tq",
                    "type": "text",
                    "label": "Query",
                    "required": true
                  },
                  {
                    "name": "limit",
                    "type": "uinteger",
                    "label": "Limit"
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "text",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "select",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "list",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "tq",
                    "type": "text",
                    "label": "Query",
                    "required": true
                  },
                  {
                    "name": "limit",
                    "type": "uinteger",
                    "label": "Limit"
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "text",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  }
                ],
                "restore": {
                  "expect": {
                    "select": {
                      "label": "Select from all"
                    },
                    "sheetId": {
                      "mode": "chose",
                      "label": "Cursos"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 600,
                  "name": "Obtener precio"
                },
                "interface": [
                  {
                    "name": "__IMTLENGTH__",
                    "type": "uinteger",
                    "label": "Total number of bundles"
                  },
                  {
                    "name": "__IMTINDEX__",
                    "type": "uinteger",
                    "label": "Bundle order position"
                  },
                  {
                    "name": "0",
                    "type": "number",
                    "label": "Precio (F)"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 5710354
              }
            },
            {
              "id": 1,
              "mapper": {
                "dni": "{{var.input.DNI}}",
                "monto": "{{15.`0`}}",
                "table": "Clientes",
                "nombre": "{{var.input.Nombre}}",
                "apellido": "{{var.input.Apellido}}",
                "link_generado": false
              },
              "module": "supabase:createARow",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "id",
                    "type": "integer"
                  },
                  {
                    "name": "fecha_creación",
                    "type": "text"
                  },
                  {
                    "name": "nombre",
                    "type": "text"
                  },
                  {
                    "name": "apellido",
                    "type": "text"
                  },
                  {
                    "name": "dni",
                    "type": "integer"
                  },
                  {
                    "name": "id_pago",
                    "type": "integer"
                  },
                  {
                    "name": "link_generado",
                    "type": "boolean"
                  },
                  {
                    "name": "monto",
                    "type": "integer"
                  }
                ],
                "restore": {
                  "expect": {
                    "table": {
                      "mode": "chose",
                      "label": "Clientes",
                      "nested": [
                        {
                          "help": "Note:\nThis is a Primary Key.<pk/>",
                          "name": "id",
                          "type": "integer",
                          "label": "id",
                          "options": null,
                          "required": false
                        },
                        {
                          "help": "Defaults to now(). ",
                          "name": "fecha_creación",
                          "type": "text",
                          "label": "fecha_creación",
                          "options": null,
                          "required": false
                        },
                        {
                          "help": "",
                          "name": "nombre",
                          "type": "text",
                          "label": "nombre",
                          "options": null,
                          "required": false
                        },
                        {
                          "help": "",
                          "name": "apellido",
                          "type": "text",
                          "label": "apellido",
                          "options": null,
                          "required": false
                        },
                        {
                          "help": "",
                          "name": "dni",
                          "type": "integer",
                          "label": "dni",
                          "options": null,
                          "required": false
                        },
                        {
                          "help": "Note:\nThis is a Foreign Key to `Pagos.id`.<fk table='Pagos' column='id'/>",
                          "name": "id_pago",
                          "type": "integer",
                          "label": "id_pago",
                          "options": null,
                          "required": false
                        },
                        {
                          "help": "",
                          "name": "link_generado",
                          "type": "boolean",
                          "label": "link_generado",
                          "options": null,
                          "required": false
                        },
                        {
                          "help": "",
                          "name": "monto",
                          "type": "integer",
                          "label": "monto",
                          "options": null,
                          "required": false
                        }
                      ]
                    },
                    "link_generado": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "supabase"
                      },
                      "label": "Gonzalo Supabase"
                    }
                  }
                },
                "designer": {
                  "x": 1500,
                  "y": 600,
                  "name": "Crear registro de cliente"
                },
                "interface": [
                  {
                    "name": "id",
                    "type": "number",
                    "label": "id"
                  },
                  {
                    "name": "fecha_creación",
                    "type": "text",
                    "label": "fecha_creación"
                  },
                  {
                    "name": "nombre",
                    "type": "text",
                    "label": "nombre"
                  },
                  {
                    "name": "apellido",
                    "type": "text",
                    "label": "apellido"
                  },
                  {
                    "name": "dni",
                    "type": "number",
                    "label": "dni"
                  },
                  {
                    "name": "id_pago",
                    "type": "number",
                    "label": "id_pago"
                  },
                  {
                    "name": "link_generado",
                    "type": "boolean",
                    "label": "link_generado"
                  },
                  {
                    "name": "monto",
                    "type": "number",
                    "label": "monto"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:supabase",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 6101923
              }
            },
            {
              "id": 2,
              "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://api.mercadopago.com/checkout/preferences",
                "data": "{\r\n  \"items\": [\r\n    {\r\n      \"title\": \"{{var.input.Nombre_curso}}\",\r\n      \"picture_url\": \"https://i0.wp.com/iita.com.ar/salta/wp-content/uploads/sites/8/2021/12/cropped-LogoITTA-versiones-01-02-02-1.png?fit=2605%2C977&ssl=1\",\r\n      \"category_id\": \"services\",\r\n      \"description\": \"{{var.input.Descripcion_pago}}\",\r\n      \"quantity\": 1,\r\n      \"currency_id\": \"ARS\",\r\n      \"unit_price\": {{1.monto}}\r\n    }\r\n  ],\r\n  \"external_reference\": \"{{1.id}}\",\r\n  \"payer\": {\r\n    \"name\": \"{{1.nombre}}\",\r\n    \"surname\": \"{{1.apellido}}\",\r\n    \"identification\": {\r\n      \"type\": \"DNI\",\r\n      \"number\": \"{{1.dni}}\"\r\n    }\r\n  },\r\n  \"back_urls\": {\r\n    \"success\": \"https://iita.com.ar\",\r\n    \"failure\": \"https://iita.com.ar\",\r\n    \"pending\": \"https://iita.com.ar\"\r\n  },\r\n  \"auto_return\": \"approved\",\r\n  \"installments\": 3\r\n}",
                "gzip": true,
                "method": "post",
                "headers": [
                  {
                    "name": "Authorization",
                    "value": "Bearer APP_USR-1870272487951853-110508-6827d20165056acf5c67dc4d9fc1fcbc-2967396190"
                  }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
              },
              "module": "http:ActionSendData",
              "version": 3,
              "metadata": {
                "expect": [
                  {
                    "name": "url",
                    "type": "url",
                    "label": "URL",
                    "required": true
                  },
                  {
                    "name": "serializeUrl",
                    "type": "boolean",
                    "label": "Serialize URL",
                    "required": true
                  },
                  {
                    "name": "method",
                    "type": "select",
                    "label": "Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "get",
                        "head",
                        "post",
                        "put",
                        "patch",
                        "delete",
                        "options"
                      ]
                    }
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ],
                    "type": "array",
                    "label": "Headers"
                  },
                  {
                    "name": "qs",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ],
                    "type": "array",
                    "label": "Query String"
                  },
                  {
                    "name": "bodyType",
                    "type": "select",
                    "label": "Body type",
                    "validate": {
                      "enum": [
                        "raw",
                        "x_www_form_urlencoded",
                        "multipart_form_data"
                      ]
                    }
                  },
                  {
                    "name": "parseResponse",
                    "type": "boolean",
                    "label": "Parse response",
                    "required": true
                  },
                  {
                    "name": "authUser",
                    "type": "text",
                    "label": "User name"
                  },
                  {
                    "name": "authPass",
                    "type": "password",
                    "label": "Password"
                  },
                  {
                    "name": "timeout",
                    "type": "uinteger",
                    "label": "Timeout",
                    "validate": {
                      "max": 300,
                      "min": 1
                    }
                  },
                  {
                    "name": "shareCookies",
                    "type": "boolean",
                    "label": "Share cookies with other HTTP modules",
                    "required": true
                  },
                  {
                    "name": "ca",
                    "type": "cert",
                    "label": "Self-signed certificate"
                  },
                  {
                    "name": "rejectUnauthorized",
                    "type": "boolean",
                    "label": "Reject connections that are using unverified (self-signed) certificates",
                    "required": true
                  },
                  {
                    "name": "followRedirect",
                    "type": "boolean",
                    "label": "Follow redirect",
                    "required": true
                  },
                  {
                    "name": "useQuerystring",
                    "type": "boolean",
                    "label": "Disable serialization of multiple same query string keys as arrays",
                    "required": true
                  },
                  {
                    "name": "gzip",
                    "type": "boolean",
                    "label": "Request compressed content",
                    "required": true
                  },
                  {
                    "name": "useMtls",
                    "type": "boolean",
                    "label": "Use Mutual TLS",
                    "required": true
                  },
                  {
                    "name": "contentType",
                    "type": "select",
                    "label": "Content type",
                    "validate": {
                      "enum": [
                        "text/plain",
                        "application/json",
                        "application/xml",
                        "text/xml",
                        "text/html",
                        "custom"
                      ]
                    }
                  },
                  {
                    "name": "data",
                    "type": "buffer",
                    "label": "Request content"
                  },
                  {
                    "name": "followAllRedirects",
                    "type": "boolean",
                    "label": "Follow all redirect",
                    "required": true
                  }
                ],
                "restore": {
                  "expect": {
                    "qs": {
                      "mode": "chose"
                    },
                    "method": {
                      "mode": "chose",
                      "label": "POST"
                    },
                    "headers": {
                      "mode": "chose",
                      "items": [
                        null
                      ]
                    },
                    "bodyType": {
                      "label": "Raw"
                    },
                    "contentType": {
                      "label": "JSON (application/json)"
                    }
                  }
                },
                "designer": {
                  "x": 1800,
                  "y": 600,
                  "name": "Crear link de pago"
                },
                "parameters": [
                  {
                    "name": "handleErrors",
                    "type": "boolean",
                    "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                    "required": true
                  },
                  {
                    "name": "useNewZLibDeCompress",
                    "type": "hidden"
                  }
                ]
              },
              "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
              }
            },
            {
              "id": 9,
              "mapper": {
                "id": "{{1.id}}",
                "dni": "{{1.dni}}",
                "monto": "{{1.monto}}",
                "table": "Clientes",
                "nombre": "{{1.nombre}}",
                "id_pago": "{{1.id_pago}}",
                "apellido": "{{1.apellido}}",
                "link_generado": true,
                "fecha_creación": "{{1.`fecha_creación`}}"
              },
              "module": "supabase:upsertARecord",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  },
                  {
                    "name": "id",
                    "type": "integer"
                  },
                  {
                    "name": "fecha_creación",
                    "type": "text"
                  },
                  {
                    "name": "nombre",
                    "type": "text"
                  },
                  {
                    "name": "apellido",
                    "type": "text"
                  },
                  {
                    "name": "dni",
                    "type": "integer"
                  },
                  {
                    "name": "id_pago",
                    "type": "integer"
                  },
                  {
                    "name": "link_generado",
                    "type": "boolean"
                  },
                  {
                    "name": "monto",
                    "type": "integer"
                  }
                ],
                "restore": {
                  "expect": {
                    "table": {
                      "mode": "chose",
                      "label": "Clientes",
                      "nested": [
                        {
                          "help": "Note:\nThis is a Primary Key.<pk/>",
                          "name": "id",
                          "type": "integer",
                          "label": "id",
                          "options": null,
                          "required": false
                        },
                        {
                          "help": "Defaults to now(). ",
                          "name": "fecha_creación",
                          "type": "text",
                          "label": "fecha_creación",
                          "options": null,
                          "required": false
                        },
                        {
                          "help": "",
                          "name": "nombre",
                          "type": "text",
                          "label": "nombre",
                          "options": null,
                          "required": false
                        },
                        {
                          "help": "",
                          "name": "apellido",
                          "type": "text",
                          "label": "apellido",
                          "options": null,
                          "required": false
                        },
                        {
                          "help": "",
                          "name": "dni",
                          "type": "integer",
                          "label": "dni",
                          "options": null,
                          "required": false
                        },
                        {
                          "help": "Note:\nThis is a Foreign Key to `Pagos.id`.<fk table='Pagos' column='id'/>",
                          "name": "id_pago",
                          "type": "integer",
                          "label": "id_pago",
                          "options": null,
                          "required": false
                        },
                        {
                          "help": "",
                          "name": "link_generado",
                          "type": "boolean",
                          "label": "link_generado",
                          "options": null,
                          "required": false
                        },
                        {
                          "help": "",
                          "name": "monto",
                          "type": "integer",
                          "label": "monto",
                          "options": null,
                          "required": false
                        }
                      ]
                    },
                    "link_generado": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "supabase"
                      },
                      "label": "Gonzalo Supabase"
                    }
                  }
                },
                "designer": {
                  "x": 2100,
                  "y": 600,
                  "name": "Actualiza el estado"
                },
                "interface": [
                  {
                    "name": "id",
                    "type": "number",
                    "label": "id"
                  },
                  {
                    "name": "fecha_creación",
                    "type": "text",
                    "label": "fecha_creación"
                  },
                  {
                    "name": "nombre",
                    "type": "text",
                    "label": "nombre"
                  },
                  {
                    "name": "apellido",
                    "type": "text",
                    "label": "apellido"
                  },
                  {
                    "name": "dni",
                    "type": "number",
                    "label": "dni"
                  },
                  {
                    "name": "id_pago",
                    "type": "number",
                    "label": "id_pago"
                  },
                  {
                    "name": "link_generado",
                    "type": "boolean",
                    "label": "link_generado"
                  },
                  {
                    "name": "monto",
                    "type": "number",
                    "label": "monto"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:supabase",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 6101923
              }
            },
            {
              "id": 10,
              "mapper": {
                "Link_mercado_pago": "{{2.data.init_point}}"
              },
              "module": "scenario-service:ReturnData",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "Link_mercado_pago",
                    "type": "text",
                    "label": "",
                    "required": true
                  }
                ],
                "restore": {},
                "designer": {
                  "x": 2400,
                  "y": 600,
                  "name": "Retorna link de pago"
                }
              },
              "parameters": {}
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": 900,
          "y": 450,
          "name": "¿Se encontró el curso?"
        }
      },
      "parameters": {
        "else": 1
      }
    }
  ],
  "name": "Crear link de pago en tres cuotas en Mercado Pago",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": [
        [
          {
            "id": 24,
            "mapper": {
              "dni": "{{var.input.DNI}}",
              "monto": "2",
              "table": "Clientes",
              "nombre": "{{var.input.Nombre}}",
              "apellido": "{{var.input.Apellido}}",
              "link_generado": false
            },
            "module": "supabase:createARow",
            "version": 1,
            "metadata": {
              "expect": [
                {
                  "name": "table",
                  "type": "select",
                  "label": "Table",
                  "required": true
                },
                {
                  "name": "id",
                  "type": "integer"
                },
                {
                  "name": "fecha_creación",
                  "type": "text"
                },
                {
                  "name": "nombre",
                  "type": "text"
                },
                {
                  "name": "apellido",
                  "type": "text"
                },
                {
                  "name": "dni",
                  "type": "integer"
                },
                {
                  "name": "id_pago",
                  "type": "integer"
                },
                {
                  "name": "link_generado",
                  "type": "boolean"
                },
                {
                  "name": "monto",
                  "type": "integer"
                }
              ],
              "restore": {
                "expect": {
                  "table": {
                    "mode": "chose",
                    "label": "Clientes",
                    "nested": [
                      {
                        "help": "Note:\nThis is a Primary Key.<pk/>",
                        "name": "id",
                        "type": "integer",
                        "label": "id",
                        "options": null,
                        "required": false
                      },
                      {
                        "help": "Defaults to now(). ",
                        "name": "fecha_creación",
                        "type": "text",
                        "label": "fecha_creación",
                        "options": null,
                        "required": false
                      },
                      {
                        "help": "",
                        "name": "nombre",
                        "type": "text",
                        "label": "nombre",
                        "options": null,
                        "required": false
                      },
                      {
                        "help": "",
                        "name": "apellido",
                        "type": "text",
                        "label": "apellido",
                        "options": null,
                        "required": false
                      },
                      {
                        "help": "",
                        "name": "dni",
                        "type": "integer",
                        "label": "dni",
                        "options": null,
                        "required": false
                      },
                      {
                        "help": "Note:\nThis is a Foreign Key to `Pagos.id`.<fk table='Pagos' column='id'/>",
                        "name": "id_pago",
                        "type": "integer",
                        "label": "id_pago",
                        "options": null,
                        "required": false
                      },
                      {
                        "help": "",
                        "name": "link_generado",
                        "type": "boolean",
                        "label": "link_generado",
                        "options": null,
                        "required": false
                      },
                      {
                        "help": "",
                        "name": "monto",
                        "type": "integer",
                        "label": "monto",
                        "options": null,
                        "required": false
                      }
                    ]
                  },
                  "link_generado": {
                    "mode": "chose"
                  }
                },
                "parameters": {
                  "__IMTCONN__": {
                    "data": {
                      "scoped": "true",
                      "connection": "supabase"
                    },
                    "label": "Gonzalo Supabase"
                  }
                }
              },
              "designer": {
                "x": 0,
                "y": 0,
                "name": "Crear registro de cliente",
                "messages": [
                  {
                    "message": "The module is not connected to the data flow.",
                    "category": "link",
                    "severity": "warning"
                  }
                ]
              },
              "interface": [
                {
                  "name": "id",
                  "type": "number",
                  "label": "id"
                },
                {
                  "name": "fecha_creación",
                  "type": "text",
                  "label": "fecha_creación"
                },
                {
                  "name": "nombre",
                  "type": "text",
                  "label": "nombre"
                },
                {
                  "name": "apellido",
                  "type": "text",
                  "label": "apellido"
                },
                {
                  "name": "dni",
                  "type": "number",
                  "label": "dni"
                },
                {
                  "name": "id_pago",
                  "type": "number",
                  "label": "id_pago"
                },
                {
                  "name": "link_generado",
                  "type": "boolean",
                  "label": "link_generado"
                },
                {
                  "name": "monto",
                  "type": "number",
                  "label": "monto"
                }
              ],
              "parameters": [
                {
                  "name": "__IMTCONN__",
                  "type": "account:supabase",
                  "label": "Connection",
                  "required": true
                }
              ]
            },
            "parameters": {
              "__IMTCONN__": 6101923
            }
          },
          {
            "id": 25,
            "mapper": {
              "ca": "",
              "qs": [],
              "url": "https://api.mercadopago.com/checkout/preferences",
              "data": "{\r\n  \"items\": [\r\n    {\r\n      \"title\": \"{{var.input.Nombre_curso}}\",\r\n      \"picture_url\": \"https://i0.wp.com/iita.com.ar/salta/wp-content/uploads/sites/8/2021/12/cropped-LogoITTA-versiones-01-02-02-1.png?fit=2605%2C977&ssl=1\",\r\n      \"category_id\": \"services\",\r\n      \"description\": \"{{var.input.Descripcion_pago}}\",\r\n      \"quantity\": 1,\r\n      \"currency_id\": \"ARS\",\r\n      \"unit_price\": {{24.monto}}\r\n    }\r\n  ],\r\n  \"external_reference\": \"{{24.id}}\",\r\n  \"payer\": {\r\n    \"name\": \"{{24.nombre}}\",\r\n    \"surname\": \"{{24.apellido}}\",\r\n    \"identification\": {\r\n      \"type\": \"DNI\",\r\n      \"number\": \"{{24.dni}}\"\r\n    }\r\n  },\r\n  \"back_urls\": {\r\n    \"success\": \"https://iita.com.ar\",\r\n    \"failure\": \"https://iita.com.ar\",\r\n    \"pending\": \"https://iita.com.ar\"\r\n  },\r\n  \"auto_return\": \"approved\",\r\n  \"installments\": 3\r\n}",
              "gzip": true,
              "method": "post",
              "headers": [
                {
                  "name": "Authorization",
                  "value": "Bearer APP_USR-6112851088681397-110508-f026bebaedbe583246599f8e4f20fe48-2968966394"
                }
              ],
              "timeout": "",
              "useMtls": false,
              "authPass": "",
              "authUser": "",
              "bodyType": "raw",
              "contentType": "application/json",
              "serializeUrl": false,
              "shareCookies": false,
              "parseResponse": true,
              "followRedirect": true,
              "useQuerystring": false,
              "followAllRedirects": false,
              "rejectUnauthorized": true
            },
            "module": "http:ActionSendData",
            "version": 3,
            "metadata": {
              "expect": [
                {
                  "name": "url",
                  "type": "url",
                  "label": "URL",
                  "required": true
                },
                {
                  "name": "serializeUrl",
                  "type": "boolean",
                  "label": "Serialize URL",
                  "required": true
                },
                {
                  "name": "method",
                  "type": "select",
                  "label": "Method",
                  "required": true,
                  "validate": {
                    "enum": [
                      "get",
                      "head",
                      "post",
                      "put",
                      "patch",
                      "delete",
                      "options"
                    ]
                  }
                },
                {
                  "name": "headers",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "array",
                  "label": "Headers"
                },
                {
                  "name": "qs",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name",
                      "required": true
                    },
                    {
                      "name": "value",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "array",
                  "label": "Query String"
                },
                {
                  "name": "bodyType",
                  "type": "select",
                  "label": "Body type",
                  "validate": {
                    "enum": [
                      "raw",
                      "x_www_form_urlencoded",
                      "multipart_form_data"
                    ]
                  }
                },
                {
                  "name": "parseResponse",
                  "type": "boolean",
                  "label": "Parse response",
                  "required": true
                },
                {
                  "name": "authUser",
                  "type": "text",
                  "label": "User name"
                },
                {
                  "name": "authPass",
                  "type": "password",
                  "label": "Password"
                },
                {
                  "name": "timeout",
                  "type": "uinteger",
                  "label": "Timeout",
                  "validate": {
                    "max": 300,
                    "min": 1
                  }
                },
                {
                  "name": "shareCookies",
                  "type": "boolean",
                  "label": "Share cookies with other HTTP modules",
                  "required": true
                },
                {
                  "name": "ca",
                  "type": "cert",
                  "label": "Self-signed certificate"
                },
                {
                  "name": "rejectUnauthorized",
                  "type": "boolean",
                  "label": "Reject connections that are using unverified (self-signed) certificates",
                  "required": true
                },
                {
                  "name": "followRedirect",
                  "type": "boolean",
                  "label": "Follow redirect",
                  "required": true
                },
                {
                  "name": "useQuerystring",
                  "type": "boolean",
                  "label": "Disable serialization of multiple same query string keys as arrays",
                  "required": true
                },
                {
                  "name": "gzip",
                  "type": "boolean",
                  "label": "Request compressed content",
                  "required": true
                },
                {
                  "name": "useMtls",
                  "type": "boolean",
                  "label": "Use Mutual TLS",
                  "required": true
                },
                {
                  "name": "contentType",
                  "type": "select",
                  "label": "Content type",
                  "validate": {
                    "enum": [
                      "text/plain",
                      "application/json",
                      "application/xml",
                      "text/xml",
                      "text/html",
                      "custom"
                    ]
                  }
                },
                {
                  "name": "data",
                  "type": "buffer",
                  "label": "Request content"
                },
                {
                  "name": "followAllRedirects",
                  "type": "boolean",
                  "label": "Follow all redirect",
                  "required": true
                }
              ],
              "restore": {
                "expect": {
                  "qs": {
                    "mode": "chose"
                  },
                  "method": {
                    "mode": "chose",
                    "label": "POST"
                  },
                  "headers": {
                    "mode": "chose",
                    "items": [
                      null
                    ]
                  },
                  "bodyType": {
                    "label": "Raw"
                  },
                  "contentType": {
                    "label": "JSON (application/json)"
                  }
                }
              },
              "designer": {
                "x": 300,
                "y": 0,
                "name": "Crear link de pago"
              },
              "parameters": [
                {
                  "name": "handleErrors",
                  "type": "boolean",
                  "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                  "required": true
                },
                {
                  "name": "useNewZLibDeCompress",
                  "type": "hidden"
                }
              ]
            },
            "parameters": {
              "handleErrors": true,
              "useNewZLibDeCompress": true
            }
          },
          {
            "id": 26,
            "mapper": {
              "id": "{{24.id}}",
              "dni": "{{24.dni}}",
              "monto": "{{24.monto}}",
              "table": "Clientes",
              "nombre": "{{24.nombre}}",
              "id_pago": "{{24.id_pago}}",
              "apellido": "{{24.apellido}}",
              "link_generado": true,
              "fecha_creación": "{{24.`fecha_creación`}}"
            },
            "module": "supabase:upsertARecord",
            "version": 1,
            "metadata": {
              "expect": [
                {
                  "name": "table",
                  "type": "select",
                  "label": "Table",
                  "required": true
                },
                {
                  "name": "id",
                  "type": "integer"
                },
                {
                  "name": "fecha_creación",
                  "type": "text"
                },
                {
                  "name": "nombre",
                  "type": "text"
                },
                {
                  "name": "apellido",
                  "type": "text"
                },
                {
                  "name": "dni",
                  "type": "integer"
                },
                {
                  "name": "id_pago",
                  "type": "integer"
                },
                {
                  "name": "link_generado",
                  "type": "boolean"
                },
                {
                  "name": "monto",
                  "type": "integer"
                }
              ],
              "restore": {
                "expect": {
                  "table": {
                    "mode": "chose",
                    "label": "Clientes",
                    "nested": [
                      {
                        "help": "Note:\nThis is a Primary Key.<pk/>",
                        "name": "id",
                        "type": "integer",
                        "label": "id",
                        "options": null,
                        "required": false
                      },
                      {
                        "help": "Defaults to now(). ",
                        "name": "fecha_creación",
                        "type": "text",
                        "label": "fecha_creación",
                        "options": null,
                        "required": false
                      },
                      {
                        "help": "",
                        "name": "nombre",
                        "type": "text",
                        "label": "nombre",
                        "options": null,
                        "required": false
                      },
                      {
                        "help": "",
                        "name": "apellido",
                        "type": "text",
                        "label": "apellido",
                        "options": null,
                        "required": false
                      },
                      {
                        "help": "",
                        "name": "dni",
                        "type": "integer",
                        "label": "dni",
                        "options": null,
                        "required": false
                      },
                      {
                        "help": "Note:\nThis is a Foreign Key to `Pagos.id`.<fk table='Pagos' column='id'/>",
                        "name": "id_pago",
                        "type": "integer",
                        "label": "id_pago",
                        "options": null,
                        "required": false
                      },
                      {
                        "help": "",
                        "name": "link_generado",
                        "type": "boolean",
                        "label": "link_generado",
                        "options": null,
                        "required": false
                      },
                      {
                        "help": "",
                        "name": "monto",
                        "type": "integer",
                        "label": "monto",
                        "options": null,
                        "required": false
                      }
                    ]
                  },
                  "link_generado": {
                    "mode": "chose"
                  }
                },
                "parameters": {
                  "__IMTCONN__": {
                    "data": {
                      "scoped": "true",
                      "connection": "supabase"
                    },
                    "label": "Gonzalo Supabase"
                  }
                }
              },
              "designer": {
                "x": 600,
                "y": 0,
                "name": "Actualiza el estado"
              },
              "interface": [
                {
                  "name": "id",
                  "type": "number",
                  "label": "id"
                },
                {
                  "name": "fecha_creación",
                  "type": "text",
                  "label": "fecha_creación"
                },
                {
                  "name": "nombre",
                  "type": "text",
                  "label": "nombre"
                },
                {
                  "name": "apellido",
                  "type": "text",
                  "label": "apellido"
                },
                {
                  "name": "dni",
                  "type": "number",
                  "label": "dni"
                },
                {
                  "name": "id_pago",
                  "type": "number",
                  "label": "id_pago"
                },
                {
                  "name": "link_generado",
                  "type": "boolean",
                  "label": "link_generado"
                },
                {
                  "name": "monto",
                  "type": "number",
                  "label": "monto"
                }
              ],
              "parameters": [
                {
                  "name": "__IMTCONN__",
                  "type": "account:supabase",
                  "label": "Connection",
                  "required": true
                }
              ]
            },
            "parameters": {
              "__IMTCONN__": 6101923
            }
          },
          {
            "id": 27,
            "mapper": {
              "Link_mercado_pago": "{{25.data.init_point}}"
            },
            "module": "scenario-service:ReturnData",
            "version": 2,
            "metadata": {
              "expect": [
                {
                  "name": "Link_mercado_pago",
                  "type": "text",
                  "label": "",
                  "required": true
                }
              ],
              "restore": {},
              "designer": {
                "x": 900,
                "y": 0,
                "name": "Retorna link de pago"
              }
            },
            "parameters": {}
          }
        ]
      ],
      "samples": {
        "1": {
          "id": 31,
          "dni": 45770996,
          "monto": 270000,
          "nombre": "Gonzalo",
          "id_pago": null,
          "apellido": "Aybar",
          "link_generado": false,
          "fecha_creación": "2025-11-07T15:29:16.032857+00:00"
        },
        "2": {
          "data": {
            "id": "2967396190-bf782bf1-efbc-40e0-924b-043c36e12221",
            "items": [
              {
                "id": "",
                "title": "Producto de prueba",
                "quantity": 1,
                "unit_price": 270000,
                "category_id": "services",
                "currency_id": "ARS",
                "description": "cursos",
                "picture_url": "https://http2.mlstatic.com/D_NQ_NP_834057-MLA97097580446_112025-F.jpg"
              }
            ],
            "payer": {
              "name": "Gonzalo",
              "email": "",
              "phone": {
                "number": "",
                "area_code": ""
              },
              "address": {
                "zip_code": "",
                "street_name": "",
                "street_number": null
              },
              "surname": "Aybar",
              "date_created": null,
              "last_purchase": null,
              "identification": {
                "type": "DNI",
                "number": "45770996"
              }
            },
            "expires": false,
            "site_id": "MLA",
            "metadata": {},
            "back_urls": {
              "failure": "https://iita.com.ar",
              "pending": "https://iita.com.ar",
              "success": "https://iita.com.ar"
            },
            "client_id": "1870272487951853",
            "shipments": {
              "receiver_address": {
                "floor": "",
                "zip_code": "",
                "apartment": "",
                "city_name": null,
                "state_name": null,
                "street_name": "",
                "country_name": null,
                "neighborhood": null,
                "street_number": null
              },
              "default_shipping_method": null
            },
            "init_point": "https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=2967396190-bf782bf1-efbc-40e0-924b-043c3...",
            "product_id": null,
            "auto_return": "approved",
            "binary_mode": false,
            "coupon_code": null,
            "marketplace": "NONE",
            "collector_id": 2967396190,
            "date_created": "2025-11-07T11:29:16.562-04:00",
            "last_updated": null,
            "total_amount": null,
            "coupon_labels": null,
            "redirect_urls": {
              "failure": "",
              "pending": "",
              "success": ""
            },
            "operation_type": "regular_payment",
            "additional_info": "",
            "financing_group": "",
            "marketplace_fee": 0,
            "payment_methods": {
              "installments": null,
              "default_card_id": null,
              "default_installments": null,
              "excluded_payment_types": [
                {
                  "id": ""
                }
              ],
              "excluded_payment_methods": [
                {
                  "id": ""
                }
              ],
              "default_payment_method_id": null
            },
            "notification_url": null,
            "processing_modes": null,
            "internal_metadata": null,
            "date_of_expiration": null,
            "expiration_date_to": null,
            "external_reference": "31",
            "preference_expired": false,
            "sandbox_init_point": "https://sandbox.mercadopago.com.ar/checkout/v1/redirect?pref_id=2967396190-bf782bf1-efbc-40e0-924b-0...",
            "expiration_date_from": null
          },
          "headers": [
            {
              "name": "timing-allow-origin",
              "value": "*"
            }
          ],
          "fileSize": 2003,
          "statusCode": 201,
          "cookieHeaders": []
        },
        "9": {
          "id": 31,
          "dni": 45770996,
          "monto": 270000,
          "nombre": "Gonzalo",
          "id_pago": null,
          "apellido": "Aybar",
          "link_generado": true,
          "fecha_creación": "2025-11-07T15:29:16.032857+00:00"
        },
        "10": {
          "Link_mercado_pago": "https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=2967396190-bf782bf1-efbc-40e0-924b-043c3..."
        },
        "11": {
          "0": "1",
          "1": "Marketing digital presencial",
          "2": "🚀 Curso de Marketing Digital – Potencia tu Negocio\\n\\n📢 ¿Por qué es importante aprender Marketing ...",
          "3": "🚀 Curso Presencial de Marketing Digital – Potencia tu Negocio\\n\\n📢 ¿Por qué es importante aprender...",
          "4": "",
          "5": "270000",
          "6": null,
          "__SHEET__": "Cursos",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 6,
          "__ROW_NUMBER__": 2,
          "__SPREADSHEET_ID__": "1PV6gBaZbYttoZZGZxsb2MxKWuV-FbaBntGR9O8C_xzw"
        },
        "13": {
          "reason": "The text 'introducción a la ia' directly matches the category 'Introducción a la IA' as it refers to...",
          "AIUsage": {
            "inputTokens": 223,
            "outputTokens": 58
          },
          "categories": [
            "Introducción a la IA"
          ]
        },
        "15": {
          "0": 270000,
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 1
        },
        "22": {
          "array": [
            {
              " ": "Automatización con Make, IA y n8n presencial"
            }
          ],
          "__IMTAGGLENGTH__": 6
        },
        "24": {
          "id": 34,
          "dni": 34567876,
          "monto": 2,
          "nombre": "Prueba",
          "id_pago": null,
          "apellido": "Final",
          "link_generado": false,
          "fecha_creación": "2025-11-10T14:03:28.065114+00:00"
        },
        "25": {
          "data": {
            "id": "2968966394-eeef61cf-8d7c-48c9-8209-4482e76ce0c7",
            "items": [
              {
                "id": "",
                "title": "introducción a la ia",
                "quantity": 1,
                "unit_price": 2,
                "category_id": "services",
                "currency_id": "ARS",
                "description": "",
                "picture_url": "https://http2.mlstatic.com/D_NQ_NP_636862-MLA97833961955_112025-F.jpg"
              }
            ],
            "payer": {
              "name": "Prueba",
              "email": "",
              "phone": {
                "number": "",
                "area_code": ""
              },
              "address": {
                "zip_code": "",
                "street_name": "",
                "street_number": null
              },
              "surname": "Final",
              "date_created": null,
              "last_purchase": null,
              "identification": {
                "type": "DNI",
                "number": "34567876"
              }
            },
            "expires": false,
            "site_id": "MLA",
            "metadata": {},
            "back_urls": {
              "failure": "https://iita.com.ar",
              "pending": "https://iita.com.ar",
              "success": "https://iita.com.ar"
            },
            "client_id": "6112851088681397",
            "shipments": {
              "receiver_address": {
                "floor": "",
                "zip_code": "",
                "apartment": "",
                "city_name": null,
                "state_name": null,
                "street_name": "",
                "country_name": null,
                "neighborhood": null,
                "street_number": null
              },
              "default_shipping_method": null
            },
            "init_point": "https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=2968966394-eeef61cf-8d7c-48c9-8209-4482e...",
            "product_id": null,
            "auto_return": "approved",
            "binary_mode": false,
            "coupon_code": null,
            "marketplace": "NONE",
            "collector_id": 2968966394,
            "date_created": "2025-11-10T10:03:28.490-04:00",
            "last_updated": null,
            "total_amount": null,
            "coupon_labels": null,
            "redirect_urls": {
              "failure": "",
              "pending": "",
              "success": ""
            },
            "operation_type": "regular_payment",
            "additional_info": "",
            "financing_group": "",
            "marketplace_fee": 0,
            "payment_methods": {
              "installments": null,
              "default_card_id": null,
              "default_installments": null,
              "excluded_payment_types": [
                {
                  "id": ""
                }
              ],
              "excluded_payment_methods": [
                {
                  "id": ""
                }
              ],
              "default_payment_method_id": null
            },
            "notification_url": null,
            "processing_modes": null,
            "internal_metadata": null,
            "date_of_expiration": null,
            "expiration_date_to": null,
            "external_reference": "34",
            "preference_expired": false,
            "sandbox_init_point": "https://sandbox.mercadopago.com.ar/checkout/v1/redirect?pref_id=2968966394-eeef61cf-8d7c-48c9-8209-4...",
            "expiration_date_from": null
          },
          "headers": [
            {
              "name": "timing-allow-origin",
              "value": "*"
            }
          ],
          "fileSize": 1993,
          "statusCode": 201,
          "cookieHeaders": []
        },
        "26": {
          "id": 34,
          "dni": 34567876,
          "monto": 2,
          "nombre": "Prueba",
          "id_pago": null,
          "apellido": "Final",
          "link_generado": true,
          "fecha_creación": "2025-11-10T14:03:28.065114+00:00"
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}