snapshots/2026-02-18_pre_fix/6_aprobacion/4124998_generate_interactions_from_google_sheets.json
{
  "flow": [
    {
      "id": 2,
      "mapper": {},
      "module": "google-sheets:watchUpdatedCells",
      "version": 2,
      "metadata": {
        "restore": {
          "parameters": {
            "__IMTHOOK__": {
              "data": {
                "editable": "false"
              },
              "label": "Casillero OK (Producción)"
            }
          }
        },
        "designer": {
          "x": -737,
          "y": -128,
          "name": "Watch events in real time"
        },
        "parameters": [
          {
            "name": "__IMTHOOK__",
            "type": "hook:google-sheets2",
            "label": "Webhook",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTHOOK__": 1877266
      }
    },
    {
      "id": 3,
      "filter": {
        "name": "Casillero OK",
        "conditions": [
          [
            {
              "a": "{{2.rowValues[].`7`}}",
              "b": "true",
              "o": "text:equal:ci"
            },
            {
              "a": "{{2.rowValues[].`8`}}",
              "o": "notexist"
            },
            {
              "a": "{{2.rowValues[].`1`}}",
              "o": "exist"
            }
          ]
        ]
      },
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 4,
              "filter": {
                "name": "Yes",
                "conditions": [
                  [
                    {
                      "a": "{{now}}",
                      "b": "{{addDays(addHours(2.rowValues[].`1`; -3); 1)}}",
                      "o": "date:greater"
                    }
                  ]
                ]
              },
              "mapper": {
                "mode": "fromAll",
                "values": {
                  "8": "Fuera de plazo"
                },
                "sheetId": "{{2.sheetName}}",
                "rowNumber": "{{2.range.rowStart}}",
                "spreadsheetId": "1qXXB8me9BWzGZpw5b9SyHEWIe7xJT0vMRN4RlcS6Rss",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
              },
              "module": "google-sheets:updateRow",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "text",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "mode": "edit",
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "rowNumber",
                    "type": "uinteger",
                    "label": "Row number",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "A"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "B"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "C"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "D"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "E"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "F"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "G"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "H"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "I"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "J"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "K"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "L"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "M"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "N"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "O"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "P"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "Q"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "R"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "S"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "T"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "U"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "V"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "W"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "X"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "Y"
                      },
                      {
                        "name": "25",
                        "type": "text",
                        "label": "Z"
                      },
                      {
                        "name": "26",
                        "type": "text",
                        "label": "AA"
                      },
                      {
                        "name": "27",
                        "type": "text",
                        "label": "AB"
                      },
                      {
                        "name": "28",
                        "type": "text",
                        "label": "AC"
                      },
                      {
                        "name": "29",
                        "type": "text",
                        "label": "AD"
                      },
                      {
                        "name": "30",
                        "type": "text",
                        "label": "AE"
                      },
                      {
                        "name": "31",
                        "type": "text",
                        "label": "AF"
                      },
                      {
                        "name": "32",
                        "type": "text",
                        "label": "AG"
                      },
                      {
                        "name": "33",
                        "type": "text",
                        "label": "AH"
                      },
                      {
                        "name": "34",
                        "type": "text",
                        "label": "AI"
                      },
                      {
                        "name": "35",
                        "type": "text",
                        "label": "AJ"
                      },
                      {
                        "name": "36",
                        "type": "text",
                        "label": "AK"
                      },
                      {
                        "name": "37",
                        "type": "text",
                        "label": "AL"
                      },
                      {
                        "name": "38",
                        "type": "text",
                        "label": "AM"
                      },
                      {
                        "name": "39",
                        "type": "text",
                        "label": "AN"
                      },
                      {
                        "name": "40",
                        "type": "text",
                        "label": "AO"
                      },
                      {
                        "name": "41",
                        "type": "text",
                        "label": "AP"
                      },
                      {
                        "name": "42",
                        "type": "text",
                        "label": "AQ"
                      },
                      {
                        "name": "43",
                        "type": "text",
                        "label": "AR"
                      },
                      {
                        "name": "44",
                        "type": "text",
                        "label": "AS"
                      },
                      {
                        "name": "45",
                        "type": "text",
                        "label": "AT"
                      },
                      {
                        "name": "46",
                        "type": "text",
                        "label": "AU"
                      },
                      {
                        "name": "47",
                        "type": "text",
                        "label": "AV"
                      },
                      {
                        "name": "48",
                        "type": "text",
                        "label": "AW"
                      },
                      {
                        "name": "49",
                        "type": "text",
                        "label": "AX"
                      },
                      {
                        "name": "50",
                        "type": "text",
                        "label": "AY"
                      },
                      {
                        "name": "51",
                        "type": "text",
                        "label": "AZ"
                      },
                      {
                        "name": "52",
                        "type": "text",
                        "label": "BA"
                      },
                      {
                        "name": "53",
                        "type": "text",
                        "label": "BB"
                      },
                      {
                        "name": "54",
                        "type": "text",
                        "label": "BC"
                      },
                      {
                        "name": "55",
                        "type": "text",
                        "label": "BD"
                      },
                      {
                        "name": "56",
                        "type": "text",
                        "label": "BE"
                      },
                      {
                        "name": "57",
                        "type": "text",
                        "label": "BF"
                      },
                      {
                        "name": "58",
                        "type": "text",
                        "label": "BG"
                      },
                      {
                        "name": "59",
                        "type": "text",
                        "label": "BH"
                      },
                      {
                        "name": "60",
                        "type": "text",
                        "label": "BI"
                      },
                      {
                        "name": "61",
                        "type": "text",
                        "label": "BJ"
                      },
                      {
                        "name": "62",
                        "type": "text",
                        "label": "BK"
                      },
                      {
                        "name": "63",
                        "type": "text",
                        "label": "BL"
                      },
                      {
                        "name": "64",
                        "type": "text",
                        "label": "BM"
                      },
                      {
                        "name": "65",
                        "type": "text",
                        "label": "BN"
                      },
                      {
                        "name": "66",
                        "type": "text",
                        "label": "BO"
                      },
                      {
                        "name": "67",
                        "type": "text",
                        "label": "BP"
                      },
                      {
                        "name": "68",
                        "type": "text",
                        "label": "BQ"
                      },
                      {
                        "name": "69",
                        "type": "text",
                        "label": "BR"
                      },
                      {
                        "name": "70",
                        "type": "text",
                        "label": "BS"
                      },
                      {
                        "name": "71",
                        "type": "text",
                        "label": "BT"
                      },
                      {
                        "name": "72",
                        "type": "text",
                        "label": "BU"
                      },
                      {
                        "name": "73",
                        "type": "text",
                        "label": "BV"
                      },
                      {
                        "name": "74",
                        "type": "text",
                        "label": "BW"
                      },
                      {
                        "name": "75",
                        "type": "text",
                        "label": "BX"
                      },
                      {
                        "name": "76",
                        "type": "text",
                        "label": "BY"
                      },
                      {
                        "name": "77",
                        "type": "text",
                        "label": "BZ"
                      },
                      {
                        "name": "78",
                        "type": "text",
                        "label": "CA"
                      },
                      {
                        "name": "79",
                        "type": "text",
                        "label": "CB"
                      },
                      {
                        "name": "80",
                        "type": "text",
                        "label": "CC"
                      },
                      {
                        "name": "81",
                        "type": "text",
                        "label": "CD"
                      },
                      {
                        "name": "82",
                        "type": "text",
                        "label": "CE"
                      },
                      {
                        "name": "83",
                        "type": "text",
                        "label": "CF"
                      },
                      {
                        "name": "84",
                        "type": "text",
                        "label": "CG"
                      },
                      {
                        "name": "85",
                        "type": "text",
                        "label": "CH"
                      },
                      {
                        "name": "86",
                        "type": "text",
                        "label": "CI"
                      },
                      {
                        "name": "87",
                        "type": "text",
                        "label": "CJ"
                      },
                      {
                        "name": "88",
                        "type": "text",
                        "label": "CK"
                      },
                      {
                        "name": "89",
                        "type": "text",
                        "label": "CL"
                      },
                      {
                        "name": "90",
                        "type": "text",
                        "label": "CM"
                      },
                      {
                        "name": "91",
                        "type": "text",
                        "label": "CN"
                      },
                      {
                        "name": "92",
                        "type": "text",
                        "label": "CO"
                      },
                      {
                        "name": "93",
                        "type": "text",
                        "label": "CP"
                      },
                      {
                        "name": "94",
                        "type": "text",
                        "label": "CQ"
                      },
                      {
                        "name": "95",
                        "type": "text",
                        "label": "CR"
                      },
                      {
                        "name": "96",
                        "type": "text",
                        "label": "CS"
                      },
                      {
                        "name": "97",
                        "type": "text",
                        "label": "CT"
                      },
                      {
                        "name": "98",
                        "type": "text",
                        "label": "CU"
                      },
                      {
                        "name": "99",
                        "type": "text",
                        "label": "CV"
                      },
                      {
                        "name": "100",
                        "type": "text",
                        "label": "CW"
                      },
                      {
                        "name": "101",
                        "type": "text",
                        "label": "CX"
                      },
                      {
                        "name": "102",
                        "type": "text",
                        "label": "CY"
                      },
                      {
                        "name": "103",
                        "type": "text",
                        "label": "CZ"
                      }
                    ],
                    "type": "collection",
                    "label": "Values"
                  }
                ],
                "restore": {
                  "expect": {
                    "mode": {
                      "label": "Select from all"
                    },
                    "sheetId": {
                      "mode": "edit"
                    },
                    "includesHeaders": {
                      "label": "Yes",
                      "nested": [
                        {
                          "name": "values",
                          "spec": [
                            {
                              "name": "0",
                              "type": "text",
                              "label": "A"
                            },
                            {
                              "name": "1",
                              "type": "text",
                              "label": "B"
                            },
                            {
                              "name": "2",
                              "type": "text",
                              "label": "C"
                            },
                            {
                              "name": "3",
                              "type": "text",
                              "label": "D"
                            },
                            {
                              "name": "4",
                              "type": "text",
                              "label": "E"
                            },
                            {
                              "name": "5",
                              "type": "text",
                              "label": "F"
                            },
                            {
                              "name": "6",
                              "type": "text",
                              "label": "G"
                            },
                            {
                              "name": "7",
                              "type": "text",
                              "label": "H"
                            },
                            {
                              "name": "8",
                              "type": "text",
                              "label": "I"
                            },
                            {
                              "name": "9",
                              "type": "text",
                              "label": "J"
                            },
                            {
                              "name": "10",
                              "type": "text",
                              "label": "K"
                            },
                            {
                              "name": "11",
                              "type": "text",
                              "label": "L"
                            },
                            {
                              "name": "12",
                              "type": "text",
                              "label": "M"
                            },
                            {
                              "name": "13",
                              "type": "text",
                              "label": "N"
                            },
                            {
                              "name": "14",
                              "type": "text",
                              "label": "O"
                            },
                            {
                              "name": "15",
                              "type": "text",
                              "label": "P"
                            },
                            {
                              "name": "16",
                              "type": "text",
                              "label": "Q"
                            },
                            {
                              "name": "17",
                              "type": "text",
                              "label": "R"
                            },
                            {
                              "name": "18",
                              "type": "text",
                              "label": "S"
                            },
                            {
                              "name": "19",
                              "type": "text",
                              "label": "T"
                            },
                            {
                              "name": "20",
                              "type": "text",
                              "label": "U"
                            },
                            {
                              "name": "21",
                              "type": "text",
                              "label": "V"
                            },
                            {
                              "name": "22",
                              "type": "text",
                              "label": "W"
                            },
                            {
                              "name": "23",
                              "type": "text",
                              "label": "X"
                            },
                            {
                              "name": "24",
                              "type": "text",
                              "label": "Y"
                            },
                            {
                              "name": "25",
                              "type": "text",
                              "label": "Z"
                            },
                            {
                              "name": "26",
                              "type": "text",
                              "label": "AA"
                            },
                            {
                              "name": "27",
                              "type": "text",
                              "label": "AB"
                            },
                            {
                              "name": "28",
                              "type": "text",
                              "label": "AC"
                            },
                            {
                              "name": "29",
                              "type": "text",
                              "label": "AD"
                            },
                            {
                              "name": "30",
                              "type": "text",
                              "label": "AE"
                            },
                            {
                              "name": "31",
                              "type": "text",
                              "label": "AF"
                            },
                            {
                              "name": "32",
                              "type": "text",
                              "label": "AG"
                            },
                            {
                              "name": "33",
                              "type": "text",
                              "label": "AH"
                            },
                            {
                              "name": "34",
                              "type": "text",
                              "label": "AI"
                            },
                            {
                              "name": "35",
                              "type": "text",
                              "label": "AJ"
                            },
                            {
                              "name": "36",
                              "type": "text",
                              "label": "AK"
                            },
                            {
                              "name": "37",
                              "type": "text",
                              "label": "AL"
                            },
                            {
                              "name": "38",
                              "type": "text",
                              "label": "AM"
                            },
                            {
                              "name": "39",
                              "type": "text",
                              "label": "AN"
                            },
                            {
                              "name": "40",
                              "type": "text",
                              "label": "AO"
                            },
                            {
                              "name": "41",
                              "type": "text",
                              "label": "AP"
                            },
                            {
                              "name": "42",
                              "type": "text",
                              "label": "AQ"
                            },
                            {
                              "name": "43",
                              "type": "text",
                              "label": "AR"
                            },
                            {
                              "name": "44",
                              "type": "text",
                              "label": "AS"
                            },
                            {
                              "name": "45",
                              "type": "text",
                              "label": "AT"
                            },
                            {
                              "name": "46",
                              "type": "text",
                              "label": "AU"
                            },
                            {
                              "name": "47",
                              "type": "text",
                              "label": "AV"
                            },
                            {
                              "name": "48",
                              "type": "text",
                              "label": "AW"
                            },
                            {
                              "name": "49",
                              "type": "text",
                              "label": "AX"
                            },
                            {
                              "name": "50",
                              "type": "text",
                              "label": "AY"
                            },
                            {
                              "name": "51",
                              "type": "text",
                              "label": "AZ"
                            },
                            {
                              "name": "52",
                              "type": "text",
                              "label": "BA"
                            },
                            {
                              "name": "53",
                              "type": "text",
                              "label": "BB"
                            },
                            {
                              "name": "54",
                              "type": "text",
                              "label": "BC"
                            },
                            {
                              "name": "55",
                              "type": "text",
                              "label": "BD"
                            },
                            {
                              "name": "56",
                              "type": "text",
                              "label": "BE"
                            },
                            {
                              "name": "57",
                              "type": "text",
                              "label": "BF"
                            },
                            {
                              "name": "58",
                              "type": "text",
                              "label": "BG"
                            },
                            {
                              "name": "59",
                              "type": "text",
                              "label": "BH"
                            },
                            {
                              "name": "60",
                              "type": "text",
                              "label": "BI"
                            },
                            {
                              "name": "61",
                              "type": "text",
                              "label": "BJ"
                            },
                            {
                              "name": "62",
                              "type": "text",
                              "label": "BK"
                            },
                            {
                              "name": "63",
                              "type": "text",
                              "label": "BL"
                            },
                            {
                              "name": "64",
                              "type": "text",
                              "label": "BM"
                            },
                            {
                              "name": "65",
                              "type": "text",
                              "label": "BN"
                            },
                            {
                              "name": "66",
                              "type": "text",
                              "label": "BO"
                            },
                            {
                              "name": "67",
                              "type": "text",
                              "label": "BP"
                            },
                            {
                              "name": "68",
                              "type": "text",
                              "label": "BQ"
                            },
                            {
                              "name": "69",
                              "type": "text",
                              "label": "BR"
                            },
                            {
                              "name": "70",
                              "type": "text",
                              "label": "BS"
                            },
                            {
                              "name": "71",
                              "type": "text",
                              "label": "BT"
                            },
                            {
                              "name": "72",
                              "type": "text",
                              "label": "BU"
                            },
                            {
                              "name": "73",
                              "type": "text",
                              "label": "BV"
                            },
                            {
                              "name": "74",
                              "type": "text",
                              "label": "BW"
                            },
                            {
                              "name": "75",
                              "type": "text",
                              "label": "BX"
                            },
                            {
                              "name": "76",
                              "type": "text",
                              "label": "BY"
                            },
                            {
                              "name": "77",
                              "type": "text",
                              "label": "BZ"
                            },
                            {
                              "name": "78",
                              "type": "text",
                              "label": "CA"
                            },
                            {
                              "name": "79",
                              "type": "text",
                              "label": "CB"
                            },
                            {
                              "name": "80",
                              "type": "text",
                              "label": "CC"
                            },
                            {
                              "name": "81",
                              "type": "text",
                              "label": "CD"
                            },
                            {
                              "name": "82",
                              "type": "text",
                              "label": "CE"
                            },
                            {
                              "name": "83",
                              "type": "text",
                              "label": "CF"
                            },
                            {
                              "name": "84",
                              "type": "text",
                              "label": "CG"
                            },
                            {
                              "name": "85",
                              "type": "text",
                              "label": "CH"
                            },
                            {
                              "name": "86",
                              "type": "text",
                              "label": "CI"
                            },
                            {
                              "name": "87",
                              "type": "text",
                              "label": "CJ"
                            },
                            {
                              "name": "88",
                              "type": "text",
                              "label": "CK"
                            },
                            {
                              "name": "89",
                              "type": "text",
                              "label": "CL"
                            },
                            {
                              "name": "90",
                              "type": "text",
                              "label": "CM"
                            },
                            {
                              "name": "91",
                              "type": "text",
                              "label": "CN"
                            },
                            {
                              "name": "92",
                              "type": "text",
                              "label": "CO"
                            },
                            {
                              "name": "93",
                              "type": "text",
                              "label": "CP"
                            },
                            {
                              "name": "94",
                              "type": "text",
                              "label": "CQ"
                            },
                            {
                              "name": "95",
                              "type": "text",
                              "label": "CR"
                            },
                            {
                              "name": "96",
                              "type": "text",
                              "label": "CS"
                            },
                            {
                              "name": "97",
                              "type": "text",
                              "label": "CT"
                            },
                            {
                              "name": "98",
                              "type": "text",
                              "label": "CU"
                            },
                            {
                              "name": "99",
                              "type": "text",
                              "label": "CV"
                            },
                            {
                              "name": "100",
                              "type": "text",
                              "label": "CW"
                            },
                            {
                              "name": "101",
                              "type": "text",
                              "label": "CX"
                            },
                            {
                              "name": "102",
                              "type": "text",
                              "label": "CY"
                            },
                            {
                              "name": "103",
                              "type": "text",
                              "label": "CZ"
                            }
                          ],
                          "type": "collection",
                          "label": "Values"
                        }
                      ]
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "designer": {
                  "x": -137,
                  "y": -278,
                  "name": "Update status"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 5710354
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 5,
              "filter": {
                "name": "No",
                "conditions": [
                  [
                    {
                      "a": "{{now}}",
                      "b": "{{addDays(addHours(2.rowValues[].`1`; -3); 1)}}",
                      "o": "date:less"
                    }
                  ]
                ]
              },
              "mapper": {
                "data": {
                  "text": "{{2.rowValues[].`6`}}",
                  "status": "pending_delivery",
                  "is_user": false,
                  "provider_name": "{{lower(2.rowValues[].`2`)}}",
                  "person_address": "{{2.rowValues[].`3`}}",
                  "channel_address": "{{2.rowValues[].`0`}}"
                }
              },
              "module": "scenario-service:CallSubscenario",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "data",
                    "spec": [
                      {
                        "name": "external_ref",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "provider_name",
                        "type": "text",
                        "label": "",
                        "required": true
                      },
                      {
                        "name": "channel_address",
                        "type": "text",
                        "label": "",
                        "required": true
                      },
                      {
                        "name": "person_address",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "text",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "is_user",
                        "type": "boolean",
                        "label": ""
                      },
                      {
                        "name": "person_name",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "ad_id",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "media_external_id",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "media_data",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "media_extension",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "status",
                        "type": "select",
                        "label": "",
                        "validate": {
                          "enum": [
                            "new",
                            "preprocessed",
                            "processed",
                            "pending_delivery",
                            "sending",
                            "send"
                          ]
                        }
                      }
                    ],
                    "type": "collection",
                    "label": "Scenario Inputs"
                  }
                ],
                "restore": {
                  "expect": {
                    "data": {
                      "nested": {
                        "status": {
                          "mode": "chose",
                          "label": "pending_delivery"
                        },
                        "is_user": {
                          "mode": "chose"
                        }
                      }
                    }
                  },
                  "parameters": {
                    "scenario": {
                      "label": "Create new interaction"
                    }
                  }
                },
                "designer": {
                  "x": -137,
                  "y": 22,
                  "name": "Create pending_delivery"
                },
                "interface": [
                  {
                    "help": "",
                    "name": "id_interaction",
                    "type": "text",
                    "label": "",
                    "default": "",
                    "required": false,
                    "multiline": false
                  },
                  {
                    "help": "",
                    "name": "id_person_conversation",
                    "type": "text",
                    "label": "",
                    "default": "",
                    "required": false,
                    "multiline": false
                  }
                ],
                "parameters": [
                  {
                    "name": "scenario",
                    "type": "scenario",
                    "label": "Scenario",
                    "required": true
                  },
                  {
                    "name": "shouldWaitForExecutionEnd",
                    "type": "boolean",
                    "label": "Wait for the scenario to finish",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "scenario": "SCN_3730125",
                "shouldWaitForExecutionEnd": true
              }
            },
            {
              "id": 6,
              "mapper": {
                "@id": "",
                "where": [
                  [
                    {
                      "a": "associated_interaction_id",
                      "b": "{{2.rowValues[].`10`}}",
                      "o": "equal"
                    }
                  ]
                ],
                "@response": "",
                "@evaluation": "",
                "@system_prompt": "",
                "@generated_interaction_id": "{{5.id_interaction}}",
                "@associated_interaction_id": ""
              },
              "module": "postgres:UpdateTable",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "@id",
                    "type": "integer",
                    "label": "id"
                  },
                  {
                    "name": "@associated_interaction_id",
                    "type": "integer",
                    "label": "associated_interaction_id"
                  },
                  {
                    "name": "@generated_interaction_id",
                    "type": "integer",
                    "label": "generated_interaction_id"
                  },
                  {
                    "name": "@response",
                    "type": "text",
                    "label": "response"
                  },
                  {
                    "name": "@system_prompt",
                    "type": "text",
                    "label": "system_prompt"
                  },
                  {
                    "name": "@evaluation",
                    "type": "text",
                    "label": "evaluation"
                  },
                  {
                    "name": "where",
                    "type": "filter",
                    "label": "Filter",
                    "options": {
                      "store": [
                        {
                          "label": "id",
                          "value": "id"
                        },
                        {
                          "label": "associated_interaction_id",
                          "value": "associated_interaction_id"
                        },
                        {
                          "label": "generated_interaction_id",
                          "value": "generated_interaction_id"
                        },
                        {
                          "label": "response",
                          "value": "response"
                        },
                        {
                          "label": "system_prompt",
                          "value": "system_prompt"
                        },
                        {
                          "label": "evaluation",
                          "value": "evaluation"
                        }
                      ],
                      "operators": [
                        {
                          "label": "Basic",
                          "options": [
                            {
                              "label": "Is not null",
                              "value": "exist"
                            },
                            {
                              "label": "Is null",
                              "value": "notexist"
                            },
                            {
                              "label": "Equal to",
                              "value": "equal"
                            },
                            {
                              "label": "Not equal to",
                              "value": "notequal"
                            },
                            {
                              "label": "Greater than",
                              "value": "greater"
                            },
                            {
                              "label": "Greater than or equal to",
                              "value": "greaterorequal"
                            },
                            {
                              "label": "Less than",
                              "value": "less"
                            },
                            {
                              "label": "Less than or equal to",
                              "value": "lessorequal"
                            },
                            {
                              "label": "Contains",
                              "value": "contain"
                            },
                            {
                              "label": "Does not contain",
                              "value": "notcontain"
                            },
                            {
                              "label": "Starts with",
                              "value": "startwith"
                            },
                            {
                              "label": "Does not start with",
                              "value": "notstartwith"
                            },
                            {
                              "label": "Ends with",
                              "value": "endwith"
                            },
                            {
                              "label": "Does not end with",
                              "value": "notendwith"
                            }
                          ]
                        }
                      ]
                    }
                  }
                ],
                "restore": {
                  "parameters": {
                    "table": {
                      "label": "public.ai_interaction"
                    },
                    "account": {
                      "data": {
                        "scoped": "true",
                        "connection": "postgres"
                      },
                      "label": "IITA - Producción (Supabase) (postgres.cpkzzzwncpbzexpesock@aws-1-us-east-1.pooler.supabase.com:5432/postgres)"
                    }
                  }
                },
                "designer": {
                  "x": 163,
                  "y": 22,
                  "name": "Update record ia"
                },
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:postgres",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "isToManageDataInSharedTransaction",
                    "type": "boolean",
                    "label": "Manage data within the shared transaction",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "table": "\"public\".\"ai_interaction\"",
                "account": 6184753,
                "isToManageDataInSharedTransaction": true
              }
            },
            {
              "id": 7,
              "mapper": {
                "mode": "fromAll",
                "values": {
                  "8": "Pendiente",
                  "11": "{{5.id_interaction}}"
                },
                "sheetId": "{{2.sheetName}}",
                "rowNumber": "{{2.range.rowStart}}",
                "spreadsheetId": "1qXXB8me9BWzGZpw5b9SyHEWIe7xJT0vMRN4RlcS6Rss",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
              },
              "module": "google-sheets:updateRow",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "text",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "mode": "edit",
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "rowNumber",
                    "type": "uinteger",
                    "label": "Row number",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "A"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "B"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "C"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "D"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "E"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "F"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "G"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "H"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "I"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "J"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "K"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "L"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "M"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "N"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "O"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "P"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "Q"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "R"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "S"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "T"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "U"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "V"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "W"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "X"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "Y"
                      },
                      {
                        "name": "25",
                        "type": "text",
                        "label": "Z"
                      },
                      {
                        "name": "26",
                        "type": "text",
                        "label": "AA"
                      },
                      {
                        "name": "27",
                        "type": "text",
                        "label": "AB"
                      },
                      {
                        "name": "28",
                        "type": "text",
                        "label": "AC"
                      },
                      {
                        "name": "29",
                        "type": "text",
                        "label": "AD"
                      },
                      {
                        "name": "30",
                        "type": "text",
                        "label": "AE"
                      },
                      {
                        "name": "31",
                        "type": "text",
                        "label": "AF"
                      },
                      {
                        "name": "32",
                        "type": "text",
                        "label": "AG"
                      },
                      {
                        "name": "33",
                        "type": "text",
                        "label": "AH"
                      },
                      {
                        "name": "34",
                        "type": "text",
                        "label": "AI"
                      },
                      {
                        "name": "35",
                        "type": "text",
                        "label": "AJ"
                      },
                      {
                        "name": "36",
                        "type": "text",
                        "label": "AK"
                      },
                      {
                        "name": "37",
                        "type": "text",
                        "label": "AL"
                      },
                      {
                        "name": "38",
                        "type": "text",
                        "label": "AM"
                      },
                      {
                        "name": "39",
                        "type": "text",
                        "label": "AN"
                      },
                      {
                        "name": "40",
                        "type": "text",
                        "label": "AO"
                      },
                      {
                        "name": "41",
                        "type": "text",
                        "label": "AP"
                      },
                      {
                        "name": "42",
                        "type": "text",
                        "label": "AQ"
                      },
                      {
                        "name": "43",
                        "type": "text",
                        "label": "AR"
                      },
                      {
                        "name": "44",
                        "type": "text",
                        "label": "AS"
                      },
                      {
                        "name": "45",
                        "type": "text",
                        "label": "AT"
                      },
                      {
                        "name": "46",
                        "type": "text",
                        "label": "AU"
                      },
                      {
                        "name": "47",
                        "type": "text",
                        "label": "AV"
                      },
                      {
                        "name": "48",
                        "type": "text",
                        "label": "AW"
                      },
                      {
                        "name": "49",
                        "type": "text",
                        "label": "AX"
                      },
                      {
                        "name": "50",
                        "type": "text",
                        "label": "AY"
                      },
                      {
                        "name": "51",
                        "type": "text",
                        "label": "AZ"
                      },
                      {
                        "name": "52",
                        "type": "text",
                        "label": "BA"
                      },
                      {
                        "name": "53",
                        "type": "text",
                        "label": "BB"
                      },
                      {
                        "name": "54",
                        "type": "text",
                        "label": "BC"
                      },
                      {
                        "name": "55",
                        "type": "text",
                        "label": "BD"
                      },
                      {
                        "name": "56",
                        "type": "text",
                        "label": "BE"
                      },
                      {
                        "name": "57",
                        "type": "text",
                        "label": "BF"
                      },
                      {
                        "name": "58",
                        "type": "text",
                        "label": "BG"
                      },
                      {
                        "name": "59",
                        "type": "text",
                        "label": "BH"
                      },
                      {
                        "name": "60",
                        "type": "text",
                        "label": "BI"
                      },
                      {
                        "name": "61",
                        "type": "text",
                        "label": "BJ"
                      },
                      {
                        "name": "62",
                        "type": "text",
                        "label": "BK"
                      },
                      {
                        "name": "63",
                        "type": "text",
                        "label": "BL"
                      },
                      {
                        "name": "64",
                        "type": "text",
                        "label": "BM"
                      },
                      {
                        "name": "65",
                        "type": "text",
                        "label": "BN"
                      },
                      {
                        "name": "66",
                        "type": "text",
                        "label": "BO"
                      },
                      {
                        "name": "67",
                        "type": "text",
                        "label": "BP"
                      },
                      {
                        "name": "68",
                        "type": "text",
                        "label": "BQ"
                      },
                      {
                        "name": "69",
                        "type": "text",
                        "label": "BR"
                      },
                      {
                        "name": "70",
                        "type": "text",
                        "label": "BS"
                      },
                      {
                        "name": "71",
                        "type": "text",
                        "label": "BT"
                      },
                      {
                        "name": "72",
                        "type": "text",
                        "label": "BU"
                      },
                      {
                        "name": "73",
                        "type": "text",
                        "label": "BV"
                      },
                      {
                        "name": "74",
                        "type": "text",
                        "label": "BW"
                      },
                      {
                        "name": "75",
                        "type": "text",
                        "label": "BX"
                      },
                      {
                        "name": "76",
                        "type": "text",
                        "label": "BY"
                      },
                      {
                        "name": "77",
                        "type": "text",
                        "label": "BZ"
                      },
                      {
                        "name": "78",
                        "type": "text",
                        "label": "CA"
                      },
                      {
                        "name": "79",
                        "type": "text",
                        "label": "CB"
                      },
                      {
                        "name": "80",
                        "type": "text",
                        "label": "CC"
                      },
                      {
                        "name": "81",
                        "type": "text",
                        "label": "CD"
                      },
                      {
                        "name": "82",
                        "type": "text",
                        "label": "CE"
                      },
                      {
                        "name": "83",
                        "type": "text",
                        "label": "CF"
                      },
                      {
                        "name": "84",
                        "type": "text",
                        "label": "CG"
                      },
                      {
                        "name": "85",
                        "type": "text",
                        "label": "CH"
                      },
                      {
                        "name": "86",
                        "type": "text",
                        "label": "CI"
                      },
                      {
                        "name": "87",
                        "type": "text",
                        "label": "CJ"
                      },
                      {
                        "name": "88",
                        "type": "text",
                        "label": "CK"
                      },
                      {
                        "name": "89",
                        "type": "text",
                        "label": "CL"
                      },
                      {
                        "name": "90",
                        "type": "text",
                        "label": "CM"
                      },
                      {
                        "name": "91",
                        "type": "text",
                        "label": "CN"
                      },
                      {
                        "name": "92",
                        "type": "text",
                        "label": "CO"
                      },
                      {
                        "name": "93",
                        "type": "text",
                        "label": "CP"
                      },
                      {
                        "name": "94",
                        "type": "text",
                        "label": "CQ"
                      },
                      {
                        "name": "95",
                        "type": "text",
                        "label": "CR"
                      },
                      {
                        "name": "96",
                        "type": "text",
                        "label": "CS"
                      },
                      {
                        "name": "97",
                        "type": "text",
                        "label": "CT"
                      },
                      {
                        "name": "98",
                        "type": "text",
                        "label": "CU"
                      },
                      {
                        "name": "99",
                        "type": "text",
                        "label": "CV"
                      },
                      {
                        "name": "100",
                        "type": "text",
                        "label": "CW"
                      },
                      {
                        "name": "101",
                        "type": "text",
                        "label": "CX"
                      },
                      {
                        "name": "102",
                        "type": "text",
                        "label": "CY"
                      },
                      {
                        "name": "103",
                        "type": "text",
                        "label": "CZ"
                      }
                    ],
                    "type": "collection",
                    "label": "Values"
                  }
                ],
                "restore": {
                  "expect": {
                    "mode": {
                      "label": "Select from all"
                    },
                    "sheetId": {
                      "mode": "edit"
                    },
                    "includesHeaders": {
                      "label": "Yes",
                      "nested": [
                        {
                          "name": "values",
                          "spec": [
                            {
                              "name": "0",
                              "type": "text",
                              "label": "A"
                            },
                            {
                              "name": "1",
                              "type": "text",
                              "label": "B"
                            },
                            {
                              "name": "2",
                              "type": "text",
                              "label": "C"
                            },
                            {
                              "name": "3",
                              "type": "text",
                              "label": "D"
                            },
                            {
                              "name": "4",
                              "type": "text",
                              "label": "E"
                            },
                            {
                              "name": "5",
                              "type": "text",
                              "label": "F"
                            },
                            {
                              "name": "6",
                              "type": "text",
                              "label": "G"
                            },
                            {
                              "name": "7",
                              "type": "text",
                              "label": "H"
                            },
                            {
                              "name": "8",
                              "type": "text",
                              "label": "I"
                            },
                            {
                              "name": "9",
                              "type": "text",
                              "label": "J"
                            },
                            {
                              "name": "10",
                              "type": "text",
                              "label": "K"
                            },
                            {
                              "name": "11",
                              "type": "text",
                              "label": "L"
                            },
                            {
                              "name": "12",
                              "type": "text",
                              "label": "M"
                            },
                            {
                              "name": "13",
                              "type": "text",
                              "label": "N"
                            },
                            {
                              "name": "14",
                              "type": "text",
                              "label": "O"
                            },
                            {
                              "name": "15",
                              "type": "text",
                              "label": "P"
                            },
                            {
                              "name": "16",
                              "type": "text",
                              "label": "Q"
                            },
                            {
                              "name": "17",
                              "type": "text",
                              "label": "R"
                            },
                            {
                              "name": "18",
                              "type": "text",
                              "label": "S"
                            },
                            {
                              "name": "19",
                              "type": "text",
                              "label": "T"
                            },
                            {
                              "name": "20",
                              "type": "text",
                              "label": "U"
                            },
                            {
                              "name": "21",
                              "type": "text",
                              "label": "V"
                            },
                            {
                              "name": "22",
                              "type": "text",
                              "label": "W"
                            },
                            {
                              "name": "23",
                              "type": "text",
                              "label": "X"
                            },
                            {
                              "name": "24",
                              "type": "text",
                              "label": "Y"
                            },
                            {
                              "name": "25",
                              "type": "text",
                              "label": "Z"
                            },
                            {
                              "name": "26",
                              "type": "text",
                              "label": "AA"
                            },
                            {
                              "name": "27",
                              "type": "text",
                              "label": "AB"
                            },
                            {
                              "name": "28",
                              "type": "text",
                              "label": "AC"
                            },
                            {
                              "name": "29",
                              "type": "text",
                              "label": "AD"
                            },
                            {
                              "name": "30",
                              "type": "text",
                              "label": "AE"
                            },
                            {
                              "name": "31",
                              "type": "text",
                              "label": "AF"
                            },
                            {
                              "name": "32",
                              "type": "text",
                              "label": "AG"
                            },
                            {
                              "name": "33",
                              "type": "text",
                              "label": "AH"
                            },
                            {
                              "name": "34",
                              "type": "text",
                              "label": "AI"
                            },
                            {
                              "name": "35",
                              "type": "text",
                              "label": "AJ"
                            },
                            {
                              "name": "36",
                              "type": "text",
                              "label": "AK"
                            },
                            {
                              "name": "37",
                              "type": "text",
                              "label": "AL"
                            },
                            {
                              "name": "38",
                              "type": "text",
                              "label": "AM"
                            },
                            {
                              "name": "39",
                              "type": "text",
                              "label": "AN"
                            },
                            {
                              "name": "40",
                              "type": "text",
                              "label": "AO"
                            },
                            {
                              "name": "41",
                              "type": "text",
                              "label": "AP"
                            },
                            {
                              "name": "42",
                              "type": "text",
                              "label": "AQ"
                            },
                            {
                              "name": "43",
                              "type": "text",
                              "label": "AR"
                            },
                            {
                              "name": "44",
                              "type": "text",
                              "label": "AS"
                            },
                            {
                              "name": "45",
                              "type": "text",
                              "label": "AT"
                            },
                            {
                              "name": "46",
                              "type": "text",
                              "label": "AU"
                            },
                            {
                              "name": "47",
                              "type": "text",
                              "label": "AV"
                            },
                            {
                              "name": "48",
                              "type": "text",
                              "label": "AW"
                            },
                            {
                              "name": "49",
                              "type": "text",
                              "label": "AX"
                            },
                            {
                              "name": "50",
                              "type": "text",
                              "label": "AY"
                            },
                            {
                              "name": "51",
                              "type": "text",
                              "label": "AZ"
                            },
                            {
                              "name": "52",
                              "type": "text",
                              "label": "BA"
                            },
                            {
                              "name": "53",
                              "type": "text",
                              "label": "BB"
                            },
                            {
                              "name": "54",
                              "type": "text",
                              "label": "BC"
                            },
                            {
                              "name": "55",
                              "type": "text",
                              "label": "BD"
                            },
                            {
                              "name": "56",
                              "type": "text",
                              "label": "BE"
                            },
                            {
                              "name": "57",
                              "type": "text",
                              "label": "BF"
                            },
                            {
                              "name": "58",
                              "type": "text",
                              "label": "BG"
                            },
                            {
                              "name": "59",
                              "type": "text",
                              "label": "BH"
                            },
                            {
                              "name": "60",
                              "type": "text",
                              "label": "BI"
                            },
                            {
                              "name": "61",
                              "type": "text",
                              "label": "BJ"
                            },
                            {
                              "name": "62",
                              "type": "text",
                              "label": "BK"
                            },
                            {
                              "name": "63",
                              "type": "text",
                              "label": "BL"
                            },
                            {
                              "name": "64",
                              "type": "text",
                              "label": "BM"
                            },
                            {
                              "name": "65",
                              "type": "text",
                              "label": "BN"
                            },
                            {
                              "name": "66",
                              "type": "text",
                              "label": "BO"
                            },
                            {
                              "name": "67",
                              "type": "text",
                              "label": "BP"
                            },
                            {
                              "name": "68",
                              "type": "text",
                              "label": "BQ"
                            },
                            {
                              "name": "69",
                              "type": "text",
                              "label": "BR"
                            },
                            {
                              "name": "70",
                              "type": "text",
                              "label": "BS"
                            },
                            {
                              "name": "71",
                              "type": "text",
                              "label": "BT"
                            },
                            {
                              "name": "72",
                              "type": "text",
                              "label": "BU"
                            },
                            {
                              "name": "73",
                              "type": "text",
                              "label": "BV"
                            },
                            {
                              "name": "74",
                              "type": "text",
                              "label": "BW"
                            },
                            {
                              "name": "75",
                              "type": "text",
                              "label": "BX"
                            },
                            {
                              "name": "76",
                              "type": "text",
                              "label": "BY"
                            },
                            {
                              "name": "77",
                              "type": "text",
                              "label": "BZ"
                            },
                            {
                              "name": "78",
                              "type": "text",
                              "label": "CA"
                            },
                            {
                              "name": "79",
                              "type": "text",
                              "label": "CB"
                            },
                            {
                              "name": "80",
                              "type": "text",
                              "label": "CC"
                            },
                            {
                              "name": "81",
                              "type": "text",
                              "label": "CD"
                            },
                            {
                              "name": "82",
                              "type": "text",
                              "label": "CE"
                            },
                            {
                              "name": "83",
                              "type": "text",
                              "label": "CF"
                            },
                            {
                              "name": "84",
                              "type": "text",
                              "label": "CG"
                            },
                            {
                              "name": "85",
                              "type": "text",
                              "label": "CH"
                            },
                            {
                              "name": "86",
                              "type": "text",
                              "label": "CI"
                            },
                            {
                              "name": "87",
                              "type": "text",
                              "label": "CJ"
                            },
                            {
                              "name": "88",
                              "type": "text",
                              "label": "CK"
                            },
                            {
                              "name": "89",
                              "type": "text",
                              "label": "CL"
                            },
                            {
                              "name": "90",
                              "type": "text",
                              "label": "CM"
                            },
                            {
                              "name": "91",
                              "type": "text",
                              "label": "CN"
                            },
                            {
                              "name": "92",
                              "type": "text",
                              "label": "CO"
                            },
                            {
                              "name": "93",
                              "type": "text",
                              "label": "CP"
                            },
                            {
                              "name": "94",
                              "type": "text",
                              "label": "CQ"
                            },
                            {
                              "name": "95",
                              "type": "text",
                              "label": "CR"
                            },
                            {
                              "name": "96",
                              "type": "text",
                              "label": "CS"
                            },
                            {
                              "name": "97",
                              "type": "text",
                              "label": "CT"
                            },
                            {
                              "name": "98",
                              "type": "text",
                              "label": "CU"
                            },
                            {
                              "name": "99",
                              "type": "text",
                              "label": "CV"
                            },
                            {
                              "name": "100",
                              "type": "text",
                              "label": "CW"
                            },
                            {
                              "name": "101",
                              "type": "text",
                              "label": "CX"
                            },
                            {
                              "name": "102",
                              "type": "text",
                              "label": "CY"
                            },
                            {
                              "name": "103",
                              "type": "text",
                              "label": "CZ"
                            }
                          ],
                          "type": "collection",
                          "label": "Values"
                        }
                      ]
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "designer": {
                  "x": 463,
                  "y": 22,
                  "name": "Pending"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 5710354
              }
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": -437,
          "y": -128,
          "name": "¿Out of deadline?"
        }
      }
    }
  ],
  "name": "Generate interactions from Google Sheets",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": []
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}