snapshots/2026-02-18_pre_fix/8_otros/2794919_flujo_maestro_iita_3d.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {
        "from": "drive",
        "limit": "3",
        "filter": [
          [
            {
              "a": "G",
              "b": "SI",
              "o": "text:equal"
            },
            {
              "a": "F",
              "b": "Revisión",
              "o": "text:equal"
            }
          ]
        ],
        "orderBy": "B",
        "sheetId": "Post generado",
        "fieldType": "date",
        "sortOrder": "desc",
        "spreadsheetId": "1_qErnyu2sY3whh0pIpIrlL66osWOKsOXCBogCANm7S8",
        "tableFirstRow": "A1:CZ1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "module": "google-sheets:filterRows",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "from",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share"
              ]
            }
          },
          {
            "name": "valueRenderOption",
            "type": "select",
            "label": "Value render option",
            "validate": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            }
          },
          {
            "name": "dateTimeRenderOption",
            "type": "select",
            "label": "Date and time render option",
            "validate": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          },
          {
            "name": "spreadsheetId",
            "type": "select",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "tableFirstRow",
            "type": "select",
            "label": "Column range",
            "required": true,
            "validate": {
              "enum": [
                "A1:Z1",
                "A1:BZ1",
                "A1:CZ1",
                "A1:DZ1",
                "A1:MZ1",
                "A1:ZZ1",
                "A1:AZZ1",
                "A1:BZZ1",
                "A1:CZZ1",
                "A1:DZZ1",
                "A1:MZZ1",
                "A1:ZZZ1"
              ]
            }
          },
          {
            "name": "filter",
            "type": "filter",
            "label": "Filter",
            "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
          },
          {
            "name": "orderBy",
            "type": "select",
            "label": "Order by"
          },
          {
            "name": "sortOrder",
            "type": "select",
            "label": "Sort order",
            "validate": {
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "fieldType",
            "type": "select",
            "label": "Field Type",
            "validate": {
              "enum": [
                "string",
                "number",
                "date"
              ]
            }
          },
          {
            "name": "from",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share"
              ]
            }
          },
          {
            "name": "valueRenderOption",
            "type": "select",
            "label": "Value render option",
            "validate": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            }
          },
          {
            "name": "dateTimeRenderOption",
            "type": "select",
            "label": "Date and time render option",
            "validate": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          },
          {
            "name": "spreadsheetId",
            "type": "select",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "tableFirstRow",
            "type": "select",
            "label": "Column range",
            "required": true,
            "validate": {
              "enum": [
                "A1:Z1",
                "A1:BZ1",
                "A1:CZ1",
                "A1:DZ1",
                "A1:MZ1",
                "A1:ZZ1",
                "A1:AZZ1",
                "A1:BZZ1",
                "A1:CZZ1",
                "A1:DZZ1",
                "A1:MZZ1",
                "A1:ZZZ1"
              ]
            }
          },
          {
            "name": "filter",
            "type": "filter",
            "label": "Filter",
            "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
          },
          {
            "name": "orderBy",
            "type": "select",
            "label": "Order by"
          },
          {
            "name": "sortOrder",
            "type": "select",
            "label": "Sort order",
            "validate": {
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "fieldType",
            "type": "select",
            "label": "Field Type",
            "validate": {
              "enum": [
                "string",
                "number",
                "date"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "from": {
              "label": "Select from My Drive"
            },
            "filter": {
              "label": []
            },
            "orderBy": {
              "mode": "chose",
              "label": "Fecha de generación (B)"
            },
            "sheetId": {
              "mode": "chose",
              "label": "Post generado"
            },
            "fieldType": {
              "mode": "chose",
              "label": "Date"
            },
            "sortOrder": {
              "mode": "chose",
              "label": "Descending"
            },
            "spreadsheetId": {
              "mode": "chose",
              "label": "Post Facebook IITA"
            },
            "tableFirstRow": {
              "label": "A-CZ"
            },
            "includesHeaders": {
              "mode": "chose",
              "label": "Yes"
            },
            "valueRenderOption": {
              "mode": "chose",
              "label": "Formatted value"
            },
            "dateTimeRenderOption": {
              "mode": "chose",
              "label": "Formatted string"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google"
              },
              "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 450,
          "name": "Buscar posteos autorizados"
        },
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "__ROW_NUMBER__",
            "type": "number",
            "label": "Row number"
          },
          {
            "name": "__SPREADSHEET_ID__",
            "type": "text",
            "label": "Spreadsheet ID"
          },
          {
            "name": "__SHEET__",
            "type": "text",
            "label": "Sheet"
          },
          {
            "name": "0",
            "type": "text",
            "label": "Tipo de post (A)"
          },
          {
            "name": "1",
            "type": "text",
            "label": "Fecha de generación (B)"
          },
          {
            "name": "2",
            "type": "text",
            "label": "Descripción post (C)"
          },
          {
            "name": "3",
            "type": "text",
            "label": "Imágen (D)"
          },
          {
            "name": "4",
            "type": "text",
            "label": "ID de archivo (E)"
          },
          {
            "name": "5",
            "type": "text",
            "label": "Estado (F)"
          },
          {
            "name": "6",
            "type": "text",
            "label": "Aprobado (G)"
          },
          {
            "name": "7",
            "type": "text",
            "label": "(H)"
          },
          {
            "name": "8",
            "type": "text",
            "label": "(I)"
          },
          {
            "name": "9",
            "type": "text",
            "label": "(J)"
          },
          {
            "name": "10",
            "type": "text",
            "label": "(K)"
          },
          {
            "name": "11",
            "type": "text",
            "label": "(L)"
          },
          {
            "name": "12",
            "type": "text",
            "label": "(M)"
          },
          {
            "name": "13",
            "type": "text",
            "label": "(N)"
          },
          {
            "name": "14",
            "type": "text",
            "label": "(O)"
          },
          {
            "name": "15",
            "type": "text",
            "label": "(P)"
          },
          {
            "name": "16",
            "type": "text",
            "label": "(Q)"
          },
          {
            "name": "17",
            "type": "text",
            "label": "(R)"
          },
          {
            "name": "18",
            "type": "text",
            "label": "(S)"
          },
          {
            "name": "19",
            "type": "text",
            "label": "(T)"
          },
          {
            "name": "20",
            "type": "text",
            "label": "(U)"
          },
          {
            "name": "21",
            "type": "text",
            "label": "(V)"
          },
          {
            "name": "22",
            "type": "text",
            "label": "(W)"
          },
          {
            "name": "23",
            "type": "text",
            "label": "(X)"
          },
          {
            "name": "24",
            "type": "text",
            "label": "(Y)"
          },
          {
            "name": "25",
            "type": "text",
            "label": "(Z)"
          },
          {
            "name": "26",
            "type": "text",
            "label": "(AA)"
          },
          {
            "name": "27",
            "type": "text",
            "label": "(AB)"
          },
          {
            "name": "28",
            "type": "text",
            "label": "(AC)"
          },
          {
            "name": "29",
            "type": "text",
            "label": "(AD)"
          },
          {
            "name": "30",
            "type": "text",
            "label": "(AE)"
          },
          {
            "name": "31",
            "type": "text",
            "label": "(AF)"
          },
          {
            "name": "32",
            "type": "text",
            "label": "(AG)"
          },
          {
            "name": "33",
            "type": "text",
            "label": "(AH)"
          },
          {
            "name": "34",
            "type": "text",
            "label": "(AI)"
          },
          {
            "name": "35",
            "type": "text",
            "label": "(AJ)"
          },
          {
            "name": "36",
            "type": "text",
            "label": "(AK)"
          },
          {
            "name": "37",
            "type": "text",
            "label": "(AL)"
          },
          {
            "name": "38",
            "type": "text",
            "label": "(AM)"
          },
          {
            "name": "39",
            "type": "text",
            "label": "(AN)"
          },
          {
            "name": "40",
            "type": "text",
            "label": "(AO)"
          },
          {
            "name": "41",
            "type": "text",
            "label": "(AP)"
          },
          {
            "name": "42",
            "type": "text",
            "label": "(AQ)"
          },
          {
            "name": "43",
            "type": "text",
            "label": "(AR)"
          },
          {
            "name": "44",
            "type": "text",
            "label": "(AS)"
          },
          {
            "name": "45",
            "type": "text",
            "label": "(AT)"
          },
          {
            "name": "46",
            "type": "text",
            "label": "(AU)"
          },
          {
            "name": "47",
            "type": "text",
            "label": "(AV)"
          },
          {
            "name": "48",
            "type": "text",
            "label": "(AW)"
          },
          {
            "name": "49",
            "type": "text",
            "label": "(AX)"
          },
          {
            "name": "50",
            "type": "text",
            "label": "(AY)"
          },
          {
            "name": "51",
            "type": "text",
            "label": "(AZ)"
          },
          {
            "name": "52",
            "type": "text",
            "label": "(BA)"
          },
          {
            "name": "53",
            "type": "text",
            "label": "(BB)"
          },
          {
            "name": "54",
            "type": "text",
            "label": "(BC)"
          },
          {
            "name": "55",
            "type": "text",
            "label": "(BD)"
          },
          {
            "name": "56",
            "type": "text",
            "label": "(BE)"
          },
          {
            "name": "57",
            "type": "text",
            "label": "(BF)"
          },
          {
            "name": "58",
            "type": "text",
            "label": "(BG)"
          },
          {
            "name": "59",
            "type": "text",
            "label": "(BH)"
          },
          {
            "name": "60",
            "type": "text",
            "label": "(BI)"
          },
          {
            "name": "61",
            "type": "text",
            "label": "(BJ)"
          },
          {
            "name": "62",
            "type": "text",
            "label": "(BK)"
          },
          {
            "name": "63",
            "type": "text",
            "label": "(BL)"
          },
          {
            "name": "64",
            "type": "text",
            "label": "(BM)"
          },
          {
            "name": "65",
            "type": "text",
            "label": "(BN)"
          },
          {
            "name": "66",
            "type": "text",
            "label": "(BO)"
          },
          {
            "name": "67",
            "type": "text",
            "label": "(BP)"
          },
          {
            "name": "68",
            "type": "text",
            "label": "(BQ)"
          },
          {
            "name": "69",
            "type": "text",
            "label": "(BR)"
          },
          {
            "name": "70",
            "type": "text",
            "label": "(BS)"
          },
          {
            "name": "71",
            "type": "text",
            "label": "(BT)"
          },
          {
            "name": "72",
            "type": "text",
            "label": "(BU)"
          },
          {
            "name": "73",
            "type": "text",
            "label": "(BV)"
          },
          {
            "name": "74",
            "type": "text",
            "label": "(BW)"
          },
          {
            "name": "75",
            "type": "text",
            "label": "(BX)"
          },
          {
            "name": "76",
            "type": "text",
            "label": "(BY)"
          },
          {
            "name": "77",
            "type": "text",
            "label": "(BZ)"
          },
          {
            "name": "78",
            "type": "text",
            "label": "(CA)"
          },
          {
            "name": "79",
            "type": "text",
            "label": "(CB)"
          },
          {
            "name": "80",
            "type": "text",
            "label": "(CC)"
          },
          {
            "name": "81",
            "type": "text",
            "label": "(CD)"
          },
          {
            "name": "82",
            "type": "text",
            "label": "(CE)"
          },
          {
            "name": "83",
            "type": "text",
            "label": "(CF)"
          },
          {
            "name": "84",
            "type": "text",
            "label": "(CG)"
          },
          {
            "name": "85",
            "type": "text",
            "label": "(CH)"
          },
          {
            "name": "86",
            "type": "text",
            "label": "(CI)"
          },
          {
            "name": "87",
            "type": "text",
            "label": "(CJ)"
          },
          {
            "name": "88",
            "type": "text",
            "label": "(CK)"
          },
          {
            "name": "89",
            "type": "text",
            "label": "(CL)"
          },
          {
            "name": "90",
            "type": "text",
            "label": "(CM)"
          },
          {
            "name": "91",
            "type": "text",
            "label": "(CN)"
          },
          {
            "name": "92",
            "type": "text",
            "label": "(CO)"
          },
          {
            "name": "93",
            "type": "text",
            "label": "(CP)"
          },
          {
            "name": "94",
            "type": "text",
            "label": "(CQ)"
          },
          {
            "name": "95",
            "type": "text",
            "label": "(CR)"
          },
          {
            "name": "96",
            "type": "text",
            "label": "(CS)"
          },
          {
            "name": "97",
            "type": "text",
            "label": "(CT)"
          },
          {
            "name": "98",
            "type": "text",
            "label": "(CU)"
          },
          {
            "name": "99",
            "type": "text",
            "label": "(CV)"
          },
          {
            "name": "100",
            "type": "text",
            "label": "(CW)"
          },
          {
            "name": "101",
            "type": "text",
            "label": "(CX)"
          },
          {
            "name": "102",
            "type": "text",
            "label": "(CY)"
          },
          {
            "name": "103",
            "type": "text",
            "label": "(CZ)"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 5710354
      }
    },
    {
      "id": 4,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 6,
              "filter": {
                "name": "Curso",
                "conditions": [
                  [
                    {
                      "a": "{{1.`0`}}",
                      "b": "Curso",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "data": {
                  "File_ID": "{{1.`4`}}",
                  "Descripcion_Post": "{{1.`2`}}"
                }
              },
              "module": "scenario-service:CallSubscenario",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "data",
                    "spec": [
                      {
                        "name": "File_ID",
                        "type": "number",
                        "label": "",
                        "required": true
                      },
                      {
                        "name": "Descripcion_Post",
                        "type": "text",
                        "label": "",
                        "required": true
                      }
                    ],
                    "type": "collection",
                    "label": "Scenario Inputs"
                  }
                ],
                "restore": {
                  "parameters": {
                    "scenario": {
                      "label": "Subir AI posteos autorizados"
                    }
                  }
                },
                "designer": {
                  "x": 600,
                  "y": 0,
                  "name": "Crear posteos con IA"
                },
                "interface": [
                  {
                    "help": "Contiene el ID del post publicado.",
                    "name": "Post_ID",
                    "type": "number",
                    "label": "",
                    "default": null,
                    "required": false
                  }
                ],
                "parameters": [
                  {
                    "name": "scenario",
                    "type": "scenario",
                    "label": "Scenario",
                    "required": true
                  },
                  {
                    "name": "shouldWaitForExecutionEnd",
                    "type": "boolean",
                    "label": "Wait for subscenario output",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "scenario": "SCN_2730632",
                "shouldWaitForExecutionEnd": true
              }
            },
            {
              "id": 8,
              "mapper": {
                "cell": "F{{1.`__ROW_NUMBER__`}}",
                "from": "drive",
                "value": "Publicado",
                "select": "list",
                "sheetId": "Post generado",
                "spreadsheetId": "/1_qErnyu2sY3whh0pIpIrlL66osWOKsOXCBogCANm7S8",
                "valueInputOption": "USER_ENTERED"
              },
              "module": "google-sheets:updateCell",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "select",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "list",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "cell",
                    "type": "text",
                    "label": "Cell",
                    "required": true
                  },
                  {
                    "name": "value",
                    "type": "text",
                    "label": "Value"
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share",
                        "team"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "select",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "list",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "cell",
                    "type": "text",
                    "label": "Cell",
                    "required": true
                  },
                  {
                    "name": "value",
                    "type": "text",
                    "label": "Value"
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share",
                        "team"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  }
                ],
                "restore": {
                  "expect": {
                    "from": {
                      "label": "My Drive"
                    },
                    "select": {
                      "label": "Search by path"
                    },
                    "sheetId": {
                      "label": "Post generado"
                    },
                    "spreadsheetId": {
                      "path": [
                        "Post Facebook IITA"
                      ]
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "designer": {
                  "x": 900,
                  "y": 0,
                  "name": "Cambia el estado a \"publicado\""
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 5710354
              }
            },
            {
              "id": 16,
              "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                  "0": "{{6.Post_ID}}",
                  "1": "{{now}}",
                  "2": "{{1.`0`}}",
                  "3": "{{1.`3`}}",
                  "4": "{{1.`2`}}"
                },
                "sheetId": "Post publicado",
                "spreadsheetId": "/1_qErnyu2sY3whh0pIpIrlL66osWOKsOXCBogCANm7S8",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
              },
              "module": "google-sheets:addRow",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "insertUnformatted",
                    "type": "boolean",
                    "label": "Unformatted",
                    "required": true
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "insertDataOption",
                    "type": "select",
                    "label": "Insert data option",
                    "validate": {
                      "enum": [
                        "INSERT_ROWS",
                        "OVERWRITE"
                      ]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share",
                        "team"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "ID post (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "Fecha de posteo (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "Tipo (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "Imagen/es (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "Descripción (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "LIKE (F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                      },
                      {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                      },
                      {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                      },
                      {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                      }
                    ],
                    "type": "collection",
                    "label": "Values"
                  },
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "insertUnformatted",
                    "type": "boolean",
                    "label": "Unformatted",
                    "required": true
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "insertDataOption",
                    "type": "select",
                    "label": "Insert data option",
                    "validate": {
                      "enum": [
                        "INSERT_ROWS",
                        "OVERWRITE"
                      ]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share",
                        "team"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "ID post (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "Fecha de posteo (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "Tipo (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "Imagen/es (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "Descripción (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "LIKE (F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                      },
                      {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                      },
                      {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                      },
                      {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                      }
                    ],
                    "type": "collection",
                    "label": "Values"
                  }
                ],
                "restore": {
                  "expect": {
                    "from": {
                      "label": "My Drive"
                    },
                    "mode": {
                      "label": "Search by path"
                    },
                    "sheetId": {
                      "label": "Post publicado"
                    },
                    "spreadsheetId": {
                      "path": [
                        "Post Facebook IITA"
                      ]
                    },
                    "includesHeaders": {
                      "label": "Yes",
                      "nested": [
                        {
                          "name": "values",
                          "spec": [
                            {
                              "name": "0",
                              "type": "text",
                              "label": "ID post (A)"
                            },
                            {
                              "name": "1",
                              "type": "text",
                              "label": "Fecha de posteo (B)"
                            },
                            {
                              "name": "2",
                              "type": "text",
                              "label": "Tipo (C)"
                            },
                            {
                              "name": "3",
                              "type": "text",
                              "label": "Imagen/es (D)"
                            },
                            {
                              "name": "4",
                              "type": "text",
                              "label": "Descripción (E)"
                            },
                            {
                              "name": "5",
                              "type": "text",
                              "label": "LIKE (F)"
                            },
                            {
                              "name": "6",
                              "type": "text",
                              "label": "(G)"
                            },
                            {
                              "name": "7",
                              "type": "text",
                              "label": "(H)"
                            },
                            {
                              "name": "8",
                              "type": "text",
                              "label": "(I)"
                            },
                            {
                              "name": "9",
                              "type": "text",
                              "label": "(J)"
                            },
                            {
                              "name": "10",
                              "type": "text",
                              "label": "(K)"
                            },
                            {
                              "name": "11",
                              "type": "text",
                              "label": "(L)"
                            },
                            {
                              "name": "12",
                              "type": "text",
                              "label": "(M)"
                            },
                            {
                              "name": "13",
                              "type": "text",
                              "label": "(N)"
                            },
                            {
                              "name": "14",
                              "type": "text",
                              "label": "(O)"
                            },
                            {
                              "name": "15",
                              "type": "text",
                              "label": "(P)"
                            },
                            {
                              "name": "16",
                              "type": "text",
                              "label": "(Q)"
                            },
                            {
                              "name": "17",
                              "type": "text",
                              "label": "(R)"
                            },
                            {
                              "name": "18",
                              "type": "text",
                              "label": "(S)"
                            },
                            {
                              "name": "19",
                              "type": "text",
                              "label": "(T)"
                            },
                            {
                              "name": "20",
                              "type": "text",
                              "label": "(U)"
                            },
                            {
                              "name": "21",
                              "type": "text",
                              "label": "(V)"
                            },
                            {
                              "name": "22",
                              "type": "text",
                              "label": "(W)"
                            },
                            {
                              "name": "23",
                              "type": "text",
                              "label": "(X)"
                            },
                            {
                              "name": "24",
                              "type": "text",
                              "label": "(Y)"
                            },
                            {
                              "name": "25",
                              "type": "text",
                              "label": "(Z)"
                            },
                            {
                              "name": "26",
                              "type": "text",
                              "label": "(AA)"
                            },
                            {
                              "name": "27",
                              "type": "text",
                              "label": "(AB)"
                            }
                          ],
                          "type": "collection",
                          "label": "Values"
                        }
                      ]
                    },
                    "insertDataOption": {
                      "mode": "chose",
                      "label": "Insert rows"
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    },
                    "insertUnformatted": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "designer": {
                  "x": 1222,
                  "y": 4,
                  "name": "Añade a \"Post Publicado\""
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 5710354
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 10,
              "filter": {
                "name": "Noticia o novedad",
                "conditions": [
                  [
                    {
                      "a": "{{1.`0`}}",
                      "b": "Noticia o novedad",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {},
              "module": "scenario-service:CallSubscenario",
              "version": 2,
              "metadata": {
                "restore": {
                  "parameters": {
                    "scenario": {
                      "label": "Postear novedades 3D autorizadas"
                    }
                  }
                },
                "designer": {
                  "x": 600,
                  "y": 300,
                  "name": "Postear novedades 3D"
                },
                "parameters": [
                  {
                    "name": "scenario",
                    "type": "scenario",
                    "label": "Scenario",
                    "required": true
                  },
                  {
                    "name": "shouldWaitForExecutionEnd",
                    "type": "boolean",
                    "label": "Wait for subscenario output",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "scenario": "SCN_2742620",
                "shouldWaitForExecutionEnd": true
              }
            },
            {
              "id": 11,
              "mapper": {
                "cell": "F{{1.`__ROW_NUMBER__`}}",
                "from": "drive",
                "value": "Publicado",
                "select": "list",
                "sheetId": "Post generado",
                "spreadsheetId": "/1_qErnyu2sY3whh0pIpIrlL66osWOKsOXCBogCANm7S8",
                "valueInputOption": "USER_ENTERED"
              },
              "module": "google-sheets:updateCell",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "select",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "list",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "cell",
                    "type": "text",
                    "label": "Cell",
                    "required": true
                  },
                  {
                    "name": "value",
                    "type": "text",
                    "label": "Value"
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share",
                        "team"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  }
                ],
                "restore": {
                  "expect": {
                    "from": {
                      "label": "My Drive"
                    },
                    "select": {
                      "label": "Search by path"
                    },
                    "sheetId": {
                      "label": "Post generado"
                    },
                    "spreadsheetId": {
                      "path": [
                        "Post Facebook IITA"
                      ]
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "designer": {
                  "x": 900,
                  "y": 300,
                  "name": "Cambiar estado a \"publicado\""
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 5710354
              }
            },
            {
              "id": 17,
              "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                  "1": "{{now}}",
                  "2": "{{1.`0`}}",
                  "3": "{{1.`3`}}",
                  "4": "{{1.`2`}}"
                },
                "sheetId": "Post publicado",
                "spreadsheetId": "/1_qErnyu2sY3whh0pIpIrlL66osWOKsOXCBogCANm7S8",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
              },
              "module": "google-sheets:addRow",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "insertUnformatted",
                    "type": "boolean",
                    "label": "Unformatted",
                    "required": true
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "insertDataOption",
                    "type": "select",
                    "label": "Insert data option",
                    "validate": {
                      "enum": [
                        "INSERT_ROWS",
                        "OVERWRITE"
                      ]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share",
                        "team"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "ID post (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "Fecha de posteo (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "Tipo (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "Imagen/es (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "Descripción (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "LIKE (F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                      },
                      {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                      },
                      {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                      },
                      {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                      }
                    ],
                    "type": "collection",
                    "label": "Values"
                  },
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "insertUnformatted",
                    "type": "boolean",
                    "label": "Unformatted",
                    "required": true
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "insertDataOption",
                    "type": "select",
                    "label": "Insert data option",
                    "validate": {
                      "enum": [
                        "INSERT_ROWS",
                        "OVERWRITE"
                      ]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share",
                        "team"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "ID post (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "Fecha de posteo (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "Tipo (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "Imagen/es (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "Descripción (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "LIKE (F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                      },
                      {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                      },
                      {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                      },
                      {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                      }
                    ],
                    "type": "collection",
                    "label": "Values"
                  }
                ],
                "restore": {
                  "expect": {
                    "from": {
                      "label": "My Drive"
                    },
                    "mode": {
                      "label": "Search by path"
                    },
                    "sheetId": {
                      "label": "Post publicado"
                    },
                    "spreadsheetId": {
                      "path": [
                        "Post Facebook IITA"
                      ]
                    },
                    "includesHeaders": {
                      "label": "Yes",
                      "nested": [
                        {
                          "name": "values",
                          "spec": [
                            {
                              "name": "0",
                              "type": "text",
                              "label": "ID post (A)"
                            },
                            {
                              "name": "1",
                              "type": "text",
                              "label": "Fecha de posteo (B)"
                            },
                            {
                              "name": "2",
                              "type": "text",
                              "label": "Tipo (C)"
                            },
                            {
                              "name": "3",
                              "type": "text",
                              "label": "Imagen/es (D)"
                            },
                            {
                              "name": "4",
                              "type": "text",
                              "label": "Descripción (E)"
                            },
                            {
                              "name": "5",
                              "type": "text",
                              "label": "LIKE (F)"
                            },
                            {
                              "name": "6",
                              "type": "text",
                              "label": "(G)"
                            },
                            {
                              "name": "7",
                              "type": "text",
                              "label": "(H)"
                            },
                            {
                              "name": "8",
                              "type": "text",
                              "label": "(I)"
                            },
                            {
                              "name": "9",
                              "type": "text",
                              "label": "(J)"
                            },
                            {
                              "name": "10",
                              "type": "text",
                              "label": "(K)"
                            },
                            {
                              "name": "11",
                              "type": "text",
                              "label": "(L)"
                            },
                            {
                              "name": "12",
                              "type": "text",
                              "label": "(M)"
                            },
                            {
                              "name": "13",
                              "type": "text",
                              "label": "(N)"
                            },
                            {
                              "name": "14",
                              "type": "text",
                              "label": "(O)"
                            },
                            {
                              "name": "15",
                              "type": "text",
                              "label": "(P)"
                            },
                            {
                              "name": "16",
                              "type": "text",
                              "label": "(Q)"
                            },
                            {
                              "name": "17",
                              "type": "text",
                              "label": "(R)"
                            },
                            {
                              "name": "18",
                              "type": "text",
                              "label": "(S)"
                            },
                            {
                              "name": "19",
                              "type": "text",
                              "label": "(T)"
                            },
                            {
                              "name": "20",
                              "type": "text",
                              "label": "(U)"
                            },
                            {
                              "name": "21",
                              "type": "text",
                              "label": "(V)"
                            },
                            {
                              "name": "22",
                              "type": "text",
                              "label": "(W)"
                            },
                            {
                              "name": "23",
                              "type": "text",
                              "label": "(X)"
                            },
                            {
                              "name": "24",
                              "type": "text",
                              "label": "(Y)"
                            },
                            {
                              "name": "25",
                              "type": "text",
                              "label": "(Z)"
                            },
                            {
                              "name": "26",
                              "type": "text",
                              "label": "(AA)"
                            },
                            {
                              "name": "27",
                              "type": "text",
                              "label": "(AB)"
                            }
                          ],
                          "type": "collection",
                          "label": "Values"
                        }
                      ]
                    },
                    "insertDataOption": {
                      "mode": "chose",
                      "label": "Insert rows"
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    },
                    "insertUnformatted": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 300,
                  "name": "Añade a \"Post Publicado\""
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 5710354
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 14,
              "mapper": {},
              "module": "scenario-service:CallSubscenario",
              "version": 2,
              "metadata": {
                "restore": {
                  "parameters": {
                    "scenario": {
                      "label": "Novedades 3D"
                    }
                  }
                },
                "designer": {
                  "x": 600,
                  "y": 600,
                  "name": "Extraer noticias 3D"
                },
                "parameters": [
                  {
                    "name": "scenario",
                    "type": "scenario",
                    "label": "Scenario",
                    "required": true
                  },
                  {
                    "name": "shouldWaitForExecutionEnd",
                    "type": "boolean",
                    "label": "Wait for subscenario output",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "scenario": "SCN_2740948",
                "shouldWaitForExecutionEnd": true
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 7,
              "filter": {
                "name": "",
                "conditions": [
                  [
                    {
                      "a": "{{1.`__IMTLENGTH__`}}",
                      "b": "3",
                      "o": "number:lessorequal"
                    }
                  ]
                ]
              },
              "mapper": {},
              "module": "scenario-service:CallSubscenario",
              "version": 2,
              "metadata": {
                "restore": {
                  "parameters": {
                    "scenario": {
                      "label": "Generación de contenido para Facebook IITA 3D"
                    }
                  }
                },
                "designer": {
                  "x": 600,
                  "y": 900,
                  "name": "Generar contenido con IA"
                },
                "parameters": [
                  {
                    "name": "scenario",
                    "type": "scenario",
                    "label": "Scenario",
                    "required": true
                  },
                  {
                    "name": "shouldWaitForExecutionEnd",
                    "type": "boolean",
                    "label": "Wait for subscenario output",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "scenario": "SCN_2641321",
                "shouldWaitForExecutionEnd": true
              }
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 450,
          "name": "Decisión?"
        }
      }
    }
  ],
  "name": "Flujo maestro IITA 3D",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": []
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}