snapshots/2026-02-18_pre_fix/8_otros/3331438_iita_tesoreria_-_whatsapp_coexistence_legacy.json
{
  "flow": [
    {
      "id": 33,
      "mapper": {},
      "module": "whatsapp-business-cloud:watchEvents2",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "__IMTHOOK__": {
              "data": {
                "editable": "false"
              },
              "label": "WhatApp Business (Coexistence) - IITA Tesorería"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 150
        },
        "interface": [
          {
            "name": "id",
            "type": "text",
            "label": "WhatsApp Business Account ID"
          },
          {
            "name": "time",
            "type": "date",
            "label": "Time"
          },
          {
            "name": "field",
            "type": "text",
            "label": "Field"
          },
          {
            "name": "messages",
            "spec": {
              "spec": [
                {
                  "name": "from",
                  "type": "text",
                  "label": "Sender"
                },
                {
                  "name": "id",
                  "type": "text",
                  "label": "Message ID"
                },
                {
                  "name": "timestamp",
                  "type": "date",
                  "label": "Timestamp"
                },
                {
                  "name": "text",
                  "spec": [
                    {
                      "name": "body",
                      "type": "text",
                      "label": "Body"
                    }
                  ],
                  "type": "collection",
                  "label": "Text"
                },
                {
                  "name": "type",
                  "type": "text",
                  "label": "Type"
                },
                {
                  "name": "image",
                  "spec": [
                    {
                      "name": "caption",
                      "type": "text",
                      "label": "Caption"
                    },
                    {
                      "name": "mime_type",
                      "type": "text",
                      "label": "MIME Type"
                    },
                    {
                      "name": "sha256",
                      "type": "text",
                      "label": "SHA256"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "Media ID"
                    }
                  ],
                  "type": "collection",
                  "label": "Image"
                },
                {
                  "name": "audio",
                  "spec": [
                    {
                      "name": "mime_type",
                      "type": "text",
                      "label": "MIME Type"
                    },
                    {
                      "name": "sha256",
                      "type": "text",
                      "label": "SHA256"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "Media ID"
                    },
                    {
                      "name": "voice",
                      "type": "boolean",
                      "label": "Voice"
                    }
                  ],
                  "type": "collection",
                  "label": "Audio"
                },
                {
                  "name": "video",
                  "spec": [
                    {
                      "name": "caption",
                      "type": "text",
                      "label": "Caption"
                    },
                    {
                      "name": "mime_type",
                      "type": "text",
                      "label": "MIME Type"
                    },
                    {
                      "name": "sha256",
                      "type": "text",
                      "label": "SHA256"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "Media ID"
                    }
                  ],
                  "type": "collection",
                  "label": "Video"
                },
                {
                  "name": "document",
                  "spec": [
                    {
                      "name": "caption",
                      "type": "text",
                      "label": "Caption"
                    },
                    {
                      "name": "filename",
                      "type": "text",
                      "label": "File Name"
                    },
                    {
                      "name": "mime_type",
                      "type": "text",
                      "label": "MIME Type"
                    },
                    {
                      "name": "sha256",
                      "type": "text",
                      "label": "SHA256"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "Media ID"
                    }
                  ],
                  "type": "collection",
                  "label": "Document"
                },
                {
                  "name": "contacts",
                  "spec": {
                    "spec": [
                      {
                        "name": "name",
                        "spec": [
                          {
                            "name": "formatted_name",
                            "type": "text",
                            "label": "Formatted Name"
                          },
                          {
                            "name": "first_name",
                            "type": "text",
                            "label": "First Name"
                          },
                          {
                            "name": "last_name",
                            "type": "text",
                            "label": "Last Name"
                          },
                          {
                            "name": "middle_name",
                            "type": "text",
                            "label": "Middle Name"
                          },
                          {
                            "name": "suffix",
                            "type": "text",
                            "label": "Name Suffix"
                          },
                          {
                            "name": "prefix",
                            "type": "text",
                            "label": "Name Prefix"
                          }
                        ],
                        "type": "collection",
                        "label": "Name"
                      },
                      {
                        "name": "phones",
                        "spec": [
                          {
                            "name": "phone",
                            "type": "text",
                            "label": "Phone"
                          },
                          {
                            "name": "type",
                            "type": "text",
                            "label": "Type"
                          }
                        ],
                        "type": "array",
                        "label": "Phones"
                      },
                      {
                        "name": "emails",
                        "spec": [
                          {
                            "name": "email",
                            "type": "email",
                            "label": "Email"
                          },
                          {
                            "name": "type",
                            "type": "text",
                            "label": "Type"
                          }
                        ],
                        "type": "array",
                        "label": "Emails"
                      },
                      {
                        "name": "org",
                        "spec": [
                          {
                            "name": "company",
                            "type": "text",
                            "label": "Company"
                          },
                          {
                            "name": "department",
                            "type": "text",
                            "label": "Department"
                          },
                          {
                            "name": "title",
                            "type": "text",
                            "label": "Title"
                          }
                        ],
                        "type": "collection",
                        "label": "Organization"
                      },
                      {
                        "name": "urls",
                        "spec": [
                          {
                            "name": "type",
                            "type": "text",
                            "label": "Type"
                          },
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL"
                          }
                        ],
                        "type": "array",
                        "label": "URLs"
                      },
                      {
                        "name": "addresses",
                        "spec": [
                          {
                            "name": "type",
                            "type": "text",
                            "label": "Type"
                          },
                          {
                            "name": "street",
                            "type": "text",
                            "label": "Street"
                          },
                          {
                            "name": "city",
                            "type": "text",
                            "label": "City"
                          },
                          {
                            "name": "zip",
                            "type": "text",
                            "label": "ZIP"
                          },
                          {
                            "name": "country",
                            "type": "text",
                            "label": "Country"
                          },
                          {
                            "name": "country_code",
                            "type": "text",
                            "label": "Country Code"
                          }
                        ],
                        "type": "array",
                        "label": "Addresses"
                      },
                      {
                        "name": "birthday",
                        "type": "text",
                        "label": "Birthday"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Contacts"
                },
                {
                  "name": "sticker",
                  "spec": [
                    {
                      "name": "mime_type",
                      "type": "text",
                      "label": "MIME Type"
                    },
                    {
                      "name": "sha256",
                      "type": "text",
                      "label": "SHA256"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "Media ID"
                    }
                  ],
                  "type": "collection",
                  "label": "Sticker"
                },
                {
                  "name": "location",
                  "spec": [
                    {
                      "name": "latitude",
                      "type": "number",
                      "label": "Latitude"
                    },
                    {
                      "name": "longitude",
                      "type": "number",
                      "label": "Longitude"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "address",
                      "type": "text",
                      "label": "Address"
                    }
                  ],
                  "type": "collection",
                  "label": "Location"
                },
                {
                  "name": "context",
                  "spec": [
                    {
                      "name": "from",
                      "type": "text",
                      "label": "From"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "Context ID"
                    }
                  ],
                  "type": "collection",
                  "label": "Context"
                },
                {
                  "name": "button",
                  "spec": [
                    {
                      "name": "payload",
                      "type": "text",
                      "label": "Payload"
                    },
                    {
                      "name": "text",
                      "type": "text",
                      "label": "Text"
                    }
                  ],
                  "type": "collection",
                  "label": "Button"
                },
                {
                  "name": "interactive",
                  "spec": [
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "list_reply",
                      "spec": [
                        {
                          "name": "id",
                          "type": "number",
                          "label": "ID"
                        },
                        {
                          "name": "title",
                          "type": "text",
                          "label": "Title"
                        },
                        {
                          "name": "description",
                          "type": "text",
                          "label": "Description"
                        }
                      ],
                      "type": "collection",
                      "label": "List Reply"
                    },
                    {
                      "name": "button_reply",
                      "spec": [
                        {
                          "name": "id",
                          "type": "number",
                          "label": "ID"
                        },
                        {
                          "name": "title",
                          "type": "text",
                          "label": "Title"
                        }
                      ],
                      "type": "collection",
                      "label": "Button Reply"
                    }
                  ],
                  "type": "collection",
                  "label": "Interactive"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Messages"
          },
          {
            "name": "messaging_product",
            "type": "text",
            "label": "Messaging Product"
          },
          {
            "name": "metadata",
            "spec": [
              {
                "name": "display_phone_number",
                "type": "text",
                "label": "Display Phone Number"
              },
              {
                "name": "phone_number_id",
                "type": "text",
                "label": "Phone Number ID"
              }
            ],
            "type": "collection",
            "label": "Metadata"
          },
          {
            "name": "contacts",
            "spec": {
              "spec": [
                {
                  "name": "profile",
                  "spec": [
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    }
                  ],
                  "type": "collection",
                  "label": "Profile"
                },
                {
                  "name": "wa_id",
                  "type": "text",
                  "label": "WhatsApp ID"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Contacts"
          },
          {
            "name": "statuses",
            "spec": {
              "spec": [
                {
                  "name": "id",
                  "type": "text",
                  "label": "Message ID"
                },
                {
                  "name": "status",
                  "type": "text",
                  "label": "Status"
                },
                {
                  "name": "timestamp",
                  "type": "date",
                  "label": "Timestamp"
                },
                {
                  "name": "recipient_id",
                  "type": "text",
                  "label": "Recipient ID"
                },
                {
                  "name": "conversation",
                  "spec": [
                    {
                      "name": "id",
                      "type": "text",
                      "label": "Conversation ID"
                    },
                    {
                      "name": "expiration_timestamp",
                      "type": "date",
                      "label": "Expiration Timestamp"
                    },
                    {
                      "name": "origin",
                      "spec": [
                        {
                          "name": "type",
                          "type": "text",
                          "label": "Type"
                        }
                      ],
                      "type": "collection",
                      "label": "Origin"
                    }
                  ],
                  "type": "collection",
                  "label": "Conversation"
                },
                {
                  "name": "pricing",
                  "spec": [
                    {
                      "name": "billable",
                      "type": "boolean",
                      "label": "Billable"
                    },
                    {
                      "name": "pricing_model",
                      "type": "text",
                      "label": "Pricing Model"
                    },
                    {
                      "name": "category",
                      "type": "text",
                      "label": "Category"
                    }
                  ],
                  "type": "collection",
                  "label": "Pricing"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Statuses"
          }
        ],
        "parameters": [
          {
            "name": "__IMTHOOK__",
            "type": "hook:whatsapp-business-cloud",
            "label": "Webhook",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTHOOK__": 1468119
      }
    },
    {
      "id": 34,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 35,
              "filter": {
                "name": "Mensaje cliente",
                "conditions": [
                  [
                    {
                      "a": "{{33.messages}}",
                      "o": "exist"
                    }
                  ]
                ]
              },
              "mapper": {
                "data": {
                  "text": "{{33.messages[].text.body}}",
                  "is_user": true,
                  "person_name": "{{33.contacts[].profile.name}}",
                  "external_ref": "{{33.messages[].id}}",
                  "provider_name": "{{33.messaging_product}}",
                  "person_address": "{{33.messages[].from}}",
                  "channel_address": "{{33.metadata.display_phone_number}}"
                }
              },
              "module": "scenario-service:CallSubscenario",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "data",
                    "spec": [
                      {
                        "name": "external_ref",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "provider_name",
                        "type": "text",
                        "label": "",
                        "required": true
                      },
                      {
                        "name": "channel_address",
                        "type": "text",
                        "label": "",
                        "required": true
                      },
                      {
                        "name": "person_address",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "text",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "is_user",
                        "type": "boolean",
                        "label": ""
                      },
                      {
                        "name": "person_name",
                        "type": "text",
                        "label": ""
                      }
                    ],
                    "type": "collection",
                    "label": "Scenario Inputs"
                  }
                ],
                "restore": {
                  "expect": {
                    "data": {
                      "nested": {
                        "is_user": {
                          "mode": "chose"
                        }
                      }
                    }
                  },
                  "parameters": {
                    "scenario": {
                      "label": "IITA - Create new Interaction"
                    }
                  }
                },
                "designer": {
                  "x": 600,
                  "y": 0
                },
                "interface": [
                  {
                    "name": "executionId",
                    "type": "text",
                    "label": "Execution ID"
                  }
                ],
                "parameters": [
                  {
                    "name": "scenario",
                    "type": "scenario",
                    "label": "Scenario",
                    "required": true
                  },
                  {
                    "name": "shouldWaitForExecutionEnd",
                    "type": "boolean",
                    "label": "Wait for subscenario output",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "scenario": "SCN_3240069",
                "shouldWaitForExecutionEnd": false
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 36,
              "filter": {
                "name": "self",
                "conditions": [
                  [
                    {
                      "a": "{{33.statuses}}",
                      "o": "exist"
                    },
                    {
                      "a": "{{33.statuses[].status}}",
                      "b": "delivered",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "data": {
                  "text": "Respondido desde telefono",
                  "is_user": false,
                  "person_name": "{{33.contacts[].profile.name}}",
                  "external_ref": "{{33.statuses[].id}}",
                  "provider_name": "{{33.messaging_product}}",
                  "person_address": "{{33.statuses[].recipient_id}}",
                  "channel_address": "{{33.metadata.display_phone_number}}"
                }
              },
              "module": "scenario-service:CallSubscenario",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "data",
                    "spec": [
                      {
                        "name": "external_ref",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "provider_name",
                        "type": "text",
                        "label": "",
                        "required": true
                      },
                      {
                        "name": "channel_address",
                        "type": "text",
                        "label": "",
                        "required": true
                      },
                      {
                        "name": "person_address",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "text",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "is_user",
                        "type": "boolean",
                        "label": ""
                      },
                      {
                        "name": "person_name",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "ad_id",
                        "type": "text",
                        "label": ""
                      }
                    ],
                    "type": "collection",
                    "label": "Scenario Inputs"
                  }
                ],
                "restore": {
                  "expect": {
                    "data": {
                      "nested": {
                        "is_user": {
                          "mode": "chose"
                        }
                      }
                    }
                  },
                  "parameters": {
                    "scenario": {
                      "label": "IITA - Create new Interaction"
                    }
                  }
                },
                "designer": {
                  "x": 600,
                  "y": 300
                },
                "interface": [
                  {
                    "name": "executionId",
                    "type": "text",
                    "label": "Execution ID"
                  }
                ],
                "parameters": [
                  {
                    "name": "scenario",
                    "type": "scenario",
                    "label": "Scenario",
                    "required": true
                  },
                  {
                    "name": "shouldWaitForExecutionEnd",
                    "type": "boolean",
                    "label": "Wait for subscenario output",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "scenario": "SCN_3240069",
                "shouldWaitForExecutionEnd": false
              }
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 150
        }
      }
    }
  ],
  "name": "IITA Tesorería - WhatsApp Coexistence (LEGACY)",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "33": {
          "id": "553335594530969",
          "time": null,
          "field": "messages",
          "metadata": {
            "phone_number_id": "524978884041566",
            "display_phone_number": "5493872550003"
          },
          "statuses": [
            {
              "id": "wamid.HBgNNTQ5Mzg3NTIxODYzNRUCABEYIEE1MkEwNzc5MzM0NTlFMzYxQjE2RjY1RjhFQjM5QzFFAA==",
              "status": "delivered",
              "timestamp": "2025-10-27T12:58:22.000Z",
              "recipient_id": "5493875218635"
            }
          ],
          "messaging_product": "whatsapp"
        },
        "35": {
          "executionId": "82084efbdd4541aaaf00a238261b2f99"
        },
        "36": {
          "executionId": "1260f8ed76af4e55b72200c20ed525a1"
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}