snapshots/2026-02-18_fresh/8_otros/2340618_iita_-_tiktok_ads_autoresponse_prueba_gv.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {},
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "IITA-INSTAGRAM"
            }
          }
        },
        "designer": {
          "x": -600,
          "y": 0
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ]
      },
      "parameters": {
        "hook": 1025649,
        "maxResults": 1
      }
    },
    {
      "id": 9,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 5,
              "filter": {
                "name": "ads",
                "conditions": [
                  [
                    {
                      "a": "{{1.entry[].messaging[].message.referral}}\r\n",
                      "o": "exist"
                    }
                  ]
                ]
              },
              "mapper": {
                "model": "gpt-4.1-2025-04-14",
                "top_p": "1",
                "select": "chat",
                "messages": [
                  {
                    "role": "system",
                    "content": "Dado el siguiente mensaje, ¿a cuál de estos cursos corresponde? Elegí solamente uno de la lista: [Automatizacion_flujos_de_trabajo]. Si no corresponde a ninguno, respondé \"Otro\". \r\n​"
                  },
                  {
                    "role": "user",
                    "content": "Mensaje: \"{{1.entry[].messaging[].message.referral.ads_context_data.ad_title}}\"\r\nRespondé solo con el nombre del curso o \"Otro\".",
                    "imageDetail": "auto"
                  }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
              },
              "module": "openai-gpt-3:CreateCompletion",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "select",
                    "type": "select",
                    "label": "Select Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "chat",
                        "prompt"
                      ]
                    }
                  },
                  {
                    "name": "temperature",
                    "type": "number",
                    "label": "Temperature",
                    "validate": {
                      "max": 2,
                      "min": 0
                    }
                  },
                  {
                    "name": "top_p",
                    "type": "number",
                    "label": "Top P",
                    "validate": {
                      "max": 1,
                      "min": 0
                    }
                  },
                  {
                    "name": "n_completions",
                    "type": "number",
                    "label": "Number"
                  },
                  {
                    "name": "frequency_penalty",
                    "type": "number",
                    "label": "Frequency Penalty",
                    "validate": {
                      "max": 2,
                      "min": -2
                    }
                  },
                  {
                    "name": "presence_penalty",
                    "type": "number",
                    "label": "Presence Penalty",
                    "validate": {
                      "max": 2,
                      "min": -2
                    }
                  },
                  {
                    "name": "logit_bias",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "token",
                          "type": "text",
                          "label": "Token ID",
                          "required": true
                        },
                        {
                          "name": "probability",
                          "type": "number",
                          "label": "Probability",
                          "required": true,
                          "validate": {
                            "max": 100,
                            "min": -100
                          }
                        }
                      ],
                      "type": "collection",
                      "label": "Token Probability"
                    },
                    "type": "array",
                    "label": "Token Probability"
                  },
                  {
                    "name": "seed",
                    "type": "integer",
                    "label": "Seed"
                  },
                  {
                    "name": "tool_choice",
                    "type": "select",
                    "label": "Tool Choice",
                    "validate": {
                      "enum": [
                        "none",
                        "auto",
                        "required"
                      ]
                    }
                  },
                  {
                    "name": "stop",
                    "spec": {
                      "name": "value",
                      "type": "text",
                      "label": "Stop Sequence"
                    },
                    "type": "array",
                    "label": "Stop Sequences",
                    "validate": {
                      "maxItems": 4
                    }
                  },
                  {
                    "name": "additionalParameters",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "key",
                          "type": "text",
                          "label": "Parameter Name",
                          "required": true
                        },
                        {
                          "name": "type",
                          "type": "select",
                          "label": "Input Type",
                          "options": [
                            {
                              "label": "Text",
                              "value": "text",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "text",
                                  "label": "Parameter Value"
                                }
                              ],
                              "default": true
                            },
                            {
                              "label": "Number",
                              "value": "number",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "number",
                                  "label": "Parameter Value"
                                }
                              ]
                            },
                            {
                              "label": "Boolean",
                              "value": "boolean",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "boolean",
                                  "label": "Parameter Value"
                                }
                              ]
                            },
                            {
                              "label": "Date",
                              "value": "date",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "date",
                                  "label": "Parameter Value"
                                }
                              ]
                            },
                            {
                              "label": "Any",
                              "value": "any",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "any",
                                  "label": "Parameter Value"
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "collection",
                      "label": "Input Parameter"
                    },
                    "type": "array",
                    "label": "Other Input Parameters"
                  },
                  {
                    "name": "model",
                    "type": "select",
                    "label": "Model",
                    "required": true
                  },
                  {
                    "name": "max_tokens",
                    "type": "uinteger",
                    "label": "Max Completion Tokens"
                  },
                  {
                    "name": "messages",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "role",
                          "type": "select",
                          "label": "Role",
                          "options": {
                            "store": [
                              {
                                "label": "User",
                                "value": "user",
                                "nested": [
                                  {
                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                    "name": "content",
                                    "type": "text",
                                    "label": "Text Content"
                                  },
                                  {
                                    "name": "imageInputType",
                                    "type": "select",
                                    "label": "Image Input Type",
                                    "options": [
                                      {
                                        "label": "URL",
                                        "value": "url",
                                        "nested": [
                                          {
                                            "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                            "name": "imageUrl",
                                            "type": "url",
                                            "label": "Image URL"
                                          }
                                        ]
                                      },
                                      {
                                        "label": "Image File",
                                        "value": "file",
                                        "nested": [
                                          {
                                            "name": "imageFile",
                                            "spec": [
                                              {
                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                "name": "imageFilename",
                                                "type": "filename",
                                                "label": "Image Filename",
                                                "semantic": "file:name",
                                                "extension": [
                                                  "jpg",
                                                  "jpeg",
                                                  "png",
                                                  "webp",
                                                  "gif"
                                                ]
                                              },
                                              {
                                                "name": "imageData",
                                                "type": "buffer",
                                                "label": "Image Data",
                                                "semantic": "file:data"
                                              }
                                            ],
                                            "type": "collection",
                                            "label": "Image"
                                          }
                                        ]
                                      }
                                    ],
                                    "mappable": false
                                  },
                                  {
                                    "help": "Recommended value: `Auto`",
                                    "name": "imageDetail",
                                    "type": "select",
                                    "label": "Image Detail",
                                    "options": [
                                      {
                                        "label": "Auto",
                                        "value": "auto",
                                        "default": true
                                      },
                                      {
                                        "label": "High",
                                        "value": "high"
                                      },
                                      {
                                        "label": "Low",
                                        "value": "low"
                                      }
                                    ]
                                  }
                                ]
                              },
                              {
                                "label": "Assistant",
                                "value": "assistant",
                                "nested": [
                                  {
                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                    "name": "content",
                                    "type": "text",
                                    "label": "Text Content"
                                  },
                                  {
                                    "mode": "edit",
                                    "name": "tool_calls",
                                    "spec": {
                                      "spec": [
                                        {
                                          "name": "type",
                                          "type": "hidden",
                                          "default": "function"
                                        },
                                        {
                                          "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                          "name": "id",
                                          "type": "text",
                                          "label": "Tool call ID"
                                        },
                                        {
                                          "name": "function",
                                          "spec": [
                                            {
                                              "help": "The name of the function previously called.",
                                              "name": "name",
                                              "type": "text",
                                              "label": "Name",
                                              "required": true
                                            },
                                            {
                                              "help": "The arguments previously output by the AI.",
                                              "name": "arguments",
                                              "type": "text",
                                              "label": "Arguments",
                                              "required": true
                                            }
                                          ],
                                          "type": "collection",
                                          "label": "Function"
                                        }
                                      ],
                                      "type": "collection",
                                      "label": "Tool Call"
                                    },
                                    "type": "array",
                                    "label": "Tool Calls",
                                    "labels": {
                                      "add": "Add tool call"
                                    },
                                    "mappable": {
                                      "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                    }
                                  }
                                ]
                              },
                              {
                                "label": "Developer / System",
                                "value": "system",
                                "nested": [
                                  {
                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                    "name": "content",
                                    "type": "text",
                                    "label": "Text Content"
                                  }
                                ]
                              },
                              {
                                "label": "Tool",
                                "value": "tool",
                                "nested": [
                                  {
                                    "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                    "name": "content",
                                    "type": "text",
                                    "label": "Text Content",
                                    "required": true
                                  },
                                  {
                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                    "name": "tool_call_id",
                                    "type": "text",
                                    "label": "Tool Call ID.",
                                    "required": true
                                  }
                                ]
                              }
                            ]
                          },
                          "required": true
                        }
                      ],
                      "type": "collection",
                      "label": "Message"
                    },
                    "type": "array",
                    "label": "Messages",
                    "required": true
                  },
                  {
                    "name": "response_format",
                    "type": "select",
                    "label": "Response Format",
                    "validate": {
                      "enum": [
                        "text",
                        "json_object"
                      ]
                    }
                  }
                ],
                "restore": {
                  "expect": {
                    "stop": {
                      "mode": "chose"
                    },
                    "model": {
                      "mode": "chose",
                      "label": "gpt-4.1-2025-04-14 (system)"
                    },
                    "select": {
                      "label": "Create a Chat Completion (GPT and o1 models)"
                    },
                    "messages": {
                      "mode": "chose",
                      "items": [
                        {
                          "role": {
                            "mode": "chose",
                            "label": "Developer / System"
                          }
                        },
                        {
                          "role": {
                            "mode": "chose",
                            "label": "User"
                          },
                          "imageDetail": {
                            "mode": "chose",
                            "label": "Auto"
                          },
                          "imageInputType": {
                            "mode": "chose",
                            "label": "Empty"
                          }
                        }
                      ]
                    },
                    "logit_bias": {
                      "mode": "chose"
                    },
                    "tool_choice": {
                      "mode": "chose",
                      "label": "Empty"
                    },
                    "response_format": {
                      "mode": "chose",
                      "label": "Text"
                    },
                    "additionalParameters": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "openai-gpt-3"
                      },
                      "label": "My OpenAI connection"
                    }
                  }
                },
                "designer": {
                  "x": 36,
                  "y": 199
                },
                "interface": [
                  {
                    "name": "result",
                    "type": "any",
                    "label": "Result"
                  },
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "object",
                    "type": "text",
                    "label": "Object"
                  },
                  {
                    "name": "created",
                    "type": "date",
                    "label": "Created"
                  },
                  {
                    "name": "model",
                    "type": "text",
                    "label": "Model"
                  },
                  {
                    "name": "choices",
                    "spec": [
                      {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                      },
                      {
                        "name": "index",
                        "type": "number",
                        "label": "Index"
                      },
                      {
                        "name": "logprobs",
                        "type": "text",
                        "label": "Log Probs"
                      },
                      {
                        "name": "finish_reason",
                        "type": "text",
                        "label": "Finish Reason"
                      },
                      {
                        "name": "message",
                        "spec": [
                          {
                            "name": "role",
                            "type": "text",
                            "label": "Role"
                          },
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content"
                          },
                          {
                            "name": "tool_calls",
                            "spec": [
                              {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                              },
                              {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                              },
                              {
                                "name": "function",
                                "spec": [
                                  {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                  },
                                  {
                                    "name": "arguments",
                                    "type": "text",
                                    "label": "Arguments"
                                  }
                                ],
                                "type": "collection",
                                "label": "Function"
                              }
                            ],
                            "type": "array",
                            "label": "Tool Calls"
                          },
                          {
                            "name": "refusal",
                            "type": "text",
                            "label": "Refusal"
                          },
                          {
                            "name": "annotations",
                            "spec": [
                              {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                              },
                              {
                                "name": "url_citation",
                                "spec": [
                                  {
                                    "name": "end_index",
                                    "type": "number",
                                    "label": "End Index"
                                  },
                                  {
                                    "name": "start_index",
                                    "type": "number",
                                    "label": "Start Index"
                                  },
                                  {
                                    "name": "title",
                                    "type": "text",
                                    "label": "Title"
                                  },
                                  {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                  }
                                ],
                                "type": "collection",
                                "label": "URL Citation"
                              }
                            ],
                            "type": "array",
                            "label": "Annotations"
                          }
                        ],
                        "type": "collection",
                        "label": "Message"
                      }
                    ],
                    "type": "array",
                    "label": "Choices"
                  },
                  {
                    "name": "usage",
                    "spec": [
                      {
                        "name": "prompt_tokens",
                        "type": "number",
                        "label": "Prompt Tokens"
                      },
                      {
                        "name": "completion_tokens",
                        "type": "text",
                        "label": "Completion Tokens"
                      },
                      {
                        "name": "total_tokens",
                        "type": "number",
                        "label": "Total Tokens"
                      },
                      {
                        "name": "prompt_tokens_details",
                        "spec": [
                          {
                            "name": "cached_tokens",
                            "type": "uinteger",
                            "label": "Cached Tokens"
                          },
                          {
                            "name": "text_tokens",
                            "type": "uinteger",
                            "label": "Text Tokens"
                          },
                          {
                            "name": "image_tokens",
                            "type": "uinteger",
                            "label": "Image Tokens"
                          },
                          {
                            "name": "audio_tokens",
                            "type": "uinteger",
                            "label": "Audio Tokens"
                          }
                        ],
                        "type": "collection",
                        "label": "Prompt Tokens Details"
                      },
                      {
                        "name": "completion_tokens_details",
                        "spec": [
                          {
                            "name": "reasoning_tokens",
                            "type": "uinteger",
                            "label": "Reasoning Tokens"
                          },
                          {
                            "name": "text_tokens",
                            "type": "uinteger",
                            "label": "Text Tokens"
                          },
                          {
                            "name": "audio_tokens",
                            "type": "uinteger",
                            "label": "Audio Tokens"
                          },
                          {
                            "name": "accepted_prediction_tokens",
                            "type": "uinteger",
                            "label": "Accepted Prediction Tokens"
                          },
                          {
                            "name": "rejected_prediction_tokens",
                            "type": "uinteger",
                            "label": "Rejected Prediction Tokens"
                          }
                        ],
                        "type": "collection",
                        "label": "Completion Tokens Details"
                      }
                    ],
                    "type": "collection",
                    "label": "Usage"
                  },
                  {
                    "name": "service_tier",
                    "type": "text",
                    "label": "Service Tier"
                  },
                  {
                    "name": "system_fingerprint",
                    "type": "text",
                    "label": "System Fingerprint"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:openai-gpt-3",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 4208632
              }
            },
            {
              "id": 11,
              "mapper": null,
              "module": "builtin:BasicRouter",
              "routes": [
                {
                  "flow": [
                    {
                      "id": 4,
                      "filter": {
                        "name": "other",
                        "conditions": [
                          [
                            {
                              "a": "{{5.choices[].message.content}}",
                              "b": "other",
                              "o": "text:equal"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "ca": "",
                        "qs": [],
                        "url": "https://graph.instagram.com/v22.0/me/messages",
                        "data": "{\r\n  \"messaging_type\": \"RESPONSE\",\r\n  \"recipient\": {\r\n    \"id\": \"{{1.entry[].messaging[].sender.id}}\"\r\n  },\r\n  \"message\": {\r\n    \"text\": \"Hola, soy Ana. Le estaré enviando información del curso que consultó.\"\r\n  }\r\n}",
                        "gzip": true,
                        "method": "post",
                        "headers": [
                          {
                            "name": "Authorization",
                            "value": "Bearer IGAAckZAGgjNo1BZAE1EQVhLc2syN2gxMjdaUTBuU2J0SE9TX3RuT0dBZAEJ5Y0xVb1FXWXVSQl9NTk9WX3JibThmOHZAWQWdrWlV5emgxaVkyUlhuQzZA3NW95MGE5UXVvOVEyN3dOeTFfdTQzMFZA6YWF4ZAVc1WlJmbGYyZA1BuTnU5SQZDZD"
                          }
                        ],
                        "timeout": "",
                        "useMtls": false,
                        "authPass": "",
                        "authUser": "",
                        "bodyType": "raw",
                        "contentType": "application/json",
                        "serializeUrl": false,
                        "shareCookies": false,
                        "parseResponse": false,
                        "followRedirect": true,
                        "useQuerystring": false,
                        "followAllRedirects": false,
                        "rejectUnauthorized": true
                      },
                      "module": "http:ActionSendData",
                      "version": 3,
                      "metadata": {
                        "expect": [
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL",
                            "required": true
                          },
                          {
                            "name": "serializeUrl",
                            "type": "boolean",
                            "label": "Serialize URL",
                            "required": true
                          },
                          {
                            "name": "method",
                            "type": "select",
                            "label": "Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                              ]
                            }
                          },
                          {
                            "name": "headers",
                            "spec": [
                              {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                              },
                              {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                              }
                            ],
                            "type": "array",
                            "label": "Headers"
                          },
                          {
                            "name": "qs",
                            "spec": [
                              {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                              },
                              {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                              }
                            ],
                            "type": "array",
                            "label": "Query String"
                          },
                          {
                            "name": "bodyType",
                            "type": "select",
                            "label": "Body type",
                            "validate": {
                              "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                              ]
                            }
                          },
                          {
                            "name": "parseResponse",
                            "type": "boolean",
                            "label": "Parse response",
                            "required": true
                          },
                          {
                            "name": "authUser",
                            "type": "text",
                            "label": "User name"
                          },
                          {
                            "name": "authPass",
                            "type": "password",
                            "label": "Password"
                          },
                          {
                            "name": "timeout",
                            "type": "uinteger",
                            "label": "Timeout",
                            "validate": {
                              "max": 300,
                              "min": 1
                            }
                          },
                          {
                            "name": "shareCookies",
                            "type": "boolean",
                            "label": "Share cookies with other HTTP modules",
                            "required": true
                          },
                          {
                            "name": "ca",
                            "type": "cert",
                            "label": "Self-signed certificate"
                          },
                          {
                            "name": "rejectUnauthorized",
                            "type": "boolean",
                            "label": "Reject connections that are using unverified (self-signed) certificates",
                            "required": true
                          },
                          {
                            "name": "followRedirect",
                            "type": "boolean",
                            "label": "Follow redirect",
                            "required": true
                          },
                          {
                            "name": "useQuerystring",
                            "type": "boolean",
                            "label": "Disable serialization of multiple same query string keys as arrays",
                            "required": true
                          },
                          {
                            "name": "gzip",
                            "type": "boolean",
                            "label": "Request compressed content",
                            "required": true
                          },
                          {
                            "name": "useMtls",
                            "type": "boolean",
                            "label": "Use Mutual TLS",
                            "required": true
                          },
                          {
                            "name": "contentType",
                            "type": "select",
                            "label": "Content type",
                            "validate": {
                              "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                              ]
                            }
                          },
                          {
                            "name": "data",
                            "type": "buffer",
                            "label": "Request content"
                          },
                          {
                            "name": "followAllRedirects",
                            "type": "boolean",
                            "label": "Follow all redirect",
                            "required": true
                          }
                        ],
                        "restore": {
                          "expect": {
                            "qs": {
                              "mode": "chose"
                            },
                            "method": {
                              "mode": "chose",
                              "label": "POST"
                            },
                            "headers": {
                              "mode": "chose",
                              "items": [
                                null
                              ]
                            },
                            "bodyType": {
                              "label": "Raw"
                            },
                            "contentType": {
                              "label": "JSON (application/json)"
                            }
                          }
                        },
                        "designer": {
                          "x": 809,
                          "y": -54
                        },
                        "parameters": [
                          {
                            "name": "handleErrors",
                            "type": "boolean",
                            "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                            "required": true
                          },
                          {
                            "name": "useNewZLibDeCompress",
                            "type": "hidden"
                          }
                        ]
                      },
                      "parameters": {
                        "handleErrors": true,
                        "useNewZLibDeCompress": true
                      }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 13,
                      "filter": {
                        "name": "Automatizacion_flujos_de_trabajo",
                        "conditions": [
                          [
                            {
                              "a": "{{5.choices[].message.content}}",
                              "b": "Automatizacion_flujos_de_trabajo",
                              "o": "text:equal"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "ca": "",
                        "qs": [],
                        "url": "https://graph.instagram.com/v22.0/me/messages",
                        "data": "{\r\n  \"messaging_type\": \"RESPONSE\",\r\n  \"recipient\": {\r\n    \"id\": \"{{1.entry[].messaging[].sender.id}}\"\r\n  },\r\n  \"message\": {\r\n    \"text\": \"💡 CURSO DE AUTOMATIZACIÓN CON IA, MAKE y n8n \\nAutomatizá tareas, conectá servicios y ganá tiempo sin necesidad de programar.\\n\\nAprendé a usar herramientas visuales como Make y n8n para crear flujos inteligentes que integren servicios como Gmail, WhatsApp, Google Sheets, APIs externas y modelos de Inteligencia Artificial. Todo sin escribir una sola línea de código.\\n\\n🌍 ¿A quién está dirigido?\\nIdeal para personas que trabajan en administración, marketing, educación, atención al cliente, gestión de datos o emprendimientos digitales. Si querés optimizar tu tiempo y transformar tu forma de trabajar, este curso es para vos.\\n\\n📈 ¿Qué vas a lograr?\\n✅ Automatizar tareas repetitivas (mails, formularios, respuestas automáticas, reportes).\\n✅ Conectar herramientas que ya usás en tu día a día.\\n✅ Incorporar inteligencia artificial a tus procesos.\\n✅ Crear bots y automatizaciones prácticas desde cero.\\n✅ Usar tecnologías modernas que ya implementan empresas en todo el mundo.\\n\\n\"\r\n  }\r\n}",
                        "gzip": true,
                        "method": "post",
                        "headers": [
                          {
                            "name": "Authorization",
                            "value": "Bearer IGAAckZAGgjNo1BZAE1EQVhLc2syN2gxMjdaUTBuU2J0SE9TX3RuT0dBZAEJ5Y0xVb1FXWXVSQl9NTk9WX3JibThmOHZAWQWdrWlV5emgxaVkyUlhuQzZA3NW95MGE5UXVvOVEyN3dOeTFfdTQzMFZA6YWF4ZAVc1WlJmbGYyZA1BuTnU5SQZDZD"
                          }
                        ],
                        "timeout": "",
                        "useMtls": false,
                        "authPass": "",
                        "authUser": "",
                        "bodyType": "raw",
                        "contentType": "application/json",
                        "serializeUrl": false,
                        "shareCookies": false,
                        "parseResponse": false,
                        "followRedirect": true,
                        "useQuerystring": false,
                        "followAllRedirects": false,
                        "rejectUnauthorized": true
                      },
                      "module": "http:ActionSendData",
                      "version": 3,
                      "metadata": {
                        "expect": [
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL",
                            "required": true
                          },
                          {
                            "name": "serializeUrl",
                            "type": "boolean",
                            "label": "Serialize URL",
                            "required": true
                          },
                          {
                            "name": "method",
                            "type": "select",
                            "label": "Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                              ]
                            }
                          },
                          {
                            "name": "headers",
                            "spec": [
                              {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                              },
                              {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                              }
                            ],
                            "type": "array",
                            "label": "Headers"
                          },
                          {
                            "name": "qs",
                            "spec": [
                              {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                              },
                              {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                              }
                            ],
                            "type": "array",
                            "label": "Query String"
                          },
                          {
                            "name": "bodyType",
                            "type": "select",
                            "label": "Body type",
                            "validate": {
                              "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                              ]
                            }
                          },
                          {
                            "name": "parseResponse",
                            "type": "boolean",
                            "label": "Parse response",
                            "required": true
                          },
                          {
                            "name": "authUser",
                            "type": "text",
                            "label": "User name"
                          },
                          {
                            "name": "authPass",
                            "type": "password",
                            "label": "Password"
                          },
                          {
                            "name": "timeout",
                            "type": "uinteger",
                            "label": "Timeout",
                            "validate": {
                              "max": 300,
                              "min": 1
                            }
                          },
                          {
                            "name": "shareCookies",
                            "type": "boolean",
                            "label": "Share cookies with other HTTP modules",
                            "required": true
                          },
                          {
                            "name": "ca",
                            "type": "cert",
                            "label": "Self-signed certificate"
                          },
                          {
                            "name": "rejectUnauthorized",
                            "type": "boolean",
                            "label": "Reject connections that are using unverified (self-signed) certificates",
                            "required": true
                          },
                          {
                            "name": "followRedirect",
                            "type": "boolean",
                            "label": "Follow redirect",
                            "required": true
                          },
                          {
                            "name": "useQuerystring",
                            "type": "boolean",
                            "label": "Disable serialization of multiple same query string keys as arrays",
                            "required": true
                          },
                          {
                            "name": "gzip",
                            "type": "boolean",
                            "label": "Request compressed content",
                            "required": true
                          },
                          {
                            "name": "useMtls",
                            "type": "boolean",
                            "label": "Use Mutual TLS",
                            "required": true
                          },
                          {
                            "name": "contentType",
                            "type": "select",
                            "label": "Content type",
                            "validate": {
                              "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                              ]
                            }
                          },
                          {
                            "name": "data",
                            "type": "buffer",
                            "label": "Request content"
                          },
                          {
                            "name": "followAllRedirects",
                            "type": "boolean",
                            "label": "Follow all redirect",
                            "required": true
                          }
                        ],
                        "restore": {
                          "expect": {
                            "qs": {
                              "mode": "chose"
                            },
                            "method": {
                              "mode": "chose",
                              "label": "POST"
                            },
                            "headers": {
                              "mode": "chose",
                              "items": [
                                null
                              ]
                            },
                            "bodyType": {
                              "label": "Raw"
                            },
                            "contentType": {
                              "label": "JSON (application/json)"
                            }
                          }
                        },
                        "designer": {
                          "x": 836,
                          "y": 344
                        },
                        "parameters": [
                          {
                            "name": "handleErrors",
                            "type": "boolean",
                            "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                            "required": true
                          },
                          {
                            "name": "useNewZLibDeCompress",
                            "type": "hidden"
                          }
                        ]
                      },
                      "parameters": {
                        "handleErrors": true,
                        "useNewZLibDeCompress": true
                      }
                    },
                    {
                      "id": 14,
                      "mapper": {
                        "ca": "",
                        "qs": [],
                        "url": "https://graph.instagram.com/v22.0/me/messages",
                        "data": "{\r\n  \"messaging_type\": \"RESPONSE\",\r\n  \"recipient\": {\r\n    \"id\": \"{{1.entry[].messaging[].sender.id}}\"\r\n  },\r\n  \"message\": {\r\n    \"text\": \"🎓 No necesitás experiencia previa en programación, solo ganas de aprender y mejorar tu productividad. Tenemos un temario que podemos enviarte.\\n\\n🕒 Duración: 3 meses\\n\\n💻 🏫 Modalidad presencial:\\nLunes de 15:00 a 17:30 en nuestra sede centro Calle Buenos Aires 135 primer piso oficina 102\\n\\n💰 Costo total del curso: $180.000 los 3 meses de cursado, se abonan por adelantado. \\nPromoción válida hasta el 10 de julio. Después de esa fecha el valor es de 200.000\\n📲 Podés abonar con tarjeta de crédito hasta 3 cuotas o debito, efectivo o transferencia\"\r\n  }\r\n}",
                        "gzip": true,
                        "method": "post",
                        "headers": [
                          {
                            "name": "Authorization",
                            "value": "Bearer IGAAckZAGgjNo1BZAE1EQVhLc2syN2gxMjdaUTBuU2J0SE9TX3RuT0dBZAEJ5Y0xVb1FXWXVSQl9NTk9WX3JibThmOHZAWQWdrWlV5emgxaVkyUlhuQzZA3NW95MGE5UXVvOVEyN3dOeTFfdTQzMFZA6YWF4ZAVc1WlJmbGYyZA1BuTnU5SQZDZD"
                          }
                        ],
                        "timeout": "",
                        "useMtls": false,
                        "authPass": "",
                        "authUser": "",
                        "bodyType": "raw",
                        "contentType": "application/json",
                        "serializeUrl": false,
                        "shareCookies": false,
                        "parseResponse": false,
                        "followRedirect": true,
                        "useQuerystring": false,
                        "followAllRedirects": false,
                        "rejectUnauthorized": true
                      },
                      "module": "http:ActionSendData",
                      "version": 3,
                      "metadata": {
                        "expect": [
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL",
                            "required": true
                          },
                          {
                            "name": "serializeUrl",
                            "type": "boolean",
                            "label": "Serialize URL",
                            "required": true
                          },
                          {
                            "name": "method",
                            "type": "select",
                            "label": "Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                              ]
                            }
                          },
                          {
                            "name": "headers",
                            "spec": [
                              {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                              },
                              {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                              }
                            ],
                            "type": "array",
                            "label": "Headers"
                          },
                          {
                            "name": "qs",
                            "spec": [
                              {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                              },
                              {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                              }
                            ],
                            "type": "array",
                            "label": "Query String"
                          },
                          {
                            "name": "bodyType",
                            "type": "select",
                            "label": "Body type",
                            "validate": {
                              "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                              ]
                            }
                          },
                          {
                            "name": "parseResponse",
                            "type": "boolean",
                            "label": "Parse response",
                            "required": true
                          },
                          {
                            "name": "authUser",
                            "type": "text",
                            "label": "User name"
                          },
                          {
                            "name": "authPass",
                            "type": "password",
                            "label": "Password"
                          },
                          {
                            "name": "timeout",
                            "type": "uinteger",
                            "label": "Timeout",
                            "validate": {
                              "max": 300,
                              "min": 1
                            }
                          },
                          {
                            "name": "shareCookies",
                            "type": "boolean",
                            "label": "Share cookies with other HTTP modules",
                            "required": true
                          },
                          {
                            "name": "ca",
                            "type": "cert",
                            "label": "Self-signed certificate"
                          },
                          {
                            "name": "rejectUnauthorized",
                            "type": "boolean",
                            "label": "Reject connections that are using unverified (self-signed) certificates",
                            "required": true
                          },
                          {
                            "name": "followRedirect",
                            "type": "boolean",
                            "label": "Follow redirect",
                            "required": true
                          },
                          {
                            "name": "useQuerystring",
                            "type": "boolean",
                            "label": "Disable serialization of multiple same query string keys as arrays",
                            "required": true
                          },
                          {
                            "name": "gzip",
                            "type": "boolean",
                            "label": "Request compressed content",
                            "required": true
                          },
                          {
                            "name": "useMtls",
                            "type": "boolean",
                            "label": "Use Mutual TLS",
                            "required": true
                          },
                          {
                            "name": "contentType",
                            "type": "select",
                            "label": "Content type",
                            "validate": {
                              "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                              ]
                            }
                          },
                          {
                            "name": "data",
                            "type": "buffer",
                            "label": "Request content"
                          },
                          {
                            "name": "followAllRedirects",
                            "type": "boolean",
                            "label": "Follow all redirect",
                            "required": true
                          }
                        ],
                        "restore": {
                          "expect": {
                            "qs": {
                              "mode": "chose"
                            },
                            "method": {
                              "mode": "chose",
                              "label": "POST"
                            },
                            "headers": {
                              "mode": "chose",
                              "items": [
                                null
                              ]
                            },
                            "bodyType": {
                              "label": "Raw"
                            },
                            "contentType": {
                              "label": "JSON (application/json)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1194,
                          "y": 343
                        },
                        "parameters": [
                          {
                            "name": "handleErrors",
                            "type": "boolean",
                            "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                            "required": true
                          },
                          {
                            "name": "useNewZLibDeCompress",
                            "type": "hidden"
                          }
                        ]
                      },
                      "parameters": {
                        "handleErrors": true,
                        "useNewZLibDeCompress": true
                      }
                    }
                  ]
                }
              ],
              "version": 1,
              "metadata": {
                "designer": {
                  "x": 417,
                  "y": 197
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 10,
              "filter": {
                "name": "verify",
                "conditions": [
                  [
                    {
                      "a": "{{1.`hub.mode`}}",
                      "b": "subscribe",
                      "o": "text:equal"
                    },
                    {
                      "a": "{{1.`hub.verify_token`}}",
                      "b": "Instagram",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "body": "{{1.`hub.challenge`}}",
                "status": "200",
                "headers": []
              },
              "module": "gateway:WebhookRespond",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "status",
                    "type": "uinteger",
                    "label": "Status",
                    "required": true,
                    "validate": {
                      "min": 100
                    }
                  },
                  {
                    "name": "body",
                    "type": "any",
                    "label": "Body"
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true,
                        "validate": {
                          "max": 256
                        }
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value",
                        "required": true,
                        "validate": {
                          "max": 4096
                        }
                      }
                    ],
                    "type": "array",
                    "label": "Custom headers",
                    "validate": {
                      "maxItems": 16
                    }
                  }
                ],
                "restore": {
                  "expect": {
                    "headers": {
                      "mode": "chose"
                    }
                  }
                },
                "designer": {
                  "x": 43,
                  "y": -223
                }
              },
              "parameters": {}
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": -300,
          "y": 0
        }
      }
    }
  ],
  "name": "IITA - Tiktok ads AutoResponse  (prueba gv)",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "1": {
          "entry": [
            {
              "id": "17841404168256335",
              "time": 1751644841232,
              "messaging": [
                {
                  "sender": {
                    "id": "521804644294387"
                  },
                  "message": {
                    "mid": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDA0MTY4MjU2MzM1OjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI1OTUwNzkzMj...",
                    "text": "Hola"
                  },
                  "recipient": {
                    "id": "17841404168256335"
                  },
                  "timestamp": 1751644840918
                }
              ]
            }
          ],
          "object": "instagram"
        },
        "4": {
          "data": "{\"recipient_id\":\"996904755497574\",\"message_id\":\"aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDA0MTY4Mj...",
          "headers": [
            {
              "name": "content-length",
              "value": "214"
            }
          ],
          "fileSize": 214,
          "statusCode": 200,
          "cookieHeaders": []
        },
        "5": {
          "id": "chatcmpl-Bpd7fHghYavszwJBIR3jpcwk8kZJm",
          "model": "gpt-4.1-2025-04-14",
          "usage": {
            "total_tokens": 103,
            "prompt_tokens": 93,
            "completion_tokens": 10,
            "prompt_tokens_details": {
              "audio_tokens": 0,
              "cached_tokens": 0
            },
            "completion_tokens_details": {
              "audio_tokens": 0,
              "reasoning_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "object": "chat.completion",
          "result": "Automatizacion_flujos_de_trabajo",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "Automatizacion_flujos_de_trabajo",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "created": "2025-07-04T16:00:15.000Z",
          "service_tier": "default",
          "system_fingerprint": "fp_799e4ca3f1"
        },
        "13": {
          "data": "{\"recipient_id\":\"521804644294387\",\"message_id\":\"aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDA0MTY4Mj...",
          "headers": [
            {
              "name": "content-length",
              "value": "214"
            }
          ],
          "fileSize": 214,
          "statusCode": 200,
          "cookieHeaders": []
        },
        "14": {
          "data": "{\"recipient_id\":\"521804644294387\",\"message_id\":\"aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDA0MTY4Mj...",
          "headers": [
            {
              "name": "content-length",
              "value": "214"
            }
          ],
          "fileSize": 214,
          "statusCode": 200,
          "cookieHeaders": []
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}