snapshots/2026-02-18_fresh/8_otros/3494063_iita_san_lorenzo_-_new_comments_instagram.json
{
  "flow": [
    {
      "id": 16,
      "mapper": {},
      "module": "instagram-business:NewComment",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "__IMTHOOK__": {
              "data": {
                "editable": "false"
              },
              "label": "IITA San Lorenzo - Comments response"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 150,
          "name": "New comment"
        },
        "interface": [
          {
            "name": "field",
            "type": "text",
            "label": "Field"
          },
          {
            "name": "from",
            "spec": [
              {
                "name": "id",
                "type": "text",
                "label": "ID"
              },
              {
                "name": "username",
                "type": "text",
                "label": "Username"
              }
            ],
            "type": "collection",
            "label": "From"
          },
          {
            "name": "media",
            "spec": [
              {
                "name": "id",
                "type": "text",
                "label": "ID"
              },
              {
                "name": "media_product_type",
                "type": "text",
                "label": "Media Product Type"
              }
            ],
            "type": "collection",
            "label": "Media"
          },
          {
            "name": "id",
            "type": "text",
            "label": "Comment ID"
          },
          {
            "name": "parent_id",
            "type": "text",
            "label": "Parent ID"
          },
          {
            "name": "text",
            "type": "text",
            "label": "Text"
          }
        ],
        "parameters": [
          {
            "name": "__IMTHOOK__",
            "type": "hook:instagram-business",
            "label": "Webhook",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTHOOK__": 1679819
      }
    },
    {
      "id": 9,
      "filter": {
        "name": "Respuesta a lead",
        "conditions": [
          [
            {
              "a": "{{16.from.username}}",
              "b": "iita_sanlorenzo_chico",
              "o": "text:notequal"
            },
            {
              "a": "{{16.media.media_product_type}}",
              "b": "AD",
              "o": "text:notequal"
            }
          ]
        ]
      },
      "mapper": {
        "input": "{{16.text}}",
        "shouldGenerateDescription": false
      },
      "module": "ai-tools:AnalyzeSentiment",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "input",
            "type": "text",
            "label": "Text to analyze",
            "required": true
          },
          {
            "name": "shouldGenerateDescription",
            "type": "boolean",
            "label": "Return a description of the sentiment",
            "required": true
          }
        ],
        "restore": {
          "parameters": {
            "model": {
              "mode": "chose",
              "label": "gpt-4.1"
            },
            "makeConnectionId": {
              "data": {
                "scoped": "true",
                "connection": "openai-gpt-3"
              },
              "label": "My OpenAI connection",
              "nested": [
                {
                  "name": "model",
                  "type": "select",
                  "label": "Model",
                  "options": {
                    "store": "rpc://ai-tools/2/RpcGetModels?connectionId={{makeConnectionId}}&teamId=954615"
                  },
                  "mappable": true,
                  "required": true,
                  "forceReload": true
                }
              ]
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 150,
          "name": "Analiza el sentimiento"
        },
        "parameters": [
          {
            "name": "makeConnectionId",
            "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
            "label": "Connection",
            "required": true
          },
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true
          }
        ]
      },
      "parameters": {
        "model": "gpt-4.1",
        "makeConnectionId": 3633195
      }
    },
    {
      "id": 10,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 11,
              "filter": {
                "name": "Negativo",
                "conditions": [
                  [
                    {
                      "a": "{{9.sentiment}}",
                      "b": "negative",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "model": "gpt-4.1",
                "top_p": "1",
                "select": "chat",
                "messages": [
                  {
                    "role": "system",
                    "content": "Eres un asistente digital de redes sociales encargado de responder comentarios negativos de manera breve, empática y profesional.\nTu objetivo es cuidar la imagen de la marca sin entrar en discusión ni justificar en exceso.\nDebes:\nResponder con amabilidad y respeto, usando el nombre de usuario del comentario: \"{{16.from.username}}\".\nMostrar comprensión o gratitud por el comentario.\nEvitar discutir o contradecir.\nCerrar la respuesta de forma positiva o constructiva.\nAñadir un solo emoji que refuerce el tono (por ejemplo: 😊, 🙏, 💬, 💪, 🌟, 💙).\nMantener la respuesta de 1 a 2 líneas máximo.\nEjemplo de tono:\n“Lamentamos tu experiencia, lo tendremos en cuenta 🙏”\n“Gracias por tu comentario, trabajamos para mejorar 💪”\n“Tu opinión nos ayuda a crecer, gracias 💙”\nSiempre responde en un tono cálido, sereno y sin entrar en conflicto."
                  },
                  {
                    "role": "user",
                    "content": "{{16.text}}",
                    "imageDetail": "auto"
                  }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
              },
              "module": "openai-gpt-3:CreateCompletion",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "select",
                    "type": "select",
                    "label": "Select Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "chat",
                        "prompt"
                      ]
                    }
                  },
                  {
                    "name": "temperature",
                    "type": "number",
                    "label": "Temperature",
                    "validate": {
                      "max": 2,
                      "min": 0
                    }
                  },
                  {
                    "name": "top_p",
                    "type": "number",
                    "label": "Top P",
                    "validate": {
                      "max": 1,
                      "min": 0
                    }
                  },
                  {
                    "name": "n_completions",
                    "type": "number",
                    "label": "Number"
                  },
                  {
                    "name": "frequency_penalty",
                    "type": "number",
                    "label": "Frequency Penalty",
                    "validate": {
                      "max": 2,
                      "min": -2
                    }
                  },
                  {
                    "name": "presence_penalty",
                    "type": "number",
                    "label": "Presence Penalty",
                    "validate": {
                      "max": 2,
                      "min": -2
                    }
                  },
                  {
                    "name": "logit_bias",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "token",
                          "type": "text",
                          "label": "Token ID",
                          "required": true
                        },
                        {
                          "name": "probability",
                          "type": "number",
                          "label": "Probability",
                          "required": true,
                          "validate": {
                            "max": 100,
                            "min": -100
                          }
                        }
                      ],
                      "type": "collection",
                      "label": "Token Probability"
                    },
                    "type": "array",
                    "label": "Token Probability"
                  },
                  {
                    "name": "seed",
                    "type": "integer",
                    "label": "Seed"
                  },
                  {
                    "name": "tool_choice",
                    "type": "select",
                    "label": "Tool Choice",
                    "validate": {
                      "enum": [
                        "none",
                        "auto",
                        "required"
                      ]
                    }
                  },
                  {
                    "name": "stop",
                    "spec": {
                      "name": "value",
                      "type": "text",
                      "label": "Stop Sequence"
                    },
                    "type": "array",
                    "label": "Stop Sequences",
                    "validate": {
                      "maxItems": 4
                    }
                  },
                  {
                    "name": "additionalParameters",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "key",
                          "type": "text",
                          "label": "Parameter Name",
                          "required": true
                        },
                        {
                          "name": "type",
                          "type": "select",
                          "label": "Input Type",
                          "options": [
                            {
                              "label": "Text",
                              "value": "text",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "text",
                                  "label": "Parameter Value"
                                }
                              ],
                              "default": true
                            },
                            {
                              "label": "Number",
                              "value": "number",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "number",
                                  "label": "Parameter Value"
                                }
                              ]
                            },
                            {
                              "label": "Boolean",
                              "value": "boolean",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "boolean",
                                  "label": "Parameter Value"
                                }
                              ]
                            },
                            {
                              "label": "Date",
                              "value": "date",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "date",
                                  "label": "Parameter Value"
                                }
                              ]
                            },
                            {
                              "label": "Any",
                              "value": "any",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "any",
                                  "label": "Parameter Value"
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "collection",
                      "label": "Input Parameter"
                    },
                    "type": "array",
                    "label": "Other Input Parameters"
                  },
                  {
                    "name": "model",
                    "type": "select",
                    "label": "Model",
                    "required": true
                  },
                  {
                    "name": "max_tokens",
                    "type": "uinteger",
                    "label": "Max Output Tokens"
                  },
                  {
                    "name": "messages",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "role",
                          "type": "select",
                          "label": "Role",
                          "options": {
                            "store": [
                              {
                                "label": "User",
                                "value": "user",
                                "nested": [
                                  {
                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                    "name": "content",
                                    "type": "text",
                                    "label": "Text Content"
                                  },
                                  {
                                    "name": "imageInputType",
                                    "type": "select",
                                    "label": "Image Input Type",
                                    "options": [
                                      {
                                        "label": "URL",
                                        "value": "url",
                                        "nested": [
                                          {
                                            "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                            "name": "imageUrl",
                                            "type": "url",
                                            "label": "Image URL"
                                          }
                                        ]
                                      },
                                      {
                                        "label": "Image File",
                                        "value": "file",
                                        "nested": [
                                          {
                                            "name": "imageFile",
                                            "spec": [
                                              {
                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                "name": "imageFilename",
                                                "type": "filename",
                                                "label": "Image Filename",
                                                "semantic": "file:name",
                                                "extension": [
                                                  "jpg",
                                                  "jpeg",
                                                  "png",
                                                  "webp",
                                                  "gif"
                                                ]
                                              },
                                              {
                                                "name": "imageData",
                                                "type": "buffer",
                                                "label": "Image Data",
                                                "semantic": "file:data"
                                              }
                                            ],
                                            "type": "collection",
                                            "label": "Image"
                                          }
                                        ]
                                      }
                                    ],
                                    "mappable": false
                                  },
                                  {
                                    "help": "Recommended value: `Auto`",
                                    "name": "imageDetail",
                                    "type": "select",
                                    "label": "Image Detail",
                                    "options": [
                                      {
                                        "label": "Auto",
                                        "value": "auto",
                                        "default": true
                                      },
                                      {
                                        "label": "High",
                                        "value": "high"
                                      },
                                      {
                                        "label": "Low",
                                        "value": "low"
                                      }
                                    ]
                                  }
                                ],
                                "default": true
                              },
                              {
                                "label": "Assistant",
                                "value": "assistant",
                                "nested": [
                                  {
                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                    "name": "content",
                                    "type": "text",
                                    "label": "Text Content"
                                  },
                                  {
                                    "mode": "edit",
                                    "name": "tool_calls",
                                    "spec": {
                                      "spec": [
                                        {
                                          "name": "type",
                                          "type": "hidden",
                                          "default": "function"
                                        },
                                        {
                                          "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                          "name": "id",
                                          "type": "text",
                                          "label": "Tool call ID"
                                        },
                                        {
                                          "name": "function",
                                          "spec": [
                                            {
                                              "help": "The name of the function previously called.",
                                              "name": "name",
                                              "type": "text",
                                              "label": "Name",
                                              "required": true
                                            },
                                            {
                                              "help": "The arguments previously output by the AI.",
                                              "name": "arguments",
                                              "type": "text",
                                              "label": "Arguments",
                                              "required": true
                                            }
                                          ],
                                          "type": "collection",
                                          "label": "Function"
                                        }
                                      ],
                                      "type": "collection",
                                      "label": "Tool Call"
                                    },
                                    "type": "array",
                                    "label": "Tool Calls",
                                    "labels": {
                                      "add": "Add tool call"
                                    },
                                    "mappable": {
                                      "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                    }
                                  }
                                ]
                              },
                              {
                                "label": "Developer / System",
                                "value": "system",
                                "nested": [
                                  {
                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                    "name": "content",
                                    "type": "text",
                                    "label": "Text Content"
                                  }
                                ]
                              },
                              {
                                "label": "Tool",
                                "value": "tool",
                                "nested": [
                                  {
                                    "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                    "name": "content",
                                    "type": "text",
                                    "label": "Text Content",
                                    "required": true
                                  },
                                  {
                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                    "name": "tool_call_id",
                                    "type": "text",
                                    "label": "Tool Call ID.",
                                    "required": true
                                  }
                                ]
                              }
                            ]
                          },
                          "required": true
                        }
                      ],
                      "type": "collection",
                      "label": "Message"
                    },
                    "type": "array",
                    "label": "Messages",
                    "required": true
                  },
                  {
                    "name": "response_format",
                    "type": "select",
                    "label": "Response Format",
                    "validate": {
                      "enum": [
                        "text",
                        "json_object"
                      ]
                    }
                  }
                ],
                "restore": {
                  "expect": {
                    "stop": {
                      "mode": "chose"
                    },
                    "model": {
                      "mode": "chose",
                      "label": "gpt-4.1 (system)"
                    },
                    "select": {
                      "label": "Create a Chat Completion (GPT and o1 models)"
                    },
                    "messages": {
                      "mode": "chose",
                      "items": [
                        {
                          "role": {
                            "mode": "chose",
                            "label": "Developer / System"
                          }
                        },
                        {
                          "role": {
                            "mode": "chose",
                            "label": "User"
                          },
                          "imageDetail": {
                            "mode": "chose",
                            "label": "Auto"
                          },
                          "imageInputType": {
                            "mode": "chose",
                            "label": "Empty"
                          }
                        }
                      ]
                    },
                    "logit_bias": {
                      "mode": "chose"
                    },
                    "tool_choice": {
                      "mode": "chose",
                      "label": "Empty"
                    },
                    "response_format": {
                      "mode": "chose",
                      "label": "Text"
                    },
                    "additionalParameters": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "openai-gpt-3"
                      },
                      "label": "AI Content Generator"
                    }
                  }
                },
                "designer": {
                  "x": 900,
                  "y": 0,
                  "name": "Generar respuesta"
                },
                "interface": [
                  {
                    "name": "result",
                    "type": "any",
                    "label": "Result"
                  },
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "object",
                    "type": "text",
                    "label": "Object"
                  },
                  {
                    "name": "created",
                    "type": "date",
                    "label": "Created"
                  },
                  {
                    "name": "model",
                    "type": "text",
                    "label": "Model"
                  },
                  {
                    "name": "choices",
                    "spec": [
                      {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                      },
                      {
                        "name": "index",
                        "type": "number",
                        "label": "Index"
                      },
                      {
                        "name": "logprobs",
                        "type": "text",
                        "label": "Log Probs"
                      },
                      {
                        "name": "finish_reason",
                        "type": "text",
                        "label": "Finish Reason"
                      },
                      {
                        "name": "message",
                        "spec": [
                          {
                            "name": "role",
                            "type": "text",
                            "label": "Role"
                          },
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content"
                          },
                          {
                            "name": "tool_calls",
                            "spec": [
                              {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                              },
                              {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                              },
                              {
                                "name": "function",
                                "spec": [
                                  {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                  },
                                  {
                                    "name": "arguments",
                                    "type": "text",
                                    "label": "Arguments"
                                  }
                                ],
                                "type": "collection",
                                "label": "Function"
                              }
                            ],
                            "type": "array",
                            "label": "Tool Calls"
                          },
                          {
                            "name": "refusal",
                            "type": "text",
                            "label": "Refusal"
                          },
                          {
                            "name": "annotations",
                            "spec": [
                              {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                              },
                              {
                                "name": "url_citation",
                                "spec": [
                                  {
                                    "name": "end_index",
                                    "type": "number",
                                    "label": "End Index"
                                  },
                                  {
                                    "name": "start_index",
                                    "type": "number",
                                    "label": "Start Index"
                                  },
                                  {
                                    "name": "title",
                                    "type": "text",
                                    "label": "Title"
                                  },
                                  {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                  }
                                ],
                                "type": "collection",
                                "label": "URL Citation"
                              }
                            ],
                            "type": "array",
                            "label": "Annotations"
                          }
                        ],
                        "type": "collection",
                        "label": "Message"
                      }
                    ],
                    "type": "array",
                    "label": "Choices"
                  },
                  {
                    "name": "usage",
                    "spec": [
                      {
                        "name": "prompt_tokens",
                        "type": "number",
                        "label": "Prompt Tokens"
                      },
                      {
                        "name": "completion_tokens",
                        "type": "text",
                        "label": "Completion Tokens"
                      },
                      {
                        "name": "total_tokens",
                        "type": "number",
                        "label": "Total Tokens"
                      },
                      {
                        "name": "prompt_tokens_details",
                        "spec": [
                          {
                            "name": "cached_tokens",
                            "type": "uinteger",
                            "label": "Cached Tokens"
                          },
                          {
                            "name": "text_tokens",
                            "type": "uinteger",
                            "label": "Text Tokens"
                          },
                          {
                            "name": "image_tokens",
                            "type": "uinteger",
                            "label": "Image Tokens"
                          },
                          {
                            "name": "audio_tokens",
                            "type": "uinteger",
                            "label": "Audio Tokens"
                          }
                        ],
                        "type": "collection",
                        "label": "Prompt Tokens Details"
                      },
                      {
                        "name": "completion_tokens_details",
                        "spec": [
                          {
                            "name": "reasoning_tokens",
                            "type": "uinteger",
                            "label": "Reasoning Tokens"
                          },
                          {
                            "name": "text_tokens",
                            "type": "uinteger",
                            "label": "Text Tokens"
                          },
                          {
                            "name": "audio_tokens",
                            "type": "uinteger",
                            "label": "Audio Tokens"
                          },
                          {
                            "name": "accepted_prediction_tokens",
                            "type": "uinteger",
                            "label": "Accepted Prediction Tokens"
                          },
                          {
                            "name": "rejected_prediction_tokens",
                            "type": "uinteger",
                            "label": "Rejected Prediction Tokens"
                          }
                        ],
                        "type": "collection",
                        "label": "Completion Tokens Details"
                      }
                    ],
                    "type": "collection",
                    "label": "Usage"
                  },
                  {
                    "name": "service_tier",
                    "type": "text",
                    "label": "Service Tier"
                  },
                  {
                    "name": "system_fingerprint",
                    "type": "text",
                    "label": "System Fingerprint"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:openai-gpt-3",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 4371900
              }
            },
            {
              "id": 12,
              "mapper": {
                "id": "{{16.id}}",
                "message": "{{11.result}}"
              },
              "module": "instagram-business:CreateComment",
              "onerror": [
                {
                  "id": 18,
                  "module": "builtin:Ignore",
                  "version": 1,
                  "metadata": {
                    "designer": {
                      "x": 1500,
                      "y": 0
                    }
                  }
                }
              ],
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "Comment ID",
                    "required": true
                  },
                  {
                    "name": "message",
                    "type": "text",
                    "label": "Message",
                    "required": true
                  }
                ],
                "restore": {
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "facebook"
                      },
                      "label": "IITA Meta (Gonzalo Aybar)"
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 0,
                  "name": "Respuesta automática"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:facebook",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 6677325
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 13,
              "filter": {
                "name": "Positivo o neutral",
                "conditions": [
                  [
                    {
                      "a": "{{9.sentiment}}",
                      "b": "positive",
                      "o": "text:equal"
                    }
                  ],
                  [
                    {
                      "a": "{{9.sentiment}}",
                      "b": "neutral",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "model": "gpt-4.1",
                "top_p": "1",
                "select": "chat",
                "messages": [
                  {
                    "role": "system",
                    "content": "Eres un asistente digital encargado de responder comentarios positivos en redes sociales del instituto IITA, sede en San Lorenzo Chico.\nTu objetivo es agradecer y fortalecer el vínculo con la audiencia de manera breve, cálida y auténtica, sin sonar repetitivo.\nDebes:\nAgradecer de forma natural y personalizada (sin usar frases genéricas en exceso).\nUsar el siguiente nombre de usuario del comentario: \"{{16.from.username}}\".\nMantener un tono alegre y humano, usando 1 emoji relevante (😊, 🙌, 💙, 🌟, ✨, 😄).\nLenguaje neutro del español real.\nEvitar respuestas largas o formales; máximo 1 o 2 líneas.\nSi corresponde, puedes añadir una breve frase de cercanía o motivación.\nEjemplo de tono:\n“¡Gracias por tu apoyo! Nos alegra que te guste 💙”\n“Qué bueno leer eso, ¡gracias por estar acá! 🙌”\n“Nos motiva mucho tu mensaje 😊✨”\nSiempre responde con positividad, gratitud y energía amable."
                  },
                  {
                    "role": "user",
                    "content": "{{16.text}}",
                    "imageDetail": "auto"
                  }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
              },
              "module": "openai-gpt-3:CreateCompletion",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "select",
                    "type": "select",
                    "label": "Select Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "chat",
                        "prompt"
                      ]
                    }
                  },
                  {
                    "name": "temperature",
                    "type": "number",
                    "label": "Temperature",
                    "validate": {
                      "max": 2,
                      "min": 0
                    }
                  },
                  {
                    "name": "top_p",
                    "type": "number",
                    "label": "Top P",
                    "validate": {
                      "max": 1,
                      "min": 0
                    }
                  },
                  {
                    "name": "n_completions",
                    "type": "number",
                    "label": "Number"
                  },
                  {
                    "name": "frequency_penalty",
                    "type": "number",
                    "label": "Frequency Penalty",
                    "validate": {
                      "max": 2,
                      "min": -2
                    }
                  },
                  {
                    "name": "presence_penalty",
                    "type": "number",
                    "label": "Presence Penalty",
                    "validate": {
                      "max": 2,
                      "min": -2
                    }
                  },
                  {
                    "name": "logit_bias",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "token",
                          "type": "text",
                          "label": "Token ID",
                          "required": true
                        },
                        {
                          "name": "probability",
                          "type": "number",
                          "label": "Probability",
                          "required": true,
                          "validate": {
                            "max": 100,
                            "min": -100
                          }
                        }
                      ],
                      "type": "collection",
                      "label": "Token Probability"
                    },
                    "type": "array",
                    "label": "Token Probability"
                  },
                  {
                    "name": "seed",
                    "type": "integer",
                    "label": "Seed"
                  },
                  {
                    "name": "tool_choice",
                    "type": "select",
                    "label": "Tool Choice",
                    "validate": {
                      "enum": [
                        "none",
                        "auto",
                        "required"
                      ]
                    }
                  },
                  {
                    "name": "stop",
                    "spec": {
                      "name": "value",
                      "type": "text",
                      "label": "Stop Sequence"
                    },
                    "type": "array",
                    "label": "Stop Sequences",
                    "validate": {
                      "maxItems": 4
                    }
                  },
                  {
                    "name": "additionalParameters",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "key",
                          "type": "text",
                          "label": "Parameter Name",
                          "required": true
                        },
                        {
                          "name": "type",
                          "type": "select",
                          "label": "Input Type",
                          "options": [
                            {
                              "label": "Text",
                              "value": "text",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "text",
                                  "label": "Parameter Value"
                                }
                              ],
                              "default": true
                            },
                            {
                              "label": "Number",
                              "value": "number",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "number",
                                  "label": "Parameter Value"
                                }
                              ]
                            },
                            {
                              "label": "Boolean",
                              "value": "boolean",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "boolean",
                                  "label": "Parameter Value"
                                }
                              ]
                            },
                            {
                              "label": "Date",
                              "value": "date",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "date",
                                  "label": "Parameter Value"
                                }
                              ]
                            },
                            {
                              "label": "Any",
                              "value": "any",
                              "nested": [
                                {
                                  "name": "value",
                                  "type": "any",
                                  "label": "Parameter Value"
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "collection",
                      "label": "Input Parameter"
                    },
                    "type": "array",
                    "label": "Other Input Parameters"
                  },
                  {
                    "name": "model",
                    "type": "select",
                    "label": "Model",
                    "required": true
                  },
                  {
                    "name": "max_tokens",
                    "type": "uinteger",
                    "label": "Max Output Tokens"
                  },
                  {
                    "name": "messages",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "role",
                          "type": "select",
                          "label": "Role",
                          "options": {
                            "store": [
                              {
                                "label": "User",
                                "value": "user",
                                "nested": [
                                  {
                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                    "name": "content",
                                    "type": "text",
                                    "label": "Text Content"
                                  },
                                  {
                                    "name": "imageInputType",
                                    "type": "select",
                                    "label": "Image Input Type",
                                    "options": [
                                      {
                                        "label": "URL",
                                        "value": "url",
                                        "nested": [
                                          {
                                            "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                            "name": "imageUrl",
                                            "type": "url",
                                            "label": "Image URL"
                                          }
                                        ]
                                      },
                                      {
                                        "label": "Image File",
                                        "value": "file",
                                        "nested": [
                                          {
                                            "name": "imageFile",
                                            "spec": [
                                              {
                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                "name": "imageFilename",
                                                "type": "filename",
                                                "label": "Image Filename",
                                                "semantic": "file:name",
                                                "extension": [
                                                  "jpg",
                                                  "jpeg",
                                                  "png",
                                                  "webp",
                                                  "gif"
                                                ]
                                              },
                                              {
                                                "name": "imageData",
                                                "type": "buffer",
                                                "label": "Image Data",
                                                "semantic": "file:data"
                                              }
                                            ],
                                            "type": "collection",
                                            "label": "Image"
                                          }
                                        ]
                                      }
                                    ],
                                    "mappable": false
                                  },
                                  {
                                    "help": "Recommended value: `Auto`",
                                    "name": "imageDetail",
                                    "type": "select",
                                    "label": "Image Detail",
                                    "options": [
                                      {
                                        "label": "Auto",
                                        "value": "auto",
                                        "default": true
                                      },
                                      {
                                        "label": "High",
                                        "value": "high"
                                      },
                                      {
                                        "label": "Low",
                                        "value": "low"
                                      }
                                    ]
                                  }
                                ],
                                "default": true
                              },
                              {
                                "label": "Assistant",
                                "value": "assistant",
                                "nested": [
                                  {
                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                    "name": "content",
                                    "type": "text",
                                    "label": "Text Content"
                                  },
                                  {
                                    "mode": "edit",
                                    "name": "tool_calls",
                                    "spec": {
                                      "spec": [
                                        {
                                          "name": "type",
                                          "type": "hidden",
                                          "default": "function"
                                        },
                                        {
                                          "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                          "name": "id",
                                          "type": "text",
                                          "label": "Tool call ID"
                                        },
                                        {
                                          "name": "function",
                                          "spec": [
                                            {
                                              "help": "The name of the function previously called.",
                                              "name": "name",
                                              "type": "text",
                                              "label": "Name",
                                              "required": true
                                            },
                                            {
                                              "help": "The arguments previously output by the AI.",
                                              "name": "arguments",
                                              "type": "text",
                                              "label": "Arguments",
                                              "required": true
                                            }
                                          ],
                                          "type": "collection",
                                          "label": "Function"
                                        }
                                      ],
                                      "type": "collection",
                                      "label": "Tool Call"
                                    },
                                    "type": "array",
                                    "label": "Tool Calls",
                                    "labels": {
                                      "add": "Add tool call"
                                    },
                                    "mappable": {
                                      "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                    }
                                  }
                                ]
                              },
                              {
                                "label": "Developer / System",
                                "value": "system",
                                "nested": [
                                  {
                                    "help": "Text content of the message on behalf of the selected __Role__.",
                                    "name": "content",
                                    "type": "text",
                                    "label": "Text Content"
                                  }
                                ]
                              },
                              {
                                "label": "Tool",
                                "value": "tool",
                                "nested": [
                                  {
                                    "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                    "name": "content",
                                    "type": "text",
                                    "label": "Text Content",
                                    "required": true
                                  },
                                  {
                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                    "name": "tool_call_id",
                                    "type": "text",
                                    "label": "Tool Call ID.",
                                    "required": true
                                  }
                                ]
                              }
                            ]
                          },
                          "required": true
                        }
                      ],
                      "type": "collection",
                      "label": "Message"
                    },
                    "type": "array",
                    "label": "Messages",
                    "required": true
                  },
                  {
                    "name": "response_format",
                    "type": "select",
                    "label": "Response Format",
                    "validate": {
                      "enum": [
                        "text",
                        "json_object"
                      ]
                    }
                  }
                ],
                "restore": {
                  "expect": {
                    "stop": {
                      "mode": "chose"
                    },
                    "model": {
                      "mode": "chose",
                      "label": "gpt-4.1 (system)"
                    },
                    "select": {
                      "label": "Create a Chat Completion (GPT and o1 models)"
                    },
                    "messages": {
                      "mode": "chose",
                      "items": [
                        {
                          "role": {
                            "mode": "chose",
                            "label": "Developer / System"
                          }
                        },
                        {
                          "role": {
                            "mode": "chose",
                            "label": "User"
                          },
                          "imageDetail": {
                            "mode": "chose",
                            "label": "Auto"
                          },
                          "imageInputType": {
                            "mode": "chose",
                            "label": "Empty"
                          }
                        }
                      ]
                    },
                    "logit_bias": {
                      "mode": "chose"
                    },
                    "tool_choice": {
                      "mode": "chose",
                      "label": "Empty"
                    },
                    "response_format": {
                      "mode": "chose",
                      "label": "Text"
                    },
                    "additionalParameters": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "openai-gpt-3"
                      },
                      "label": "AI Content Generator"
                    }
                  }
                },
                "designer": {
                  "x": 900,
                  "y": 300,
                  "name": "Genera respuesta"
                },
                "interface": [
                  {
                    "name": "result",
                    "type": "any",
                    "label": "Result"
                  },
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "object",
                    "type": "text",
                    "label": "Object"
                  },
                  {
                    "name": "created",
                    "type": "date",
                    "label": "Created"
                  },
                  {
                    "name": "model",
                    "type": "text",
                    "label": "Model"
                  },
                  {
                    "name": "choices",
                    "spec": [
                      {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                      },
                      {
                        "name": "index",
                        "type": "number",
                        "label": "Index"
                      },
                      {
                        "name": "logprobs",
                        "type": "text",
                        "label": "Log Probs"
                      },
                      {
                        "name": "finish_reason",
                        "type": "text",
                        "label": "Finish Reason"
                      },
                      {
                        "name": "message",
                        "spec": [
                          {
                            "name": "role",
                            "type": "text",
                            "label": "Role"
                          },
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content"
                          },
                          {
                            "name": "tool_calls",
                            "spec": [
                              {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                              },
                              {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                              },
                              {
                                "name": "function",
                                "spec": [
                                  {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                  },
                                  {
                                    "name": "arguments",
                                    "type": "text",
                                    "label": "Arguments"
                                  }
                                ],
                                "type": "collection",
                                "label": "Function"
                              }
                            ],
                            "type": "array",
                            "label": "Tool Calls"
                          },
                          {
                            "name": "refusal",
                            "type": "text",
                            "label": "Refusal"
                          },
                          {
                            "name": "annotations",
                            "spec": [
                              {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                              },
                              {
                                "name": "url_citation",
                                "spec": [
                                  {
                                    "name": "end_index",
                                    "type": "number",
                                    "label": "End Index"
                                  },
                                  {
                                    "name": "start_index",
                                    "type": "number",
                                    "label": "Start Index"
                                  },
                                  {
                                    "name": "title",
                                    "type": "text",
                                    "label": "Title"
                                  },
                                  {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                  }
                                ],
                                "type": "collection",
                                "label": "URL Citation"
                              }
                            ],
                            "type": "array",
                            "label": "Annotations"
                          }
                        ],
                        "type": "collection",
                        "label": "Message"
                      }
                    ],
                    "type": "array",
                    "label": "Choices"
                  },
                  {
                    "name": "usage",
                    "spec": [
                      {
                        "name": "prompt_tokens",
                        "type": "number",
                        "label": "Prompt Tokens"
                      },
                      {
                        "name": "completion_tokens",
                        "type": "text",
                        "label": "Completion Tokens"
                      },
                      {
                        "name": "total_tokens",
                        "type": "number",
                        "label": "Total Tokens"
                      },
                      {
                        "name": "prompt_tokens_details",
                        "spec": [
                          {
                            "name": "cached_tokens",
                            "type": "uinteger",
                            "label": "Cached Tokens"
                          },
                          {
                            "name": "text_tokens",
                            "type": "uinteger",
                            "label": "Text Tokens"
                          },
                          {
                            "name": "image_tokens",
                            "type": "uinteger",
                            "label": "Image Tokens"
                          },
                          {
                            "name": "audio_tokens",
                            "type": "uinteger",
                            "label": "Audio Tokens"
                          }
                        ],
                        "type": "collection",
                        "label": "Prompt Tokens Details"
                      },
                      {
                        "name": "completion_tokens_details",
                        "spec": [
                          {
                            "name": "reasoning_tokens",
                            "type": "uinteger",
                            "label": "Reasoning Tokens"
                          },
                          {
                            "name": "text_tokens",
                            "type": "uinteger",
                            "label": "Text Tokens"
                          },
                          {
                            "name": "audio_tokens",
                            "type": "uinteger",
                            "label": "Audio Tokens"
                          },
                          {
                            "name": "accepted_prediction_tokens",
                            "type": "uinteger",
                            "label": "Accepted Prediction Tokens"
                          },
                          {
                            "name": "rejected_prediction_tokens",
                            "type": "uinteger",
                            "label": "Rejected Prediction Tokens"
                          }
                        ],
                        "type": "collection",
                        "label": "Completion Tokens Details"
                      }
                    ],
                    "type": "collection",
                    "label": "Usage"
                  },
                  {
                    "name": "service_tier",
                    "type": "text",
                    "label": "Service Tier"
                  },
                  {
                    "name": "system_fingerprint",
                    "type": "text",
                    "label": "System Fingerprint"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:openai-gpt-3",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 4371900
              }
            },
            {
              "id": 14,
              "mapper": {
                "id": "{{16.id}}",
                "message": "{{13.result}}"
              },
              "module": "instagram-business:CreateComment",
              "onerror": [
                {
                  "id": 17,
                  "module": "builtin:Ignore",
                  "version": 1,
                  "metadata": {
                    "designer": {
                      "x": 1500,
                      "y": 300
                    }
                  }
                }
              ],
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "Comment ID",
                    "required": true
                  },
                  {
                    "name": "message",
                    "type": "text",
                    "label": "Message",
                    "required": true
                  }
                ],
                "restore": {
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "facebook"
                      },
                      "label": "IITA Meta (Gonzalo Aybar)"
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 300,
                  "name": "Respuesta automática"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:facebook",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 6677325
              }
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 150,
          "name": "¿Tipo de comentario?"
        }
      },
      "parameters": {
        "else": 2
      }
    }
  ],
  "name": "IITA San Lorenzo - New comments Instagram",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "9": {
          "AIUsage": {
            "inputTokens": 163,
            "outputTokens": 33
          },
          "sentiment": "positive",
          "description": "The emoji '🙌' is commonly used to express praise, celebration, or happiness, which indicates a posi..."
        },
        "13": {
          "id": "chatcmpl-ClxjfMi77jB4rrcfwoOdAUzGHeE3c",
          "model": "gpt-4.1-2025-04-14",
          "usage": {
            "total_tokens": 238,
            "prompt_tokens": 219,
            "completion_tokens": 19,
            "prompt_tokens_details": {
              "audio_tokens": 0,
              "cached_tokens": 0
            },
            "completion_tokens_details": {
              "audio_tokens": 0,
              "reasoning_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "object": "chat.completion",
          "result": "¡Gracias por el ánimo, agus.ao_! Nos inspira tu buena vibra 🙌",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "¡Gracias por el ánimo, agus.ao_! Nos inspira tu buena vibra 🙌",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "created": "2025-12-12T13:44:35.000Z",
          "service_tier": "default",
          "system_fingerprint": "fp_503841a4dc"
        },
        "16": {
          "id": "18076408754256396",
          "from": {
            "id": "822526853935365",
            "username": "agus.ao_"
          },
          "text": "🙌",
          "field": "comments",
          "media": {
            "id": "17855065932454709",
            "media_product_type": "FEED"
          }
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}