snapshots/2026-02-18_produccion/7_envio/4058054_out_whatsapp_chatbot.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {},
      "module": "scenario-service:StartSubscenario",
      "version": 2,
      "metadata": {
        "restore": {},
        "designer": {
          "x": 0,
          "y": 0
        },
        "interface": [
          {
            "help": "Contiene el número de télefono desde donde se enviará el mensaje.",
            "name": "channel_address",
            "type": "text",
            "label": "",
            "default": "",
            "required": true,
            "multiline": false
          },
          {
            "help": "Contiene el número de teléfono del destinatario del mensaje.",
            "name": "person_address",
            "type": "text",
            "label": "",
            "default": "",
            "required": true,
            "multiline": false
          },
          {
            "help": "Contiene el mensaje que se enviará al  destinatario.",
            "name": "text",
            "type": "text",
            "label": "",
            "default": "",
            "required": true,
            "multiline": false
          },
          {
            "help": "Contiene el identificador de la interacción del mensaje que se enviará.",
            "name": "id_interaction",
            "type": "text",
            "label": "",
            "default": "",
            "required": true,
            "multiline": false
          }
        ]
      },
      "parameters": {}
    },
    {
      "id": 16,
      "filter": {
        "name": "Cloud API",
        "conditions": [
          [
            {
              "a": "{{1.channel_address}}",
              "b": "111869345312688",
              "o": "text:equal"
            }
          ]
        ]
      },
      "mapper": {
        "url": "https://graph.facebook.com/v17.0/100436536473788/messages",
        "method": "post",
        "contentType": "json",
        "inputMethod": "jsonString",
        "shareCookies": false,
        "parseResponse": true,
        "allowRedirects": true,
        "stopOnHttpError": true,
        "jsonStringBodyContent": "{\r\n  \"messaging_product\": \"whatsapp\",\r\n  \"to\": \"{{1.person_address}}\",\r\n  \"type\": \"text\",\r\n  \"text\": {\r\n    \"body\": \"{{replace(1.text; newline; \"\\n\")}}\"\r\n  }\r\n}",
        "requestCompressedContent": true
      },
      "module": "http:MakeRequest",
      "version": 4,
      "metadata": {
        "expect": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "get",
                "head",
                "post",
                "put",
                "patch",
                "delete",
                "options"
              ]
            }
          },
          {
            "name": "headers",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true,
                  "validate": {
                    "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                  }
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "collection",
              "label": "Header"
            },
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "queryParameters",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "collection",
              "label": "Parameter"
            },
            "type": "array",
            "label": "Query parameters"
          },
          {
            "name": "contentType",
            "type": "select",
            "label": "Body content type",
            "validate": {
              "enum": [
                "json",
                "multipart",
                "urlEncoded",
                "custom"
              ]
            }
          },
          {
            "name": "parseResponse",
            "type": "boolean",
            "label": "Parse response",
            "required": true
          },
          {
            "name": "stopOnHttpError",
            "type": "boolean",
            "label": "Return error if HTTP request fails",
            "required": true
          },
          {
            "name": "timeout",
            "type": "uinteger",
            "label": "Timeout",
            "validate": {
              "max": 300,
              "min": 1
            }
          },
          {
            "name": "allowRedirects",
            "type": "boolean",
            "label": "Allow redirects",
            "required": true
          },
          {
            "name": "shareCookies",
            "type": "boolean",
            "label": "Share cookies with other HTTP modules",
            "required": true
          },
          {
            "name": "requestCompressedContent",
            "type": "boolean",
            "label": "Request compressed content",
            "required": true
          },
          {
            "name": "inputMethod",
            "type": "select",
            "label": "Body input method",
            "required": true,
            "validate": {
              "enum": [
                "dataStructure",
                "jsonString"
              ]
            }
          },
          {
            "name": "jsonStringBodyContent",
            "type": "text",
            "label": "Body content",
            "required": true
          },
          {
            "name": "paginationType",
            "type": "select",
            "label": "Pagination type",
            "validate": {
              "enum": [
                "offsetBased",
                "pageBased",
                "urlBased",
                "tokenBased"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "method": {
              "mode": "chose",
              "label": "POST"
            },
            "headers": {
              "mode": "chose"
            },
            "contentType": {
              "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
            },
            "inputMethod": {
              "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
            },
            "shareCookies": {
              "mode": "chose"
            },
            "parseResponse": {
              "mode": "chose"
            },
            "allowRedirects": {
              "mode": "chose"
            },
            "paginationType": {
              "label": "Empty"
            },
            "queryParameters": {
              "mode": "chose"
            },
            "stopOnHttpError": {
              "mode": "chose"
            },
            "requestCompressedContent": {
              "mode": "chose"
            }
          },
          "parameters": {
            "tlsType": {
              "label": "Empty"
            },
            "proxyKeychain": {
              "label": "Choose a key"
            },
            "apiKeyKeychain": {
              "label": "Whatsapp Cloud API"
            },
            "authenticationType": {
              "label": "API keyUse when the service requires an API key."
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 0
        },
        "interface": [
          {
            "name": "data",
            "type": "any",
            "label": "Data"
          },
          {
            "name": "statusCode",
            "type": "number",
            "label": "Status Code"
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "content-length",
                "type": "text",
                "label": "Content-Length"
              },
              {
                "name": "content-encoding",
                "type": "text",
                "label": "Content-Encoding"
              },
              {
                "name": "content-type",
                "type": "text",
                "label": "Content-Type"
              },
              {
                "name": "server",
                "type": "text",
                "label": "Server"
              },
              {
                "name": "cache-control",
                "type": "text",
                "label": "Cache-Control"
              },
              {
                "name": "set-cookie",
                "spec": {
                  "type": "text"
                },
                "type": "array",
                "label": "Set-Cookie"
              }
            ],
            "type": "collection",
            "label": "Headers"
          }
        ],
        "parameters": [
          {
            "name": "authenticationType",
            "type": "select",
            "label": "Authentication type",
            "required": true,
            "validate": {
              "enum": [
                "noAuth",
                "apiKey",
                "basicAuth",
                "oAuth"
              ]
            }
          },
          {
            "name": "tlsType",
            "type": "select",
            "label": "Transport layer security (TLS)",
            "validate": {
              "enum": [
                "mTls",
                "tls"
              ]
            }
          },
          {
            "name": "proxyKeychain",
            "type": "keychain:proxy",
            "label": "Proxy"
          },
          {
            "name": "apiKeyKeychain",
            "type": "keychain:apikeyauth",
            "label": "Credentials",
            "required": true
          }
        ]
      },
      "parameters": {
        "tlsType": "",
        "proxyKeychain": "",
        "apiKeyKeychain": 110964,
        "authenticationType": "apiKey"
      }
    },
    {
      "id": 7,
      "mapper": {
        "@id": "",
        "@text": "",
        "where": [
          [
            {
              "a": "id",
              "b": "{{1.id_interaction}}",
              "o": "equal"
            },
            {
              "a": "status",
              "b": "sending",
              "o": "equal"
            }
          ]
        ],
        "@ad_id": "",
        "@status": "send",
        "@time_stamp": "{{now}}",
        "@external_ref": "{{16.data.messages[].id}}",
        "@id_person_conversation": "",
        "@id_system_conversation": ""
      },
      "module": "postgres:UpdateTable",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "@id",
            "type": "integer",
            "label": "id"
          },
          {
            "name": "@external_ref",
            "type": "text",
            "label": "external_ref"
          },
          {
            "name": "@id_person_conversation",
            "type": "integer",
            "label": "id_person_conversation"
          },
          {
            "name": "@id_system_conversation",
            "type": "integer",
            "label": "id_system_conversation"
          },
          {
            "name": "@text",
            "type": "text",
            "label": "text"
          },
          {
            "name": "@time_stamp",
            "type": "text",
            "label": "time_stamp"
          },
          {
            "name": "@ad_id",
            "type": "integer",
            "label": "ad_id"
          },
          {
            "name": "@status",
            "type": "text",
            "label": "status"
          },
          {
            "name": "where",
            "type": "filter",
            "label": "Filter",
            "options": {
              "store": [
                {
                  "label": "id",
                  "value": "id"
                },
                {
                  "label": "external_ref",
                  "value": "external_ref"
                },
                {
                  "label": "id_person_conversation",
                  "value": "id_person_conversation"
                },
                {
                  "label": "id_system_conversation",
                  "value": "id_system_conversation"
                },
                {
                  "label": "text",
                  "value": "text"
                },
                {
                  "label": "time_stamp",
                  "value": "time_stamp"
                },
                {
                  "label": "ad_id",
                  "value": "ad_id"
                },
                {
                  "label": "status",
                  "value": "status"
                }
              ],
              "operators": [
                {
                  "label": "Basic",
                  "options": [
                    {
                      "label": "Is not null",
                      "value": "exist"
                    },
                    {
                      "label": "Is null",
                      "value": "notexist"
                    },
                    {
                      "label": "Equal to",
                      "value": "equal"
                    },
                    {
                      "label": "Not equal to",
                      "value": "notequal"
                    },
                    {
                      "label": "Greater than",
                      "value": "greater"
                    },
                    {
                      "label": "Greater than or equal to",
                      "value": "greaterorequal"
                    },
                    {
                      "label": "Less than",
                      "value": "less"
                    },
                    {
                      "label": "Less than or equal to",
                      "value": "lessorequal"
                    },
                    {
                      "label": "Contains",
                      "value": "contain"
                    },
                    {
                      "label": "Does not contain",
                      "value": "notcontain"
                    },
                    {
                      "label": "Starts with",
                      "value": "startwith"
                    },
                    {
                      "label": "Does not start with",
                      "value": "notstartwith"
                    },
                    {
                      "label": "Ends with",
                      "value": "endwith"
                    },
                    {
                      "label": "Does not end with",
                      "value": "notendwith"
                    }
                  ]
                }
              ]
            }
          },
          {
            "name": "@id",
            "type": "integer",
            "label": "id"
          },
          {
            "name": "@external_ref",
            "type": "text",
            "label": "external_ref"
          },
          {
            "name": "@id_person_conversation",
            "type": "integer",
            "label": "id_person_conversation"
          },
          {
            "name": "@id_system_conversation",
            "type": "integer",
            "label": "id_system_conversation"
          },
          {
            "name": "@text",
            "type": "text",
            "label": "text"
          },
          {
            "name": "@time_stamp",
            "type": "text",
            "label": "time_stamp"
          },
          {
            "name": "@ad_id",
            "type": "integer",
            "label": "ad_id"
          },
          {
            "name": "@status",
            "type": "text",
            "label": "status"
          },
          {
            "name": "where",
            "type": "filter",
            "label": "Filter",
            "options": {
              "store": [
                {
                  "label": "id",
                  "value": "id"
                },
                {
                  "label": "external_ref",
                  "value": "external_ref"
                },
                {
                  "label": "id_person_conversation",
                  "value": "id_person_conversation"
                },
                {
                  "label": "id_system_conversation",
                  "value": "id_system_conversation"
                },
                {
                  "label": "text",
                  "value": "text"
                },
                {
                  "label": "time_stamp",
                  "value": "time_stamp"
                },
                {
                  "label": "ad_id",
                  "value": "ad_id"
                },
                {
                  "label": "status",
                  "value": "status"
                }
              ],
              "operators": [
                {
                  "label": "Basic",
                  "options": [
                    {
                      "label": "Is not null",
                      "value": "exist"
                    },
                    {
                      "label": "Is null",
                      "value": "notexist"
                    },
                    {
                      "label": "Equal to",
                      "value": "equal"
                    },
                    {
                      "label": "Not equal to",
                      "value": "notequal"
                    },
                    {
                      "label": "Greater than",
                      "value": "greater"
                    },
                    {
                      "label": "Greater than or equal to",
                      "value": "greaterorequal"
                    },
                    {
                      "label": "Less than",
                      "value": "less"
                    },
                    {
                      "label": "Less than or equal to",
                      "value": "lessorequal"
                    },
                    {
                      "label": "Contains",
                      "value": "contain"
                    },
                    {
                      "label": "Does not contain",
                      "value": "notcontain"
                    },
                    {
                      "label": "Starts with",
                      "value": "startwith"
                    },
                    {
                      "label": "Does not start with",
                      "value": "notstartwith"
                    },
                    {
                      "label": "Ends with",
                      "value": "endwith"
                    },
                    {
                      "label": "Does not end with",
                      "value": "notendwith"
                    }
                  ]
                }
              ]
            }
          }
        ],
        "restore": {
          "parameters": {
            "table": {
              "label": "public.interactions"
            },
            "account": {
              "data": {
                "scoped": "true",
                "connection": "postgres"
              },
              "label": "Nico DB - Desarrollo (postgres.kacygprzxwysoijsvqdv@aws-1-us-east-2.pooler.supabase.com:5432/postgres)"
            }
          }
        },
        "designer": {
          "x": 600,
          "y": 0,
          "name": "Update record"
        },
        "parameters": [
          {
            "name": "account",
            "type": "account:postgres",
            "label": "Connection",
            "required": true
          },
          {
            "name": "isToManageDataInSharedTransaction",
            "type": "boolean",
            "label": "Manage data within the shared transaction",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          }
        ]
      },
      "parameters": {
        "table": "\"public\".\"interactions\"",
        "account": 7346367,
        "isToManageDataInSharedTransaction": true
      }
    }
  ],
  "name": "[OUT] Whatsapp ~ Chatbot",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "16": {
          "data": {
            "contacts": [
              {
                "input": "5493874545078",
                "wa_id": "5493874545078"
              }
            ],
            "messages": [
              {
                "id": "wamid.HBgNNTQ5Mzg3NDU0NTA3OBUCABEYEkJGQTdBMzNGMjJCMThGREZCNwA="
              }
            ],
            "messaging_product": "whatsapp"
          },
          "headers": {
            "date": "Wed, 04 Feb 2026 12:22:54 GMT",
            "vary": "Origin",
            "pragma": "no-cache",
            "alt-svc": "h3=\":443\"; ma=86400",
            "expires": "Sat, 01 Jan 2000 00:00:00 GMT",
            "x-fb-aed": "723",
            "x-fb-rev": "1032903352",
            "connection": "keep-alive",
            "x-fb-debug": "CQrIkA0HGimX3DhPBr6Aye9jIwK+Aaaicrygz2iZDDsVReYSUCh07WEK4tDkquhnc7tpkAxvF9+vHIvlAWXmhw==",
            "content-type": "application/json",
            "cache-control": "private, no-cache, no-store, must-revalidate",
            "x-fb-trace-id": "COhrkC0U8/J",
            "content-length": "180",
            "x-fb-request-id": "A8zkwPGX_rGtLMUHcD3sMDf",
            "x-fb-server-load": "9",
            "facebook-api-version": "v19.0",
            "x-fb-connection-quality": "EXCELLENT; q=0.9, rtt=6, rtx=0, c=10, mss=1380, tbw=3458, tp=-1, tpl=-1, uplat=755, ullat=0",
            "x-ad-api-version-warning": "The call has been auto-upgraded to v19.0 as v17.0 has been deprecated.",
            "strict-transport-security": "max-age=15552000; preload",
            "x-business-use-case-usage": "{\"111869345312688\":[{\"type\":\"whatsapp\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_ti...",
            "access-control-allow-origin": "*"
          },
          "statusCode": 200
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}