snapshots/2026-02-19_nocturno/8_otros/3689653_iita_-_ai_respond_generation_legacy.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {},
      "module": "supabase:watchEvents",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "__IMTHOOK__": {
              "data": {
                "editable": "false"
              },
              "label": "New_interaction"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 300,
          "name": "Watch new interaction"
        },
        "parameters": [
          {
            "name": "__IMTHOOK__",
            "type": "hook:supabase",
            "label": "Webhook",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTHOOK__": 1660561
      }
    },
    {
      "id": 2,
      "filter": {
        "name": "User only",
        "conditions": [
          [
            {
              "a": "{{1.record.id_system_conversation}}",
              "o": "notexist"
            }
          ]
        ]
      },
      "mapper": {
        "duration": "60"
      },
      "module": "util:FunctionSleep",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "duration",
            "type": "uinteger",
            "label": "Delay",
            "required": true,
            "validate": {
              "max": 300,
              "min": 1
            }
          }
        ],
        "restore": {},
        "designer": {
          "x": 300,
          "y": 300,
          "name": "Wait 1 minute"
        }
      },
      "parameters": {}
    },
    {
      "id": 3,
      "mapper": {
        "command": "SELECT id\r\nFROM interactions\r\nWHERE id_person_conversation={{1.record.id_person_conversation}} ORDER BY time_stamp DESC\r\nLIMIT 1"
      },
      "module": "postgres:Query",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "command",
            "type": "text",
            "label": "Command",
            "required": true
          }
        ],
        "restore": {
          "parameters": {
            "account": {
              "data": {
                "scoped": "true",
                "connection": "postgres"
              },
              "label": "IITA - Producción (Supabase) (postgres.cpkzzzwncpbzexpesock@aws-1-us-east-1.pooler.supabase.com:5432/postgres)"
            }
          }
        },
        "designer": {
          "x": 600,
          "y": 300,
          "name": "Search last message"
        },
        "parameters": [
          {
            "name": "account",
            "type": "account:postgres",
            "label": "Connection",
            "required": true
          },
          {
            "name": "continueWhenNoRes",
            "type": "boolean",
            "label": "Continue the execution of the route even if the module returns no rows",
            "required": true
          },
          {
            "name": "isToManageDataInSharedTransaction",
            "type": "boolean",
            "label": "Manage data within the shared transaction",
            "required": true
          }
        ]
      },
      "parameters": {
        "account": 6184753,
        "continueWhenNoRes": false,
        "isToManageDataInSharedTransaction": true
      }
    },
    {
      "id": 7,
      "filter": {
        "name": "Is the last message",
        "conditions": [
          [
            {
              "a": "{{1.record.id}}",
              "b": "{{3.id}}",
              "o": "text:equal"
            }
          ]
        ]
      },
      "mapper": {
        "command": "SELECT\r\n    ch.address AS channel_address, -- El dato que buscas (ej: Teléfono de la empresa)\r\n    ch.name AS channel_name, ch.id_channel_provider\nFROM interactions i\r\n-- 1. Subimos a la tabla intermedia de la persona\r\nJOIN person_conversation pc ON i.id_person_conversation = pc.id\r\n-- 2. CRUZAMOS EL PUENTE: Buscamos la contraparte del sistema en la MISMA conversación\r\nJOIN system_conversation sc ON pc.id_conversation = sc.id_conversation\r\n-- 3. Bajamos a la tabla de canales usando el ID que tiene el sistema\r\nJOIN channels ch ON sc.id_channel = ch.id\r\nWHERE\r\n    -- Filtramos por el ID de la interacción que disparó el webhook\r\n    i.id={{1.record.id}}"
      },
      "module": "postgres:Query",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "command",
            "type": "text",
            "label": "Command",
            "required": true
          }
        ],
        "restore": {
          "parameters": {
            "account": {
              "data": {
                "scoped": "true",
                "connection": "postgres"
              },
              "label": "IITA - Producción (Supabase) (postgres.cpkzzzwncpbzexpesock@aws-1-us-east-1.pooler.supabase.com:5432/postgres)"
            }
          }
        },
        "designer": {
          "x": 900,
          "y": 300,
          "name": "Search channel address"
        },
        "parameters": [
          {
            "name": "account",
            "type": "account:postgres",
            "label": "Connection",
            "required": true
          },
          {
            "name": "continueWhenNoRes",
            "type": "boolean",
            "label": "Continue the execution of the route even if the module returns no rows",
            "required": true
          },
          {
            "name": "isToManageDataInSharedTransaction",
            "type": "boolean",
            "label": "Manage data within the shared transaction",
            "required": true
          }
        ]
      },
      "parameters": {
        "account": 6184753,
        "continueWhenNoRes": false,
        "isToManageDataInSharedTransaction": true
      }
    },
    {
      "id": 8,
      "mapper": {
        "command": "SELECT id_person, address FROM person_conversation\nWHERE id={{1.record.id_person_conversation}}"
      },
      "module": "postgres:Query",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "command",
            "type": "text",
            "label": "Command",
            "required": true
          }
        ],
        "restore": {
          "parameters": {
            "account": {
              "data": {
                "scoped": "true",
                "connection": "postgres"
              },
              "label": "IITA - Producción (Supabase) (postgres.cpkzzzwncpbzexpesock@aws-1-us-east-1.pooler.supabase.com:5432/postgres)"
            }
          }
        },
        "designer": {
          "x": 1200,
          "y": 300,
          "name": "Search person id & address"
        },
        "parameters": [
          {
            "name": "account",
            "type": "account:postgres",
            "label": "Connection",
            "required": true
          },
          {
            "name": "continueWhenNoRes",
            "type": "boolean",
            "label": "Continue the execution of the route even if the module returns no rows",
            "required": true
          },
          {
            "name": "isToManageDataInSharedTransaction",
            "type": "boolean",
            "label": "Manage data within the shared transaction",
            "required": true
          }
        ]
      },
      "parameters": {
        "account": 6184753,
        "continueWhenNoRes": false,
        "isToManageDataInSharedTransaction": true
      }
    },
    {
      "id": 16,
      "mapper": {
        "data": {
          "id_person_conversation": "{{1.record.id_person_conversation}}"
        }
      },
      "module": "scenario-service:CallSubscenario",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "data",
            "spec": [
              {
                "name": "id_person_conversation",
                "type": "text",
                "label": "",
                "required": true
              }
            ],
            "type": "collection",
            "label": "Scenario Inputs"
          }
        ],
        "restore": {
          "parameters": {
            "scenario": {
              "label": "IITA - Search unanswered messages"
            }
          }
        },
        "designer": {
          "x": 1500,
          "y": 300,
          "name": "Search unsanswered messages"
        },
        "interface": [
          {
            "help": "Contains user messages that have not yet been responded to.",
            "name": "unanswered_messages",
            "type": "text",
            "label": "",
            "default": "",
            "required": false,
            "multiline": true
          }
        ],
        "parameters": [
          {
            "name": "scenario",
            "type": "scenario",
            "label": "Scenario",
            "required": true
          },
          {
            "name": "shouldWaitForExecutionEnd",
            "type": "boolean",
            "label": "Wait for subscenario output",
            "required": true
          }
        ]
      },
      "parameters": {
        "scenario": "SCN_3639861",
        "shouldWaitForExecutionEnd": true
      }
    },
    {
      "id": 5,
      "mapper": {
        "data": {
          "address_person": "{{8.address}}",
          "address_channels": "{{7.channel_address}}"
        }
      },
      "module": "scenario-service:CallSubscenario",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "data",
            "spec": [
              {
                "name": "address_channels",
                "type": "text",
                "label": "",
                "required": true
              },
              {
                "name": "address_person",
                "type": "text",
                "label": ""
              }
            ],
            "type": "collection",
            "label": "Scenario Inputs"
          }
        ],
        "restore": {
          "parameters": {
            "scenario": {
              "label": "IITA - Search for last messages in the conversation"
            }
          }
        },
        "designer": {
          "x": 1800,
          "y": 300,
          "name": "Message history"
        },
        "interface": [
          {
            "help": "Contains the status of the operation performed.",
            "name": "status",
            "type": "select",
            "label": "",
            "options": [
              {
                "value": "success"
              },
              {
                "value": "Error: channel not found"
              },
              {
                "value": "Error: conversation not found"
              },
              {
                "value": "Error: interaction not found"
              }
            ],
            "required": false
          },
          {
            "help": "It contains the interactions between person and system.",
            "name": "interaction_history",
            "type": "text",
            "label": "",
            "default": "",
            "required": false,
            "multiline": true
          }
        ],
        "parameters": [
          {
            "name": "scenario",
            "type": "scenario",
            "label": "Scenario",
            "required": true
          },
          {
            "name": "shouldWaitForExecutionEnd",
            "type": "boolean",
            "label": "Wait for subscenario output",
            "required": true
          }
        ]
      },
      "parameters": {
        "scenario": "SCN_3632237",
        "shouldWaitForExecutionEnd": true
      }
    },
    {
      "id": 9,
      "mapper": {
        "agent": "d5568d5f-072d-410a-8c60-2cc48e944525",
        "timeout": "",
        "messages": [
          "Historial de conversación (contexto):\n{{5.interaction_history}}",
          "Mensaje a procesar:\n\"{{1.record.text}}\"",
          "Mensajes sin responder (a procesar):\n\"{{16.unanswered_messages}}\""
        ],
        "threadID": "",
        "outputType": "",
        "additionalSystemPrompt": ""
      },
      "module": "ai-agent:RunAnAIAgent",
      "onerror": [
        {
          "id": 10,
          "mapper": {
            "count": "5",
            "retry": true,
            "interval": "15"
          },
          "module": "builtin:Break",
          "version": 1,
          "metadata": {
            "expect": [
              {
                "name": "retry",
                "type": "boolean",
                "label": "Automatically complete execution",
                "required": true
              },
              {
                "name": "count",
                "type": "uinteger",
                "label": "Number of attempts",
                "required": true,
                "validate": {
                  "max": 10000,
                  "min": 1
                }
              },
              {
                "name": "interval",
                "type": "uinteger",
                "label": "Interval between attempts",
                "required": true,
                "validate": {
                  "max": 44640,
                  "min": 1
                }
              }
            ],
            "restore": {
              "expect": {
                "retry": {
                  "mode": "chose"
                }
              }
            },
            "designer": {
              "x": 2400,
              "y": 600
            }
          },
          "parameters": {}
        }
      ],
      "version": 0,
      "metadata": {
        "expect": [
          {
            "name": "agent",
            "type": "aiagent",
            "label": "Agent",
            "required": true
          },
          {
            "name": "threadID",
            "type": "text",
            "label": "Thread ID",
            "validate": {
              "max": 256
            }
          },
          {
            "name": "additionalSystemPrompt",
            "type": "text",
            "label": "Additional system instructions"
          },
          {
            "name": "messages",
            "spec": {
              "name": "value",
              "type": "text",
              "label": "Message"
            },
            "type": "array",
            "label": "Messages"
          },
          {
            "name": "timeout",
            "type": "number",
            "label": "Timeout",
            "validate": {
              "max": 600,
              "min": 120
            }
          },
          {
            "name": "outputType",
            "type": "select",
            "label": "Output schema",
            "validate": {
              "enum": [
                "text",
                "make-schema"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "agent": {
              "label": "Atención al cliente y asesor de cursos (Activo)"
            },
            "messages": {
              "mode": "chose",
              "items": [
                null,
                null,
                null
              ]
            },
            "outputType": {
              "label": "Empty"
            }
          }
        },
        "designer": {
          "x": 2100,
          "y": 300
        }
      },
      "parameters": {}
    },
    {
      "id": 11,
      "mapper": {
        "data": {
          "response_ia": "{{9.response}}",
          "interaction_id": "{{1.record.id}}"
        }
      },
      "module": "scenario-service:CallSubscenario",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "data",
            "spec": [
              {
                "name": "interaction_id",
                "type": "text",
                "label": "",
                "required": true
              },
              {
                "name": "response_ia",
                "type": "text",
                "label": "",
                "required": true
              }
            ],
            "type": "collection",
            "label": "Scenario Inputs"
          }
        ],
        "restore": {
          "parameters": {
            "scenario": {
              "label": "IITA - Record ia response"
            }
          }
        },
        "designer": {
          "x": 2400,
          "y": 150,
          "name": "Record ia response"
        },
        "interface": [
          {
            "name": "executionId",
            "type": "text",
            "label": "Execution ID"
          }
        ],
        "parameters": [
          {
            "name": "scenario",
            "type": "scenario",
            "label": "Scenario",
            "required": true
          },
          {
            "name": "shouldWaitForExecutionEnd",
            "type": "boolean",
            "label": "Wait for subscenario output",
            "required": true
          }
        ]
      },
      "parameters": {
        "scenario": "SCN_3615381",
        "shouldWaitForExecutionEnd": false
      }
    },
    {
      "id": 14,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 12,
              "filter": {
                "name": "San Lorenzo Chico",
                "conditions": [
                  [
                    {
                      "a": "{{7.channel_name}}",
                      "b": "san",
                      "o": "text:contain:ci"
                    }
                  ]
                ]
              },
              "mapper": {
                "mode": "fromAll",
                "values": {
                  "0": "{{7.channel_address}}",
                  "1": "{{formatDate(1.record.time_stamp; \"DD-MM-YYYY HH:mm\")}}",
                  "2": "{{switch(7.id_channel_provider; 1; \"Whatsapp\"; 2; \"Instagram\"; \"Messenger\")}}",
                  "3": "'{{8.address}}",
                  "4": "{{1.record.text}}",
                  "5": "{{1.record.external_ref}}",
                  "6": "{{9.response}}",
                  "10": "{{1.record.id}}"
                },
                "sheetId": "San Lorenzo Chico",
                "spreadsheetId": "1qXXB8me9BWzGZpw5b9SyHEWIe7xJT0vMRN4RlcS6Rss",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
              },
              "module": "google-sheets:addRow",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "insertUnformatted",
                    "type": "boolean",
                    "label": "Unformatted",
                    "required": true
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "insertDataOption",
                    "type": "select",
                    "label": "Insert data option",
                    "validate": {
                      "enum": [
                        "INSERT_ROWS",
                        "OVERWRITE"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "text",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "ID (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "Fecha y hora (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "Canal (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "ID Conversación (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "Mensaje recibido (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "ID Mensaje (F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "Respuesta generada (G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "OK (H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "Estado del envío (I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "Fecha y hora de salida (J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "Enlace directo (K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                      },
                      {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                      },
                      {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                      },
                      {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                      },
                      {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                      },
                      {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                      }
                    ],
                    "type": "collection",
                    "label": "Values"
                  }
                ],
                "restore": {
                  "expect": {
                    "mode": {
                      "label": "Select from all"
                    },
                    "sheetId": {
                      "mode": "chose",
                      "label": "San Lorenzo Chico"
                    },
                    "includesHeaders": {
                      "label": "Yes",
                      "nested": [
                        {
                          "name": "values",
                          "spec": [
                            {
                              "name": "0",
                              "type": "text",
                              "label": "ID (A)"
                            },
                            {
                              "name": "1",
                              "type": "text",
                              "label": "Fecha y hora (B)"
                            },
                            {
                              "name": "2",
                              "type": "text",
                              "label": "Canal (C)"
                            },
                            {
                              "name": "3",
                              "type": "text",
                              "label": "ID Conversación (D)"
                            },
                            {
                              "name": "4",
                              "type": "text",
                              "label": "Mensaje recibido (E)"
                            },
                            {
                              "name": "5",
                              "type": "text",
                              "label": "ID Mensaje (F)"
                            },
                            {
                              "name": "6",
                              "type": "text",
                              "label": "Respuesta generada (G)"
                            },
                            {
                              "name": "7",
                              "type": "text",
                              "label": "OK (H)"
                            },
                            {
                              "name": "8",
                              "type": "text",
                              "label": "Estado del envío (I)"
                            },
                            {
                              "name": "9",
                              "type": "text",
                              "label": "Fecha y hora de salida (J)"
                            },
                            {
                              "name": "10",
                              "type": "text",
                              "label": "Enlace directo (K)"
                            },
                            {
                              "name": "11",
                              "type": "text",
                              "label": "(L)"
                            },
                            {
                              "name": "12",
                              "type": "text",
                              "label": "(M)"
                            },
                            {
                              "name": "13",
                              "type": "text",
                              "label": "(N)"
                            },
                            {
                              "name": "14",
                              "type": "text",
                              "label": "(O)"
                            },
                            {
                              "name": "15",
                              "type": "text",
                              "label": "(P)"
                            },
                            {
                              "name": "16",
                              "type": "text",
                              "label": "(Q)"
                            },
                            {
                              "name": "17",
                              "type": "text",
                              "label": "(R)"
                            },
                            {
                              "name": "18",
                              "type": "text",
                              "label": "(S)"
                            },
                            {
                              "name": "19",
                              "type": "text",
                              "label": "(T)"
                            },
                            {
                              "name": "20",
                              "type": "text",
                              "label": "(U)"
                            },
                            {
                              "name": "21",
                              "type": "text",
                              "label": "(V)"
                            },
                            {
                              "name": "22",
                              "type": "text",
                              "label": "(W)"
                            },
                            {
                              "name": "23",
                              "type": "text",
                              "label": "(X)"
                            },
                            {
                              "name": "24",
                              "type": "text",
                              "label": "(Y)"
                            },
                            {
                              "name": "25",
                              "type": "text",
                              "label": "(Z)"
                            },
                            {
                              "name": "26",
                              "type": "text",
                              "label": "(AA)"
                            },
                            {
                              "name": "27",
                              "type": "text",
                              "label": "(AB)"
                            },
                            {
                              "name": "28",
                              "type": "text",
                              "label": "(AC)"
                            },
                            {
                              "name": "29",
                              "type": "text",
                              "label": "(AD)"
                            }
                          ],
                          "type": "collection",
                          "label": "Values"
                        }
                      ]
                    },
                    "insertDataOption": {
                      "mode": "chose",
                      "label": "Insert rows"
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    },
                    "insertUnformatted": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "designer": {
                  "x": 3000,
                  "y": 0,
                  "name": "Add a row San Lorenzo"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 5710354
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 15,
              "filter": {
                "name": "Salta",
                "conditions": []
              },
              "mapper": {
                "mode": "fromAll",
                "values": {
                  "0": "{{7.channel_address}}",
                  "1": "{{formatDate(1.record.time_stamp; \"DD-MM-YYYY HH:mm\")}}",
                  "2": "{{switch(7.id_channel_provider; 1; \"Whatsapp\"; 2; \"Instagram\"; 3; \"Messenger\"; \"Whatsapp Cloud API\")}}",
                  "3": "'{{8.address}}",
                  "4": "{{1.record.text}}",
                  "5": "{{1.record.external_ref}}",
                  "6": "{{9.response}}",
                  "10": "{{1.record.id}}"
                },
                "sheetId": "Salta",
                "spreadsheetId": "1qXXB8me9BWzGZpw5b9SyHEWIe7xJT0vMRN4RlcS6Rss",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
              },
              "module": "google-sheets:addRow",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "insertUnformatted",
                    "type": "boolean",
                    "label": "Unformatted",
                    "required": true
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "insertDataOption",
                    "type": "select",
                    "label": "Insert data option",
                    "validate": {
                      "enum": [
                        "INSERT_ROWS",
                        "OVERWRITE"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "text",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "ID (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "Fecha y hora (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "Canal (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "ID Conversación (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "Mensaje recibido (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "ID Mensaje (F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "Respuesta generada (G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "OK (H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "Estado del envío (I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "Fecha y hora de salida (J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "Enlace directo (K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                      },
                      {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                      },
                      {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                      },
                      {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                      }
                    ],
                    "type": "collection",
                    "label": "Values"
                  }
                ],
                "restore": {
                  "expect": {
                    "mode": {
                      "label": "Select from all"
                    },
                    "sheetId": {
                      "mode": "chose",
                      "label": "Salta"
                    },
                    "includesHeaders": {
                      "label": "Yes",
                      "nested": [
                        {
                          "name": "values",
                          "spec": [
                            {
                              "name": "0",
                              "type": "text",
                              "label": "ID (A)"
                            },
                            {
                              "name": "1",
                              "type": "text",
                              "label": "Fecha y hora (B)"
                            },
                            {
                              "name": "2",
                              "type": "text",
                              "label": "Canal (C)"
                            },
                            {
                              "name": "3",
                              "type": "text",
                              "label": "ID Conversación (D)"
                            },
                            {
                              "name": "4",
                              "type": "text",
                              "label": "Mensaje recibido (E)"
                            },
                            {
                              "name": "5",
                              "type": "text",
                              "label": "ID Mensaje (F)"
                            },
                            {
                              "name": "6",
                              "type": "text",
                              "label": "Respuesta generada (G)"
                            },
                            {
                              "name": "7",
                              "type": "text",
                              "label": "OK (H)"
                            },
                            {
                              "name": "8",
                              "type": "text",
                              "label": "Estado del envío (I)"
                            },
                            {
                              "name": "9",
                              "type": "text",
                              "label": "Fecha y hora de salida (J)"
                            },
                            {
                              "name": "10",
                              "type": "text",
                              "label": "Enlace directo (K)"
                            },
                            {
                              "name": "11",
                              "type": "text",
                              "label": "(L)"
                            },
                            {
                              "name": "12",
                              "type": "text",
                              "label": "(M)"
                            },
                            {
                              "name": "13",
                              "type": "text",
                              "label": "(N)"
                            },
                            {
                              "name": "14",
                              "type": "text",
                              "label": "(O)"
                            },
                            {
                              "name": "15",
                              "type": "text",
                              "label": "(P)"
                            },
                            {
                              "name": "16",
                              "type": "text",
                              "label": "(Q)"
                            },
                            {
                              "name": "17",
                              "type": "text",
                              "label": "(R)"
                            },
                            {
                              "name": "18",
                              "type": "text",
                              "label": "(S)"
                            },
                            {
                              "name": "19",
                              "type": "text",
                              "label": "(T)"
                            },
                            {
                              "name": "20",
                              "type": "text",
                              "label": "(U)"
                            },
                            {
                              "name": "21",
                              "type": "text",
                              "label": "(V)"
                            },
                            {
                              "name": "22",
                              "type": "text",
                              "label": "(W)"
                            },
                            {
                              "name": "23",
                              "type": "text",
                              "label": "(X)"
                            },
                            {
                              "name": "24",
                              "type": "text",
                              "label": "(Y)"
                            },
                            {
                              "name": "25",
                              "type": "text",
                              "label": "(Z)"
                            },
                            {
                              "name": "26",
                              "type": "text",
                              "label": "(AA)"
                            },
                            {
                              "name": "27",
                              "type": "text",
                              "label": "(AB)"
                            }
                          ],
                          "type": "collection",
                          "label": "Values"
                        }
                      ]
                    },
                    "insertDataOption": {
                      "mode": "chose",
                      "label": "Insert rows"
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    },
                    "insertUnformatted": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "designer": {
                  "x": 3000,
                  "y": 300,
                  "name": "Add a row Salta"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 5710354
              }
            },
            {
              "id": 29,
              "mapper": {
                "mode": "fromAll",
                "values": {
                  "0": "{{7.channel_address}}",
                  "1": "{{formatDate(1.record.time_stamp; \"DD/MM/YYYY HH:mm\"; \"America/Argentina/Salta\")}}",
                  "2": "Instagram",
                  "3": "{{8.address}}",
                  "4": "{{1.record.text}}",
                  "5": "{{1.record.external_ref}}",
                  "6": "{{9.response}}",
                  "10": "{{1.record.id}}"
                },
                "sheetId": "San Lorenzo Chico",
                "spreadsheetId": "1z7DFdi9aLXEeU-MnG4bbkIQZz6z9N_Q0mXJeHjn5n24",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
              },
              "module": "google-sheets:addRow",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "insertUnformatted",
                    "type": "boolean",
                    "label": "Unformatted",
                    "required": true
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "insertDataOption",
                    "type": "select",
                    "label": "Insert data option",
                    "validate": {
                      "enum": [
                        "INSERT_ROWS",
                        "OVERWRITE"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "text",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "ID (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "Fecha y hora (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "Canal (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "ID Conversación (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "Mensaje recibido (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "ID Mensaje (F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "Respuesta generada (G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "OK (H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "Estado del envío (I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "Fecha y hora de salida (J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "ID DB (K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "Evaluación (L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "Puntaje (M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "Devolución (N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                      },
                      {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                      }
                    ],
                    "type": "collection",
                    "label": "Values"
                  }
                ],
                "restore": {
                  "expect": {
                    "mode": {
                      "label": "Select from all"
                    },
                    "sheetId": {
                      "mode": "chose",
                      "label": "San Lorenzo Chico"
                    },
                    "includesHeaders": {
                      "label": "Yes",
                      "nested": [
                        {
                          "name": "values",
                          "spec": [
                            {
                              "name": "0",
                              "type": "text",
                              "label": "ID (A)"
                            },
                            {
                              "name": "1",
                              "type": "text",
                              "label": "Fecha y hora (B)"
                            },
                            {
                              "name": "2",
                              "type": "text",
                              "label": "Canal (C)"
                            },
                            {
                              "name": "3",
                              "type": "text",
                              "label": "ID Conversación (D)"
                            },
                            {
                              "name": "4",
                              "type": "text",
                              "label": "Mensaje recibido (E)"
                            },
                            {
                              "name": "5",
                              "type": "text",
                              "label": "ID Mensaje (F)"
                            },
                            {
                              "name": "6",
                              "type": "text",
                              "label": "Respuesta generada (G)"
                            },
                            {
                              "name": "7",
                              "type": "text",
                              "label": "OK (H)"
                            },
                            {
                              "name": "8",
                              "type": "text",
                              "label": "Estado del envío (I)"
                            },
                            {
                              "name": "9",
                              "type": "text",
                              "label": "Fecha y hora de salida (J)"
                            },
                            {
                              "name": "10",
                              "type": "text",
                              "label": "ID DB (K)"
                            },
                            {
                              "name": "11",
                              "type": "text",
                              "label": "Evaluación (L)"
                            },
                            {
                              "name": "12",
                              "type": "text",
                              "label": "Puntaje (M)"
                            },
                            {
                              "name": "13",
                              "type": "text",
                              "label": "Devolución (N)"
                            },
                            {
                              "name": "14",
                              "type": "text",
                              "label": "(O)"
                            },
                            {
                              "name": "15",
                              "type": "text",
                              "label": "(P)"
                            },
                            {
                              "name": "16",
                              "type": "text",
                              "label": "(Q)"
                            },
                            {
                              "name": "17",
                              "type": "text",
                              "label": "(R)"
                            },
                            {
                              "name": "18",
                              "type": "text",
                              "label": "(S)"
                            },
                            {
                              "name": "19",
                              "type": "text",
                              "label": "(T)"
                            },
                            {
                              "name": "20",
                              "type": "text",
                              "label": "(U)"
                            },
                            {
                              "name": "21",
                              "type": "text",
                              "label": "(V)"
                            },
                            {
                              "name": "22",
                              "type": "text",
                              "label": "(W)"
                            },
                            {
                              "name": "23",
                              "type": "text",
                              "label": "(X)"
                            },
                            {
                              "name": "24",
                              "type": "text",
                              "label": "(Y)"
                            },
                            {
                              "name": "25",
                              "type": "text",
                              "label": "(Z)"
                            }
                          ],
                          "type": "collection",
                          "label": "Values"
                        }
                      ]
                    },
                    "insertDataOption": {
                      "mode": "chose",
                      "label": "Insert rows"
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    },
                    "insertUnformatted": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "designer": {
                  "x": 3300,
                  "y": 300
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 5710354
              }
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": 2700,
          "y": 150,
          "name": "¿Sheet?"
        }
      },
      "parameters": {
        "else": 1
      }
    }
  ],
  "name": "IITA - AI respond generation (Legacy)",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": [
        [
          {
            "id": 26,
            "filter": {
              "name": "User only",
              "conditions": [
                [
                  {
                    "a": "{{1.record.id_system_conversation}}",
                    "o": "notexist"
                  }
                ]
              ]
            },
            "mapper": null,
            "module": "builtin:BasicRouter",
            "routes": [
              {
                "flow": [
                  {
                    "id": 25,
                    "filter": {
                      "name": "New",
                      "conditions": [
                        [
                          {
                            "a": "{{1.record.id_system_conversation}}",
                            "o": "notexist"
                          },
                          {
                            "a": "{{1.record.status}}",
                            "b": "new",
                            "o": "text:equal"
                          }
                        ]
                      ]
                    },
                    "mapper": {
                      "data": {
                        "record_id": "{{1.record.id}}",
                        "record_text": "{{1.record.text}}",
                        "record_timestamp": "{{1.record.time_stamp}}",
                        "record_external_ref": "{{1.record.external_ref}}",
                        "record_id_person_conversation": "{{1.record.id_person_conversation}}"
                      }
                    },
                    "module": "scenario-service:CallSubscenario",
                    "version": 2,
                    "metadata": {
                      "expect": [
                        {
                          "name": "data",
                          "spec": [
                            {
                              "name": "record_id",
                              "type": "text",
                              "label": "",
                              "required": true
                            },
                            {
                              "name": "record_id_person_conversation",
                              "type": "text",
                              "label": "",
                              "required": true
                            },
                            {
                              "name": "record_text",
                              "type": "text",
                              "label": "",
                              "required": true
                            },
                            {
                              "name": "record_timestamp",
                              "type": "text",
                              "label": ""
                            },
                            {
                              "name": "record_external_ref",
                              "type": "text",
                              "label": "",
                              "required": true
                            }
                          ],
                          "type": "collection",
                          "label": "Scenario Inputs"
                        }
                      ],
                      "restore": {
                        "parameters": {
                          "scenario": {
                            "label": "Generate ia response (Producción)"
                          }
                        }
                      },
                      "designer": {
                        "x": 300,
                        "y": 900,
                        "name": "Generate ia response (Producción)",
                        "messages": [
                          {
                            "message": "Referenced module 'Supabase - Watch Events' [1] is not accessible.",
                            "category": "reference",
                            "severity": "warning"
                          }
                        ]
                      },
                      "interface": [
                        {
                          "name": "executionId",
                          "type": "text",
                          "label": "Execution ID"
                        }
                      ],
                      "parameters": [
                        {
                          "name": "scenario",
                          "type": "scenario",
                          "label": "Scenario",
                          "required": true
                        },
                        {
                          "name": "shouldWaitForExecutionEnd",
                          "type": "boolean",
                          "label": "Wait for the scenario to finish",
                          "required": true
                        }
                      ]
                    },
                    "parameters": {
                      "scenario": "SCN_4097212",
                      "shouldWaitForExecutionEnd": false
                    }
                  }
                ]
              },
              {
                "flow": [
                  {
                    "id": 27,
                    "filter": {
                      "name": "Pending_delivery",
                      "conditions": [
                        [
                          {
                            "a": "{{1.record.id_person_conversation}}",
                            "o": "notexist"
                          },
                          {
                            "a": "{{1.record.status}}",
                            "b": "pending_delivery",
                            "o": "text:equal"
                          }
                        ]
                      ]
                    },
                    "mapper": {
                      "data": {
                        "id_interaction": "{{1.record.id}}"
                      }
                    },
                    "module": "scenario-service:CallSubscenario",
                    "version": 2,
                    "metadata": {
                      "expect": [
                        {
                          "name": "data",
                          "spec": [
                            {
                              "name": "id_interaction",
                              "type": "text",
                              "label": "",
                              "required": true
                            }
                          ],
                          "type": "collection",
                          "label": "Scenario Inputs"
                        }
                      ],
                      "restore": {
                        "parameters": {
                          "scenario": {
                            "label": "IITA - Message dispatcher"
                          }
                        }
                      },
                      "designer": {
                        "x": 300,
                        "y": 1200,
                        "name": "Message dispatcher",
                        "messages": [
                          {
                            "message": "Referenced module 'Supabase - Watch Events' [1] is not accessible.",
                            "category": "reference",
                            "severity": "warning"
                          }
                        ]
                      },
                      "interface": [
                        {
                          "name": "executionId",
                          "type": "text",
                          "label": "Execution ID"
                        }
                      ],
                      "parameters": [
                        {
                          "name": "scenario",
                          "type": "scenario",
                          "label": "Scenario",
                          "required": true
                        },
                        {
                          "name": "shouldWaitForExecutionEnd",
                          "type": "boolean",
                          "label": "Wait for the scenario to finish",
                          "required": true
                        }
                      ]
                    },
                    "parameters": {
                      "scenario": "SCN_3759370",
                      "shouldWaitForExecutionEnd": false
                    }
                  }
                ]
              },
              {
                "flow": [
                  {
                    "id": 30,
                    "filter": {
                      "name": "Send",
                      "conditions": [
                        [
                          {
                            "a": "{{1.record.id_person_conversation}}",
                            "o": "notexist"
                          },
                          {
                            "a": "{{1.record.status}}",
                            "b": "send",
                            "o": "text:equal"
                          }
                        ]
                      ]
                    },
                    "mapper": null,
                    "module": "builtin:BasicRouter",
                    "routes": [
                      {
                        "flow": [
                          {
                            "id": 28,
                            "filter": {
                              "name": "Salta",
                              "conditions": []
                            },
                            "mapper": {
                              "from": "share",
                              "filter": [
                                [
                                  {
                                    "a": "L",
                                    "b": "",
                                    "o": "text:equal"
                                  }
                                ]
                              ],
                              "sheetId": "Salta",
                              "sortOrder": "asc",
                              "spreadsheetId": "1z7DFdi9aLXEeU-MnG4bbkIQZz6z9N_Q0mXJeHjn5n24",
                              "tableFirstRow": "A1:CZ1",
                              "includesHeaders": true,
                              "valueRenderOption": "FORMATTED_VALUE",
                              "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "metadata": {
                              "expect": [
                                {
                                  "name": "from",
                                  "type": "select",
                                  "label": "Search Method",
                                  "required": true,
                                  "validate": {
                                    "enum": [
                                      "drive",
                                      "share"
                                    ]
                                  }
                                },
                                {
                                  "name": "valueRenderOption",
                                  "type": "select",
                                  "label": "Value render option",
                                  "validate": {
                                    "enum": [
                                      "FORMATTED_VALUE",
                                      "UNFORMATTED_VALUE",
                                      "FORMULA"
                                    ]
                                  }
                                },
                                {
                                  "name": "dateTimeRenderOption",
                                  "type": "select",
                                  "label": "Date and time render option",
                                  "validate": {
                                    "enum": [
                                      "SERIAL_NUMBER",
                                      "FORMATTED_STRING"
                                    ]
                                  }
                                },
                                {
                                  "name": "limit",
                                  "type": "uinteger",
                                  "label": "Limit"
                                },
                                {
                                  "name": "spreadsheetId",
                                  "type": "text",
                                  "label": "Spreadsheet ID",
                                  "required": true
                                },
                                {
                                  "name": "sheetId",
                                  "type": "select",
                                  "label": "Sheet Name",
                                  "required": true
                                },
                                {
                                  "name": "includesHeaders",
                                  "type": "select",
                                  "label": "Table contains headers",
                                  "required": true,
                                  "validate": {
                                    "enum": [
                                      true,
                                      false
                                    ]
                                  }
                                },
                                {
                                  "name": "tableFirstRow",
                                  "type": "select",
                                  "label": "Column range",
                                  "required": true,
                                  "validate": {
                                    "enum": [
                                      "A1:Z1",
                                      "A1:BZ1",
                                      "A1:CZ1",
                                      "A1:DZ1",
                                      "A1:MZ1",
                                      "A1:ZZ1",
                                      "A1:AZZ1",
                                      "A1:BZZ1",
                                      "A1:CZZ1",
                                      "A1:DZZ1",
                                      "A1:MZZ1",
                                      "A1:ZZZ1"
                                    ]
                                  }
                                },
                                {
                                  "name": "filter",
                                  "type": "filter",
                                  "label": "Filter",
                                  "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                },
                                {
                                  "name": "orderBy",
                                  "type": "select",
                                  "label": "Order by"
                                },
                                {
                                  "name": "sortOrder",
                                  "type": "select",
                                  "label": "Sort order",
                                  "validate": {
                                    "enum": [
                                      "asc",
                                      "desc"
                                    ]
                                  }
                                }
                              ],
                              "restore": {
                                "expect": {
                                  "from": {
                                    "label": "Select from all"
                                  },
                                  "orderBy": {
                                    "mode": "chose"
                                  },
                                  "sheetId": {
                                    "mode": "chose",
                                    "label": "Salta"
                                  },
                                  "sortOrder": {
                                    "mode": "chose",
                                    "label": "Ascending"
                                  },
                                  "tableFirstRow": {
                                    "label": "A-CZ"
                                  },
                                  "includesHeaders": {
                                    "mode": "chose",
                                    "label": "Yes"
                                  },
                                  "valueRenderOption": {
                                    "mode": "chose",
                                    "label": "Formatted value"
                                  },
                                  "dateTimeRenderOption": {
                                    "mode": "chose",
                                    "label": "Formatted string"
                                  }
                                },
                                "parameters": {
                                  "__IMTCONN__": {
                                    "data": {
                                      "scoped": "true",
                                      "connection": "google"
                                    },
                                    "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                                  }
                                }
                              },
                              "designer": {
                                "x": 600,
                                "y": 1350,
                                "name": "Search row"
                              },
                              "interface": [
                                {
                                  "name": "__IMTLENGTH__",
                                  "type": "uinteger",
                                  "label": "Total number of bundles"
                                },
                                {
                                  "name": "__IMTINDEX__",
                                  "type": "uinteger",
                                  "label": "Bundle order position"
                                },
                                {
                                  "name": "__ROW_NUMBER__",
                                  "type": "number",
                                  "label": "Row number"
                                },
                                {
                                  "name": "__SPREADSHEET_ID__",
                                  "type": "text",
                                  "label": "Spreadsheet ID"
                                },
                                {
                                  "name": "__SHEET__",
                                  "type": "text",
                                  "label": "Sheet"
                                },
                                {
                                  "name": "0",
                                  "type": "text",
                                  "label": "ID (A)"
                                },
                                {
                                  "name": "1",
                                  "type": "text",
                                  "label": "Fecha y hora (B)"
                                },
                                {
                                  "name": "2",
                                  "type": "text",
                                  "label": "Canal (C)"
                                },
                                {
                                  "name": "3",
                                  "type": "text",
                                  "label": "ID Conversación (D)"
                                },
                                {
                                  "name": "4",
                                  "type": "text",
                                  "label": "Mensaje recibido (E)"
                                },
                                {
                                  "name": "5",
                                  "type": "text",
                                  "label": "ID Mensaje (F)"
                                },
                                {
                                  "name": "6",
                                  "type": "text",
                                  "label": "Respuesta generada (G)"
                                },
                                {
                                  "name": "7",
                                  "type": "text",
                                  "label": "OK (H)"
                                },
                                {
                                  "name": "8",
                                  "type": "text",
                                  "label": "Estado del envío (I)"
                                },
                                {
                                  "name": "9",
                                  "type": "text",
                                  "label": "Fecha y hora de salida (J)"
                                },
                                {
                                  "name": "10",
                                  "type": "text",
                                  "label": "ID DB (K)"
                                },
                                {
                                  "name": "11",
                                  "type": "text",
                                  "label": "Evaluación (L)"
                                },
                                {
                                  "name": "12",
                                  "type": "text",
                                  "label": "Puntaje (M)"
                                },
                                {
                                  "name": "13",
                                  "type": "text",
                                  "label": "Devolución (N)"
                                },
                                {
                                  "name": "14",
                                  "type": "text",
                                  "label": "(O)"
                                },
                                {
                                  "name": "15",
                                  "type": "text",
                                  "label": "(P)"
                                },
                                {
                                  "name": "16",
                                  "type": "text",
                                  "label": "(Q)"
                                },
                                {
                                  "name": "17",
                                  "type": "text",
                                  "label": "(R)"
                                },
                                {
                                  "name": "18",
                                  "type": "text",
                                  "label": "(S)"
                                },
                                {
                                  "name": "19",
                                  "type": "text",
                                  "label": "(T)"
                                },
                                {
                                  "name": "20",
                                  "type": "text",
                                  "label": "(U)"
                                },
                                {
                                  "name": "21",
                                  "type": "text",
                                  "label": "(V)"
                                },
                                {
                                  "name": "22",
                                  "type": "text",
                                  "label": "(W)"
                                },
                                {
                                  "name": "23",
                                  "type": "text",
                                  "label": "(X)"
                                },
                                {
                                  "name": "24",
                                  "type": "text",
                                  "label": "(Y)"
                                },
                                {
                                  "name": "25",
                                  "type": "text",
                                  "label": "(Z)"
                                },
                                {
                                  "name": "26",
                                  "type": "text",
                                  "label": "(AA)"
                                },
                                {
                                  "name": "27",
                                  "type": "text",
                                  "label": "(AB)"
                                },
                                {
                                  "name": "28",
                                  "type": "text",
                                  "label": "(AC)"
                                },
                                {
                                  "name": "29",
                                  "type": "text",
                                  "label": "(AD)"
                                },
                                {
                                  "name": "30",
                                  "type": "text",
                                  "label": "(AE)"
                                },
                                {
                                  "name": "31",
                                  "type": "text",
                                  "label": "(AF)"
                                },
                                {
                                  "name": "32",
                                  "type": "text",
                                  "label": "(AG)"
                                },
                                {
                                  "name": "33",
                                  "type": "text",
                                  "label": "(AH)"
                                },
                                {
                                  "name": "34",
                                  "type": "text",
                                  "label": "(AI)"
                                },
                                {
                                  "name": "35",
                                  "type": "text",
                                  "label": "(AJ)"
                                },
                                {
                                  "name": "36",
                                  "type": "text",
                                  "label": "(AK)"
                                },
                                {
                                  "name": "37",
                                  "type": "text",
                                  "label": "(AL)"
                                },
                                {
                                  "name": "38",
                                  "type": "text",
                                  "label": "(AM)"
                                },
                                {
                                  "name": "39",
                                  "type": "text",
                                  "label": "(AN)"
                                },
                                {
                                  "name": "40",
                                  "type": "text",
                                  "label": "(AO)"
                                },
                                {
                                  "name": "41",
                                  "type": "text",
                                  "label": "(AP)"
                                },
                                {
                                  "name": "42",
                                  "type": "text",
                                  "label": "(AQ)"
                                },
                                {
                                  "name": "43",
                                  "type": "text",
                                  "label": "(AR)"
                                },
                                {
                                  "name": "44",
                                  "type": "text",
                                  "label": "(AS)"
                                },
                                {
                                  "name": "45",
                                  "type": "text",
                                  "label": "(AT)"
                                },
                                {
                                  "name": "46",
                                  "type": "text",
                                  "label": "(AU)"
                                },
                                {
                                  "name": "47",
                                  "type": "text",
                                  "label": "(AV)"
                                },
                                {
                                  "name": "48",
                                  "type": "text",
                                  "label": "(AW)"
                                },
                                {
                                  "name": "49",
                                  "type": "text",
                                  "label": "(AX)"
                                },
                                {
                                  "name": "50",
                                  "type": "text",
                                  "label": "(AY)"
                                },
                                {
                                  "name": "51",
                                  "type": "text",
                                  "label": "(AZ)"
                                },
                                {
                                  "name": "52",
                                  "type": "text",
                                  "label": "(BA)"
                                },
                                {
                                  "name": "53",
                                  "type": "text",
                                  "label": "(BB)"
                                },
                                {
                                  "name": "54",
                                  "type": "text",
                                  "label": "(BC)"
                                },
                                {
                                  "name": "55",
                                  "type": "text",
                                  "label": "(BD)"
                                },
                                {
                                  "name": "56",
                                  "type": "text",
                                  "label": "(BE)"
                                },
                                {
                                  "name": "57",
                                  "type": "text",
                                  "label": "(BF)"
                                },
                                {
                                  "name": "58",
                                  "type": "text",
                                  "label": "(BG)"
                                },
                                {
                                  "name": "59",
                                  "type": "text",
                                  "label": "(BH)"
                                },
                                {
                                  "name": "60",
                                  "type": "text",
                                  "label": "(BI)"
                                },
                                {
                                  "name": "61",
                                  "type": "text",
                                  "label": "(BJ)"
                                },
                                {
                                  "name": "62",
                                  "type": "text",
                                  "label": "(BK)"
                                },
                                {
                                  "name": "63",
                                  "type": "text",
                                  "label": "(BL)"
                                },
                                {
                                  "name": "64",
                                  "type": "text",
                                  "label": "(BM)"
                                },
                                {
                                  "name": "65",
                                  "type": "text",
                                  "label": "(BN)"
                                },
                                {
                                  "name": "66",
                                  "type": "text",
                                  "label": "(BO)"
                                },
                                {
                                  "name": "67",
                                  "type": "text",
                                  "label": "(BP)"
                                },
                                {
                                  "name": "68",
                                  "type": "text",
                                  "label": "(BQ)"
                                },
                                {
                                  "name": "69",
                                  "type": "text",
                                  "label": "(BR)"
                                },
                                {
                                  "name": "70",
                                  "type": "text",
                                  "label": "(BS)"
                                },
                                {
                                  "name": "71",
                                  "type": "text",
                                  "label": "(BT)"
                                },
                                {
                                  "name": "72",
                                  "type": "text",
                                  "label": "(BU)"
                                },
                                {
                                  "name": "73",
                                  "type": "text",
                                  "label": "(BV)"
                                },
                                {
                                  "name": "74",
                                  "type": "text",
                                  "label": "(BW)"
                                },
                                {
                                  "name": "75",
                                  "type": "text",
                                  "label": "(BX)"
                                },
                                {
                                  "name": "76",
                                  "type": "text",
                                  "label": "(BY)"
                                },
                                {
                                  "name": "77",
                                  "type": "text",
                                  "label": "(BZ)"
                                },
                                {
                                  "name": "78",
                                  "type": "text",
                                  "label": "(CA)"
                                },
                                {
                                  "name": "79",
                                  "type": "text",
                                  "label": "(CB)"
                                },
                                {
                                  "name": "80",
                                  "type": "text",
                                  "label": "(CC)"
                                },
                                {
                                  "name": "81",
                                  "type": "text",
                                  "label": "(CD)"
                                },
                                {
                                  "name": "82",
                                  "type": "text",
                                  "label": "(CE)"
                                },
                                {
                                  "name": "83",
                                  "type": "text",
                                  "label": "(CF)"
                                },
                                {
                                  "name": "84",
                                  "type": "text",
                                  "label": "(CG)"
                                },
                                {
                                  "name": "85",
                                  "type": "text",
                                  "label": "(CH)"
                                },
                                {
                                  "name": "86",
                                  "type": "text",
                                  "label": "(CI)"
                                },
                                {
                                  "name": "87",
                                  "type": "text",
                                  "label": "(CJ)"
                                },
                                {
                                  "name": "88",
                                  "type": "text",
                                  "label": "(CK)"
                                },
                                {
                                  "name": "89",
                                  "type": "text",
                                  "label": "(CL)"
                                },
                                {
                                  "name": "90",
                                  "type": "text",
                                  "label": "(CM)"
                                },
                                {
                                  "name": "91",
                                  "type": "text",
                                  "label": "(CN)"
                                },
                                {
                                  "name": "92",
                                  "type": "text",
                                  "label": "(CO)"
                                },
                                {
                                  "name": "93",
                                  "type": "text",
                                  "label": "(CP)"
                                },
                                {
                                  "name": "94",
                                  "type": "text",
                                  "label": "(CQ)"
                                },
                                {
                                  "name": "95",
                                  "type": "text",
                                  "label": "(CR)"
                                },
                                {
                                  "name": "96",
                                  "type": "text",
                                  "label": "(CS)"
                                },
                                {
                                  "name": "97",
                                  "type": "text",
                                  "label": "(CT)"
                                },
                                {
                                  "name": "98",
                                  "type": "text",
                                  "label": "(CU)"
                                },
                                {
                                  "name": "99",
                                  "type": "text",
                                  "label": "(CV)"
                                },
                                {
                                  "name": "100",
                                  "type": "text",
                                  "label": "(CW)"
                                },
                                {
                                  "name": "101",
                                  "type": "text",
                                  "label": "(CX)"
                                },
                                {
                                  "name": "102",
                                  "type": "text",
                                  "label": "(CY)"
                                },
                                {
                                  "name": "103",
                                  "type": "text",
                                  "label": "(CZ)"
                                }
                              ],
                              "parameters": [
                                {
                                  "name": "__IMTCONN__",
                                  "type": "account:google",
                                  "label": "Connection",
                                  "required": true
                                }
                              ]
                            },
                            "parameters": {
                              "__IMTCONN__": 5710354
                            }
                          },
                          {
                            "id": 32,
                            "filter": {
                              "name": "",
                              "conditions": [
                                [
                                  {
                                    "a": "{{28.`__IMTLENGTH__`}}",
                                    "b": "0",
                                    "o": "text:notequal"
                                  }
                                ]
                              ]
                            },
                            "mapper": {
                              "mode": "fromAll",
                              "values": {
                                "8": "Enviado",
                                "9": "{{formatDate(now; \"DD/MM/YYYY HH:mm\"; \"America/Argentina/Salta\")}}"
                              },
                              "sheetId": "Salta",
                              "rowNumber": "{{28.`__ROW_NUMBER__`}}",
                              "spreadsheetId": "1z7DFdi9aLXEeU-MnG4bbkIQZz6z9N_Q0mXJeHjn5n24",
                              "includesHeaders": true,
                              "valueInputOption": "USER_ENTERED"
                            },
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "metadata": {
                              "expect": [
                                {
                                  "name": "mode",
                                  "type": "select",
                                  "label": "Search Method",
                                  "required": true,
                                  "validate": {
                                    "enum": [
                                      "select",
                                      "fromAll",
                                      "map"
                                    ]
                                  }
                                },
                                {
                                  "name": "valueInputOption",
                                  "type": "select",
                                  "label": "Value input option",
                                  "validate": {
                                    "enum": [
                                      "USER_ENTERED",
                                      "RAW"
                                    ]
                                  }
                                },
                                {
                                  "name": "spreadsheetId",
                                  "type": "text",
                                  "label": "Spreadsheet ID",
                                  "required": true
                                },
                                {
                                  "mode": "edit",
                                  "name": "sheetId",
                                  "type": "select",
                                  "label": "Sheet Name",
                                  "required": true
                                },
                                {
                                  "name": "rowNumber",
                                  "type": "uinteger",
                                  "label": "Row number",
                                  "required": true
                                },
                                {
                                  "name": "includesHeaders",
                                  "type": "select",
                                  "label": "Table contains headers",
                                  "required": true,
                                  "validate": {
                                    "enum": [
                                      true,
                                      false
                                    ]
                                  }
                                },
                                {
                                  "name": "values",
                                  "spec": [
                                    {
                                      "name": "0",
                                      "type": "text",
                                      "label": "ID (A)"
                                    },
                                    {
                                      "name": "1",
                                      "type": "text",
                                      "label": "Fecha y hora (B)"
                                    },
                                    {
                                      "name": "2",
                                      "type": "text",
                                      "label": "Canal (C)"
                                    },
                                    {
                                      "name": "3",
                                      "type": "text",
                                      "label": "ID Conversación (D)"
                                    },
                                    {
                                      "name": "4",
                                      "type": "text",
                                      "label": "Mensaje recibido (E)"
                                    },
                                    {
                                      "name": "5",
                                      "type": "text",
                                      "label": "ID Mensaje (F)"
                                    },
                                    {
                                      "name": "6",
                                      "type": "text",
                                      "label": "Respuesta generada (G)"
                                    },
                                    {
                                      "name": "7",
                                      "type": "text",
                                      "label": "OK (H)"
                                    },
                                    {
                                      "name": "8",
                                      "type": "text",
                                      "label": "Estado del envío (I)"
                                    },
                                    {
                                      "name": "9",
                                      "type": "text",
                                      "label": "Fecha y hora de salida (J)"
                                    },
                                    {
                                      "name": "10",
                                      "type": "text",
                                      "label": "ID DB (K)"
                                    },
                                    {
                                      "name": "11",
                                      "type": "text",
                                      "label": "Evaluación (L)"
                                    },
                                    {
                                      "name": "12",
                                      "type": "text",
                                      "label": "Puntaje (M)"
                                    },
                                    {
                                      "name": "13",
                                      "type": "text",
                                      "label": "Devolución (N)"
                                    },
                                    {
                                      "name": "14",
                                      "type": "text",
                                      "label": "(O)"
                                    },
                                    {
                                      "name": "15",
                                      "type": "text",
                                      "label": "(P)"
                                    },
                                    {
                                      "name": "16",
                                      "type": "text",
                                      "label": "(Q)"
                                    },
                                    {
                                      "name": "17",
                                      "type": "text",
                                      "label": "(R)"
                                    },
                                    {
                                      "name": "18",
                                      "type": "text",
                                      "label": "(S)"
                                    },
                                    {
                                      "name": "19",
                                      "type": "text",
                                      "label": "(T)"
                                    },
                                    {
                                      "name": "20",
                                      "type": "text",
                                      "label": "(U)"
                                    },
                                    {
                                      "name": "21",
                                      "type": "text",
                                      "label": "(V)"
                                    },
                                    {
                                      "name": "22",
                                      "type": "text",
                                      "label": "(W)"
                                    },
                                    {
                                      "name": "23",
                                      "type": "text",
                                      "label": "(X)"
                                    },
                                    {
                                      "name": "24",
                                      "type": "text",
                                      "label": "(Y)"
                                    },
                                    {
                                      "name": "25",
                                      "type": "text",
                                      "label": "(Z)"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Values"
                                }
                              ],
                              "restore": {
                                "expect": {
                                  "mode": {
                                    "label": "Select from all"
                                  },
                                  "sheetId": {
                                    "mode": "chose",
                                    "label": "Salta"
                                  },
                                  "includesHeaders": {
                                    "label": "Yes",
                                    "nested": [
                                      {
                                        "name": "values",
                                        "spec": [
                                          {
                                            "name": "0",
                                            "type": "text",
                                            "label": "ID (A)"
                                          },
                                          {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Fecha y hora (B)"
                                          },
                                          {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Canal (C)"
                                          },
                                          {
                                            "name": "3",
                                            "type": "text",
                                            "label": "ID Conversación (D)"
                                          },
                                          {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Mensaje recibido (E)"
                                          },
                                          {
                                            "name": "5",
                                            "type": "text",
                                            "label": "ID Mensaje (F)"
                                          },
                                          {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Respuesta generada (G)"
                                          },
                                          {
                                            "name": "7",
                                            "type": "text",
                                            "label": "OK (H)"
                                          },
                                          {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Estado del envío (I)"
                                          },
                                          {
                                            "name": "9",
                                            "type": "text",
                                            "label": "Fecha y hora de salida (J)"
                                          },
                                          {
                                            "name": "10",
                                            "type": "text",
                                            "label": "ID DB (K)"
                                          },
                                          {
                                            "name": "11",
                                            "type": "text",
                                            "label": "Evaluación (L)"
                                          },
                                          {
                                            "name": "12",
                                            "type": "text",
                                            "label": "Puntaje (M)"
                                          },
                                          {
                                            "name": "13",
                                            "type": "text",
                                            "label": "Devolución (N)"
                                          },
                                          {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                          },
                                          {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                          },
                                          {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                          },
                                          {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                          },
                                          {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                          },
                                          {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                          },
                                          {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                          },
                                          {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                          },
                                          {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                          },
                                          {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                          },
                                          {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                          },
                                          {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                          }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                      }
                                    ]
                                  },
                                  "valueInputOption": {
                                    "mode": "chose",
                                    "label": "User entered"
                                  }
                                },
                                "parameters": {
                                  "__IMTCONN__": {
                                    "data": {
                                      "scoped": "true",
                                      "connection": "google"
                                    },
                                    "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                                  }
                                }
                              },
                              "designer": {
                                "x": 900,
                                "y": 1350,
                                "name": "Update row"
                              },
                              "parameters": [
                                {
                                  "name": "__IMTCONN__",
                                  "type": "account:google",
                                  "label": "Connection",
                                  "required": true
                                }
                              ]
                            },
                            "parameters": {
                              "__IMTCONN__": 5710354
                            }
                          }
                        ]
                      },
                      {
                        "flow": [
                          {
                            "id": 31,
                            "filter": {
                              "name": "San Lorenzo Chico",
                              "conditions": []
                            },
                            "mapper": {
                              "from": "share",
                              "filter": [
                                [
                                  {
                                    "a": "L",
                                    "b": "",
                                    "o": "text:equal"
                                  }
                                ]
                              ],
                              "sheetId": "San Lorenzo Chico",
                              "sortOrder": "asc",
                              "spreadsheetId": "1z7DFdi9aLXEeU-MnG4bbkIQZz6z9N_Q0mXJeHjn5n24",
                              "tableFirstRow": "A1:CZ1",
                              "includesHeaders": true,
                              "valueRenderOption": "FORMATTED_VALUE",
                              "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "metadata": {
                              "expect": [
                                {
                                  "name": "from",
                                  "type": "select",
                                  "label": "Search Method",
                                  "required": true,
                                  "validate": {
                                    "enum": [
                                      "drive",
                                      "share"
                                    ]
                                  }
                                },
                                {
                                  "name": "valueRenderOption",
                                  "type": "select",
                                  "label": "Value render option",
                                  "validate": {
                                    "enum": [
                                      "FORMATTED_VALUE",
                                      "UNFORMATTED_VALUE",
                                      "FORMULA"
                                    ]
                                  }
                                },
                                {
                                  "name": "dateTimeRenderOption",
                                  "type": "select",
                                  "label": "Date and time render option",
                                  "validate": {
                                    "enum": [
                                      "SERIAL_NUMBER",
                                      "FORMATTED_STRING"
                                    ]
                                  }
                                },
                                {
                                  "name": "limit",
                                  "type": "uinteger",
                                  "label": "Limit"
                                },
                                {
                                  "name": "spreadsheetId",
                                  "type": "text",
                                  "label": "Spreadsheet ID",
                                  "required": true
                                },
                                {
                                  "name": "from",
                                  "type": "select",
                                  "label": "Search Method",
                                  "required": true,
                                  "validate": {
                                    "enum": [
                                      "drive",
                                      "share"
                                    ]
                                  }
                                },
                                {
                                  "name": "valueRenderOption",
                                  "type": "select",
                                  "label": "Value render option",
                                  "validate": {
                                    "enum": [
                                      "FORMATTED_VALUE",
                                      "UNFORMATTED_VALUE",
                                      "FORMULA"
                                    ]
                                  }
                                },
                                {
                                  "name": "dateTimeRenderOption",
                                  "type": "select",
                                  "label": "Date and time render option",
                                  "validate": {
                                    "enum": [
                                      "SERIAL_NUMBER",
                                      "FORMATTED_STRING"
                                    ]
                                  }
                                },
                                {
                                  "name": "limit",
                                  "type": "uinteger",
                                  "label": "Limit"
                                },
                                {
                                  "name": "spreadsheetId",
                                  "type": "text",
                                  "label": "Spreadsheet ID",
                                  "required": true
                                },
                                {
                                  "name": "sheetId",
                                  "type": "select",
                                  "label": "Sheet Name",
                                  "required": true
                                },
                                {
                                  "name": "includesHeaders",
                                  "type": "select",
                                  "label": "Table contains headers",
                                  "required": true,
                                  "validate": {
                                    "enum": [
                                      true,
                                      false
                                    ]
                                  }
                                },
                                {
                                  "name": "tableFirstRow",
                                  "type": "select",
                                  "label": "Column range",
                                  "required": true,
                                  "validate": {
                                    "enum": [
                                      "A1:Z1",
                                      "A1:BZ1",
                                      "A1:CZ1",
                                      "A1:DZ1",
                                      "A1:MZ1",
                                      "A1:ZZ1",
                                      "A1:AZZ1",
                                      "A1:BZZ1",
                                      "A1:CZZ1",
                                      "A1:DZZ1",
                                      "A1:MZZ1",
                                      "A1:ZZZ1"
                                    ]
                                  }
                                },
                                {
                                  "name": "filter",
                                  "type": "filter",
                                  "label": "Filter",
                                  "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                },
                                {
                                  "name": "orderBy",
                                  "type": "select",
                                  "label": "Order by"
                                },
                                {
                                  "name": "sortOrder",
                                  "type": "select",
                                  "label": "Sort order",
                                  "validate": {
                                    "enum": [
                                      "asc",
                                      "desc"
                                    ]
                                  }
                                }
                              ],
                              "restore": {
                                "expect": {
                                  "from": {
                                    "label": "Select from all"
                                  },
                                  "orderBy": {
                                    "mode": "chose",
                                    "label": "Empty"
                                  },
                                  "sheetId": {
                                    "mode": "chose",
                                    "label": "San Lorenzo Chico"
                                  },
                                  "sortOrder": {
                                    "mode": "chose",
                                    "label": "Ascending"
                                  },
                                  "tableFirstRow": {
                                    "label": "A-CZ"
                                  },
                                  "includesHeaders": {
                                    "mode": "chose",
                                    "label": "Yes"
                                  },
                                  "valueRenderOption": {
                                    "mode": "chose",
                                    "label": "Formatted value"
                                  },
                                  "dateTimeRenderOption": {
                                    "mode": "chose",
                                    "label": "Formatted string"
                                  }
                                },
                                "parameters": {
                                  "__IMTCONN__": {
                                    "data": {
                                      "scoped": "true",
                                      "connection": "google"
                                    },
                                    "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                                  }
                                }
                              },
                              "designer": {
                                "x": 600,
                                "y": 1650,
                                "name": "Search row"
                              },
                              "interface": [
                                {
                                  "name": "__IMTLENGTH__",
                                  "type": "uinteger",
                                  "label": "Total number of bundles"
                                },
                                {
                                  "name": "__IMTINDEX__",
                                  "type": "uinteger",
                                  "label": "Bundle order position"
                                },
                                {
                                  "name": "__ROW_NUMBER__",
                                  "type": "number",
                                  "label": "Row number"
                                },
                                {
                                  "name": "__SPREADSHEET_ID__",
                                  "type": "text",
                                  "label": "Spreadsheet ID"
                                },
                                {
                                  "name": "__SHEET__",
                                  "type": "text",
                                  "label": "Sheet"
                                },
                                {
                                  "name": "0",
                                  "type": "text",
                                  "label": "ID (A)"
                                },
                                {
                                  "name": "1",
                                  "type": "text",
                                  "label": "Fecha y hora (B)"
                                },
                                {
                                  "name": "2",
                                  "type": "text",
                                  "label": "Canal (C)"
                                },
                                {
                                  "name": "3",
                                  "type": "text",
                                  "label": "ID Conversación (D)"
                                },
                                {
                                  "name": "4",
                                  "type": "text",
                                  "label": "Mensaje recibido (E)"
                                },
                                {
                                  "name": "5",
                                  "type": "text",
                                  "label": "ID Mensaje (F)"
                                },
                                {
                                  "name": "6",
                                  "type": "text",
                                  "label": "Respuesta generada (G)"
                                },
                                {
                                  "name": "7",
                                  "type": "text",
                                  "label": "OK (H)"
                                },
                                {
                                  "name": "8",
                                  "type": "text",
                                  "label": "Estado del envío (I)"
                                },
                                {
                                  "name": "9",
                                  "type": "text",
                                  "label": "Fecha y hora de salida (J)"
                                },
                                {
                                  "name": "10",
                                  "type": "text",
                                  "label": "ID DB (K)"
                                },
                                {
                                  "name": "11",
                                  "type": "text",
                                  "label": "ID generado (L)"
                                },
                                {
                                  "name": "12",
                                  "type": "text",
                                  "label": "Evaluación (M)"
                                },
                                {
                                  "name": "13",
                                  "type": "text",
                                  "label": "Puntaje (N)"
                                },
                                {
                                  "name": "14",
                                  "type": "text",
                                  "label": "Devolución (O)"
                                },
                                {
                                  "name": "15",
                                  "type": "text",
                                  "label": "(P)"
                                },
                                {
                                  "name": "16",
                                  "type": "text",
                                  "label": "(Q)"
                                },
                                {
                                  "name": "17",
                                  "type": "text",
                                  "label": "(R)"
                                },
                                {
                                  "name": "18",
                                  "type": "text",
                                  "label": "(S)"
                                },
                                {
                                  "name": "19",
                                  "type": "text",
                                  "label": "(T)"
                                },
                                {
                                  "name": "20",
                                  "type": "text",
                                  "label": "(U)"
                                },
                                {
                                  "name": "21",
                                  "type": "text",
                                  "label": "(V)"
                                },
                                {
                                  "name": "22",
                                  "type": "text",
                                  "label": "(W)"
                                },
                                {
                                  "name": "23",
                                  "type": "text",
                                  "label": "(X)"
                                },
                                {
                                  "name": "24",
                                  "type": "text",
                                  "label": "(Y)"
                                },
                                {
                                  "name": "25",
                                  "type": "text",
                                  "label": "(Z)"
                                },
                                {
                                  "name": "26",
                                  "type": "text",
                                  "label": "(AA)"
                                },
                                {
                                  "name": "27",
                                  "type": "text",
                                  "label": "(AB)"
                                },
                                {
                                  "name": "28",
                                  "type": "text",
                                  "label": "(AC)"
                                },
                                {
                                  "name": "29",
                                  "type": "text",
                                  "label": "(AD)"
                                },
                                {
                                  "name": "30",
                                  "type": "text",
                                  "label": "(AE)"
                                },
                                {
                                  "name": "31",
                                  "type": "text",
                                  "label": "(AF)"
                                },
                                {
                                  "name": "32",
                                  "type": "text",
                                  "label": "(AG)"
                                },
                                {
                                  "name": "33",
                                  "type": "text",
                                  "label": "(AH)"
                                },
                                {
                                  "name": "34",
                                  "type": "text",
                                  "label": "(AI)"
                                },
                                {
                                  "name": "35",
                                  "type": "text",
                                  "label": "(AJ)"
                                },
                                {
                                  "name": "36",
                                  "type": "text",
                                  "label": "(AK)"
                                },
                                {
                                  "name": "37",
                                  "type": "text",
                                  "label": "(AL)"
                                },
                                {
                                  "name": "38",
                                  "type": "text",
                                  "label": "(AM)"
                                },
                                {
                                  "name": "39",
                                  "type": "text",
                                  "label": "(AN)"
                                },
                                {
                                  "name": "40",
                                  "type": "text",
                                  "label": "(AO)"
                                },
                                {
                                  "name": "41",
                                  "type": "text",
                                  "label": "(AP)"
                                },
                                {
                                  "name": "42",
                                  "type": "text",
                                  "label": "(AQ)"
                                },
                                {
                                  "name": "43",
                                  "type": "text",
                                  "label": "(AR)"
                                },
                                {
                                  "name": "44",
                                  "type": "text",
                                  "label": "(AS)"
                                },
                                {
                                  "name": "45",
                                  "type": "text",
                                  "label": "(AT)"
                                },
                                {
                                  "name": "46",
                                  "type": "text",
                                  "label": "(AU)"
                                },
                                {
                                  "name": "47",
                                  "type": "text",
                                  "label": "(AV)"
                                },
                                {
                                  "name": "48",
                                  "type": "text",
                                  "label": "(AW)"
                                },
                                {
                                  "name": "49",
                                  "type": "text",
                                  "label": "(AX)"
                                },
                                {
                                  "name": "50",
                                  "type": "text",
                                  "label": "(AY)"
                                },
                                {
                                  "name": "51",
                                  "type": "text",
                                  "label": "(AZ)"
                                },
                                {
                                  "name": "52",
                                  "type": "text",
                                  "label": "(BA)"
                                },
                                {
                                  "name": "53",
                                  "type": "text",
                                  "label": "(BB)"
                                },
                                {
                                  "name": "54",
                                  "type": "text",
                                  "label": "(BC)"
                                },
                                {
                                  "name": "55",
                                  "type": "text",
                                  "label": "(BD)"
                                },
                                {
                                  "name": "56",
                                  "type": "text",
                                  "label": "(BE)"
                                },
                                {
                                  "name": "57",
                                  "type": "text",
                                  "label": "(BF)"
                                },
                                {
                                  "name": "58",
                                  "type": "text",
                                  "label": "(BG)"
                                },
                                {
                                  "name": "59",
                                  "type": "text",
                                  "label": "(BH)"
                                },
                                {
                                  "name": "60",
                                  "type": "text",
                                  "label": "(BI)"
                                },
                                {
                                  "name": "61",
                                  "type": "text",
                                  "label": "(BJ)"
                                },
                                {
                                  "name": "62",
                                  "type": "text",
                                  "label": "(BK)"
                                },
                                {
                                  "name": "63",
                                  "type": "text",
                                  "label": "(BL)"
                                },
                                {
                                  "name": "64",
                                  "type": "text",
                                  "label": "(BM)"
                                },
                                {
                                  "name": "65",
                                  "type": "text",
                                  "label": "(BN)"
                                },
                                {
                                  "name": "66",
                                  "type": "text",
                                  "label": "(BO)"
                                },
                                {
                                  "name": "67",
                                  "type": "text",
                                  "label": "(BP)"
                                },
                                {
                                  "name": "68",
                                  "type": "text",
                                  "label": "(BQ)"
                                },
                                {
                                  "name": "69",
                                  "type": "text",
                                  "label": "(BR)"
                                },
                                {
                                  "name": "70",
                                  "type": "text",
                                  "label": "(BS)"
                                },
                                {
                                  "name": "71",
                                  "type": "text",
                                  "label": "(BT)"
                                },
                                {
                                  "name": "72",
                                  "type": "text",
                                  "label": "(BU)"
                                },
                                {
                                  "name": "73",
                                  "type": "text",
                                  "label": "(BV)"
                                },
                                {
                                  "name": "74",
                                  "type": "text",
                                  "label": "(BW)"
                                },
                                {
                                  "name": "75",
                                  "type": "text",
                                  "label": "(BX)"
                                },
                                {
                                  "name": "76",
                                  "type": "text",
                                  "label": "(BY)"
                                },
                                {
                                  "name": "77",
                                  "type": "text",
                                  "label": "(BZ)"
                                },
                                {
                                  "name": "78",
                                  "type": "text",
                                  "label": "(CA)"
                                },
                                {
                                  "name": "79",
                                  "type": "text",
                                  "label": "(CB)"
                                },
                                {
                                  "name": "80",
                                  "type": "text",
                                  "label": "(CC)"
                                },
                                {
                                  "name": "81",
                                  "type": "text",
                                  "label": "(CD)"
                                },
                                {
                                  "name": "82",
                                  "type": "text",
                                  "label": "(CE)"
                                },
                                {
                                  "name": "83",
                                  "type": "text",
                                  "label": "(CF)"
                                },
                                {
                                  "name": "84",
                                  "type": "text",
                                  "label": "(CG)"
                                },
                                {
                                  "name": "85",
                                  "type": "text",
                                  "label": "(CH)"
                                },
                                {
                                  "name": "86",
                                  "type": "text",
                                  "label": "(CI)"
                                },
                                {
                                  "name": "87",
                                  "type": "text",
                                  "label": "(CJ)"
                                },
                                {
                                  "name": "88",
                                  "type": "text",
                                  "label": "(CK)"
                                },
                                {
                                  "name": "89",
                                  "type": "text",
                                  "label": "(CL)"
                                },
                                {
                                  "name": "90",
                                  "type": "text",
                                  "label": "(CM)"
                                },
                                {
                                  "name": "91",
                                  "type": "text",
                                  "label": "(CN)"
                                },
                                {
                                  "name": "92",
                                  "type": "text",
                                  "label": "(CO)"
                                },
                                {
                                  "name": "93",
                                  "type": "text",
                                  "label": "(CP)"
                                },
                                {
                                  "name": "94",
                                  "type": "text",
                                  "label": "(CQ)"
                                },
                                {
                                  "name": "95",
                                  "type": "text",
                                  "label": "(CR)"
                                },
                                {
                                  "name": "96",
                                  "type": "text",
                                  "label": "(CS)"
                                },
                                {
                                  "name": "97",
                                  "type": "text",
                                  "label": "(CT)"
                                },
                                {
                                  "name": "98",
                                  "type": "text",
                                  "label": "(CU)"
                                },
                                {
                                  "name": "99",
                                  "type": "text",
                                  "label": "(CV)"
                                },
                                {
                                  "name": "100",
                                  "type": "text",
                                  "label": "(CW)"
                                },
                                {
                                  "name": "101",
                                  "type": "text",
                                  "label": "(CX)"
                                },
                                {
                                  "name": "102",
                                  "type": "text",
                                  "label": "(CY)"
                                },
                                {
                                  "name": "103",
                                  "type": "text",
                                  "label": "(CZ)"
                                }
                              ],
                              "parameters": [
                                {
                                  "name": "__IMTCONN__",
                                  "type": "account:google",
                                  "label": "Connection",
                                  "required": true
                                }
                              ]
                            },
                            "parameters": {
                              "__IMTCONN__": 5710354
                            }
                          },
                          {
                            "id": 33,
                            "filter": {
                              "name": "",
                              "conditions": [
                                [
                                  {
                                    "a": "{{31.`__IMTLENGTH__`}}",
                                    "b": "0",
                                    "o": "text:notequal"
                                  }
                                ]
                              ]
                            },
                            "mapper": {
                              "mode": "fromAll",
                              "values": {
                                "8": "Enviado",
                                "9": "{{formatDate(now; \"DD/MM/YYYY HH:mm\"; \"America/Argentina/Salta\")}}"
                              },
                              "sheetId": "San Lorenzo Chico",
                              "rowNumber": "{{31.`__ROW_NUMBER__`}}",
                              "spreadsheetId": "1z7DFdi9aLXEeU-MnG4bbkIQZz6z9N_Q0mXJeHjn5n24",
                              "includesHeaders": true,
                              "valueInputOption": "USER_ENTERED"
                            },
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "metadata": {
                              "expect": [
                                {
                                  "name": "mode",
                                  "type": "select",
                                  "label": "Search Method",
                                  "required": true,
                                  "validate": {
                                    "enum": [
                                      "select",
                                      "fromAll",
                                      "map"
                                    ]
                                  }
                                },
                                {
                                  "name": "valueInputOption",
                                  "type": "select",
                                  "label": "Value input option",
                                  "validate": {
                                    "enum": [
                                      "USER_ENTERED",
                                      "RAW"
                                    ]
                                  }
                                },
                                {
                                  "name": "spreadsheetId",
                                  "type": "text",
                                  "label": "Spreadsheet ID",
                                  "required": true
                                },
                                {
                                  "mode": "edit",
                                  "name": "sheetId",
                                  "type": "select",
                                  "label": "Sheet Name",
                                  "required": true
                                },
                                {
                                  "name": "rowNumber",
                                  "type": "uinteger",
                                  "label": "Row number",
                                  "required": true
                                },
                                {
                                  "name": "includesHeaders",
                                  "type": "select",
                                  "label": "Table contains headers",
                                  "required": true,
                                  "validate": {
                                    "enum": [
                                      true,
                                      false
                                    ]
                                  }
                                },
                                {
                                  "name": "values",
                                  "spec": [
                                    {
                                      "name": "0",
                                      "type": "text",
                                      "label": "ID (A)"
                                    },
                                    {
                                      "name": "1",
                                      "type": "text",
                                      "label": "Fecha y hora (B)"
                                    },
                                    {
                                      "name": "2",
                                      "type": "text",
                                      "label": "Canal (C)"
                                    },
                                    {
                                      "name": "3",
                                      "type": "text",
                                      "label": "ID Conversación (D)"
                                    },
                                    {
                                      "name": "4",
                                      "type": "text",
                                      "label": "Mensaje recibido (E)"
                                    },
                                    {
                                      "name": "5",
                                      "type": "text",
                                      "label": "ID Mensaje (F)"
                                    },
                                    {
                                      "name": "6",
                                      "type": "text",
                                      "label": "Respuesta generada (G)"
                                    },
                                    {
                                      "name": "7",
                                      "type": "text",
                                      "label": "OK (H)"
                                    },
                                    {
                                      "name": "8",
                                      "type": "text",
                                      "label": "Estado del envío (I)"
                                    },
                                    {
                                      "name": "9",
                                      "type": "text",
                                      "label": "Fecha y hora de salida (J)"
                                    },
                                    {
                                      "name": "10",
                                      "type": "text",
                                      "label": "ID DB (K)"
                                    },
                                    {
                                      "name": "11",
                                      "type": "text",
                                      "label": "ID generado (L)"
                                    },
                                    {
                                      "name": "12",
                                      "type": "text",
                                      "label": "Evaluación (M)"
                                    },
                                    {
                                      "name": "13",
                                      "type": "text",
                                      "label": "Puntaje (N)"
                                    },
                                    {
                                      "name": "14",
                                      "type": "text",
                                      "label": "Devolución (O)"
                                    },
                                    {
                                      "name": "15",
                                      "type": "text",
                                      "label": "(P)"
                                    },
                                    {
                                      "name": "16",
                                      "type": "text",
                                      "label": "(Q)"
                                    },
                                    {
                                      "name": "17",
                                      "type": "text",
                                      "label": "(R)"
                                    },
                                    {
                                      "name": "18",
                                      "type": "text",
                                      "label": "(S)"
                                    },
                                    {
                                      "name": "19",
                                      "type": "text",
                                      "label": "(T)"
                                    },
                                    {
                                      "name": "20",
                                      "type": "text",
                                      "label": "(U)"
                                    },
                                    {
                                      "name": "21",
                                      "type": "text",
                                      "label": "(V)"
                                    },
                                    {
                                      "name": "22",
                                      "type": "text",
                                      "label": "(W)"
                                    },
                                    {
                                      "name": "23",
                                      "type": "text",
                                      "label": "(X)"
                                    },
                                    {
                                      "name": "24",
                                      "type": "text",
                                      "label": "(Y)"
                                    },
                                    {
                                      "name": "25",
                                      "type": "text",
                                      "label": "(Z)"
                                    },
                                    {
                                      "name": "26",
                                      "type": "text",
                                      "label": "(AA)"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Values"
                                }
                              ],
                              "restore": {
                                "expect": {
                                  "mode": {
                                    "label": "Select from all"
                                  },
                                  "sheetId": {
                                    "mode": "chose",
                                    "label": "San Lorenzo Chico"
                                  },
                                  "includesHeaders": {
                                    "label": "Yes",
                                    "nested": [
                                      {
                                        "name": "values",
                                        "spec": [
                                          {
                                            "name": "0",
                                            "type": "text",
                                            "label": "ID (A)"
                                          },
                                          {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Fecha y hora (B)"
                                          },
                                          {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Canal (C)"
                                          },
                                          {
                                            "name": "3",
                                            "type": "text",
                                            "label": "ID Conversación (D)"
                                          },
                                          {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Mensaje recibido (E)"
                                          },
                                          {
                                            "name": "5",
                                            "type": "text",
                                            "label": "ID Mensaje (F)"
                                          },
                                          {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Respuesta generada (G)"
                                          },
                                          {
                                            "name": "7",
                                            "type": "text",
                                            "label": "OK (H)"
                                          },
                                          {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Estado del envío (I)"
                                          },
                                          {
                                            "name": "9",
                                            "type": "text",
                                            "label": "Fecha y hora de salida (J)"
                                          },
                                          {
                                            "name": "10",
                                            "type": "text",
                                            "label": "ID DB (K)"
                                          },
                                          {
                                            "name": "11",
                                            "type": "text",
                                            "label": "ID generado (L)"
                                          },
                                          {
                                            "name": "12",
                                            "type": "text",
                                            "label": "Evaluación (M)"
                                          },
                                          {
                                            "name": "13",
                                            "type": "text",
                                            "label": "Puntaje (N)"
                                          },
                                          {
                                            "name": "14",
                                            "type": "text",
                                            "label": "Devolución (O)"
                                          },
                                          {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                          },
                                          {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                          },
                                          {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                          },
                                          {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                          },
                                          {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                          },
                                          {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                          },
                                          {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                          },
                                          {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                          },
                                          {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                          },
                                          {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                          },
                                          {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                          },
                                          {
                                            "name": "26",
                                            "type": "text",
                                            "label": "(AA)"
                                          }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                      }
                                    ]
                                  },
                                  "valueInputOption": {
                                    "mode": "chose",
                                    "label": "User entered"
                                  }
                                },
                                "parameters": {
                                  "__IMTCONN__": {
                                    "data": {
                                      "scoped": "true",
                                      "connection": "google"
                                    },
                                    "label": "Gonzalo Fundacion Innovar (gonzaloaybar@fundacioninnovar.org.ar)"
                                  }
                                }
                              },
                              "designer": {
                                "x": 900,
                                "y": 1650,
                                "name": "Update row"
                              },
                              "parameters": [
                                {
                                  "name": "__IMTCONN__",
                                  "type": "account:google",
                                  "label": "Connection",
                                  "required": true
                                }
                              ]
                            },
                            "parameters": {
                              "__IMTCONN__": 5710354
                            }
                          }
                        ]
                      }
                    ],
                    "version": 1,
                    "metadata": {
                      "designer": {
                        "x": 300,
                        "y": 1500,
                        "name": "¿Sede?"
                      }
                    }
                  }
                ]
              }
            ],
            "version": 1,
            "metadata": {
              "designer": {
                "x": 0,
                "y": 1200,
                "name": "¿Status?",
                "messages": [
                  {
                    "message": "The module is not connected to the data flow.",
                    "category": "link",
                    "severity": "warning"
                  }
                ]
              }
            }
          }
        ]
      ],
      "samples": {
        "1": {
          "type": "INSERT",
          "table": "interactions",
          "record": {
            "id": 20444,
            "text": "Otro mensaje de prueba",
            "ad_id": null,
            "status": "new",
            "time_stamp": "2026-02-03T15:53:32.804",
            "external_ref": "wamid.HBgNNTQ5Mzg3NTM1NDQxMxUCABIYIEFDM0UwREEwREFGMzJENEFERDdCNzg2NzE5NkJDQUQzAA==",
            "id_person_conversation": 3203,
            "id_system_conversation": null
          },
          "schema": "public",
          "old_record": null
        },
        "3": {
          "id": 20444
        },
        "5": {
          "status": "success",
          "interaction_history": "[¿Viene con anuncio? No]\n- [2026-02-03T15:28:31.468Z] Usuario: hola\n[¿Viene con anuncio? No]\n- [2026..."
        },
        "7": {
          "channel_name": "Chatbot (Cloud API)",
          "channel_address": "111869345312688",
          "id_channel_provider": 4
        },
        "8": {
          "address": "5493875354413",
          "id_person": 3281
        },
        "9": {
          "response": "Hola 👋 Soy Ana de IITA. Veo que te llegaron “mensajes de prueba”.  \n¿Querés info de algún curso en ...",
          "threadId": "35b812d8-8864-4598-ada4-13e217bb364f",
          "executionSteps": [
            {
              "id": "msg_03d4175f815819950169821a3c3c508193bbc133c1cb6e28b2",
              "role": "assistant",
              "content": "Hola 👋 Soy Ana de IITA. Veo que te llegaron “mensajes de prueba”.  \n¿Querés info de algún curso en ...",
              "tokenUsage": {
                "totalTokens": 6152,
                "promptTokens": 6000,
                "completionTokens": 152
              },
              "executionTimeMs": 4974,
              "agentIterationId": "5c6a7916-41d7-44ea-b623-1fcaa0388cc0"
            }
          ],
          "executionTimeMs": 5074,
          "tokenUsageSummary": {
            "totalTokens": 6152,
            "promptTokens": 6000,
            "completionTokens": 152
          },
          "lastAgentIterationId": "5c6a7916-41d7-44ea-b623-1fcaa0388cc0"
        },
        "11": {
          "executionId": "8642fd87d83c4c8593facce8169d9616"
        },
        "15": {
          "updates": {
            "updatedRows": 1,
            "updatedCells": 6,
            "updatedRange": "Salta!A3421:G3421",
            "spreadsheetId": "1qXXB8me9BWzGZpw5b9SyHEWIe7xJT0vMRN4RlcS6Rss",
            "updatedColumns": 6
          },
          "rowNumber": 3421,
          "sheetName": "Salta",
          "tableRange": "Salta!A1:K3420",
          "spreadsheetId": "1qXXB8me9BWzGZpw5b9SyHEWIe7xJT0vMRN4RlcS6Rss"
        },
        "16": {
          "unanswered_messages": "Mensaje de prueba\nOtro mensaje de prueba"
        }
      }
    },
    "scenario": {
      "dlq": true,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}