snapshots/2026-02-18_produccion/8_otros/3079651_iita_-_tiktok_messages_logs.json
{
  "flow": [
    {
      "id": 1,
      "module": "tiktok-audiences:getCustomAudience",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 0,
          "y": 450,
          "messages": [
            {
              "message": "Value must not be empty.",
              "category": "setup",
              "severity": "error"
            }
          ]
        }
      }
    },
    {
      "id": 2,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 3,
              "filter": {
                "name": "Is user",
                "conditions": [
                  [
                    {
                      "a": "{{25.message.is_echo}}",
                      "o": "notexist"
                    }
                  ]
                ]
              },
              "mapper": {
                "sort": [],
                "limit": "1",
                "where": [
                  [
                    {
                      "a": "self_ref",
                      "b": "{{25.recipient.id}}",
                      "o": "equal"
                    },
                    {
                      "a": "user_ref",
                      "b": "{{25.sender.id}}",
                      "o": "equal"
                    }
                  ]
                ]
              },
              "module": "postgres:SelectFromTable",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "where",
                    "type": "filter",
                    "label": "Filter",
                    "options": {
                      "store": [
                        {
                          "label": "id_conv",
                          "value": "id_conv"
                        },
                        {
                          "label": "user_ref",
                          "value": "user_ref"
                        },
                        {
                          "label": "self_ref",
                          "value": "self_ref"
                        },
                        {
                          "label": "type",
                          "value": "type"
                        }
                      ],
                      "operators": [
                        {
                          "label": "Basic",
                          "options": [
                            {
                              "label": "Is not null",
                              "value": "exist"
                            },
                            {
                              "label": "Is null",
                              "value": "notexist"
                            },
                            {
                              "label": "Equal to",
                              "value": "equal"
                            },
                            {
                              "label": "Not equal to",
                              "value": "notequal"
                            },
                            {
                              "label": "Greater than",
                              "value": "greater"
                            },
                            {
                              "label": "Greater than or equal to",
                              "value": "greaterorequal"
                            },
                            {
                              "label": "Less than",
                              "value": "less"
                            },
                            {
                              "label": "Less than or equal to",
                              "value": "lessorequal"
                            },
                            {
                              "label": "Contains",
                              "value": "contain"
                            },
                            {
                              "label": "Does not contain",
                              "value": "notcontain"
                            },
                            {
                              "label": "Starts with",
                              "value": "startwith"
                            },
                            {
                              "label": "Does not start with",
                              "value": "notstartwith"
                            },
                            {
                              "label": "Ends with",
                              "value": "endwith"
                            },
                            {
                              "label": "Does not end with",
                              "value": "notendwith"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  {
                    "name": "sort",
                    "spec": [
                      {
                        "name": "column",
                        "type": "select",
                        "label": "Column",
                        "dynamic": true,
                        "options": [],
                        "required": true
                      },
                      {
                        "name": "order",
                        "type": "select",
                        "label": "Order",
                        "options": [
                          {
                            "label": "Ascending",
                            "value": "asc"
                          },
                          {
                            "label": "Descending",
                            "value": "desc"
                          }
                        ],
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Sort"
                  },
                  {
                    "name": "limit",
                    "type": "uinteger",
                    "label": "Limit"
                  },
                  {
                    "name": "where",
                    "type": "filter",
                    "label": "Filter",
                    "options": {
                      "store": [
                        {
                          "label": "id",
                          "value": "id"
                        },
                        {
                          "label": "user_ref",
                          "value": "user_ref"
                        },
                        {
                          "label": "self_ref",
                          "value": "self_ref"
                        },
                        {
                          "label": "type",
                          "value": "type"
                        }
                      ],
                      "operators": [
                        {
                          "label": "Basic",
                          "options": [
                            {
                              "label": "Is not null",
                              "value": "exist"
                            },
                            {
                              "label": "Is null",
                              "value": "notexist"
                            },
                            {
                              "label": "Equal to",
                              "value": "equal"
                            },
                            {
                              "label": "Not equal to",
                              "value": "notequal"
                            },
                            {
                              "label": "Greater than",
                              "value": "greater"
                            },
                            {
                              "label": "Greater than or equal to",
                              "value": "greaterorequal"
                            },
                            {
                              "label": "Less than",
                              "value": "less"
                            },
                            {
                              "label": "Less than or equal to",
                              "value": "lessorequal"
                            },
                            {
                              "label": "Contains",
                              "value": "contain"
                            },
                            {
                              "label": "Does not contain",
                              "value": "notcontain"
                            },
                            {
                              "label": "Starts with",
                              "value": "startwith"
                            },
                            {
                              "label": "Does not start with",
                              "value": "notstartwith"
                            },
                            {
                              "label": "Ends with",
                              "value": "endwith"
                            },
                            {
                              "label": "Does not end with",
                              "value": "notendwith"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  {
                    "name": "sort",
                    "spec": [
                      {
                        "name": "column",
                        "type": "select",
                        "label": "Column",
                        "dynamic": true,
                        "options": [],
                        "required": true
                      },
                      {
                        "name": "order",
                        "type": "select",
                        "label": "Order",
                        "options": [
                          {
                            "label": "Ascending",
                            "value": "asc"
                          },
                          {
                            "label": "Descending",
                            "value": "desc"
                          }
                        ],
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Sort"
                  },
                  {
                    "name": "limit",
                    "type": "uinteger",
                    "label": "Limit"
                  }
                ],
                "restore": {
                  "parameters": {
                    "table": {
                      "label": "public.messenger_conversations"
                    },
                    "account": {
                      "data": {
                        "scoped": "true",
                        "connection": "postgres"
                      },
                      "label": "Flujo de reportes (Supabase) (postgres.zhyldluhekvaxyovdkve@aws-1-sa-east-1.pooler.supabase.com:6543/postgres)"
                    }
                  }
                },
                "designer": {
                  "x": 600,
                  "y": 150,
                  "name": "Search id conv",
                  "messages": [
                    {
                      "message": "Module references non-existing module '25'.",
                      "category": "reference",
                      "severity": "error"
                    }
                  ]
                },
                "interface": [
                  {
                    "name": "__IMTLENGTH__",
                    "type": "uinteger",
                    "label": "Total number of bundles"
                  },
                  {
                    "name": "__IMTINDEX__",
                    "type": "uinteger",
                    "label": "Bundle order position"
                  },
                  {
                    "name": "id",
                    "type": "integer",
                    "label": "id",
                    "required": false
                  },
                  {
                    "name": "user_ref",
                    "type": "text",
                    "label": "user_ref",
                    "required": false
                  },
                  {
                    "name": "self_ref",
                    "type": "text",
                    "label": "self_ref",
                    "required": false
                  },
                  {
                    "name": "type",
                    "type": "text",
                    "label": "type",
                    "required": false
                  }
                ],
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:postgres",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "continueWhenNoRes",
                    "type": "boolean",
                    "label": "Continue the execution of the route even if the module returns no rows",
                    "required": true
                  },
                  {
                    "name": "isToManageDataInSharedTransaction",
                    "type": "boolean",
                    "label": "Manage data within the shared transaction",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "table": "\"public\".\"messenger_conversations\"",
                "account": 5484562,
                "continueWhenNoRes": true,
                "isToManageDataInSharedTransaction": true
              }
            },
            {
              "id": 4,
              "mapper": null,
              "module": "builtin:BasicRouter",
              "routes": [
                {
                  "flow": [
                    {
                      "id": 5,
                      "filter": {
                        "name": "Exist conv",
                        "conditions": [
                          [
                            {
                              "a": "{{3.id}}",
                              "o": "exist"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "@id_msg": "",
                        "@content": "{{25.message.text}}",
                        "@id_conv": "{{3.id}}",
                        "@is_user": "{{true}}",
                        "@date_time": "{{now}}",
                        "@media_url": "{{25.message.attachments[].payload.url}}"
                      },
                      "module": "postgres:InsertIntoTable",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "@id_msg",
                            "type": "integer",
                            "label": "id_msg"
                          },
                          {
                            "name": "@id_conv",
                            "type": "integer",
                            "label": "id_conv"
                          },
                          {
                            "name": "@date_time",
                            "type": "text",
                            "label": "date_time",
                            "required": true
                          },
                          {
                            "name": "@is_user",
                            "type": "text",
                            "label": "is_user"
                          },
                          {
                            "name": "@content",
                            "type": "text",
                            "label": "content"
                          },
                          {
                            "name": "@media_url",
                            "type": "text",
                            "label": "media_url"
                          }
                        ],
                        "restore": {
                          "parameters": {
                            "table": {
                              "label": "public.messenger_messages"
                            },
                            "account": {
                              "data": {
                                "scoped": "true",
                                "connection": "postgres"
                              },
                              "label": "Flujo de reportes (Supabase) (postgres.zhyldluhekvaxyovdkve@aws-1-sa-east-1.pooler.supabase.com:6543/postgres)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1200,
                          "y": 0,
                          "name": "Insert row (msg)",
                          "messages": [
                            {
                              "message": "Module references non-existing module '25'.",
                              "category": "reference",
                              "severity": "error"
                            }
                          ]
                        },
                        "interface": [
                          {
                            "name": "rowsAffected",
                            "type": "number",
                            "label": "Affected rows"
                          }
                        ],
                        "parameters": [
                          {
                            "name": "account",
                            "type": "account:postgres",
                            "label": "Connection",
                            "required": true
                          },
                          {
                            "name": "isToManageDataInSharedTransaction",
                            "type": "boolean",
                            "label": "Manage data within the shared transaction",
                            "required": true
                          },
                          {
                            "name": "returnRows",
                            "type": "boolean",
                            "label": "Return Rows"
                          },
                          {
                            "name": "table",
                            "type": "select",
                            "label": "Table",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "table": "\"public\".\"messenger_messages\"",
                        "account": 5484562,
                        "isToManageDataInSharedTransaction": true
                      }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 6,
                      "filter": {
                        "name": "Not exist conv",
                        "conditions": [
                          [
                            {
                              "a": "{{3.id}}",
                              "o": "notexist"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "@id": "",
                        "@type": "chat",
                        "@self_ref": "{{25.recipient.id}}",
                        "@user_ref": "{{25.sender.id}}"
                      },
                      "module": "postgres:InsertIntoTable",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "@id",
                            "type": "integer",
                            "label": "id"
                          },
                          {
                            "name": "@user_ref",
                            "type": "text",
                            "label": "user_ref"
                          },
                          {
                            "name": "@self_ref",
                            "type": "text",
                            "label": "self_ref"
                          },
                          {
                            "name": "@type",
                            "type": "text",
                            "label": "type",
                            "required": true
                          }
                        ],
                        "restore": {
                          "parameters": {
                            "table": {
                              "label": "public.messenger_conversations"
                            },
                            "account": {
                              "data": {
                                "scoped": "true",
                                "connection": "postgres"
                              },
                              "label": "Flujo de reportes (Supabase) (postgres.zhyldluhekvaxyovdkve@aws-1-sa-east-1.pooler.supabase.com:6543/postgres)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1200,
                          "y": 300,
                          "name": "Insert row (conv)",
                          "messages": [
                            {
                              "message": "Module references non-existing module '25'.",
                              "category": "reference",
                              "severity": "error"
                            }
                          ]
                        },
                        "interface": [
                          {
                            "name": "rowsAffected",
                            "type": "number",
                            "label": "Affected rows"
                          }
                        ],
                        "parameters": [
                          {
                            "name": "account",
                            "type": "account:postgres",
                            "label": "Connection",
                            "required": true
                          },
                          {
                            "name": "isToManageDataInSharedTransaction",
                            "type": "boolean",
                            "label": "Manage data within the shared transaction",
                            "required": true
                          },
                          {
                            "name": "returnRows",
                            "type": "boolean",
                            "label": "Return Rows"
                          },
                          {
                            "name": "table",
                            "type": "select",
                            "label": "Table",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "table": "\"public\".\"messenger_conversations\"",
                        "account": 5484562,
                        "isToManageDataInSharedTransaction": true
                      }
                    },
                    {
                      "id": 7,
                      "mapper": {
                        "sort": [],
                        "limit": "1",
                        "where": [
                          [
                            {
                              "a": "self_ref",
                              "b": "{{25.recipient.id}}",
                              "o": "equal"
                            },
                            {
                              "a": "user_ref",
                              "b": "{{25.sender.id}}",
                              "o": "equal"
                            }
                          ]
                        ]
                      },
                      "module": "postgres:SelectFromTable",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "where",
                            "type": "filter",
                            "label": "Filter",
                            "options": {
                              "store": [
                                {
                                  "label": "id",
                                  "value": "id"
                                },
                                {
                                  "label": "user_ref",
                                  "value": "user_ref"
                                },
                                {
                                  "label": "self_ref",
                                  "value": "self_ref"
                                },
                                {
                                  "label": "type",
                                  "value": "type"
                                }
                              ],
                              "operators": [
                                {
                                  "label": "Basic",
                                  "options": [
                                    {
                                      "label": "Is not null",
                                      "value": "exist"
                                    },
                                    {
                                      "label": "Is null",
                                      "value": "notexist"
                                    },
                                    {
                                      "label": "Equal to",
                                      "value": "equal"
                                    },
                                    {
                                      "label": "Not equal to",
                                      "value": "notequal"
                                    },
                                    {
                                      "label": "Greater than",
                                      "value": "greater"
                                    },
                                    {
                                      "label": "Greater than or equal to",
                                      "value": "greaterorequal"
                                    },
                                    {
                                      "label": "Less than",
                                      "value": "less"
                                    },
                                    {
                                      "label": "Less than or equal to",
                                      "value": "lessorequal"
                                    },
                                    {
                                      "label": "Contains",
                                      "value": "contain"
                                    },
                                    {
                                      "label": "Does not contain",
                                      "value": "notcontain"
                                    },
                                    {
                                      "label": "Starts with",
                                      "value": "startwith"
                                    },
                                    {
                                      "label": "Does not start with",
                                      "value": "notstartwith"
                                    },
                                    {
                                      "label": "Ends with",
                                      "value": "endwith"
                                    },
                                    {
                                      "label": "Does not end with",
                                      "value": "notendwith"
                                    }
                                  ]
                                }
                              ]
                            }
                          },
                          {
                            "name": "sort",
                            "spec": [
                              {
                                "name": "column",
                                "type": "select",
                                "label": "Column",
                                "dynamic": true,
                                "options": [],
                                "required": true
                              },
                              {
                                "name": "order",
                                "type": "select",
                                "label": "Order",
                                "options": [
                                  {
                                    "label": "Ascending",
                                    "value": "asc"
                                  },
                                  {
                                    "label": "Descending",
                                    "value": "desc"
                                  }
                                ],
                                "required": true
                              }
                            ],
                            "type": "array",
                            "label": "Sort"
                          },
                          {
                            "name": "limit",
                            "type": "uinteger",
                            "label": "Limit"
                          }
                        ],
                        "restore": {
                          "parameters": {
                            "table": {
                              "label": "public.messenger_conversations"
                            },
                            "account": {
                              "data": {
                                "scoped": "true",
                                "connection": "postgres"
                              },
                              "label": "Flujo de reportes (Supabase) (postgres.zhyldluhekvaxyovdkve@aws-1-sa-east-1.pooler.supabase.com:6543/postgres)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1500,
                          "y": 300,
                          "name": "Search the id",
                          "messages": [
                            {
                              "message": "Module references non-existing module '25'.",
                              "category": "reference",
                              "severity": "error"
                            }
                          ]
                        },
                        "interface": [
                          {
                            "name": "__IMTLENGTH__",
                            "type": "uinteger",
                            "label": "Total number of bundles"
                          },
                          {
                            "name": "__IMTINDEX__",
                            "type": "uinteger",
                            "label": "Bundle order position"
                          },
                          {
                            "name": "id",
                            "type": "integer",
                            "label": "id",
                            "required": false
                          },
                          {
                            "name": "user_ref",
                            "type": "text",
                            "label": "user_ref",
                            "required": false
                          },
                          {
                            "name": "self_ref",
                            "type": "text",
                            "label": "self_ref",
                            "required": false
                          },
                          {
                            "name": "type",
                            "type": "text",
                            "label": "type",
                            "required": false
                          }
                        ],
                        "parameters": [
                          {
                            "name": "account",
                            "type": "account:postgres",
                            "label": "Connection",
                            "required": true
                          },
                          {
                            "name": "continueWhenNoRes",
                            "type": "boolean",
                            "label": "Continue the execution of the route even if the module returns no rows",
                            "required": true
                          },
                          {
                            "name": "isToManageDataInSharedTransaction",
                            "type": "boolean",
                            "label": "Manage data within the shared transaction",
                            "required": true
                          },
                          {
                            "name": "table",
                            "type": "select",
                            "label": "Table",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "table": "\"public\".\"messenger_conversations\"",
                        "account": 5484562,
                        "continueWhenNoRes": true,
                        "isToManageDataInSharedTransaction": true
                      }
                    },
                    {
                      "id": 8,
                      "mapper": {
                        "@id_msg": "",
                        "@content": "{{25.message.text}}",
                        "@id_conv": "{{7.id}}",
                        "@is_user": "{{true}}",
                        "@date_time": "{{now}}",
                        "@media_url": "{{25.message.attachments[].payload.url}}"
                      },
                      "module": "postgres:InsertIntoTable",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "@id_msg",
                            "type": "integer",
                            "label": "id_msg"
                          },
                          {
                            "name": "@id_conv",
                            "type": "integer",
                            "label": "id_conv"
                          },
                          {
                            "name": "@date_time",
                            "type": "text",
                            "label": "date_time",
                            "required": true
                          },
                          {
                            "name": "@is_user",
                            "type": "text",
                            "label": "is_user"
                          },
                          {
                            "name": "@content",
                            "type": "text",
                            "label": "content"
                          },
                          {
                            "name": "@media_url",
                            "type": "text",
                            "label": "media_url"
                          }
                        ],
                        "restore": {
                          "parameters": {
                            "table": {
                              "label": "public.messenger_messages"
                            },
                            "account": {
                              "data": {
                                "scoped": "true",
                                "connection": "postgres"
                              },
                              "label": "Flujo de reportes (Supabase) (postgres.zhyldluhekvaxyovdkve@aws-1-sa-east-1.pooler.supabase.com:6543/postgres)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1800,
                          "y": 300,
                          "name": "Insert row (msg)",
                          "messages": [
                            {
                              "message": "Module references non-existing module '25'.",
                              "category": "reference",
                              "severity": "error"
                            }
                          ]
                        },
                        "interface": [
                          {
                            "name": "rowsAffected",
                            "type": "number",
                            "label": "Affected rows"
                          }
                        ],
                        "parameters": [
                          {
                            "name": "account",
                            "type": "account:postgres",
                            "label": "Connection",
                            "required": true
                          },
                          {
                            "name": "isToManageDataInSharedTransaction",
                            "type": "boolean",
                            "label": "Manage data within the shared transaction",
                            "required": true
                          },
                          {
                            "name": "returnRows",
                            "type": "boolean",
                            "label": "Return Rows"
                          },
                          {
                            "name": "table",
                            "type": "select",
                            "label": "Table",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "table": "\"public\".\"messenger_messages\"",
                        "account": 5484562,
                        "isToManageDataInSharedTransaction": true
                      }
                    }
                  ]
                }
              ],
              "version": 1,
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 150,
                  "name": "¿Exist conv?"
                }
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 9,
              "filter": {
                "name": "Is not user",
                "conditions": []
              },
              "mapper": {
                "sort": [],
                "limit": "1",
                "where": [
                  [
                    {
                      "a": "self_ref",
                      "b": "{{25.recipient.id}}",
                      "o": "equal"
                    },
                    {
                      "a": "user_ref",
                      "b": "{{25.sender.id}}",
                      "o": "equal"
                    }
                  ]
                ]
              },
              "module": "postgres:SelectFromTable",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "where",
                    "type": "filter",
                    "label": "Filter",
                    "options": {
                      "store": [
                        {
                          "label": "id",
                          "value": "id"
                        },
                        {
                          "label": "user_ref",
                          "value": "user_ref"
                        },
                        {
                          "label": "self_ref",
                          "value": "self_ref"
                        },
                        {
                          "label": "type",
                          "value": "type"
                        }
                      ],
                      "operators": [
                        {
                          "label": "Basic",
                          "options": [
                            {
                              "label": "Is not null",
                              "value": "exist"
                            },
                            {
                              "label": "Is null",
                              "value": "notexist"
                            },
                            {
                              "label": "Equal to",
                              "value": "equal"
                            },
                            {
                              "label": "Not equal to",
                              "value": "notequal"
                            },
                            {
                              "label": "Greater than",
                              "value": "greater"
                            },
                            {
                              "label": "Greater than or equal to",
                              "value": "greaterorequal"
                            },
                            {
                              "label": "Less than",
                              "value": "less"
                            },
                            {
                              "label": "Less than or equal to",
                              "value": "lessorequal"
                            },
                            {
                              "label": "Contains",
                              "value": "contain"
                            },
                            {
                              "label": "Does not contain",
                              "value": "notcontain"
                            },
                            {
                              "label": "Starts with",
                              "value": "startwith"
                            },
                            {
                              "label": "Does not start with",
                              "value": "notstartwith"
                            },
                            {
                              "label": "Ends with",
                              "value": "endwith"
                            },
                            {
                              "label": "Does not end with",
                              "value": "notendwith"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  {
                    "name": "sort",
                    "spec": [
                      {
                        "name": "column",
                        "type": "select",
                        "label": "Column",
                        "dynamic": true,
                        "options": [],
                        "required": true
                      },
                      {
                        "name": "order",
                        "type": "select",
                        "label": "Order",
                        "options": [
                          {
                            "label": "Ascending",
                            "value": "asc"
                          },
                          {
                            "label": "Descending",
                            "value": "desc"
                          }
                        ],
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Sort"
                  },
                  {
                    "name": "limit",
                    "type": "uinteger",
                    "label": "Limit"
                  }
                ],
                "restore": {
                  "parameters": {
                    "table": {
                      "label": "public.messenger_conversations"
                    },
                    "account": {
                      "data": {
                        "scoped": "true",
                        "connection": "postgres"
                      },
                      "label": "Flujo de reportes (Supabase) (postgres.zhyldluhekvaxyovdkve@aws-1-sa-east-1.pooler.supabase.com:6543/postgres)"
                    }
                  }
                },
                "designer": {
                  "x": 600,
                  "y": 750,
                  "name": "Search id conv",
                  "messages": [
                    {
                      "message": "Module references non-existing module '25'.",
                      "category": "reference",
                      "severity": "error"
                    }
                  ]
                },
                "interface": [
                  {
                    "name": "__IMTLENGTH__",
                    "type": "uinteger",
                    "label": "Total number of bundles"
                  },
                  {
                    "name": "__IMTINDEX__",
                    "type": "uinteger",
                    "label": "Bundle order position"
                  },
                  {
                    "name": "id",
                    "type": "integer",
                    "label": "id",
                    "required": false
                  },
                  {
                    "name": "user_ref",
                    "type": "text",
                    "label": "user_ref",
                    "required": false
                  },
                  {
                    "name": "self_ref",
                    "type": "text",
                    "label": "self_ref",
                    "required": false
                  },
                  {
                    "name": "type",
                    "type": "text",
                    "label": "type",
                    "required": false
                  }
                ],
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:postgres",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "continueWhenNoRes",
                    "type": "boolean",
                    "label": "Continue the execution of the route even if the module returns no rows",
                    "required": true
                  },
                  {
                    "name": "isToManageDataInSharedTransaction",
                    "type": "boolean",
                    "label": "Manage data within the shared transaction",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "table": "\"public\".\"messenger_conversations\"",
                "account": 5484562,
                "continueWhenNoRes": true,
                "isToManageDataInSharedTransaction": true
              }
            },
            {
              "id": 10,
              "mapper": null,
              "module": "builtin:BasicRouter",
              "routes": [
                {
                  "flow": [
                    {
                      "id": 11,
                      "filter": {
                        "name": "Exist conv",
                        "conditions": [
                          [
                            {
                              "a": "{{2.id}}",
                              "o": "exist"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "@id_msg": "",
                        "@content": "{{25.message.text}}",
                        "@id_conv": "{{9.id}}",
                        "@is_user": "{{false}}",
                        "@date_time": "{{now}}",
                        "@media_url": "{{25.message.attachments[].payload.url}}"
                      },
                      "module": "postgres:InsertIntoTable",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "@id_msg",
                            "type": "integer",
                            "label": "id_msg"
                          },
                          {
                            "name": "@id_conv",
                            "type": "integer",
                            "label": "id_conv"
                          },
                          {
                            "name": "@date_time",
                            "type": "text",
                            "label": "date_time",
                            "required": true
                          },
                          {
                            "name": "@is_user",
                            "type": "text",
                            "label": "is_user"
                          },
                          {
                            "name": "@content",
                            "type": "text",
                            "label": "content"
                          },
                          {
                            "name": "@media_url",
                            "type": "text",
                            "label": "media_url"
                          }
                        ],
                        "restore": {
                          "parameters": {
                            "table": {
                              "label": "public.messenger_messages"
                            },
                            "account": {
                              "data": {
                                "scoped": "true",
                                "connection": "postgres"
                              },
                              "label": "Flujo de reportes (Supabase) (postgres.zhyldluhekvaxyovdkve@aws-1-sa-east-1.pooler.supabase.com:6543/postgres)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1200,
                          "y": 600,
                          "name": "Insert row (msg)",
                          "messages": [
                            {
                              "message": "Module references non-existing module '25'.",
                              "category": "reference",
                              "severity": "error"
                            }
                          ]
                        },
                        "interface": [
                          {
                            "name": "rowsAffected",
                            "type": "number",
                            "label": "Affected rows"
                          }
                        ],
                        "parameters": [
                          {
                            "name": "account",
                            "type": "account:postgres",
                            "label": "Connection",
                            "required": true
                          },
                          {
                            "name": "isToManageDataInSharedTransaction",
                            "type": "boolean",
                            "label": "Manage data within the shared transaction",
                            "required": true
                          },
                          {
                            "name": "returnRows",
                            "type": "boolean",
                            "label": "Return Rows"
                          },
                          {
                            "name": "table",
                            "type": "select",
                            "label": "Table",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "table": "\"public\".\"messenger_messages\"",
                        "account": 5484562,
                        "isToManageDataInSharedTransaction": true
                      }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 12,
                      "filter": {
                        "name": "Not exist conv",
                        "conditions": [
                          [
                            {
                              "a": "{{2.id}}",
                              "o": "notexist"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "@id": "",
                        "@type": "chat",
                        "@self_ref": "{{25.recipient.id}}",
                        "@user_ref": "{{25.sender.id}}"
                      },
                      "module": "postgres:InsertIntoTable",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "@id",
                            "type": "integer",
                            "label": "id"
                          },
                          {
                            "name": "@user_ref",
                            "type": "text",
                            "label": "user_ref"
                          },
                          {
                            "name": "@self_ref",
                            "type": "text",
                            "label": "self_ref"
                          },
                          {
                            "name": "@type",
                            "type": "text",
                            "label": "type",
                            "required": true
                          }
                        ],
                        "restore": {
                          "parameters": {
                            "table": {
                              "label": "public.messenger_conversations"
                            },
                            "account": {
                              "data": {
                                "scoped": "true",
                                "connection": "postgres"
                              },
                              "label": "Flujo de reportes (Supabase) (postgres.zhyldluhekvaxyovdkve@aws-1-sa-east-1.pooler.supabase.com:6543/postgres)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1200,
                          "y": 900,
                          "name": "Insert row (conv)",
                          "messages": [
                            {
                              "message": "Module references non-existing module '25'.",
                              "category": "reference",
                              "severity": "error"
                            }
                          ]
                        },
                        "interface": [
                          {
                            "name": "rowsAffected",
                            "type": "number",
                            "label": "Affected rows"
                          }
                        ],
                        "parameters": [
                          {
                            "name": "account",
                            "type": "account:postgres",
                            "label": "Connection",
                            "required": true
                          },
                          {
                            "name": "isToManageDataInSharedTransaction",
                            "type": "boolean",
                            "label": "Manage data within the shared transaction",
                            "required": true
                          },
                          {
                            "name": "returnRows",
                            "type": "boolean",
                            "label": "Return Rows"
                          },
                          {
                            "name": "table",
                            "type": "select",
                            "label": "Table",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "table": "\"public\".\"messenger_conversations\"",
                        "account": 5484562,
                        "isToManageDataInSharedTransaction": true
                      }
                    },
                    {
                      "id": 13,
                      "mapper": {
                        "sort": [],
                        "limit": "1",
                        "where": [
                          [
                            {
                              "a": "self_ref",
                              "b": "{{25.recipient.id}}",
                              "o": "equal"
                            },
                            {
                              "a": "user_ref",
                              "b": "{{25.sender.id}}",
                              "o": "equal"
                            }
                          ]
                        ]
                      },
                      "module": "postgres:SelectFromTable",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "where",
                            "type": "filter",
                            "label": "Filter",
                            "options": {
                              "store": [
                                {
                                  "label": "id",
                                  "value": "id"
                                },
                                {
                                  "label": "user_ref",
                                  "value": "user_ref"
                                },
                                {
                                  "label": "self_ref",
                                  "value": "self_ref"
                                },
                                {
                                  "label": "type",
                                  "value": "type"
                                }
                              ],
                              "operators": [
                                {
                                  "label": "Basic",
                                  "options": [
                                    {
                                      "label": "Is not null",
                                      "value": "exist"
                                    },
                                    {
                                      "label": "Is null",
                                      "value": "notexist"
                                    },
                                    {
                                      "label": "Equal to",
                                      "value": "equal"
                                    },
                                    {
                                      "label": "Not equal to",
                                      "value": "notequal"
                                    },
                                    {
                                      "label": "Greater than",
                                      "value": "greater"
                                    },
                                    {
                                      "label": "Greater than or equal to",
                                      "value": "greaterorequal"
                                    },
                                    {
                                      "label": "Less than",
                                      "value": "less"
                                    },
                                    {
                                      "label": "Less than or equal to",
                                      "value": "lessorequal"
                                    },
                                    {
                                      "label": "Contains",
                                      "value": "contain"
                                    },
                                    {
                                      "label": "Does not contain",
                                      "value": "notcontain"
                                    },
                                    {
                                      "label": "Starts with",
                                      "value": "startwith"
                                    },
                                    {
                                      "label": "Does not start with",
                                      "value": "notstartwith"
                                    },
                                    {
                                      "label": "Ends with",
                                      "value": "endwith"
                                    },
                                    {
                                      "label": "Does not end with",
                                      "value": "notendwith"
                                    }
                                  ]
                                }
                              ]
                            }
                          },
                          {
                            "name": "sort",
                            "spec": [
                              {
                                "name": "column",
                                "type": "select",
                                "label": "Column",
                                "dynamic": true,
                                "options": [],
                                "required": true
                              },
                              {
                                "name": "order",
                                "type": "select",
                                "label": "Order",
                                "options": [
                                  {
                                    "label": "Ascending",
                                    "value": "asc"
                                  },
                                  {
                                    "label": "Descending",
                                    "value": "desc"
                                  }
                                ],
                                "required": true
                              }
                            ],
                            "type": "array",
                            "label": "Sort"
                          },
                          {
                            "name": "limit",
                            "type": "uinteger",
                            "label": "Limit"
                          }
                        ],
                        "restore": {
                          "parameters": {
                            "table": {
                              "label": "public.messenger_conversations"
                            },
                            "account": {
                              "data": {
                                "scoped": "true",
                                "connection": "postgres"
                              },
                              "label": "Flujo de reportes (Supabase) (postgres.zhyldluhekvaxyovdkve@aws-1-sa-east-1.pooler.supabase.com:6543/postgres)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1500,
                          "y": 900,
                          "name": "Search the id",
                          "messages": [
                            {
                              "message": "Module references non-existing module '25'.",
                              "category": "reference",
                              "severity": "error"
                            }
                          ]
                        },
                        "interface": [
                          {
                            "name": "__IMTLENGTH__",
                            "type": "uinteger",
                            "label": "Total number of bundles"
                          },
                          {
                            "name": "__IMTINDEX__",
                            "type": "uinteger",
                            "label": "Bundle order position"
                          },
                          {
                            "name": "id",
                            "type": "integer",
                            "label": "id",
                            "required": false
                          },
                          {
                            "name": "user_ref",
                            "type": "text",
                            "label": "user_ref",
                            "required": false
                          },
                          {
                            "name": "self_ref",
                            "type": "text",
                            "label": "self_ref",
                            "required": false
                          },
                          {
                            "name": "type",
                            "type": "text",
                            "label": "type",
                            "required": false
                          }
                        ],
                        "parameters": [
                          {
                            "name": "account",
                            "type": "account:postgres",
                            "label": "Connection",
                            "required": true
                          },
                          {
                            "name": "continueWhenNoRes",
                            "type": "boolean",
                            "label": "Continue the execution of the route even if the module returns no rows",
                            "required": true
                          },
                          {
                            "name": "isToManageDataInSharedTransaction",
                            "type": "boolean",
                            "label": "Manage data within the shared transaction",
                            "required": true
                          },
                          {
                            "name": "table",
                            "type": "select",
                            "label": "Table",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "table": "\"public\".\"messenger_conversations\"",
                        "account": 5484562,
                        "continueWhenNoRes": true,
                        "isToManageDataInSharedTransaction": true
                      }
                    },
                    {
                      "id": 14,
                      "mapper": {
                        "@id_msg": "",
                        "@content": "{{25.message.text}}",
                        "@id_conv": "{{13.id}}",
                        "@is_user": "{{false}}",
                        "@date_time": "{{now}}",
                        "@media_url": "{{25.message.attachments[].payload.url}}"
                      },
                      "module": "postgres:InsertIntoTable",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "@id_msg",
                            "type": "integer",
                            "label": "id_msg"
                          },
                          {
                            "name": "@id_conv",
                            "type": "integer",
                            "label": "id_conv"
                          },
                          {
                            "name": "@date_time",
                            "type": "text",
                            "label": "date_time",
                            "required": true
                          },
                          {
                            "name": "@is_user",
                            "type": "text",
                            "label": "is_user"
                          },
                          {
                            "name": "@content",
                            "type": "text",
                            "label": "content"
                          },
                          {
                            "name": "@media_url",
                            "type": "text",
                            "label": "media_url"
                          }
                        ],
                        "restore": {
                          "parameters": {
                            "table": {
                              "label": "public.messenger_messages"
                            },
                            "account": {
                              "data": {
                                "scoped": "true",
                                "connection": "postgres"
                              },
                              "label": "Flujo de reportes (Supabase) (postgres.zhyldluhekvaxyovdkve@aws-1-sa-east-1.pooler.supabase.com:6543/postgres)"
                            }
                          }
                        },
                        "designer": {
                          "x": 1800,
                          "y": 900,
                          "name": "Insert row (msg)",
                          "messages": [
                            {
                              "message": "Module references non-existing module '25'.",
                              "category": "reference",
                              "severity": "error"
                            }
                          ]
                        },
                        "interface": [
                          {
                            "name": "rowsAffected",
                            "type": "number",
                            "label": "Affected rows"
                          }
                        ],
                        "parameters": [
                          {
                            "name": "account",
                            "type": "account:postgres",
                            "label": "Connection",
                            "required": true
                          },
                          {
                            "name": "isToManageDataInSharedTransaction",
                            "type": "boolean",
                            "label": "Manage data within the shared transaction",
                            "required": true
                          },
                          {
                            "name": "returnRows",
                            "type": "boolean",
                            "label": "Return Rows"
                          },
                          {
                            "name": "table",
                            "type": "select",
                            "label": "Table",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "table": "\"public\".\"messenger_messages\"",
                        "account": 5484562,
                        "isToManageDataInSharedTransaction": true
                      }
                    }
                  ]
                }
              ],
              "version": 1,
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 750,
                  "name": "¿Exist conv?"
                }
              }
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 450,
          "name": "¿Is this message from user?"
        }
      },
      "parameters": {
        "else": 1
      }
    }
  ],
  "name": "IITA - TikTok Messages logs",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": []
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}