snapshots/2026-02-18_produccion/8_otros/4132778_new_approved_record_ia.json
{
  "flow": [
    {
      "id": 2,
      "mapper": {},
      "module": "supabase:watchEvents",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "__IMTHOOK__": {
              "data": {
                "editable": "false"
              },
              "label": "New_approved"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 0,
          "name": "New approved"
        },
        "parameters": [
          {
            "name": "__IMTHOOK__",
            "type": "hook:supabase",
            "label": "Webhook",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTHOOK__": 1881139
      }
    },
    {
      "id": 8,
      "filter": {
        "name": "Only approved",
        "conditions": [
          [
            {
              "a": "{{2.old_record.evaluation}}",
              "b": "pending",
              "o": "text:equal"
            },
            {
              "a": "{{2.record.evaluation}}",
              "b": "approved",
              "o": "text:equal"
            },
            {
              "a": "{{2.record.evaluator_user_id}}",
              "o": "exist"
            }
          ]
        ]
      },
      "mapper": {
        "command": "SELECT\r\n  ch.id_channel_provider,\nch.name AS channel_name,\r\n  ch.address          AS channel_address,\r\n  pc.address          AS person_conversation_address\r\nFROM interactions i\r\nJOIN person_conversation pc\r\n  ON pc.id = i.id_person_conversation\r\nJOIN conversations c\r\n  ON c.id = pc.id_conversation\r\nJOIN system_conversation sc\r\n  ON sc.id_conversation = c.id\r\nJOIN channels ch\r\n  ON ch.id = sc.id_channel\r\nWHERE i.id ={{2.old_record.associated_interaction_id}}; \r\n"
      },
      "module": "postgres:Query",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "command",
            "type": "text",
            "label": "Command",
            "required": true
          }
        ],
        "restore": {
          "parameters": {
            "account": {
              "data": {
                "scoped": "true",
                "connection": "postgres"
              },
              "label": "Nico DB - Desarrollo (postgres.kacygprzxwysoijsvqdv@aws-1-us-east-2.pooler.supabase.com:5432/postgres)"
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 0,
          "name": "Search address"
        },
        "parameters": [
          {
            "name": "account",
            "type": "account:postgres",
            "label": "Connection",
            "required": true
          },
          {
            "name": "continueWhenNoRes",
            "type": "boolean",
            "label": "Continue the execution of the route even if the module returns no rows",
            "required": true
          },
          {
            "name": "isToManageDataInSharedTransaction",
            "type": "boolean",
            "label": "Manage data within the shared transaction",
            "required": true
          }
        ]
      },
      "parameters": {
        "account": 7346367,
        "continueWhenNoRes": false,
        "isToManageDataInSharedTransaction": true
      }
    },
    {
      "id": 11,
      "mapper": {
        "data": {
          "text": "{{2.record.response}}",
          "status": "pending_delivery",
          "is_user": false,
          "provider_name": "{{switch(8.id_channel_provider; 1; \"whatsapp\"; 2; \"instagram\"; 3; \"messenger\"; \"whatsapp cloud api\")}}",
          "person_address": "{{8.person_conversation_address}}",
          "channel_address": "{{8.channel_address}}"
        }
      },
      "module": "scenario-service:CallSubscenario",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "data",
            "spec": [
              {
                "name": "external_ref",
                "type": "text",
                "label": ""
              },
              {
                "name": "provider_name",
                "type": "text",
                "label": "",
                "required": true
              },
              {
                "name": "channel_address",
                "type": "text",
                "label": "",
                "required": true
              },
              {
                "name": "person_address",
                "type": "text",
                "label": ""
              },
              {
                "name": "text",
                "type": "text",
                "label": ""
              },
              {
                "name": "is_user",
                "type": "boolean",
                "label": "",
                "required": true
              },
              {
                "name": "person_name",
                "type": "text",
                "label": ""
              },
              {
                "name": "ad_id",
                "type": "text",
                "label": ""
              },
              {
                "name": "media_external_id",
                "type": "text",
                "label": ""
              },
              {
                "name": "media_extension",
                "type": "text",
                "label": ""
              },
              {
                "name": "status",
                "type": "select",
                "label": "",
                "validate": {
                  "enum": [
                    "new",
                    "preprocessed",
                    "processed",
                    "pending_delivery",
                    "sending",
                    "send"
                  ]
                }
              },
              {
                "name": "media_data",
                "type": "text",
                "label": ""
              }
            ],
            "type": "collection",
            "label": "Scenario Inputs"
          }
        ],
        "restore": {
          "expect": {
            "data": {
              "nested": {
                "status": {
                  "mode": "chose",
                  "label": "pending_delivery"
                },
                "is_user": {
                  "mode": "chose"
                }
              }
            }
          },
          "parameters": {
            "scenario": {
              "label": "Create new interaction (Dev)"
            }
          }
        },
        "designer": {
          "x": 600,
          "y": 0,
          "name": "Create pending_delivery"
        },
        "interface": [
          {
            "help": "",
            "name": "id_interaction",
            "type": "text",
            "label": "",
            "default": "",
            "required": false,
            "multiline": false
          },
          {
            "help": "",
            "name": "id_person_conversation",
            "type": "text",
            "label": "",
            "default": "",
            "required": false,
            "multiline": false
          }
        ],
        "parameters": [
          {
            "name": "scenario",
            "type": "scenario",
            "label": "Scenario",
            "required": true
          },
          {
            "name": "shouldWaitForExecutionEnd",
            "type": "boolean",
            "label": "Wait for the scenario to finish",
            "required": true
          }
        ]
      },
      "parameters": {
        "scenario": "SCN_4097381",
        "shouldWaitForExecutionEnd": true
      }
    },
    {
      "id": 13,
      "mapper": {
        "@id": "",
        "where": [
          [
            {
              "a": "associated_interaction_id",
              "b": "{{2.record.associated_interaction_id}}",
              "o": "equal"
            }
          ]
        ],
        "@score": "",
        "@feedback": "",
        "@response": "",
        "@evaluation": "",
        "@system_prompt": "",
        "@generated_interaction_id": "{{11.id_interaction}}",
        "@associated_interaction_id": ""
      },
      "module": "postgres:UpdateTable",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "@id",
            "type": "integer",
            "label": "id"
          },
          {
            "name": "@associated_interaction_id",
            "type": "integer",
            "label": "associated_interaction_id"
          },
          {
            "name": "@generated_interaction_id",
            "type": "integer",
            "label": "generated_interaction_id"
          },
          {
            "name": "@response",
            "type": "text",
            "label": "response"
          },
          {
            "name": "@system_prompt",
            "type": "text",
            "label": "system_prompt"
          },
          {
            "name": "@evaluation",
            "type": "text",
            "label": "evaluation"
          },
          {
            "name": "@feedback",
            "type": "text",
            "label": "feedback"
          },
          {
            "name": "@score",
            "type": "integer",
            "label": "score"
          },
          {
            "name": "where",
            "type": "filter",
            "label": "Filter",
            "options": {
              "store": [
                {
                  "label": "id",
                  "value": "id"
                },
                {
                  "label": "associated_interaction_id",
                  "value": "associated_interaction_id"
                },
                {
                  "label": "generated_interaction_id",
                  "value": "generated_interaction_id"
                },
                {
                  "label": "response",
                  "value": "response"
                },
                {
                  "label": "system_prompt",
                  "value": "system_prompt"
                },
                {
                  "label": "evaluation",
                  "value": "evaluation"
                },
                {
                  "label": "feedback",
                  "value": "feedback"
                },
                {
                  "label": "score",
                  "value": "score"
                }
              ],
              "operators": [
                {
                  "label": "Basic",
                  "options": [
                    {
                      "label": "Is not null",
                      "value": "exist"
                    },
                    {
                      "label": "Is null",
                      "value": "notexist"
                    },
                    {
                      "label": "Equal to",
                      "value": "equal"
                    },
                    {
                      "label": "Not equal to",
                      "value": "notequal"
                    },
                    {
                      "label": "Greater than",
                      "value": "greater"
                    },
                    {
                      "label": "Greater than or equal to",
                      "value": "greaterorequal"
                    },
                    {
                      "label": "Less than",
                      "value": "less"
                    },
                    {
                      "label": "Less than or equal to",
                      "value": "lessorequal"
                    },
                    {
                      "label": "Contains",
                      "value": "contain"
                    },
                    {
                      "label": "Does not contain",
                      "value": "notcontain"
                    },
                    {
                      "label": "Starts with",
                      "value": "startwith"
                    },
                    {
                      "label": "Does not start with",
                      "value": "notstartwith"
                    },
                    {
                      "label": "Ends with",
                      "value": "endwith"
                    },
                    {
                      "label": "Does not end with",
                      "value": "notendwith"
                    }
                  ]
                }
              ]
            }
          }
        ],
        "restore": {
          "parameters": {
            "table": {
              "label": "public.ai_interaction"
            },
            "account": {
              "data": {
                "scoped": "true",
                "connection": "postgres"
              },
              "label": "Nico DB - Desarrollo (postgres.kacygprzxwysoijsvqdv@aws-1-us-east-2.pooler.supabase.com:5432/postgres)"
            }
          }
        },
        "designer": {
          "x": 900,
          "y": 0,
          "name": "Update record ia"
        },
        "parameters": [
          {
            "name": "account",
            "type": "account:postgres",
            "label": "Connection",
            "required": true
          },
          {
            "name": "isToManageDataInSharedTransaction",
            "type": "boolean",
            "label": "Manage data within the shared transaction",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          }
        ]
      },
      "parameters": {
        "table": "\"public\".\"ai_interaction\"",
        "account": 7346367,
        "isToManageDataInSharedTransaction": true
      }
    },
    {
      "id": 19,
      "mapper": {
        "from": "share",
        "filter": [
          [
            {
              "a": "K",
              "b": "{{2.record.associated_interaction_id}}",
              "o": "text:equal"
            }
          ]
        ],
        "sheetId": "{{if(contains(8.channel_name; \"San\"); \"San Lorenzo Chico\"; \"Salta\")}}",
        "sortOrder": "asc",
        "spreadsheetId": "1z7DFdi9aLXEeU-MnG4bbkIQZz6z9N_Q0mXJeHjn5n24",
        "tableFirstRow": "A1:CZ1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "module": "google-sheets:filterRows",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "from",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share"
              ]
            }
          },
          {
            "name": "valueRenderOption",
            "type": "select",
            "label": "Value render option",
            "validate": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            }
          },
          {
            "name": "dateTimeRenderOption",
            "type": "select",
            "label": "Date and time render option",
            "validate": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          },
          {
            "name": "spreadsheetId",
            "type": "text",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "name": "from",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share"
              ]
            }
          },
          {
            "name": "valueRenderOption",
            "type": "select",
            "label": "Value render option",
            "validate": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            }
          },
          {
            "name": "dateTimeRenderOption",
            "type": "select",
            "label": "Date and time render option",
            "validate": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          },
          {
            "name": "spreadsheetId",
            "type": "text",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "tableFirstRow",
            "type": "select",
            "label": "Column range",
            "required": true,
            "validate": {
              "enum": [
                "A1:Z1",
                "A1:BZ1",
                "A1:CZ1",
                "A1:DZ1",
                "A1:MZ1",
                "A1:ZZ1",
                "A1:AZZ1",
                "A1:BZZ1",
                "A1:CZZ1",
                "A1:DZZ1",
                "A1:MZZ1",
                "A1:ZZZ1"
              ]
            }
          },
          {
            "name": "filter",
            "type": "filter",
            "label": "Filter",
            "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
          },
          {
            "name": "orderBy",
            "type": "select",
            "label": "Order by"
          },
          {
            "name": "sortOrder",
            "type": "select",
            "label": "Sort order",
            "validate": {
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "from": {
              "label": "Select from all"
            },
            "orderBy": {
              "mode": "chose",
              "label": "Empty"
            },
            "sheetId": {
              "mode": "edit"
            },
            "sortOrder": {
              "mode": "chose",
              "label": "Ascending"
            },
            "tableFirstRow": {
              "label": "A-CZ"
            },
            "includesHeaders": {
              "mode": "chose",
              "label": "Yes"
            },
            "valueRenderOption": {
              "mode": "chose",
              "label": "Formatted value"
            },
            "dateTimeRenderOption": {
              "mode": "chose",
              "label": "Formatted string"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google"
              },
              "label": "Google Drive - Prod (gonzaloaybar@fundacioninnovar.org.ar)"
            }
          }
        },
        "designer": {
          "x": 1200,
          "y": 0,
          "name": "Search row"
        },
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "__ROW_NUMBER__",
            "type": "number",
            "label": "Row number"
          },
          {
            "name": "__SPREADSHEET_ID__",
            "type": "text",
            "label": "Spreadsheet ID"
          },
          {
            "name": "__SHEET__",
            "type": "text",
            "label": "Sheet"
          },
          {
            "name": "0",
            "type": "text",
            "label": "ID (A)"
          },
          {
            "name": "1",
            "type": "text",
            "label": "Fecha y hora (B)"
          },
          {
            "name": "2",
            "type": "text",
            "label": "Canal (C)"
          },
          {
            "name": "3",
            "type": "text",
            "label": "ID Conversaci贸n (D)"
          },
          {
            "name": "4",
            "type": "text",
            "label": "Mensaje recibido (E)"
          },
          {
            "name": "5",
            "type": "text",
            "label": "ID Mensaje (F)"
          },
          {
            "name": "6",
            "type": "text",
            "label": "Respuesta generada (G)"
          },
          {
            "name": "7",
            "type": "text",
            "label": "OK (H)"
          },
          {
            "name": "8",
            "type": "text",
            "label": "Estado del env铆o (I)"
          },
          {
            "name": "9",
            "type": "text",
            "label": "Fecha y hora de salida (J)"
          },
          {
            "name": "10",
            "type": "text",
            "label": "ID DB (K)"
          },
          {
            "name": "11",
            "type": "text",
            "label": "ID Generado (L)"
          },
          {
            "name": "12",
            "type": "text",
            "label": "Evaluaci贸n (M)"
          },
          {
            "name": "13",
            "type": "text",
            "label": "Puntaje (N)"
          },
          {
            "name": "14",
            "type": "text",
            "label": "Devoluci贸n (O)"
          },
          {
            "name": "15",
            "type": "text",
            "label": "(P)"
          },
          {
            "name": "16",
            "type": "text",
            "label": "(Q)"
          },
          {
            "name": "17",
            "type": "text",
            "label": "(R)"
          },
          {
            "name": "18",
            "type": "text",
            "label": "(S)"
          },
          {
            "name": "19",
            "type": "text",
            "label": "(T)"
          },
          {
            "name": "20",
            "type": "text",
            "label": "(U)"
          },
          {
            "name": "21",
            "type": "text",
            "label": "(V)"
          },
          {
            "name": "22",
            "type": "text",
            "label": "(W)"
          },
          {
            "name": "23",
            "type": "text",
            "label": "(X)"
          },
          {
            "name": "24",
            "type": "text",
            "label": "(Y)"
          },
          {
            "name": "25",
            "type": "text",
            "label": "(Z)"
          },
          {
            "name": "26",
            "type": "text",
            "label": "(AA)"
          },
          {
            "name": "27",
            "type": "text",
            "label": "(AB)"
          },
          {
            "name": "28",
            "type": "text",
            "label": "(AC)"
          },
          {
            "name": "29",
            "type": "text",
            "label": "(AD)"
          },
          {
            "name": "30",
            "type": "text",
            "label": "(AE)"
          },
          {
            "name": "31",
            "type": "text",
            "label": "(AF)"
          },
          {
            "name": "32",
            "type": "text",
            "label": "(AG)"
          },
          {
            "name": "33",
            "type": "text",
            "label": "(AH)"
          },
          {
            "name": "34",
            "type": "text",
            "label": "(AI)"
          },
          {
            "name": "35",
            "type": "text",
            "label": "(AJ)"
          },
          {
            "name": "36",
            "type": "text",
            "label": "(AK)"
          },
          {
            "name": "37",
            "type": "text",
            "label": "(AL)"
          },
          {
            "name": "38",
            "type": "text",
            "label": "(AM)"
          },
          {
            "name": "39",
            "type": "text",
            "label": "(AN)"
          },
          {
            "name": "40",
            "type": "text",
            "label": "(AO)"
          },
          {
            "name": "41",
            "type": "text",
            "label": "(AP)"
          },
          {
            "name": "42",
            "type": "text",
            "label": "(AQ)"
          },
          {
            "name": "43",
            "type": "text",
            "label": "(AR)"
          },
          {
            "name": "44",
            "type": "text",
            "label": "(AS)"
          },
          {
            "name": "45",
            "type": "text",
            "label": "(AT)"
          },
          {
            "name": "46",
            "type": "text",
            "label": "(AU)"
          },
          {
            "name": "47",
            "type": "text",
            "label": "(AV)"
          },
          {
            "name": "48",
            "type": "text",
            "label": "(AW)"
          },
          {
            "name": "49",
            "type": "text",
            "label": "(AX)"
          },
          {
            "name": "50",
            "type": "text",
            "label": "(AY)"
          },
          {
            "name": "51",
            "type": "text",
            "label": "(AZ)"
          },
          {
            "name": "52",
            "type": "text",
            "label": "(BA)"
          },
          {
            "name": "53",
            "type": "text",
            "label": "(BB)"
          },
          {
            "name": "54",
            "type": "text",
            "label": "(BC)"
          },
          {
            "name": "55",
            "type": "text",
            "label": "(BD)"
          },
          {
            "name": "56",
            "type": "text",
            "label": "(BE)"
          },
          {
            "name": "57",
            "type": "text",
            "label": "(BF)"
          },
          {
            "name": "58",
            "type": "text",
            "label": "(BG)"
          },
          {
            "name": "59",
            "type": "text",
            "label": "(BH)"
          },
          {
            "name": "60",
            "type": "text",
            "label": "(BI)"
          },
          {
            "name": "61",
            "type": "text",
            "label": "(BJ)"
          },
          {
            "name": "62",
            "type": "text",
            "label": "(BK)"
          },
          {
            "name": "63",
            "type": "text",
            "label": "(BL)"
          },
          {
            "name": "64",
            "type": "text",
            "label": "(BM)"
          },
          {
            "name": "65",
            "type": "text",
            "label": "(BN)"
          },
          {
            "name": "66",
            "type": "text",
            "label": "(BO)"
          },
          {
            "name": "67",
            "type": "text",
            "label": "(BP)"
          },
          {
            "name": "68",
            "type": "text",
            "label": "(BQ)"
          },
          {
            "name": "69",
            "type": "text",
            "label": "(BR)"
          },
          {
            "name": "70",
            "type": "text",
            "label": "(BS)"
          },
          {
            "name": "71",
            "type": "text",
            "label": "(BT)"
          },
          {
            "name": "72",
            "type": "text",
            "label": "(BU)"
          },
          {
            "name": "73",
            "type": "text",
            "label": "(BV)"
          },
          {
            "name": "74",
            "type": "text",
            "label": "(BW)"
          },
          {
            "name": "75",
            "type": "text",
            "label": "(BX)"
          },
          {
            "name": "76",
            "type": "text",
            "label": "(BY)"
          },
          {
            "name": "77",
            "type": "text",
            "label": "(BZ)"
          },
          {
            "name": "78",
            "type": "text",
            "label": "(CA)"
          },
          {
            "name": "79",
            "type": "text",
            "label": "(CB)"
          },
          {
            "name": "80",
            "type": "text",
            "label": "(CC)"
          },
          {
            "name": "81",
            "type": "text",
            "label": "(CD)"
          },
          {
            "name": "82",
            "type": "text",
            "label": "(CE)"
          },
          {
            "name": "83",
            "type": "text",
            "label": "(CF)"
          },
          {
            "name": "84",
            "type": "text",
            "label": "(CG)"
          },
          {
            "name": "85",
            "type": "text",
            "label": "(CH)"
          },
          {
            "name": "86",
            "type": "text",
            "label": "(CI)"
          },
          {
            "name": "87",
            "type": "text",
            "label": "(CJ)"
          },
          {
            "name": "88",
            "type": "text",
            "label": "(CK)"
          },
          {
            "name": "89",
            "type": "text",
            "label": "(CL)"
          },
          {
            "name": "90",
            "type": "text",
            "label": "(CM)"
          },
          {
            "name": "91",
            "type": "text",
            "label": "(CN)"
          },
          {
            "name": "92",
            "type": "text",
            "label": "(CO)"
          },
          {
            "name": "93",
            "type": "text",
            "label": "(CP)"
          },
          {
            "name": "94",
            "type": "text",
            "label": "(CQ)"
          },
          {
            "name": "95",
            "type": "text",
            "label": "(CR)"
          },
          {
            "name": "96",
            "type": "text",
            "label": "(CS)"
          },
          {
            "name": "97",
            "type": "text",
            "label": "(CT)"
          },
          {
            "name": "98",
            "type": "text",
            "label": "(CU)"
          },
          {
            "name": "99",
            "type": "text",
            "label": "(CV)"
          },
          {
            "name": "100",
            "type": "text",
            "label": "(CW)"
          },
          {
            "name": "101",
            "type": "text",
            "label": "(CX)"
          },
          {
            "name": "102",
            "type": "text",
            "label": "(CY)"
          },
          {
            "name": "103",
            "type": "text",
            "label": "(CZ)"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 5710354
      }
    },
    {
      "id": 20,
      "mapper": {
        "mode": "fromAll",
        "values": {
          "8": "Pendiente",
          "11": "{{11.id_interaction}}"
        },
        "sheetId": "{{19.`__SHEET__`}}",
        "rowNumber": "{{19.`__ROW_NUMBER__`}}",
        "spreadsheetId": "1z7DFdi9aLXEeU-MnG4bbkIQZz6z9N_Q0mXJeHjn5n24",
        "includesHeaders": true,
        "valueInputOption": "USER_ENTERED"
      },
      "module": "google-sheets:updateRow",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "mode",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "select",
                "fromAll",
                "map"
              ]
            }
          },
          {
            "name": "valueInputOption",
            "type": "select",
            "label": "Value input option",
            "validate": {
              "enum": [
                "USER_ENTERED",
                "RAW"
              ]
            }
          },
          {
            "name": "spreadsheetId",
            "type": "text",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "mode": "edit",
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "rowNumber",
            "type": "uinteger",
            "label": "Row number",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "values",
            "spec": [
              {
                "name": "0",
                "type": "text",
                "label": "ID (A)"
              },
              {
                "name": "1",
                "type": "text",
                "label": "Fecha y hora (B)"
              },
              {
                "name": "2",
                "type": "text",
                "label": "Canal (C)"
              },
              {
                "name": "3",
                "type": "text",
                "label": "ID Conversaci贸n (D)"
              },
              {
                "name": "4",
                "type": "text",
                "label": "Mensaje recibido (E)"
              },
              {
                "name": "5",
                "type": "text",
                "label": "ID Mensaje (F)"
              },
              {
                "name": "6",
                "type": "text",
                "label": "Respuesta generada (G)"
              },
              {
                "name": "7",
                "type": "text",
                "label": "OK (H)"
              },
              {
                "name": "8",
                "type": "text",
                "label": "Estado del env铆o (I)"
              },
              {
                "name": "9",
                "type": "text",
                "label": "Fecha y hora de salida (J)"
              },
              {
                "name": "10",
                "type": "text",
                "label": "ID DB (K)"
              },
              {
                "name": "11",
                "type": "text",
                "label": "ID generado (L)"
              },
              {
                "name": "12",
                "type": "text",
                "label": "Evaluaci贸n (M)"
              },
              {
                "name": "13",
                "type": "text",
                "label": "Puntaje (N)"
              },
              {
                "name": "14",
                "type": "text",
                "label": "Devoluci贸n (O)"
              },
              {
                "name": "15",
                "type": "text",
                "label": "(P)"
              },
              {
                "name": "16",
                "type": "text",
                "label": "(Q)"
              },
              {
                "name": "17",
                "type": "text",
                "label": "(R)"
              },
              {
                "name": "18",
                "type": "text",
                "label": "(S)"
              },
              {
                "name": "19",
                "type": "text",
                "label": "(T)"
              },
              {
                "name": "20",
                "type": "text",
                "label": "(U)"
              },
              {
                "name": "21",
                "type": "text",
                "label": "(V)"
              },
              {
                "name": "22",
                "type": "text",
                "label": "(W)"
              },
              {
                "name": "23",
                "type": "text",
                "label": "(X)"
              },
              {
                "name": "24",
                "type": "text",
                "label": "(Y)"
              },
              {
                "name": "25",
                "type": "text",
                "label": "(Z)"
              },
              {
                "name": "26",
                "type": "text",
                "label": "(AA)"
              }
            ],
            "type": "collection",
            "label": "Values"
          }
        ],
        "restore": {
          "expect": {
            "mode": {
              "label": "Select from all"
            },
            "sheetId": {
              "mode": "edit"
            },
            "includesHeaders": {
              "label": "Yes",
              "nested": [
                {
                  "name": "values",
                  "spec": [
                    {
                      "name": "0",
                      "type": "text",
                      "label": "ID (A)"
                    },
                    {
                      "name": "1",
                      "type": "text",
                      "label": "Fecha y hora (B)"
                    },
                    {
                      "name": "2",
                      "type": "text",
                      "label": "Canal (C)"
                    },
                    {
                      "name": "3",
                      "type": "text",
                      "label": "ID Conversaci贸n (D)"
                    },
                    {
                      "name": "4",
                      "type": "text",
                      "label": "Mensaje recibido (E)"
                    },
                    {
                      "name": "5",
                      "type": "text",
                      "label": "ID Mensaje (F)"
                    },
                    {
                      "name": "6",
                      "type": "text",
                      "label": "Respuesta generada (G)"
                    },
                    {
                      "name": "7",
                      "type": "text",
                      "label": "OK (H)"
                    },
                    {
                      "name": "8",
                      "type": "text",
                      "label": "Estado del env铆o (I)"
                    },
                    {
                      "name": "9",
                      "type": "text",
                      "label": "Fecha y hora de salida (J)"
                    },
                    {
                      "name": "10",
                      "type": "text",
                      "label": "ID DB (K)"
                    },
                    {
                      "name": "11",
                      "type": "text",
                      "label": "ID generado (L)"
                    },
                    {
                      "name": "12",
                      "type": "text",
                      "label": "Evaluaci贸n (M)"
                    },
                    {
                      "name": "13",
                      "type": "text",
                      "label": "Puntaje (N)"
                    },
                    {
                      "name": "14",
                      "type": "text",
                      "label": "Devoluci贸n (O)"
                    },
                    {
                      "name": "15",
                      "type": "text",
                      "label": "(P)"
                    },
                    {
                      "name": "16",
                      "type": "text",
                      "label": "(Q)"
                    },
                    {
                      "name": "17",
                      "type": "text",
                      "label": "(R)"
                    },
                    {
                      "name": "18",
                      "type": "text",
                      "label": "(S)"
                    },
                    {
                      "name": "19",
                      "type": "text",
                      "label": "(T)"
                    },
                    {
                      "name": "20",
                      "type": "text",
                      "label": "(U)"
                    },
                    {
                      "name": "21",
                      "type": "text",
                      "label": "(V)"
                    },
                    {
                      "name": "22",
                      "type": "text",
                      "label": "(W)"
                    },
                    {
                      "name": "23",
                      "type": "text",
                      "label": "(X)"
                    },
                    {
                      "name": "24",
                      "type": "text",
                      "label": "(Y)"
                    },
                    {
                      "name": "25",
                      "type": "text",
                      "label": "(Z)"
                    },
                    {
                      "name": "26",
                      "type": "text",
                      "label": "(AA)"
                    }
                  ],
                  "type": "collection",
                  "label": "Values"
                }
              ]
            },
            "valueInputOption": {
              "mode": "chose",
              "label": "User entered"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google"
              },
              "label": "Google Drive - Prod (gonzaloaybar@fundacioninnovar.org.ar)"
            }
          }
        },
        "designer": {
          "x": 1500,
          "y": 0,
          "name": "Pending"
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 5710354
      }
    }
  ],
  "name": "New approved record IA",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "2": {
          "type": "UPDATE",
          "table": "ai_interaction",
          "record": {
            "id": 10,
            "score": null,
            "feedback": null,
            "response": "Perfecto  Ya con eso te confirmo todo.\n\nPara pasarte el **costo oficial (inscripci贸n + cuota)** y ...",
            "evaluation": "approved",
            "system_prompt": "Role and objective\r\nYour name is Ana. You and course seller for IITA (Instituto de Innovaci贸n y Tecn...",
            "evaluator_user_id": null,
            "generated_interaction_id": null,
            "associated_interaction_id": 7
          },
          "schema": "public",
          "old_record": {
            "id": 10,
            "score": null,
            "feedback": null,
            "response": "Perfecto  Ya con eso te confirmo todo.\n\nPara pasarte el **costo oficial (inscripci贸n + cuota)** y ...",
            "evaluation": "pending",
            "system_prompt": "Role and objective\r\nYour name is Ana. You and course seller for IITA (Instituto de Innovaci贸n y Tecn...",
            "evaluator_user_id": null,
            "generated_interaction_id": null,
            "associated_interaction_id": 7
          }
        },
        "8": {
          "channel_name": "IITA 3D",
          "channel_address": "5493875809318",
          "id_channel_provider": 1,
          "person_conversation_address": "5493874545078"
        },
        "19": {
          "0": "5493875809318",
          "1": "13-02-2026 12:51",
          "2": "Whatsapp",
          "3": "5493874545078",
          "4": "- user (2026-02-13 12:51:01.031):\n    [texto del mensaje]: *Buenos d铆as, mensaje de prueba*\n",
          "5": "wamid.HBgNNTQ5Mzg3NDU0NTA3OBUCABIYIEFDNEJDMjc1N0UzRjJENDdCRDk5NTQ1MUIyMDg0OUU0AA==",
          "6": "隆Buenos d铆as! Soy Ana, asesora de cursos en IITA   \n驴Este mensaje de prueba es para pedir info de ...",
          "7": "FALSE",
          "8": "",
          "9": "",
          "10": "10",
          "__SHEET__": "Salta",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 1,
          "__ROW_NUMBER__": 45,
          "__SPREADSHEET_ID__": "1z7DFdi9aLXEeU-MnG4bbkIQZz6z9N_Q0mXJeHjn5n24"
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}