automations/make-scenarios/snapshots/2026-02-21_produccion/8_otros/3522196_flujo_de_reuniones_-_admin._de_enlaces.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {},
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "IITA (Flujo de reuniones) - Admin. de Formularios"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 0
        },
        "interface": [
          {
            "name": "a",
            "type": "text"
          }
        ],
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ]
      },
      "parameters": {
        "hook": 1585782,
        "maxResults": 1
      }
    },
    {
      "id": 2,
      "mapper": {
        "formId": "{{1.forms_id}}"
      },
      "module": "google-forms:listResponses",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "formId",
            "type": "text",
            "label": "Form ID",
            "required": true
          },
          {
            "name": "since",
            "type": "date",
            "label": "Since"
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          },
          {
            "name": "formId",
            "type": "text",
            "label": "Form ID",
            "required": true
          },
          {
            "name": "since",
            "type": "date",
            "label": "Since"
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          }
        ],
        "restore": {
          "expect": {
            "limit": {
              "empty": true
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google"
              },
              "label": "Google Sheets (Gerardo - FUNDACIÓN INNOVAR) (guribururomero@fundacioninnovar.org.ar)"
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 0
        },
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "formId",
            "type": "text",
            "label": "Form ID"
          },
          {
            "name": "responseId",
            "type": "text",
            "label": "Response ID"
          },
          {
            "name": "createTime",
            "type": "date",
            "label": "Create Time"
          },
          {
            "name": "lastSubmittedTime",
            "type": "date",
            "label": "Last Submitted Time"
          },
          {
            "name": "respondentEmail",
            "type": "text",
            "label": "Respondent Email"
          },
          {
            "name": "answers",
            "spec": [
              {
                "name": "33df7bf1",
                "spec": [
                  {
                    "name": "questionId",
                    "type": "text",
                    "label": "Question ID"
                  },
                  {
                    "name": "grade",
                    "spec": [
                      {
                        "name": "score",
                        "type": "number",
                        "label": "Score"
                      },
                      {
                        "name": "correct",
                        "type": "boolean",
                        "label": "Correct"
                      },
                      {
                        "name": "feedback",
                        "spec": [
                          {
                            "name": "text",
                            "type": "text",
                            "label": "Text"
                          },
                          {
                            "name": "material",
                            "spec": [
                              {
                                "name": "link",
                                "spec": [
                                  {
                                    "name": "uri",
                                    "type": "text",
                                    "label": "URI"
                                  },
                                  {
                                    "name": "displayText",
                                    "type": "text",
                                    "label": "Display Text"
                                  }
                                ],
                                "type": "collection",
                                "label": "Link"
                              },
                              {
                                "name": "video",
                                "spec": [
                                  {
                                    "name": "youtubeUri",
                                    "type": "text",
                                    "label": "Youtube URI"
                                  },
                                  {
                                    "name": "displayText",
                                    "type": "text",
                                    "label": "Display Text"
                                  }
                                ],
                                "type": "collection",
                                "label": "Video"
                              }
                            ],
                            "type": "array",
                            "label": "Material"
                          },
                          {
                            "name": "textAnswers",
                            "spec": [
                              {
                                "name": "answers",
                                "spec": [
                                  {
                                    "name": "value",
                                    "type": "text",
                                    "label": "value"
                                  }
                                ],
                                "type": "array",
                                "label": "Answers"
                              }
                            ],
                            "type": "collection",
                            "label": "Text Answers"
                          },
                          {
                            "name": "fileUploadAnswers",
                            "spec": [
                              {
                                "name": "answers",
                                "spec": [
                                  {
                                    "name": "fileId",
                                    "type": "text",
                                    "label": "File ID"
                                  },
                                  {
                                    "name": "fileName",
                                    "type": "text",
                                    "label": "File Name"
                                  },
                                  {
                                    "name": "mimeType",
                                    "type": "text",
                                    "label": "MIME Type"
                                  }
                                ],
                                "type": "array",
                                "label": "Answers"
                              }
                            ],
                            "type": "collection",
                            "label": "File Upload Answers"
                          }
                        ],
                        "type": "collection",
                        "label": "Feedback"
                      }
                    ],
                    "type": "collection",
                    "label": "Grade"
                  }
                ],
                "type": "collection",
                "label": "Correo Eletrónico"
              },
              {
                "name": "32daad41",
                "spec": [
                  {
                    "name": "questionId",
                    "type": "text",
                    "label": "Question ID"
                  },
                  {
                    "name": "grade",
                    "spec": [
                      {
                        "name": "score",
                        "type": "number",
                        "label": "Score"
                      },
                      {
                        "name": "correct",
                        "type": "boolean",
                        "label": "Correct"
                      },
                      {
                        "name": "feedback",
                        "spec": [
                          {
                            "name": "text",
                            "type": "text",
                            "label": "Text"
                          },
                          {
                            "name": "material",
                            "spec": [
                              {
                                "name": "link",
                                "spec": [
                                  {
                                    "name": "uri",
                                    "type": "text",
                                    "label": "URI"
                                  },
                                  {
                                    "name": "displayText",
                                    "type": "text",
                                    "label": "Display Text"
                                  }
                                ],
                                "type": "collection",
                                "label": "Link"
                              },
                              {
                                "name": "video",
                                "spec": [
                                  {
                                    "name": "youtubeUri",
                                    "type": "text",
                                    "label": "Youtube URI"
                                  },
                                  {
                                    "name": "displayText",
                                    "type": "text",
                                    "label": "Display Text"
                                  }
                                ],
                                "type": "collection",
                                "label": "Video"
                              }
                            ],
                            "type": "array",
                            "label": "Material"
                          },
                          {
                            "name": "textAnswers",
                            "spec": [
                              {
                                "name": "answers",
                                "spec": [
                                  {
                                    "name": "value",
                                    "type": "text",
                                    "label": "value"
                                  }
                                ],
                                "type": "array",
                                "label": "Answers"
                              }
                            ],
                            "type": "collection",
                            "label": "Text Answers"
                          },
                          {
                            "name": "fileUploadAnswers",
                            "spec": [
                              {
                                "name": "answers",
                                "spec": [
                                  {
                                    "name": "fileId",
                                    "type": "text",
                                    "label": "File ID"
                                  },
                                  {
                                    "name": "fileName",
                                    "type": "text",
                                    "label": "File Name"
                                  },
                                  {
                                    "name": "mimeType",
                                    "type": "text",
                                    "label": "MIME Type"
                                  }
                                ],
                                "type": "array",
                                "label": "Answers"
                              }
                            ],
                            "type": "collection",
                            "label": "File Upload Answers"
                          }
                        ],
                        "type": "collection",
                        "label": "Feedback"
                      }
                    ],
                    "type": "collection",
                    "label": "Grade"
                  }
                ],
                "type": "collection",
                "label": "Nombre y Apellido"
              }
            ],
            "type": "collection",
            "label": "Answers"
          },
          {
            "name": "totalScore",
            "type": "number",
            "label": "Total Score"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 6281682
      }
    },
    {
      "id": 3,
      "mapper": {
        "from": "share",
        "filter": [
          [
            {
              "a": "G",
              "b": "{{1.forms_id}}",
              "o": "text:equal"
            }
          ]
        ],
        "sheetId": "Reuniones virtuales",
        "sortOrder": "asc",
        "spreadsheetId": "1SeOnMeet8Q8Q6L3q4attHXhNppxE_e8vbJhhG_ghZlg",
        "tableFirstRow": "A1:CZ1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "module": "google-sheets:filterRows",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "from",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share"
              ]
            }
          },
          {
            "name": "valueRenderOption",
            "type": "select",
            "label": "Value render option",
            "validate": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            }
          },
          {
            "name": "dateTimeRenderOption",
            "type": "select",
            "label": "Date and time render option",
            "validate": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          },
          {
            "name": "spreadsheetId",
            "type": "text",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "tableFirstRow",
            "type": "select",
            "label": "Column range",
            "required": true,
            "validate": {
              "enum": [
                "A1:Z1",
                "A1:BZ1",
                "A1:CZ1",
                "A1:DZ1",
                "A1:MZ1",
                "A1:ZZ1",
                "A1:AZZ1",
                "A1:BZZ1",
                "A1:CZZ1",
                "A1:DZZ1",
                "A1:MZZ1",
                "A1:ZZZ1"
              ]
            }
          },
          {
            "name": "filter",
            "type": "filter",
            "label": "Filter",
            "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
          },
          {
            "name": "orderBy",
            "type": "select",
            "label": "Order by"
          },
          {
            "name": "sortOrder",
            "type": "select",
            "label": "Sort order",
            "validate": {
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "from": {
              "label": "Select from all"
            },
            "orderBy": {
              "mode": "chose"
            },
            "sheetId": {
              "mode": "chose",
              "label": "Reuniones virtuales"
            },
            "sortOrder": {
              "mode": "chose",
              "label": "Ascending"
            },
            "tableFirstRow": {
              "label": "A-CZ"
            },
            "includesHeaders": {
              "mode": "chose",
              "label": "Yes"
            },
            "valueRenderOption": {
              "mode": "chose",
              "label": "Formatted value"
            },
            "dateTimeRenderOption": {
              "mode": "chose",
              "label": "Formatted string"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google"
              },
              "label": "Google Sheets (Gerardo - FUNDACIÓN INNOVAR) (guribururomero@fundacioninnovar.org.ar)"
            }
          }
        },
        "designer": {
          "x": 600,
          "y": 0
        },
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "__ROW_NUMBER__",
            "type": "number",
            "label": "Row number"
          },
          {
            "name": "__SPREADSHEET_ID__",
            "type": "text",
            "label": "Spreadsheet ID"
          },
          {
            "name": "__SHEET__",
            "type": "text",
            "label": "Sheet"
          },
          {
            "name": "0",
            "type": "text",
            "label": "ID (A)"
          },
          {
            "name": "1",
            "type": "text",
            "label": "Fecha (B)"
          },
          {
            "name": "2",
            "type": "text",
            "label": "Hora (C)"
          },
          {
            "name": "3",
            "type": "text",
            "label": "Edición de curso (D)"
          },
          {
            "name": "4",
            "type": "text",
            "label": "Duración (minutos) (E)"
          },
          {
            "name": "5",
            "type": "text",
            "label": "Link de la reunión (F)"
          },
          {
            "name": "6",
            "type": "text",
            "label": "id_forms_asociado (G)"
          },
          {
            "name": "7",
            "type": "text",
            "label": "(H)"
          },
          {
            "name": "8",
            "type": "text",
            "label": "(I)"
          },
          {
            "name": "9",
            "type": "text",
            "label": "(J)"
          },
          {
            "name": "10",
            "type": "text",
            "label": "(K)"
          },
          {
            "name": "11",
            "type": "text",
            "label": "(L)"
          },
          {
            "name": "12",
            "type": "text",
            "label": "(M)"
          },
          {
            "name": "13",
            "type": "text",
            "label": "(N)"
          },
          {
            "name": "14",
            "type": "text",
            "label": "(O)"
          },
          {
            "name": "15",
            "type": "text",
            "label": "(P)"
          },
          {
            "name": "16",
            "type": "text",
            "label": "(Q)"
          },
          {
            "name": "17",
            "type": "text",
            "label": "(R)"
          },
          {
            "name": "18",
            "type": "text",
            "label": "(S)"
          },
          {
            "name": "19",
            "type": "text",
            "label": "(T)"
          },
          {
            "name": "20",
            "type": "text",
            "label": "(U)"
          },
          {
            "name": "21",
            "type": "text",
            "label": "(V)"
          },
          {
            "name": "22",
            "type": "text",
            "label": "(W)"
          },
          {
            "name": "23",
            "type": "text",
            "label": "(X)"
          },
          {
            "name": "24",
            "type": "text",
            "label": "(Y)"
          },
          {
            "name": "25",
            "type": "text",
            "label": "(Z)"
          },
          {
            "name": "26",
            "type": "text",
            "label": "(AA)"
          },
          {
            "name": "27",
            "type": "text",
            "label": "(AB)"
          },
          {
            "name": "28",
            "type": "text",
            "label": "(AC)"
          },
          {
            "name": "29",
            "type": "text",
            "label": "(AD)"
          },
          {
            "name": "30",
            "type": "text",
            "label": "(AE)"
          },
          {
            "name": "31",
            "type": "text",
            "label": "(AF)"
          },
          {
            "name": "32",
            "type": "text",
            "label": "(AG)"
          },
          {
            "name": "33",
            "type": "text",
            "label": "(AH)"
          },
          {
            "name": "34",
            "type": "text",
            "label": "(AI)"
          },
          {
            "name": "35",
            "type": "text",
            "label": "(AJ)"
          },
          {
            "name": "36",
            "type": "text",
            "label": "(AK)"
          },
          {
            "name": "37",
            "type": "text",
            "label": "(AL)"
          },
          {
            "name": "38",
            "type": "text",
            "label": "(AM)"
          },
          {
            "name": "39",
            "type": "text",
            "label": "(AN)"
          },
          {
            "name": "40",
            "type": "text",
            "label": "(AO)"
          },
          {
            "name": "41",
            "type": "text",
            "label": "(AP)"
          },
          {
            "name": "42",
            "type": "text",
            "label": "(AQ)"
          },
          {
            "name": "43",
            "type": "text",
            "label": "(AR)"
          },
          {
            "name": "44",
            "type": "text",
            "label": "(AS)"
          },
          {
            "name": "45",
            "type": "text",
            "label": "(AT)"
          },
          {
            "name": "46",
            "type": "text",
            "label": "(AU)"
          },
          {
            "name": "47",
            "type": "text",
            "label": "(AV)"
          },
          {
            "name": "48",
            "type": "text",
            "label": "(AW)"
          },
          {
            "name": "49",
            "type": "text",
            "label": "(AX)"
          },
          {
            "name": "50",
            "type": "text",
            "label": "(AY)"
          },
          {
            "name": "51",
            "type": "text",
            "label": "(AZ)"
          },
          {
            "name": "52",
            "type": "text",
            "label": "(BA)"
          },
          {
            "name": "53",
            "type": "text",
            "label": "(BB)"
          },
          {
            "name": "54",
            "type": "text",
            "label": "(BC)"
          },
          {
            "name": "55",
            "type": "text",
            "label": "(BD)"
          },
          {
            "name": "56",
            "type": "text",
            "label": "(BE)"
          },
          {
            "name": "57",
            "type": "text",
            "label": "(BF)"
          },
          {
            "name": "58",
            "type": "text",
            "label": "(BG)"
          },
          {
            "name": "59",
            "type": "text",
            "label": "(BH)"
          },
          {
            "name": "60",
            "type": "text",
            "label": "(BI)"
          },
          {
            "name": "61",
            "type": "text",
            "label": "(BJ)"
          },
          {
            "name": "62",
            "type": "text",
            "label": "(BK)"
          },
          {
            "name": "63",
            "type": "text",
            "label": "(BL)"
          },
          {
            "name": "64",
            "type": "text",
            "label": "(BM)"
          },
          {
            "name": "65",
            "type": "text",
            "label": "(BN)"
          },
          {
            "name": "66",
            "type": "text",
            "label": "(BO)"
          },
          {
            "name": "67",
            "type": "text",
            "label": "(BP)"
          },
          {
            "name": "68",
            "type": "text",
            "label": "(BQ)"
          },
          {
            "name": "69",
            "type": "text",
            "label": "(BR)"
          },
          {
            "name": "70",
            "type": "text",
            "label": "(BS)"
          },
          {
            "name": "71",
            "type": "text",
            "label": "(BT)"
          },
          {
            "name": "72",
            "type": "text",
            "label": "(BU)"
          },
          {
            "name": "73",
            "type": "text",
            "label": "(BV)"
          },
          {
            "name": "74",
            "type": "text",
            "label": "(BW)"
          },
          {
            "name": "75",
            "type": "text",
            "label": "(BX)"
          },
          {
            "name": "76",
            "type": "text",
            "label": "(BY)"
          },
          {
            "name": "77",
            "type": "text",
            "label": "(BZ)"
          },
          {
            "name": "78",
            "type": "text",
            "label": "(CA)"
          },
          {
            "name": "79",
            "type": "text",
            "label": "(CB)"
          },
          {
            "name": "80",
            "type": "text",
            "label": "(CC)"
          },
          {
            "name": "81",
            "type": "text",
            "label": "(CD)"
          },
          {
            "name": "82",
            "type": "text",
            "label": "(CE)"
          },
          {
            "name": "83",
            "type": "text",
            "label": "(CF)"
          },
          {
            "name": "84",
            "type": "text",
            "label": "(CG)"
          },
          {
            "name": "85",
            "type": "text",
            "label": "(CH)"
          },
          {
            "name": "86",
            "type": "text",
            "label": "(CI)"
          },
          {
            "name": "87",
            "type": "text",
            "label": "(CJ)"
          },
          {
            "name": "88",
            "type": "text",
            "label": "(CK)"
          },
          {
            "name": "89",
            "type": "text",
            "label": "(CL)"
          },
          {
            "name": "90",
            "type": "text",
            "label": "(CM)"
          },
          {
            "name": "91",
            "type": "text",
            "label": "(CN)"
          },
          {
            "name": "92",
            "type": "text",
            "label": "(CO)"
          },
          {
            "name": "93",
            "type": "text",
            "label": "(CP)"
          },
          {
            "name": "94",
            "type": "text",
            "label": "(CQ)"
          },
          {
            "name": "95",
            "type": "text",
            "label": "(CR)"
          },
          {
            "name": "96",
            "type": "text",
            "label": "(CS)"
          },
          {
            "name": "97",
            "type": "text",
            "label": "(CT)"
          },
          {
            "name": "98",
            "type": "text",
            "label": "(CU)"
          },
          {
            "name": "99",
            "type": "text",
            "label": "(CV)"
          },
          {
            "name": "100",
            "type": "text",
            "label": "(CW)"
          },
          {
            "name": "101",
            "type": "text",
            "label": "(CX)"
          },
          {
            "name": "102",
            "type": "text",
            "label": "(CY)"
          },
          {
            "name": "103",
            "type": "text",
            "label": "(CZ)"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 6281682
      }
    },
    {
      "id": 4,
      "mapper": {
        "to": [
          "{{2.answers.`00000001`.textAnswers.answers[].value}}"
        ],
        "subject": "Enlace de Zoom para el curso",
        "bodyType": "collection",
        "contents": [
          {
            "text": "Estimado, para ingresar a la clase del día de hoy correspondiente al dictado de su curso, deberá ingresar al siguiente enlace: <br>\n{{3.`5`}}",
            "image": {}
          }
        ]
      },
      "module": "google-email:sendAnEmail",
      "version": 4,
      "metadata": {
        "expect": [
          {
            "name": "to",
            "spec": {
              "name": "value",
              "type": "email",
              "label": "Recipient email address",
              "required": true,
              "validate": false
            },
            "type": "array",
            "label": "To",
            "required": true
          },
          {
            "name": "subject",
            "type": "text",
            "label": "Subject"
          },
          {
            "name": "bodyType",
            "type": "select",
            "label": "Body type",
            "required": true,
            "validate": {
              "enum": [
                "rawHtml",
                "collection"
              ]
            }
          },
          {
            "name": "attachments",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "filename",
                  "type": "filename",
                  "label": "File name",
                  "required": true,
                  "semantic": "file:name"
                },
                {
                  "name": "data",
                  "type": "buffer",
                  "label": "Data",
                  "required": true,
                  "semantic": "file:data"
                }
              ],
              "type": "collection",
              "label": "Attachment"
            },
            "type": "array",
            "label": "Attachments"
          },
          {
            "name": "from",
            "type": "select",
            "label": "From"
          },
          {
            "name": "cc",
            "spec": {
              "name": "value",
              "type": "email",
              "label": "Recipient email address",
              "required": true
            },
            "type": "array",
            "label": "CC recipients"
          },
          {
            "name": "bcc",
            "spec": {
              "name": "value",
              "type": "email",
              "label": "Recipient email address",
              "required": true
            },
            "type": "array",
            "label": "BCC recipients"
          },
          {
            "name": "emailHeaders",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "key",
                  "type": "text",
                  "label": "Key",
                  "required": true
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "collection",
              "label": "Email header"
            },
            "type": "array",
            "label": "Additional email headers"
          },
          {
            "name": "contents",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "text",
                  "type": "text",
                  "label": "Text"
                },
                {
                  "name": "image",
                  "spec": [
                    {
                      "name": "filename",
                      "type": "filename",
                      "label": "File name",
                      "semantic": "file:name"
                    },
                    {
                      "name": "data",
                      "type": "buffer",
                      "label": "Data",
                      "semantic": "file:data"
                    },
                    {
                      "name": "width",
                      "type": "uinteger",
                      "label": "Width"
                    },
                    {
                      "name": "height",
                      "type": "uinteger",
                      "label": "Height"
                    }
                  ],
                  "type": "collection",
                  "label": "Image"
                }
              ],
              "type": "collection",
              "label": "Content"
            },
            "type": "array",
            "label": "Body contents"
          },
          {
            "name": "signature",
            "type": "select",
            "label": "Signature content"
          }
        ],
        "restore": {
          "expect": {
            "cc": {
              "mode": "chose"
            },
            "to": {
              "mode": "chose",
              "items": [
                null
              ]
            },
            "bcc": {
              "mode": "chose"
            },
            "from": {
              "mode": "chose"
            },
            "bodyType": {
              "label": "Collection of contents (text, images, etc.)"
            },
            "contents": {
              "mode": "chose",
              "items": [
                null
              ]
            },
            "signature": {
              "mode": "chose"
            },
            "attachments": {
              "mode": "chose"
            },
            "emailHeaders": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google-email"
              },
              "label": "Gerardo (FUNDACIÓN INNOVAR) (guribururomero@fundacioninnovar.org.ar)"
            }
          }
        },
        "designer": {
          "x": 900,
          "y": 0
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google-email",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 6316658
      }
    }
  ],
  "name": "Flujo de Reuniones - Admin. de Enlaces",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "1": {
          "forms_id": "1KTHTrVc9OfC0JQd6ppJuoAqpnK75IirCLTdcywf2X5U"
        },
        "2": {
          "answers": {
            "00000001": {
              "questionId": "00000001",
              "textAnswers": {
                "answers": [
                  {
                    "value": "guribururomero@gmail.com"
                  }
                ]
              }
            },
            "00000002": {
              "questionId": "00000002",
              "textAnswers": {
                "answers": [
                  {
                    "value": "Gerardo Uriburu prueba 4"
                  }
                ]
              }
            }
          },
          "createTime": "2025-11-20T15:11:12.325Z",
          "responseId": "ACYDBNg6xpsvIskMIMaQScF5QzUCHDRevPnJUnA3GWaJxIiMhwgMM8UD_gBJZT6ClncSD_4",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 1,
          "lastSubmittedTime": "2025-11-20T15:11:12.325Z"
        },
        "3": {
          "0": "1",
          "1": "20-11-2025",
          "2": "12:09",
          "3": "10",
          "4": "150",
          "5": "https://us06web.zoom.us/j/84757912897?pwd=03DUubMSgLGbfrmy2OuP6CtspE9div.1",
          "6": "1KTHTrVc9OfC0JQd6ppJuoAqpnK75IirCLTdcywf2X5U",
          "__SHEET__": "Reuniones virtuales",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 1,
          "__ROW_NUMBER__": 2,
          "__SPREADSHEET_ID__": "1SeOnMeet8Q8Q6L3q4attHXhNppxE_e8vbJhhG_ghZlg"
        },
        "4": {
          "id": "19aa1d3befb564e4",
          "labelIds": [
            "SENT"
          ],
          "threadId": "19aa1d3befb564e4",
          "sysFolders": [
            {
              "id": "SENT",
              "name": "Sent"
            }
          ]
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}