snapshots/2026-02-19_produccion/8_otros/3131595_iita_-_gmail_messages_logs_from_us.json
{
  "flow": [
    {
      "id": 4,
      "mapper": {},
      "module": "google-email:TriggerNewEmail",
      "version": 2,
      "metadata": {
        "restore": {
          "parameters": {
            "folder": {
              "path": [
                "Enviados"
              ]
            },
            "account": {
              "data": {
                "scoped": "true",
                "connection": "google-restricted"
              },
              "label": "IITA - Gmail Messages Logs (Test) (automatizaciones_iita@iita.com.ar)"
            },
            "criteria": {
              "label": "All emails"
            },
            "searchType": {
              "label": "Simple filter"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 150
        },
        "parameters": [
          {
            "name": "account",
            "type": "account:google-restricted",
            "label": "Connection",
            "required": true
          },
          {
            "name": "searchType",
            "type": "select",
            "label": "Filter type",
            "required": true,
            "validate": {
              "enum": [
                "simple",
                "gmail"
              ]
            }
          },
          {
            "name": "markSeen",
            "type": "boolean",
            "label": "Mark email message(s) as read when fetched"
          },
          {
            "name": "maxResults",
            "type": "uinteger",
            "label": "Maximum number of results",
            "required": true
          },
          {
            "name": "folder",
            "type": "folder",
            "label": "Folder",
            "required": true
          },
          {
            "name": "criteria",
            "type": "select",
            "label": "Criteria",
            "required": true,
            "validate": {
              "enum": [
                "ALL",
                "SEEN",
                "UNSEEN"
              ]
            }
          },
          {
            "name": "from",
            "type": "email",
            "label": "Sender email address"
          },
          {
            "name": "subject",
            "type": "text",
            "label": "Subject"
          },
          {
            "name": "text",
            "type": "text",
            "label": "Search phrase"
          }
        ]
      },
      "parameters": {
        "from": "",
        "text": "",
        "folder": "[Gmail]/Enviados",
        "account": 5582851,
        "subject": "",
        "criteria": "ALL",
        "markSeen": true,
        "maxResults": 10000,
        "searchType": "simple"
      }
    },
    {
      "id": 12,
      "filter": {
        "name": "Is not user",
        "conditions": []
      },
      "mapper": {
        "sort": [],
        "limit": "1",
        "where": [
          [
            {
              "a": "self_ref",
              "b": "{{4.from.address}}",
              "o": "equal"
            },
            {
              "a": "user_ref",
              "b": "{{4.to[].address}}",
              "o": "equal"
            }
          ]
        ]
      },
      "module": "postgres:SelectFromTable",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "where",
            "type": "filter",
            "label": "Filter",
            "options": {
              "store": [
                {
                  "label": "id",
                  "value": "id"
                },
                {
                  "label": "user_ref",
                  "value": "user_ref"
                },
                {
                  "label": "self_ref",
                  "value": "self_ref"
                },
                {
                  "label": "type",
                  "value": "type"
                }
              ],
              "operators": [
                {
                  "label": "Basic",
                  "options": [
                    {
                      "label": "Is not null",
                      "value": "exist"
                    },
                    {
                      "label": "Is null",
                      "value": "notexist"
                    },
                    {
                      "label": "Equal to",
                      "value": "equal"
                    },
                    {
                      "label": "Not equal to",
                      "value": "notequal"
                    },
                    {
                      "label": "Greater than",
                      "value": "greater"
                    },
                    {
                      "label": "Greater than or equal to",
                      "value": "greaterorequal"
                    },
                    {
                      "label": "Less than",
                      "value": "less"
                    },
                    {
                      "label": "Less than or equal to",
                      "value": "lessorequal"
                    },
                    {
                      "label": "Contains",
                      "value": "contain"
                    },
                    {
                      "label": "Does not contain",
                      "value": "notcontain"
                    },
                    {
                      "label": "Starts with",
                      "value": "startwith"
                    },
                    {
                      "label": "Does not start with",
                      "value": "notstartwith"
                    },
                    {
                      "label": "Ends with",
                      "value": "endwith"
                    },
                    {
                      "label": "Does not end with",
                      "value": "notendwith"
                    }
                  ]
                }
              ]
            }
          },
          {
            "name": "sort",
            "spec": [
              {
                "name": "column",
                "type": "select",
                "label": "Column",
                "dynamic": true,
                "options": [],
                "required": true
              },
              {
                "name": "order",
                "type": "select",
                "label": "Order",
                "options": [
                  {
                    "label": "Ascending",
                    "value": "asc"
                  },
                  {
                    "label": "Descending",
                    "value": "desc"
                  }
                ],
                "required": true
              }
            ],
            "type": "array",
            "label": "Sort"
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          },
          {
            "name": "where",
            "type": "filter",
            "label": "Filter",
            "options": {
              "store": [
                {
                  "label": "id",
                  "value": "id"
                },
                {
                  "label": "user_ref",
                  "value": "user_ref"
                },
                {
                  "label": "self_ref",
                  "value": "self_ref"
                },
                {
                  "label": "type",
                  "value": "type"
                }
              ],
              "operators": [
                {
                  "label": "Basic",
                  "options": [
                    {
                      "label": "Is not null",
                      "value": "exist"
                    },
                    {
                      "label": "Is null",
                      "value": "notexist"
                    },
                    {
                      "label": "Equal to",
                      "value": "equal"
                    },
                    {
                      "label": "Not equal to",
                      "value": "notequal"
                    },
                    {
                      "label": "Greater than",
                      "value": "greater"
                    },
                    {
                      "label": "Greater than or equal to",
                      "value": "greaterorequal"
                    },
                    {
                      "label": "Less than",
                      "value": "less"
                    },
                    {
                      "label": "Less than or equal to",
                      "value": "lessorequal"
                    },
                    {
                      "label": "Contains",
                      "value": "contain"
                    },
                    {
                      "label": "Does not contain",
                      "value": "notcontain"
                    },
                    {
                      "label": "Starts with",
                      "value": "startwith"
                    },
                    {
                      "label": "Does not start with",
                      "value": "notstartwith"
                    },
                    {
                      "label": "Ends with",
                      "value": "endwith"
                    },
                    {
                      "label": "Does not end with",
                      "value": "notendwith"
                    }
                  ]
                }
              ]
            }
          },
          {
            "name": "sort",
            "spec": [
              {
                "name": "column",
                "type": "select",
                "label": "Column",
                "dynamic": true,
                "options": [],
                "required": true
              },
              {
                "name": "order",
                "type": "select",
                "label": "Order",
                "options": [
                  {
                    "label": "Ascending",
                    "value": "asc"
                  },
                  {
                    "label": "Descending",
                    "value": "desc"
                  }
                ],
                "required": true
              }
            ],
            "type": "array",
            "label": "Sort"
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          }
        ],
        "restore": {
          "parameters": {
            "table": {
              "label": "public.gmail_conversations"
            },
            "account": {
              "data": {
                "scoped": "true",
                "connection": "postgres"
              },
              "label": "Flujo de reportes (Supabase) (postgres.zhyldluhekvaxyovdkve@aws-1-sa-east-1.pooler.supabase.com:6543/postgres)"
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 150,
          "name": "Search id conv"
        },
        "interface": [
          {
            "name": "id",
            "type": "integer",
            "label": "id",
            "required": false
          },
          {
            "name": "user_ref",
            "type": "text",
            "label": "user_ref",
            "required": false
          },
          {
            "name": "self_ref",
            "type": "text",
            "label": "self_ref",
            "required": false
          },
          {
            "name": "type",
            "type": "text",
            "label": "type",
            "required": false
          }
        ],
        "parameters": [
          {
            "name": "account",
            "type": "account:postgres",
            "label": "Connection",
            "required": true
          },
          {
            "name": "continueWhenNoRes",
            "type": "boolean",
            "label": "Continue the execution of the route even if the module returns no rows",
            "required": true
          },
          {
            "name": "isToManageDataInSharedTransaction",
            "type": "boolean",
            "label": "Manage data within the shared transaction",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          }
        ]
      },
      "parameters": {
        "table": "\"public\".\"gmail_conversations\"",
        "account": 5484562,
        "continueWhenNoRes": true,
        "isToManageDataInSharedTransaction": true
      }
    },
    {
      "id": 13,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 14,
              "filter": {
                "name": "Exist conv",
                "conditions": [
                  [
                    {
                      "a": "{{12.id}}",
                      "o": "exist"
                    }
                  ]
                ]
              },
              "mapper": {
                "@id": "",
                "@content": "{{4.text}}",
                "@id_conv": "{{12.id}}",
                "@is_user": "{{false}}",
                "@date_time": "{{now}}",
                "@media_url": "{{4.attachments[].contentId}}"
              },
              "module": "postgres:InsertIntoTable",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "@id",
                    "type": "integer",
                    "label": "id"
                  },
                  {
                    "name": "@id_conv",
                    "type": "integer",
                    "label": "id_conv"
                  },
                  {
                    "name": "@date_time",
                    "type": "text",
                    "label": "date_time",
                    "required": true
                  },
                  {
                    "name": "@is_user",
                    "type": "text",
                    "label": "is_user"
                  },
                  {
                    "name": "@content",
                    "type": "text",
                    "label": "content"
                  },
                  {
                    "name": "@media_url",
                    "type": "text",
                    "label": "media_url"
                  }
                ],
                "restore": {
                  "parameters": {
                    "table": {
                      "label": "public.gmail_messages"
                    },
                    "account": {
                      "data": {
                        "scoped": "true",
                        "connection": "postgres"
                      },
                      "label": "Flujo de reportes (Supabase) (postgres.zhyldluhekvaxyovdkve@aws-1-sa-east-1.pooler.supabase.com:6543/postgres)"
                    }
                  }
                },
                "designer": {
                  "x": 900,
                  "y": 0,
                  "name": "Insert row (msg)"
                },
                "interface": [
                  {
                    "name": "rowsAffected",
                    "type": "number",
                    "label": "Affected rows"
                  }
                ],
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:postgres",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "isToManageDataInSharedTransaction",
                    "type": "boolean",
                    "label": "Manage data within the shared transaction",
                    "required": true
                  },
                  {
                    "name": "returnRows",
                    "type": "boolean",
                    "label": "Return Rows"
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "table": "\"public\".\"gmail_messages\"",
                "account": 5484562,
                "isToManageDataInSharedTransaction": true
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 15,
              "filter": {
                "name": "Not exist conv",
                "conditions": [
                  [
                    {
                      "a": "{{12.id}}",
                      "o": "notexist"
                    }
                  ]
                ]
              },
              "mapper": {
                "@id": "",
                "@type": "chat",
                "@self_ref": "{{4.from.address}}",
                "@user_ref": "{{4.to[].address}}"
              },
              "module": "postgres:InsertIntoTable",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "@id",
                    "type": "integer",
                    "label": "id"
                  },
                  {
                    "name": "@user_ref",
                    "type": "text",
                    "label": "user_ref"
                  },
                  {
                    "name": "@self_ref",
                    "type": "text",
                    "label": "self_ref"
                  },
                  {
                    "name": "@type",
                    "type": "text",
                    "label": "type"
                  }
                ],
                "restore": {
                  "parameters": {
                    "table": {
                      "label": "public.gmail_conversations"
                    },
                    "account": {
                      "data": {
                        "scoped": "true",
                        "connection": "postgres"
                      },
                      "label": "Flujo de reportes (Supabase) (postgres.zhyldluhekvaxyovdkve@aws-1-sa-east-1.pooler.supabase.com:6543/postgres)"
                    }
                  }
                },
                "designer": {
                  "x": 900,
                  "y": 300,
                  "name": "Insert row (conv)"
                },
                "interface": [
                  {
                    "name": "rowsAffected",
                    "type": "number",
                    "label": "Affected rows"
                  }
                ],
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:postgres",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "isToManageDataInSharedTransaction",
                    "type": "boolean",
                    "label": "Manage data within the shared transaction",
                    "required": true
                  },
                  {
                    "name": "returnRows",
                    "type": "boolean",
                    "label": "Return Rows"
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "table": "\"public\".\"gmail_conversations\"",
                "account": 5484562,
                "isToManageDataInSharedTransaction": true
              }
            },
            {
              "id": 16,
              "mapper": {
                "sort": [],
                "limit": "1",
                "where": [
                  [
                    {
                      "a": "self_ref",
                      "b": "{{4.from.address}}",
                      "o": "equal"
                    },
                    {
                      "a": "user_ref",
                      "b": "{{4.to[].address}}",
                      "o": "equal"
                    }
                  ]
                ]
              },
              "module": "postgres:SelectFromTable",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "where",
                    "type": "filter",
                    "label": "Filter",
                    "options": {
                      "store": [
                        {
                          "label": "id",
                          "value": "id"
                        },
                        {
                          "label": "user_ref",
                          "value": "user_ref"
                        },
                        {
                          "label": "self_ref",
                          "value": "self_ref"
                        },
                        {
                          "label": "type",
                          "value": "type"
                        }
                      ],
                      "operators": [
                        {
                          "label": "Basic",
                          "options": [
                            {
                              "label": "Is not null",
                              "value": "exist"
                            },
                            {
                              "label": "Is null",
                              "value": "notexist"
                            },
                            {
                              "label": "Equal to",
                              "value": "equal"
                            },
                            {
                              "label": "Not equal to",
                              "value": "notequal"
                            },
                            {
                              "label": "Greater than",
                              "value": "greater"
                            },
                            {
                              "label": "Greater than or equal to",
                              "value": "greaterorequal"
                            },
                            {
                              "label": "Less than",
                              "value": "less"
                            },
                            {
                              "label": "Less than or equal to",
                              "value": "lessorequal"
                            },
                            {
                              "label": "Contains",
                              "value": "contain"
                            },
                            {
                              "label": "Does not contain",
                              "value": "notcontain"
                            },
                            {
                              "label": "Starts with",
                              "value": "startwith"
                            },
                            {
                              "label": "Does not start with",
                              "value": "notstartwith"
                            },
                            {
                              "label": "Ends with",
                              "value": "endwith"
                            },
                            {
                              "label": "Does not end with",
                              "value": "notendwith"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  {
                    "name": "sort",
                    "spec": [
                      {
                        "name": "column",
                        "type": "select",
                        "label": "Column",
                        "dynamic": true,
                        "options": [],
                        "required": true
                      },
                      {
                        "name": "order",
                        "type": "select",
                        "label": "Order",
                        "options": [
                          {
                            "label": "Ascending",
                            "value": "asc"
                          },
                          {
                            "label": "Descending",
                            "value": "desc"
                          }
                        ],
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Sort"
                  },
                  {
                    "name": "limit",
                    "type": "uinteger",
                    "label": "Limit"
                  }
                ],
                "restore": {
                  "parameters": {
                    "table": {
                      "label": "public.gmail_conversations"
                    },
                    "account": {
                      "data": {
                        "scoped": "true",
                        "connection": "postgres"
                      },
                      "label": "Flujo de reportes (Supabase) (postgres.zhyldluhekvaxyovdkve@aws-1-sa-east-1.pooler.supabase.com:6543/postgres)"
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 300,
                  "name": "Search the id"
                },
                "interface": [
                  {
                    "name": "__IMTLENGTH__",
                    "type": "uinteger",
                    "label": "Total number of bundles"
                  },
                  {
                    "name": "__IMTINDEX__",
                    "type": "uinteger",
                    "label": "Bundle order position"
                  },
                  {
                    "name": "id",
                    "type": "integer",
                    "label": "id",
                    "required": false
                  },
                  {
                    "name": "user_ref",
                    "type": "text",
                    "label": "user_ref",
                    "required": false
                  },
                  {
                    "name": "self_ref",
                    "type": "text",
                    "label": "self_ref",
                    "required": false
                  },
                  {
                    "name": "type",
                    "type": "text",
                    "label": "type",
                    "required": false
                  }
                ],
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:postgres",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "continueWhenNoRes",
                    "type": "boolean",
                    "label": "Continue the execution of the route even if the module returns no rows",
                    "required": true
                  },
                  {
                    "name": "isToManageDataInSharedTransaction",
                    "type": "boolean",
                    "label": "Manage data within the shared transaction",
                    "required": true
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "table": "\"public\".\"gmail_conversations\"",
                "account": 5484562,
                "continueWhenNoRes": true,
                "isToManageDataInSharedTransaction": true
              }
            },
            {
              "id": 17,
              "mapper": {
                "@id": "",
                "@content": "{{4.text}}",
                "@id_conv": "{{16.id}}",
                "@is_user": "{{false}}",
                "@date_time": "{{now}}",
                "@media_url": "{{4.attachments[].contentId}}"
              },
              "module": "postgres:InsertIntoTable",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "@id",
                    "type": "integer",
                    "label": "id"
                  },
                  {
                    "name": "@id_conv",
                    "type": "integer",
                    "label": "id_conv"
                  },
                  {
                    "name": "@date_time",
                    "type": "text",
                    "label": "date_time",
                    "required": true
                  },
                  {
                    "name": "@is_user",
                    "type": "text",
                    "label": "is_user"
                  },
                  {
                    "name": "@content",
                    "type": "text",
                    "label": "content"
                  },
                  {
                    "name": "@media_url",
                    "type": "text",
                    "label": "media_url"
                  }
                ],
                "restore": {
                  "parameters": {
                    "table": {
                      "label": "public.gmail_messages"
                    },
                    "account": {
                      "data": {
                        "scoped": "true",
                        "connection": "postgres"
                      },
                      "label": "Flujo de reportes (Supabase) (postgres.zhyldluhekvaxyovdkve@aws-1-sa-east-1.pooler.supabase.com:6543/postgres)"
                    }
                  }
                },
                "designer": {
                  "x": 1500,
                  "y": 300,
                  "name": "Insert row (msg)"
                },
                "interface": [
                  {
                    "name": "rowsAffected",
                    "type": "number",
                    "label": "Affected rows"
                  }
                ],
                "parameters": [
                  {
                    "name": "account",
                    "type": "account:postgres",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "isToManageDataInSharedTransaction",
                    "type": "boolean",
                    "label": "Manage data within the shared transaction",
                    "required": true
                  },
                  {
                    "name": "returnRows",
                    "type": "boolean",
                    "label": "Return Rows"
                  },
                  {
                    "name": "table",
                    "type": "select",
                    "label": "Table",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "table": "\"public\".\"gmail_messages\"",
                "account": 5484562,
                "isToManageDataInSharedTransaction": true
              }
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 150,
          "name": "¿Exist conv?"
        }
      }
    }
  ],
  "name": "IITA - Gmail Messages Logs (From Us)",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "4": {
          "cc": null,
          "id": 17,
          "to": [
            {
              "name": "GERARDO BENJAMIN URIBURU ROMERO",
              "address": "guribururomero@gmail.com"
            }
          ],
          "bcc": null,
          "date": "2025-10-01T16:02:08.000Z",
          "from": {
            "name": "Automatizaciones IITA",
            "address": "automatizaciones_iita@iita.com.ar"
          },
          "html": "<div dir=\"ltr\">Hola, esto es la respuesta al usuario</div><br><div class=\"gmail_quote gmail_quote_co...",
          "size": 1550,
          "text": "Hola, esto es la respuesta al usuario\n\nEl mié, 1 oct 2025 a las 13:01, GERARDO BENJAMIN URIBURU ROME...",
          "labels": [],
          "headers": {
            "replyTo": null,
            "received": null,
            "messageId": "<CACELmUPWGRQcOOjgWCaCvSdEmpzrMOGgFTXoxvCFtDxdPDijSg@mail.gmail.com>",
            "deliveredTo": null,
            "xOriginalFrom": null
          },
          "subject": "Re: Mensaje de prueba 14",
          "priority": "normal",
          "threadId": "199a081c69102b6a",
          "xGmMsgid": "1844795963189929549",
          "inReplyTo": [
            "CACRWiQxGGNqF=rsLxWGNv+L+1nXGBxYVnaYerk1deW=8jomYSQ@mail.gmail.com"
          ],
          "messageId": "199a08278502a64d",
          "references": [
            "CACRWiQxGGNqF=rsLxWGNv+L+1nXGBxYVnaYerk1deW=8jomYSQ@mail.gmail.com"
          ],
          "attachments": [],
          "headersList": [
            {
              "key": "content-type",
              "value": "multipart/alternative; boundary=\"000000000000a4f01106401afd9a\""
            }
          ],
          "messageLink": "https://mail.google.com/mail/u/0/#inbox/199a08278502a64d"
        },
        "12": {
          "id": "14",
          "type": "chat",
          "self_ref": "automatizaciones_iita@iita.com.ar",
          "user_ref": "guribururomero@gmail.com",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 1
        },
        "14": {
          "rowsAffected": 1
        },
        "15": {
          "rowsAffected": 1
        },
        "16": {
          "id": "15",
          "type": "chat",
          "self_ref": "automatizaciones_iita@iita.com.ar",
          "user_ref": "automatizaciones_iita@iita.com.ar",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 1
        },
        "17": {
          "rowsAffected": 1
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}