snapshots/2026-02-18_produccion/6_aprobacion/3502129_create_google_sheets_records.json
{
  "flow": [
    {
      "id": 2,
      "mapper": {},
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "Flujo de Zoom - n8n"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 0,
          "name": "Get n8n request"
        },
        "interface": [
          {
            "name": "operation_type",
            "type": "text"
          },
          {
            "name": "data",
            "spec": [
              {
                "name": "date",
                "type": "text"
              },
              {
                "name": "time",
                "type": "text"
              },
              {
                "name": "course_edition",
                "type": "text"
              },
              {
                "name": "duration_in_minutes",
                "type": "text"
              }
            ],
            "type": "collection"
          },
          {
            "name": "meeting_url",
            "type": "text"
          }
        ],
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ]
      },
      "parameters": {
        "hook": 1577071,
        "maxResults": 1
      }
    },
    {
      "id": 3,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 4,
              "filter": {
                "name": "zoom meetings",
                "conditions": [
                  [
                    {
                      "a": "{{2.operation_type}}",
                      "b": "meeting_register",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "from": "team",
                "mode": "select",
                "values": {
                  "1": "{{2.data.date}}",
                  "2": "{{2.data.time}}",
                  "3": "{{2.data.course_edition}}",
                  "4": "{{2.data.duration_in_minutes}}",
                  "5": "{{2.meeting_url}}"
                },
                "sheetId": "Reuniones virtuales",
                "sharedDrive": "0AK06uo_haiSBUk9PVA",
                "spreadsheetId": "/1SeOnMeet8Q8Q6L3q4attHXhNppxE_e8vbJhhG_ghZlg",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false,
                "useDomainAdminAccess": false
              },
              "module": "google-sheets:addRow",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "insertUnformatted",
                    "type": "boolean",
                    "label": "Unformatted",
                    "required": true
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "insertDataOption",
                    "type": "select",
                    "label": "Insert data option",
                    "validate": {
                      "enum": [
                        "INSERT_ROWS",
                        "OVERWRITE"
                      ]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share",
                        "team"
                      ]
                    }
                  },
                  {
                    "name": "useDomainAdminAccess",
                    "type": "select",
                    "label": "Use Domain Admin Access",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "sharedDrive",
                    "type": "select",
                    "label": "Shared Drive",
                    "required": true
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "ID (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "Fecha (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "Hora (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "Edición de curso (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "Duración (minutos) (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "Link de la reunión (F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                      }
                    ],
                    "type": "collection",
                    "label": "Values"
                  }
                ],
                "restore": {
                  "expect": {
                    "from": {
                      "label": "Google Shared Drive"
                    },
                    "mode": {
                      "label": "Search by path"
                    },
                    "sheetId": {
                      "label": "Reuniones virtuales"
                    },
                    "sharedDrive": {
                      "label": "IITA Cursos"
                    },
                    "spreadsheetId": {
                      "path": [
                        "Testeos (no tocar)- Información de cursos 2025"
                      ]
                    },
                    "includesHeaders": {
                      "label": "Yes",
                      "nested": [
                        {
                          "name": "values",
                          "spec": [
                            {
                              "name": "0",
                              "type": "text",
                              "label": "ID (A)"
                            },
                            {
                              "name": "1",
                              "type": "text",
                              "label": "Fecha (B)"
                            },
                            {
                              "name": "2",
                              "type": "text",
                              "label": "Hora (C)"
                            },
                            {
                              "name": "3",
                              "type": "text",
                              "label": "Edición de curso (D)"
                            },
                            {
                              "name": "4",
                              "type": "text",
                              "label": "Duración (minutos) (E)"
                            },
                            {
                              "name": "5",
                              "type": "text",
                              "label": "Link de la reunión (F)"
                            },
                            {
                              "name": "6",
                              "type": "text",
                              "label": "(G)"
                            },
                            {
                              "name": "7",
                              "type": "text",
                              "label": "(H)"
                            },
                            {
                              "name": "8",
                              "type": "text",
                              "label": "(I)"
                            },
                            {
                              "name": "9",
                              "type": "text",
                              "label": "(J)"
                            },
                            {
                              "name": "10",
                              "type": "text",
                              "label": "(K)"
                            },
                            {
                              "name": "11",
                              "type": "text",
                              "label": "(L)"
                            },
                            {
                              "name": "12",
                              "type": "text",
                              "label": "(M)"
                            },
                            {
                              "name": "13",
                              "type": "text",
                              "label": "(N)"
                            },
                            {
                              "name": "14",
                              "type": "text",
                              "label": "(O)"
                            },
                            {
                              "name": "15",
                              "type": "text",
                              "label": "(P)"
                            },
                            {
                              "name": "16",
                              "type": "text",
                              "label": "(Q)"
                            },
                            {
                              "name": "17",
                              "type": "text",
                              "label": "(R)"
                            },
                            {
                              "name": "18",
                              "type": "text",
                              "label": "(S)"
                            },
                            {
                              "name": "19",
                              "type": "text",
                              "label": "(T)"
                            },
                            {
                              "name": "20",
                              "type": "text",
                              "label": "(U)"
                            },
                            {
                              "name": "21",
                              "type": "text",
                              "label": "(V)"
                            },
                            {
                              "name": "22",
                              "type": "text",
                              "label": "(W)"
                            },
                            {
                              "name": "23",
                              "type": "text",
                              "label": "(X)"
                            },
                            {
                              "name": "24",
                              "type": "text",
                              "label": "(Y)"
                            }
                          ],
                          "type": "collection",
                          "label": "Values"
                        }
                      ]
                    },
                    "insertDataOption": {
                      "mode": "chose",
                      "label": "Insert rows"
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    },
                    "insertUnformatted": {
                      "mode": "chose"
                    },
                    "useDomainAdminAccess": {
                      "label": "No"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Google Sheets (Gerardo - FUNDACIÓN INNOVAR) (guribururomero@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "advanced": true,
                "designer": {
                  "x": 600,
                  "y": 0,
                  "name": "Add meeting creation log"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 6281682
              }
            },
            {
              "id": 7,
              "mapper": {
                "duration": "5"
              },
              "module": "util:FunctionSleep",
              "version": 1,
              "metadata": {
                "expect": [
                  {
                    "name": "duration",
                    "type": "uinteger",
                    "label": "Delay",
                    "required": true,
                    "validate": {
                      "max": 300,
                      "min": 1
                    }
                  }
                ],
                "restore": {},
                "designer": {
                  "x": 900,
                  "y": 0,
                  "name": "Wait for ID increment"
                }
              },
              "parameters": {}
            },
            {
              "id": 6,
              "mapper": {
                "from": "share",
                "filter": [
                  [
                    {
                      "a": "A",
                      "b": "{{4.rowNumber - 1}}",
                      "o": "number:equal"
                    }
                  ]
                ],
                "sheetId": "Reuniones virtuales",
                "sortOrder": "asc",
                "spreadsheetId": "1SeOnMeet8Q8Q6L3q4attHXhNppxE_e8vbJhhG_ghZlg",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
              },
              "module": "google-sheets:filterRows",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share"
                      ]
                    }
                  },
                  {
                    "name": "valueRenderOption",
                    "type": "select",
                    "label": "Value render option",
                    "validate": {
                      "enum": [
                        "FORMATTED_VALUE",
                        "UNFORMATTED_VALUE",
                        "FORMULA"
                      ]
                    }
                  },
                  {
                    "name": "dateTimeRenderOption",
                    "type": "select",
                    "label": "Date and time render option",
                    "validate": {
                      "enum": [
                        "SERIAL_NUMBER",
                        "FORMATTED_STRING"
                      ]
                    }
                  },
                  {
                    "name": "limit",
                    "type": "uinteger",
                    "label": "Limit"
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "text",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "tableFirstRow",
                    "type": "select",
                    "label": "Column range",
                    "required": true,
                    "validate": {
                      "enum": [
                        "A1:Z1",
                        "A1:BZ1",
                        "A1:CZ1",
                        "A1:DZ1",
                        "A1:MZ1",
                        "A1:ZZ1",
                        "A1:AZZ1",
                        "A1:BZZ1",
                        "A1:CZZ1",
                        "A1:DZZ1",
                        "A1:MZZ1",
                        "A1:ZZZ1"
                      ]
                    }
                  },
                  {
                    "name": "filter",
                    "type": "filter",
                    "label": "Filter",
                    "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                  },
                  {
                    "name": "orderBy",
                    "type": "select",
                    "label": "Order by"
                  },
                  {
                    "name": "sortOrder",
                    "type": "select",
                    "label": "Sort order",
                    "validate": {
                      "enum": [
                        "asc",
                        "desc"
                      ]
                    }
                  }
                ],
                "restore": {
                  "expect": {
                    "from": {
                      "label": "Select from all"
                    },
                    "orderBy": {
                      "mode": "chose"
                    },
                    "sheetId": {
                      "mode": "chose",
                      "label": "Reuniones virtuales"
                    },
                    "sortOrder": {
                      "mode": "chose",
                      "label": "Ascending"
                    },
                    "tableFirstRow": {
                      "label": "A-CZ"
                    },
                    "includesHeaders": {
                      "mode": "chose",
                      "label": "Yes"
                    },
                    "valueRenderOption": {
                      "mode": "chose",
                      "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                      "mode": "chose",
                      "label": "Formatted string"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Google Sheets (Gerardo - FUNDACIÓN INNOVAR) (guribururomero@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "designer": {
                  "x": 1200,
                  "y": 0,
                  "name": "Get ID from meeting log"
                },
                "interface": [
                  {
                    "name": "__IMTLENGTH__",
                    "type": "uinteger",
                    "label": "Total number of bundles"
                  },
                  {
                    "name": "__IMTINDEX__",
                    "type": "uinteger",
                    "label": "Bundle order position"
                  },
                  {
                    "name": "__ROW_NUMBER__",
                    "type": "number",
                    "label": "Row number"
                  },
                  {
                    "name": "__SPREADSHEET_ID__",
                    "type": "text",
                    "label": "Spreadsheet ID"
                  },
                  {
                    "name": "__SHEET__",
                    "type": "text",
                    "label": "Sheet"
                  },
                  {
                    "name": "0",
                    "type": "text",
                    "label": "ID (A)"
                  },
                  {
                    "name": "1",
                    "type": "text",
                    "label": "Fecha (B)"
                  },
                  {
                    "name": "2",
                    "type": "text",
                    "label": "Hora (C)"
                  },
                  {
                    "name": "3",
                    "type": "text",
                    "label": "Edición de curso (D)"
                  },
                  {
                    "name": "4",
                    "type": "text",
                    "label": "Duración (minutos) (E)"
                  },
                  {
                    "name": "5",
                    "type": "text",
                    "label": "Link de la reunión (F)"
                  },
                  {
                    "name": "6",
                    "type": "text",
                    "label": "(G)"
                  },
                  {
                    "name": "7",
                    "type": "text",
                    "label": "(H)"
                  },
                  {
                    "name": "8",
                    "type": "text",
                    "label": "(I)"
                  },
                  {
                    "name": "9",
                    "type": "text",
                    "label": "(J)"
                  },
                  {
                    "name": "10",
                    "type": "text",
                    "label": "(K)"
                  },
                  {
                    "name": "11",
                    "type": "text",
                    "label": "(L)"
                  },
                  {
                    "name": "12",
                    "type": "text",
                    "label": "(M)"
                  },
                  {
                    "name": "13",
                    "type": "text",
                    "label": "(N)"
                  },
                  {
                    "name": "14",
                    "type": "text",
                    "label": "(O)"
                  },
                  {
                    "name": "15",
                    "type": "text",
                    "label": "(P)"
                  },
                  {
                    "name": "16",
                    "type": "text",
                    "label": "(Q)"
                  },
                  {
                    "name": "17",
                    "type": "text",
                    "label": "(R)"
                  },
                  {
                    "name": "18",
                    "type": "text",
                    "label": "(S)"
                  },
                  {
                    "name": "19",
                    "type": "text",
                    "label": "(T)"
                  },
                  {
                    "name": "20",
                    "type": "text",
                    "label": "(U)"
                  },
                  {
                    "name": "21",
                    "type": "text",
                    "label": "(V)"
                  },
                  {
                    "name": "22",
                    "type": "text",
                    "label": "(W)"
                  },
                  {
                    "name": "23",
                    "type": "text",
                    "label": "(X)"
                  },
                  {
                    "name": "24",
                    "type": "text",
                    "label": "(Y)"
                  },
                  {
                    "name": "25",
                    "type": "text",
                    "label": "(Z)"
                  },
                  {
                    "name": "26",
                    "type": "text",
                    "label": "(AA)"
                  },
                  {
                    "name": "27",
                    "type": "text",
                    "label": "(AB)"
                  },
                  {
                    "name": "28",
                    "type": "text",
                    "label": "(AC)"
                  },
                  {
                    "name": "29",
                    "type": "text",
                    "label": "(AD)"
                  },
                  {
                    "name": "30",
                    "type": "text",
                    "label": "(AE)"
                  },
                  {
                    "name": "31",
                    "type": "text",
                    "label": "(AF)"
                  },
                  {
                    "name": "32",
                    "type": "text",
                    "label": "(AG)"
                  },
                  {
                    "name": "33",
                    "type": "text",
                    "label": "(AH)"
                  },
                  {
                    "name": "34",
                    "type": "text",
                    "label": "(AI)"
                  },
                  {
                    "name": "35",
                    "type": "text",
                    "label": "(AJ)"
                  },
                  {
                    "name": "36",
                    "type": "text",
                    "label": "(AK)"
                  },
                  {
                    "name": "37",
                    "type": "text",
                    "label": "(AL)"
                  },
                  {
                    "name": "38",
                    "type": "text",
                    "label": "(AM)"
                  },
                  {
                    "name": "39",
                    "type": "text",
                    "label": "(AN)"
                  },
                  {
                    "name": "40",
                    "type": "text",
                    "label": "(AO)"
                  },
                  {
                    "name": "41",
                    "type": "text",
                    "label": "(AP)"
                  },
                  {
                    "name": "42",
                    "type": "text",
                    "label": "(AQ)"
                  },
                  {
                    "name": "43",
                    "type": "text",
                    "label": "(AR)"
                  },
                  {
                    "name": "44",
                    "type": "text",
                    "label": "(AS)"
                  },
                  {
                    "name": "45",
                    "type": "text",
                    "label": "(AT)"
                  },
                  {
                    "name": "46",
                    "type": "text",
                    "label": "(AU)"
                  },
                  {
                    "name": "47",
                    "type": "text",
                    "label": "(AV)"
                  },
                  {
                    "name": "48",
                    "type": "text",
                    "label": "(AW)"
                  },
                  {
                    "name": "49",
                    "type": "text",
                    "label": "(AX)"
                  },
                  {
                    "name": "50",
                    "type": "text",
                    "label": "(AY)"
                  },
                  {
                    "name": "51",
                    "type": "text",
                    "label": "(AZ)"
                  },
                  {
                    "name": "52",
                    "type": "text",
                    "label": "(BA)"
                  },
                  {
                    "name": "53",
                    "type": "text",
                    "label": "(BB)"
                  },
                  {
                    "name": "54",
                    "type": "text",
                    "label": "(BC)"
                  },
                  {
                    "name": "55",
                    "type": "text",
                    "label": "(BD)"
                  },
                  {
                    "name": "56",
                    "type": "text",
                    "label": "(BE)"
                  },
                  {
                    "name": "57",
                    "type": "text",
                    "label": "(BF)"
                  },
                  {
                    "name": "58",
                    "type": "text",
                    "label": "(BG)"
                  },
                  {
                    "name": "59",
                    "type": "text",
                    "label": "(BH)"
                  },
                  {
                    "name": "60",
                    "type": "text",
                    "label": "(BI)"
                  },
                  {
                    "name": "61",
                    "type": "text",
                    "label": "(BJ)"
                  },
                  {
                    "name": "62",
                    "type": "text",
                    "label": "(BK)"
                  },
                  {
                    "name": "63",
                    "type": "text",
                    "label": "(BL)"
                  },
                  {
                    "name": "64",
                    "type": "text",
                    "label": "(BM)"
                  },
                  {
                    "name": "65",
                    "type": "text",
                    "label": "(BN)"
                  },
                  {
                    "name": "66",
                    "type": "text",
                    "label": "(BO)"
                  },
                  {
                    "name": "67",
                    "type": "text",
                    "label": "(BP)"
                  },
                  {
                    "name": "68",
                    "type": "text",
                    "label": "(BQ)"
                  },
                  {
                    "name": "69",
                    "type": "text",
                    "label": "(BR)"
                  },
                  {
                    "name": "70",
                    "type": "text",
                    "label": "(BS)"
                  },
                  {
                    "name": "71",
                    "type": "text",
                    "label": "(BT)"
                  },
                  {
                    "name": "72",
                    "type": "text",
                    "label": "(BU)"
                  },
                  {
                    "name": "73",
                    "type": "text",
                    "label": "(BV)"
                  },
                  {
                    "name": "74",
                    "type": "text",
                    "label": "(BW)"
                  },
                  {
                    "name": "75",
                    "type": "text",
                    "label": "(BX)"
                  },
                  {
                    "name": "76",
                    "type": "text",
                    "label": "(BY)"
                  },
                  {
                    "name": "77",
                    "type": "text",
                    "label": "(BZ)"
                  },
                  {
                    "name": "78",
                    "type": "text",
                    "label": "(CA)"
                  },
                  {
                    "name": "79",
                    "type": "text",
                    "label": "(CB)"
                  },
                  {
                    "name": "80",
                    "type": "text",
                    "label": "(CC)"
                  },
                  {
                    "name": "81",
                    "type": "text",
                    "label": "(CD)"
                  },
                  {
                    "name": "82",
                    "type": "text",
                    "label": "(CE)"
                  },
                  {
                    "name": "83",
                    "type": "text",
                    "label": "(CF)"
                  },
                  {
                    "name": "84",
                    "type": "text",
                    "label": "(CG)"
                  },
                  {
                    "name": "85",
                    "type": "text",
                    "label": "(CH)"
                  },
                  {
                    "name": "86",
                    "type": "text",
                    "label": "(CI)"
                  },
                  {
                    "name": "87",
                    "type": "text",
                    "label": "(CJ)"
                  },
                  {
                    "name": "88",
                    "type": "text",
                    "label": "(CK)"
                  },
                  {
                    "name": "89",
                    "type": "text",
                    "label": "(CL)"
                  },
                  {
                    "name": "90",
                    "type": "text",
                    "label": "(CM)"
                  },
                  {
                    "name": "91",
                    "type": "text",
                    "label": "(CN)"
                  },
                  {
                    "name": "92",
                    "type": "text",
                    "label": "(CO)"
                  },
                  {
                    "name": "93",
                    "type": "text",
                    "label": "(CP)"
                  },
                  {
                    "name": "94",
                    "type": "text",
                    "label": "(CQ)"
                  },
                  {
                    "name": "95",
                    "type": "text",
                    "label": "(CR)"
                  },
                  {
                    "name": "96",
                    "type": "text",
                    "label": "(CS)"
                  },
                  {
                    "name": "97",
                    "type": "text",
                    "label": "(CT)"
                  },
                  {
                    "name": "98",
                    "type": "text",
                    "label": "(CU)"
                  },
                  {
                    "name": "99",
                    "type": "text",
                    "label": "(CV)"
                  },
                  {
                    "name": "100",
                    "type": "text",
                    "label": "(CW)"
                  },
                  {
                    "name": "101",
                    "type": "text",
                    "label": "(CX)"
                  },
                  {
                    "name": "102",
                    "type": "text",
                    "label": "(CY)"
                  },
                  {
                    "name": "103",
                    "type": "text",
                    "label": "(CZ)"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 6281682
              }
            },
            {
              "id": 5,
              "mapper": {
                "from": "team",
                "mode": "select",
                "values": {
                  "1": "{{6.`0`}}",
                  "2": "{{2.meeting_id}}",
                  "3": "Sin procesar"
                },
                "sheetId": "Grabaciones de Reuniones",
                "sharedDrive": "0AK06uo_haiSBUk9PVA",
                "spreadsheetId": "/1SeOnMeet8Q8Q6L3q4attHXhNppxE_e8vbJhhG_ghZlg",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false,
                "useDomainAdminAccess": false
              },
              "module": "google-sheets:addRow",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "insertUnformatted",
                    "type": "boolean",
                    "label": "Unformatted",
                    "required": true
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "insertDataOption",
                    "type": "select",
                    "label": "Insert data option",
                    "validate": {
                      "enum": [
                        "INSERT_ROWS",
                        "OVERWRITE"
                      ]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share",
                        "team"
                      ]
                    }
                  },
                  {
                    "name": "useDomainAdminAccess",
                    "type": "select",
                    "label": "Use Domain Admin Access",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "sharedDrive",
                    "type": "select",
                    "label": "Shared Drive",
                    "required": true
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "ID (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "id_reunion (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "meeting_id (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "estado (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "enlace_youtube (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      }
                    ],
                    "type": "collection",
                    "label": "Values"
                  }
                ],
                "restore": {
                  "expect": {
                    "from": {
                      "label": "Google Shared Drive"
                    },
                    "mode": {
                      "label": "Search by path"
                    },
                    "sheetId": {
                      "label": "Grabaciones de Reuniones"
                    },
                    "sharedDrive": {
                      "label": "IITA Cursos"
                    },
                    "spreadsheetId": {
                      "path": [
                        "Testeos (no tocar)- Información de cursos 2025"
                      ]
                    },
                    "includesHeaders": {
                      "label": "Yes",
                      "nested": [
                        {
                          "name": "values",
                          "spec": [
                            {
                              "name": "0",
                              "type": "text",
                              "label": "ID (A)"
                            },
                            {
                              "name": "1",
                              "type": "text",
                              "label": "id_reunion (B)"
                            },
                            {
                              "name": "2",
                              "type": "text",
                              "label": "meeting_id (C)"
                            },
                            {
                              "name": "3",
                              "type": "text",
                              "label": "estado (D)"
                            },
                            {
                              "name": "4",
                              "type": "text",
                              "label": "enlace_youtube (E)"
                            },
                            {
                              "name": "5",
                              "type": "text",
                              "label": "(F)"
                            },
                            {
                              "name": "6",
                              "type": "text",
                              "label": "(G)"
                            },
                            {
                              "name": "7",
                              "type": "text",
                              "label": "(H)"
                            },
                            {
                              "name": "8",
                              "type": "text",
                              "label": "(I)"
                            },
                            {
                              "name": "9",
                              "type": "text",
                              "label": "(J)"
                            },
                            {
                              "name": "10",
                              "type": "text",
                              "label": "(K)"
                            },
                            {
                              "name": "11",
                              "type": "text",
                              "label": "(L)"
                            },
                            {
                              "name": "12",
                              "type": "text",
                              "label": "(M)"
                            },
                            {
                              "name": "13",
                              "type": "text",
                              "label": "(N)"
                            },
                            {
                              "name": "14",
                              "type": "text",
                              "label": "(O)"
                            },
                            {
                              "name": "15",
                              "type": "text",
                              "label": "(P)"
                            },
                            {
                              "name": "16",
                              "type": "text",
                              "label": "(Q)"
                            },
                            {
                              "name": "17",
                              "type": "text",
                              "label": "(R)"
                            },
                            {
                              "name": "18",
                              "type": "text",
                              "label": "(S)"
                            },
                            {
                              "name": "19",
                              "type": "text",
                              "label": "(T)"
                            },
                            {
                              "name": "20",
                              "type": "text",
                              "label": "(U)"
                            },
                            {
                              "name": "21",
                              "type": "text",
                              "label": "(V)"
                            },
                            {
                              "name": "22",
                              "type": "text",
                              "label": "(W)"
                            },
                            {
                              "name": "23",
                              "type": "text",
                              "label": "(X)"
                            }
                          ],
                          "type": "collection",
                          "label": "Values"
                        }
                      ]
                    },
                    "insertDataOption": {
                      "mode": "chose",
                      "label": "Insert rows"
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    },
                    "insertUnformatted": {
                      "mode": "chose"
                    },
                    "useDomainAdminAccess": {
                      "label": "No"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Google Sheets (Gerardo - FUNDACIÓN INNOVAR) (guribururomero@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "designer": {
                  "x": 1500,
                  "y": 0,
                  "name": "Create recording log"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 6281682
              }
            },
            {
              "id": 10,
              "mapper": {
                "from": "share",
                "filter": [
                  [
                    {
                      "a": "A",
                      "b": "{{6.`3`}}",
                      "o": "text:equal"
                    }
                  ]
                ],
                "sheetId": "Ediciones cursos",
                "sortOrder": "asc",
                "spreadsheetId": "1SeOnMeet8Q8Q6L3q4attHXhNppxE_e8vbJhhG_ghZlg",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
              },
              "module": "google-sheets:filterRows",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share"
                      ]
                    }
                  },
                  {
                    "name": "valueRenderOption",
                    "type": "select",
                    "label": "Value render option",
                    "validate": {
                      "enum": [
                        "FORMATTED_VALUE",
                        "UNFORMATTED_VALUE",
                        "FORMULA"
                      ]
                    }
                  },
                  {
                    "name": "dateTimeRenderOption",
                    "type": "select",
                    "label": "Date and time render option",
                    "validate": {
                      "enum": [
                        "SERIAL_NUMBER",
                        "FORMATTED_STRING"
                      ]
                    }
                  },
                  {
                    "name": "limit",
                    "type": "uinteger",
                    "label": "Limit"
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "text",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "tableFirstRow",
                    "type": "select",
                    "label": "Column range",
                    "required": true,
                    "validate": {
                      "enum": [
                        "A1:Z1",
                        "A1:BZ1",
                        "A1:CZ1",
                        "A1:DZ1",
                        "A1:MZ1",
                        "A1:ZZ1",
                        "A1:AZZ1",
                        "A1:BZZ1",
                        "A1:CZZ1",
                        "A1:DZZ1",
                        "A1:MZZ1",
                        "A1:ZZZ1"
                      ]
                    }
                  },
                  {
                    "name": "filter",
                    "type": "filter",
                    "label": "Filter",
                    "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                  },
                  {
                    "name": "orderBy",
                    "type": "select",
                    "label": "Order by"
                  },
                  {
                    "name": "sortOrder",
                    "type": "select",
                    "label": "Sort order",
                    "validate": {
                      "enum": [
                        "asc",
                        "desc"
                      ]
                    }
                  }
                ],
                "restore": {
                  "expect": {
                    "from": {
                      "label": "Select from all"
                    },
                    "orderBy": {
                      "mode": "chose",
                      "label": "Empty"
                    },
                    "sheetId": {
                      "mode": "chose",
                      "label": "Ediciones cursos"
                    },
                    "sortOrder": {
                      "mode": "chose",
                      "label": "Ascending"
                    },
                    "tableFirstRow": {
                      "label": "A-CZ"
                    },
                    "includesHeaders": {
                      "mode": "chose",
                      "label": "Yes"
                    },
                    "valueRenderOption": {
                      "mode": "chose",
                      "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                      "mode": "chose",
                      "label": "Formatted string"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Google Sheets (Gerardo - FUNDACIÓN INNOVAR) (guribururomero@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "designer": {
                  "x": 1800,
                  "y": 0,
                  "name": "Get class information"
                },
                "interface": [
                  {
                    "name": "__IMTLENGTH__",
                    "type": "uinteger",
                    "label": "Total number of bundles"
                  },
                  {
                    "name": "__IMTINDEX__",
                    "type": "uinteger",
                    "label": "Bundle order position"
                  },
                  {
                    "name": "__ROW_NUMBER__",
                    "type": "number",
                    "label": "Row number"
                  },
                  {
                    "name": "__SPREADSHEET_ID__",
                    "type": "text",
                    "label": "Spreadsheet ID"
                  },
                  {
                    "name": "__SHEET__",
                    "type": "text",
                    "label": "Sheet"
                  },
                  {
                    "name": "0",
                    "type": "text",
                    "label": "ID (A)"
                  },
                  {
                    "name": "1",
                    "type": "text",
                    "label": "Curso (B)"
                  },
                  {
                    "name": "2",
                    "type": "text",
                    "label": "Dia (C)"
                  },
                  {
                    "name": "3",
                    "type": "text",
                    "label": "Horario (D)"
                  },
                  {
                    "name": "4",
                    "type": "text",
                    "label": "Fecha Inicio (E)"
                  },
                  {
                    "name": "5",
                    "type": "text",
                    "label": "Sede (F)"
                  },
                  {
                    "name": "6",
                    "type": "text",
                    "label": "Modalidad (G)"
                  },
                  {
                    "name": "7",
                    "type": "text",
                    "label": "Cantidad Alumnos (H)"
                  },
                  {
                    "name": "8",
                    "type": "text",
                    "label": "Estado (I)"
                  },
                  {
                    "name": "9",
                    "type": "text",
                    "label": "Fecha de cierre (J)"
                  },
                  {
                    "name": "10",
                    "type": "text",
                    "label": "Profesor/es (K)"
                  },
                  {
                    "name": "11",
                    "type": "text",
                    "label": "Ayudante/s (L)"
                  },
                  {
                    "name": "12",
                    "type": "text",
                    "label": "Curso plataforma (M)"
                  },
                  {
                    "name": "13",
                    "type": "text",
                    "label": "(N)"
                  },
                  {
                    "name": "14",
                    "type": "text",
                    "label": "(O)"
                  },
                  {
                    "name": "15",
                    "type": "text",
                    "label": "(P)"
                  },
                  {
                    "name": "16",
                    "type": "text",
                    "label": "(Q)"
                  },
                  {
                    "name": "17",
                    "type": "text",
                    "label": "(R)"
                  },
                  {
                    "name": "18",
                    "type": "text",
                    "label": "(S)"
                  },
                  {
                    "name": "19",
                    "type": "text",
                    "label": "(T)"
                  },
                  {
                    "name": "20",
                    "type": "text",
                    "label": "(U)"
                  },
                  {
                    "name": "21",
                    "type": "text",
                    "label": "(V)"
                  },
                  {
                    "name": "22",
                    "type": "text",
                    "label": "(W)"
                  },
                  {
                    "name": "23",
                    "type": "text",
                    "label": "(X)"
                  },
                  {
                    "name": "24",
                    "type": "text",
                    "label": "(Y)"
                  },
                  {
                    "name": "25",
                    "type": "text",
                    "label": "(Z)"
                  },
                  {
                    "name": "26",
                    "type": "text",
                    "label": "(AA)"
                  },
                  {
                    "name": "27",
                    "type": "text",
                    "label": "(AB)"
                  },
                  {
                    "name": "28",
                    "type": "text",
                    "label": "(AC)"
                  },
                  {
                    "name": "29",
                    "type": "text",
                    "label": "(AD)"
                  },
                  {
                    "name": "30",
                    "type": "text",
                    "label": "(AE)"
                  },
                  {
                    "name": "31",
                    "type": "text",
                    "label": "(AF)"
                  },
                  {
                    "name": "32",
                    "type": "text",
                    "label": "(AG)"
                  },
                  {
                    "name": "33",
                    "type": "text",
                    "label": "(AH)"
                  },
                  {
                    "name": "34",
                    "type": "text",
                    "label": "(AI)"
                  },
                  {
                    "name": "35",
                    "type": "text",
                    "label": "(AJ)"
                  },
                  {
                    "name": "36",
                    "type": "text",
                    "label": "(AK)"
                  },
                  {
                    "name": "37",
                    "type": "text",
                    "label": "(AL)"
                  },
                  {
                    "name": "38",
                    "type": "text",
                    "label": "(AM)"
                  },
                  {
                    "name": "39",
                    "type": "text",
                    "label": "(AN)"
                  },
                  {
                    "name": "40",
                    "type": "text",
                    "label": "(AO)"
                  },
                  {
                    "name": "41",
                    "type": "text",
                    "label": "(AP)"
                  },
                  {
                    "name": "42",
                    "type": "text",
                    "label": "(AQ)"
                  },
                  {
                    "name": "43",
                    "type": "text",
                    "label": "(AR)"
                  },
                  {
                    "name": "44",
                    "type": "text",
                    "label": "(AS)"
                  },
                  {
                    "name": "45",
                    "type": "text",
                    "label": "(AT)"
                  },
                  {
                    "name": "46",
                    "type": "text",
                    "label": "(AU)"
                  },
                  {
                    "name": "47",
                    "type": "text",
                    "label": "(AV)"
                  },
                  {
                    "name": "48",
                    "type": "text",
                    "label": "(AW)"
                  },
                  {
                    "name": "49",
                    "type": "text",
                    "label": "(AX)"
                  },
                  {
                    "name": "50",
                    "type": "text",
                    "label": "(AY)"
                  },
                  {
                    "name": "51",
                    "type": "text",
                    "label": "(AZ)"
                  },
                  {
                    "name": "52",
                    "type": "text",
                    "label": "(BA)"
                  },
                  {
                    "name": "53",
                    "type": "text",
                    "label": "(BB)"
                  },
                  {
                    "name": "54",
                    "type": "text",
                    "label": "(BC)"
                  },
                  {
                    "name": "55",
                    "type": "text",
                    "label": "(BD)"
                  },
                  {
                    "name": "56",
                    "type": "text",
                    "label": "(BE)"
                  },
                  {
                    "name": "57",
                    "type": "text",
                    "label": "(BF)"
                  },
                  {
                    "name": "58",
                    "type": "text",
                    "label": "(BG)"
                  },
                  {
                    "name": "59",
                    "type": "text",
                    "label": "(BH)"
                  },
                  {
                    "name": "60",
                    "type": "text",
                    "label": "(BI)"
                  },
                  {
                    "name": "61",
                    "type": "text",
                    "label": "(BJ)"
                  },
                  {
                    "name": "62",
                    "type": "text",
                    "label": "(BK)"
                  },
                  {
                    "name": "63",
                    "type": "text",
                    "label": "(BL)"
                  },
                  {
                    "name": "64",
                    "type": "text",
                    "label": "(BM)"
                  },
                  {
                    "name": "65",
                    "type": "text",
                    "label": "(BN)"
                  },
                  {
                    "name": "66",
                    "type": "text",
                    "label": "(BO)"
                  },
                  {
                    "name": "67",
                    "type": "text",
                    "label": "(BP)"
                  },
                  {
                    "name": "68",
                    "type": "text",
                    "label": "(BQ)"
                  },
                  {
                    "name": "69",
                    "type": "text",
                    "label": "(BR)"
                  },
                  {
                    "name": "70",
                    "type": "text",
                    "label": "(BS)"
                  },
                  {
                    "name": "71",
                    "type": "text",
                    "label": "(BT)"
                  },
                  {
                    "name": "72",
                    "type": "text",
                    "label": "(BU)"
                  },
                  {
                    "name": "73",
                    "type": "text",
                    "label": "(BV)"
                  },
                  {
                    "name": "74",
                    "type": "text",
                    "label": "(BW)"
                  },
                  {
                    "name": "75",
                    "type": "text",
                    "label": "(BX)"
                  },
                  {
                    "name": "76",
                    "type": "text",
                    "label": "(BY)"
                  },
                  {
                    "name": "77",
                    "type": "text",
                    "label": "(BZ)"
                  },
                  {
                    "name": "78",
                    "type": "text",
                    "label": "(CA)"
                  },
                  {
                    "name": "79",
                    "type": "text",
                    "label": "(CB)"
                  },
                  {
                    "name": "80",
                    "type": "text",
                    "label": "(CC)"
                  },
                  {
                    "name": "81",
                    "type": "text",
                    "label": "(CD)"
                  },
                  {
                    "name": "82",
                    "type": "text",
                    "label": "(CE)"
                  },
                  {
                    "name": "83",
                    "type": "text",
                    "label": "(CF)"
                  },
                  {
                    "name": "84",
                    "type": "text",
                    "label": "(CG)"
                  },
                  {
                    "name": "85",
                    "type": "text",
                    "label": "(CH)"
                  },
                  {
                    "name": "86",
                    "type": "text",
                    "label": "(CI)"
                  },
                  {
                    "name": "87",
                    "type": "text",
                    "label": "(CJ)"
                  },
                  {
                    "name": "88",
                    "type": "text",
                    "label": "(CK)"
                  },
                  {
                    "name": "89",
                    "type": "text",
                    "label": "(CL)"
                  },
                  {
                    "name": "90",
                    "type": "text",
                    "label": "(CM)"
                  },
                  {
                    "name": "91",
                    "type": "text",
                    "label": "(CN)"
                  },
                  {
                    "name": "92",
                    "type": "text",
                    "label": "(CO)"
                  },
                  {
                    "name": "93",
                    "type": "text",
                    "label": "(CP)"
                  },
                  {
                    "name": "94",
                    "type": "text",
                    "label": "(CQ)"
                  },
                  {
                    "name": "95",
                    "type": "text",
                    "label": "(CR)"
                  },
                  {
                    "name": "96",
                    "type": "text",
                    "label": "(CS)"
                  },
                  {
                    "name": "97",
                    "type": "text",
                    "label": "(CT)"
                  },
                  {
                    "name": "98",
                    "type": "text",
                    "label": "(CU)"
                  },
                  {
                    "name": "99",
                    "type": "text",
                    "label": "(CV)"
                  },
                  {
                    "name": "100",
                    "type": "text",
                    "label": "(CW)"
                  },
                  {
                    "name": "101",
                    "type": "text",
                    "label": "(CX)"
                  },
                  {
                    "name": "102",
                    "type": "text",
                    "label": "(CY)"
                  },
                  {
                    "name": "103",
                    "type": "text",
                    "label": "(CZ)"
                  }
                ],
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 6281682
              }
            },
            {
              "id": 11,
              "mapper": {
                "info": {
                  "title": "{{10.`0`}} - {{10.`1`}} {{10.`2`}} {{10.`3`}}",
                  "description": "Complete los campos del presente formulario para acceder a la clase virtual del curso. El enlace para ingresar a la misma se compartirá a usted mediante el correo electrónico que declare a continuación:",
                  "documentTitle": "{{10.`0`}} - {{10.`1`}} {{10.`2`}} {{10.`3`}}"
                },
                "items": [
                  {
                    "image": {
                      "properties": {}
                    },
                    "title": "Correo Eletrónico",
                    "itemType": "questionItem",
                    "question": {
                      "grading": {
                        "whenRight": {},
                        "whenWrong": {},
                        "correctAnswers": {},
                        "generalFeedback": {}
                      },
                      "required": true,
                      "paragraph": false,
                      "questionId": "1",
                      "questionType": "textQuestion"
                    },
                    "description": "Ingrese su correo electrónico a continuación"
                  },
                  {
                    "image": {
                      "properties": {}
                    },
                    "title": "Nombre y Apellido",
                    "itemType": "questionItem",
                    "question": {
                      "grading": {
                        "whenRight": {},
                        "whenWrong": {},
                        "correctAnswers": {},
                        "generalFeedback": {}
                      },
                      "required": true,
                      "paragraph": false,
                      "questionId": "2",
                      "questionType": "textQuestion"
                    },
                    "description": "Complete con su nombre y apellido"
                  }
                ],
                "settings": {
                  "quizSettings": {}
                }
              },
              "module": "google-forms:createForm",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "info",
                    "spec": [
                      {
                        "name": "title",
                        "type": "text",
                        "label": "Title",
                        "required": true
                      },
                      {
                        "name": "documentTitle",
                        "type": "text",
                        "label": "Document Title"
                      },
                      {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                      }
                    ],
                    "type": "collection",
                    "label": "Info"
                  },
                  {
                    "name": "items",
                    "spec": {
                      "name": "value",
                      "spec": [
                        {
                          "name": "title",
                          "type": "text",
                          "label": "Title"
                        },
                        {
                          "name": "description",
                          "type": "text",
                          "label": "Description"
                        },
                        {
                          "name": "itemType",
                          "type": "select",
                          "label": "Item Type",
                          "options": [
                            {
                              "label": "Question Item",
                              "value": "questionItem",
                              "nested": [
                                {
                                  "name": "question",
                                  "spec": [
                                    {
                                      "name": "required",
                                      "type": "boolean",
                                      "label": "Required",
                                      "required": true
                                    },
                                    {
                                      "name": "questionType",
                                      "type": "select",
                                      "label": "Question Type",
                                      "options": [
                                        {
                                          "label": "Choice Question",
                                          "value": "choiceQuestion",
                                          "nested": [
                                            {
                                              "name": "type",
                                              "type": "select",
                                              "label": "Choice Type",
                                              "options": [
                                                {
                                                  "label": "Radio",
                                                  "value": "RADIO"
                                                },
                                                {
                                                  "label": "Checkbox",
                                                  "value": "CHECKBOX"
                                                },
                                                {
                                                  "label": "Drop Down",
                                                  "value": "DROP_DOWN"
                                                }
                                              ],
                                              "required": true
                                            },
                                            {
                                              "name": "options",
                                              "spec": {
                                                "spec": [
                                                  {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value",
                                                    "required": true
                                                  },
                                                  {
                                                    "help": "Whether the option is `other`. Currently only applies to `Radio` and `Checkbox` choice types.",
                                                    "name": "isOther",
                                                    "type": "boolean",
                                                    "label": "Is Other"
                                                  },
                                                  {
                                                    "help": "You can only provide either `Go To Action` or `Go To Section ID` but not both. Either all or no options must be go to enabled.",
                                                    "name": "goToAction",
                                                    "type": "select",
                                                    "label": "Go To Action",
                                                    "options": [
                                                      {
                                                        "label": "Next Section",
                                                        "value": "NEXT_SECTION"
                                                      },
                                                      {
                                                        "label": "Back to the Beginning",
                                                        "value": "RESTART_FORM"
                                                      },
                                                      {
                                                        "label": "Submit Form Immediately",
                                                        "value": "SUBMIT_FORM"
                                                      }
                                                    ]
                                                  },
                                                  {
                                                    "help": "You can only provide either `Go To Action` or `Go To Section ID` but not both. Either all or no options must be go to enabled.",
                                                    "name": "goToSectionId",
                                                    "type": "text",
                                                    "label": "Go To Section ID"
                                                  },
                                                  {
                                                    "name": "image",
                                                    "spec": [
                                                      {
                                                        "name": "sourceUri",
                                                        "type": "url",
                                                        "label": "Source URL"
                                                      },
                                                      {
                                                        "name": "altText",
                                                        "type": "text",
                                                        "label": "Alt Text"
                                                      },
                                                      {
                                                        "name": "properties",
                                                        "spec": [
                                                          {
                                                            "name": "alignment",
                                                            "type": "select",
                                                            "label": "Alignment",
                                                            "options": [
                                                              {
                                                                "label": "Left",
                                                                "value": "LEFT"
                                                              },
                                                              {
                                                                "label": "Right",
                                                                "value": "RIGHT"
                                                              },
                                                              {
                                                                "label": "Center",
                                                                "value": "CENTER"
                                                              }
                                                            ]
                                                          },
                                                          {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width in pixels",
                                                            "validate": {
                                                              "max": 740,
                                                              "min": 0
                                                            }
                                                          }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Properties"
                                                      }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Image",
                                                    "advanced": true
                                                  }
                                                ],
                                                "type": "collection",
                                                "label": "Option"
                                              },
                                              "type": "array",
                                              "label": "Options",
                                              "required": true
                                            },
                                            {
                                              "name": "shuffle",
                                              "type": "boolean",
                                              "label": "Shuffle",
                                              "required": true
                                            }
                                          ]
                                        },
                                        {
                                          "label": "Text Question",
                                          "value": "textQuestion",
                                          "nested": [
                                            {
                                              "help": "Whether the question is a paragraph question or not. If not, the question is a short text question.",
                                              "name": "paragraph",
                                              "type": "boolean",
                                              "label": "Paragraph",
                                              "required": true
                                            }
                                          ]
                                        },
                                        {
                                          "label": "Scale Question",
                                          "value": "scaleQuestion",
                                          "nested": [
                                            {
                                              "help": "The lowest possible value for the scale.",
                                              "name": "low",
                                              "type": "integer",
                                              "label": "Low",
                                              "required": true
                                            },
                                            {
                                              "help": "The highest possible value for the scale.",
                                              "name": "high",
                                              "type": "integer",
                                              "label": "High",
                                              "required": true
                                            },
                                            {
                                              "name": "lowLabel",
                                              "type": "text",
                                              "label": "Low Label"
                                            },
                                            {
                                              "name": "highLabel",
                                              "type": "text",
                                              "label": "High Label"
                                            }
                                          ]
                                        },
                                        {
                                          "label": "Date Question",
                                          "value": "dateQuestion",
                                          "nested": [
                                            {
                                              "help": "Whether to include the time as part of the question.",
                                              "name": "includeTime",
                                              "type": "boolean",
                                              "label": "Include Time",
                                              "required": true
                                            },
                                            {
                                              "help": "Whether to include the year as part of the question.",
                                              "name": "includeYear",
                                              "type": "boolean",
                                              "label": "Include Year",
                                              "required": true
                                            }
                                          ]
                                        },
                                        {
                                          "label": "Time Question",
                                          "value": "timeQuestion",
                                          "nested": [
                                            {
                                              "help": "`Yes` if the question is about an elapsed time. Otherwise it is about a time of day.",
                                              "name": "duration",
                                              "type": "boolean",
                                              "label": "Duration",
                                              "required": true
                                            }
                                          ]
                                        },
                                        {
                                          "label": "Rating Question",
                                          "value": "ratingQuestion",
                                          "nested": [
                                            {
                                              "help": "How many levels your rating scale will have, e.g., `10`.",
                                              "name": "ratingScaleLevel",
                                              "type": "uinteger",
                                              "label": "Rating Scale Level",
                                              "required": true
                                            },
                                            {
                                              "help": "The icon type applied to the rating scale.",
                                              "name": "iconType",
                                              "type": "select",
                                              "label": "Icon Type",
                                              "options": [
                                                {
                                                  "label": "Star",
                                                  "value": "STAR"
                                                },
                                                {
                                                  "label": "Heart",
                                                  "value": "HEART"
                                                },
                                                {
                                                  "label": "Thumb Up",
                                                  "value": "THUMB_UP"
                                                }
                                              ],
                                              "required": true
                                            }
                                          ]
                                        }
                                      ],
                                      "mappable": false,
                                      "required": true
                                    },
                                    {
                                      "help": "If not provided, a new ID is assigned.",
                                      "name": "questionId",
                                      "type": "text",
                                      "label": "Question ID"
                                    },
                                    {
                                      "name": "grading",
                                      "spec": [
                                        {
                                          "help": "The maximum number of points a respondent can automatically get for a correct answer.",
                                          "name": "pointValue",
                                          "type": "uinteger",
                                          "label": "Point Value"
                                        },
                                        {
                                          "name": "correctAnswers",
                                          "spec": [
                                            {
                                              "help": "Correct answers may only be specified for `Text`, `Checkbox`, `Radio`, and `Drop Down` questions.",
                                              "name": "answers",
                                              "spec": {
                                                "spec": [
                                                  {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value",
                                                    "required": true
                                                  }
                                                ],
                                                "type": "collection",
                                                "label": "Answer"
                                              },
                                              "type": "array",
                                              "label": "Answers"
                                            }
                                          ],
                                          "type": "collection",
                                          "label": "Correct Answers"
                                        },
                                        {
                                          "name": "whenRight",
                                          "spec": [
                                            {
                                              "name": "text",
                                              "type": "text",
                                              "label": "Text"
                                            },
                                            {
                                              "name": "material",
                                              "spec": {
                                                "spec": [
                                                  {
                                                    "name": "link",
                                                    "spec": [
                                                      {
                                                        "name": "uri",
                                                        "type": "url",
                                                        "label": "URL"
                                                      },
                                                      {
                                                        "name": "displayText",
                                                        "type": "text",
                                                        "label": "Display Text"
                                                      }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Link"
                                                  },
                                                  {
                                                    "name": "video",
                                                    "spec": [
                                                      {
                                                        "name": "youtubeUri",
                                                        "type": "url",
                                                        "label": "Youtube URL"
                                                      },
                                                      {
                                                        "name": "displayText",
                                                        "type": "text",
                                                        "label": "Display Text"
                                                      }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Video"
                                                  }
                                                ],
                                                "type": "collection",
                                                "label": "Material"
                                              },
                                              "type": "array",
                                              "label": "Materials"
                                            }
                                          ],
                                          "type": "collection",
                                          "label": "When Right"
                                        },
                                        {
                                          "name": "whenWrong",
                                          "spec": [
                                            {
                                              "name": "text",
                                              "type": "text",
                                              "label": "Text"
                                            },
                                            {
                                              "name": "material",
                                              "spec": {
                                                "spec": [
                                                  {
                                                    "name": "link",
                                                    "spec": [
                                                      {
                                                        "name": "uri",
                                                        "type": "url",
                                                        "label": "URL"
                                                      },
                                                      {
                                                        "name": "displayText",
                                                        "type": "text",
                                                        "label": "Display Text"
                                                      }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Link"
                                                  },
                                                  {
                                                    "name": "video",
                                                    "spec": [
                                                      {
                                                        "name": "youtubeUri",
                                                        "type": "url",
                                                        "label": "Youtube URL"
                                                      },
                                                      {
                                                        "name": "displayText",
                                                        "type": "text",
                                                        "label": "Display Text"
                                                      }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Video"
                                                  }
                                                ],
                                                "type": "collection",
                                                "label": "Material"
                                              },
                                              "type": "array",
                                              "label": "Materials"
                                            }
                                          ],
                                          "type": "collection",
                                          "label": "When Wrong"
                                        },
                                        {
                                          "name": "generalFeedback",
                                          "spec": [
                                            {
                                              "name": "text",
                                              "type": "text",
                                              "label": "Text"
                                            },
                                            {
                                              "name": "material",
                                              "spec": {
                                                "spec": [
                                                  {
                                                    "name": "link",
                                                    "spec": [
                                                      {
                                                        "name": "uri",
                                                        "type": "url",
                                                        "label": "URL"
                                                      },
                                                      {
                                                        "name": "displayText",
                                                        "type": "text",
                                                        "label": "Display Text"
                                                      }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Link"
                                                  },
                                                  {
                                                    "name": "video",
                                                    "spec": [
                                                      {
                                                        "name": "youtubeUri",
                                                        "type": "url",
                                                        "label": "Youtube URL"
                                                      },
                                                      {
                                                        "name": "displayText",
                                                        "type": "text",
                                                        "label": "Display Text"
                                                      }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Video"
                                                  }
                                                ],
                                                "type": "collection",
                                                "label": "Material"
                                              },
                                              "type": "array",
                                              "label": "Materials"
                                            }
                                          ],
                                          "type": "collection",
                                          "label": "General Feedback"
                                        }
                                      ],
                                      "type": "collection",
                                      "label": "Grading",
                                      "advanced": true
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Question"
                                },
                                {
                                  "name": "image",
                                  "spec": [
                                    {
                                      "name": "sourceUri",
                                      "type": "url",
                                      "label": "Source URL"
                                    },
                                    {
                                      "name": "altText",
                                      "type": "text",
                                      "label": "Alt Text"
                                    },
                                    {
                                      "name": "properties",
                                      "spec": [
                                        {
                                          "name": "alignment",
                                          "type": "select",
                                          "label": "Alignment",
                                          "options": [
                                            {
                                              "label": "Left",
                                              "value": "LEFT"
                                            },
                                            {
                                              "label": "Right",
                                              "value": "RIGHT"
                                            },
                                            {
                                              "label": "Center",
                                              "value": "CENTER"
                                            }
                                          ]
                                        },
                                        {
                                          "name": "width",
                                          "type": "uinteger",
                                          "label": "Width in pixels",
                                          "validate": {
                                            "max": 740,
                                            "min": 0
                                          }
                                        }
                                      ],
                                      "type": "collection",
                                      "label": "Properties"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Image",
                                  "advanced": true
                                }
                              ]
                            },
                            {
                              "label": "Grid Item",
                              "value": "questionGroupItem",
                              "nested": [
                                {
                                  "name": "questions",
                                  "spec": {
                                    "spec": [
                                      {
                                        "name": "required",
                                        "type": "boolean",
                                        "label": "Required",
                                        "required": true
                                      },
                                      {
                                        "name": "questionType",
                                        "type": "select",
                                        "label": "Question Type",
                                        "default": "rowQuestion",
                                        "options": [
                                          {
                                            "label": "Row Question",
                                            "value": "rowQuestion",
                                            "nested": [
                                              {
                                                "help": " The title for the single row in the `Question Group Item`.",
                                                "name": "title",
                                                "type": "text",
                                                "label": "Row Title",
                                                "required": true
                                              }
                                            ]
                                          }
                                        ],
                                        "mappable": false,
                                        "required": true
                                      },
                                      {
                                        "name": "grading",
                                        "spec": [
                                          {
                                            "help": "The maximum number of points a respondent can automatically get for a correct answer.",
                                            "name": "pointValue",
                                            "type": "uinteger",
                                            "label": "Point Value"
                                          },
                                          {
                                            "name": "correctAnswers",
                                            "spec": [
                                              {
                                                "name": "answers",
                                                "spec": {
                                                  "spec": [
                                                    {
                                                      "name": "value",
                                                      "type": "text",
                                                      "label": "Value",
                                                      "required": true
                                                    }
                                                  ],
                                                  "type": "collection",
                                                  "label": "Answer"
                                                },
                                                "type": "array",
                                                "label": "Answers"
                                              }
                                            ],
                                            "type": "collection",
                                            "label": "Correct Answers"
                                          },
                                          {
                                            "name": "whenRight",
                                            "spec": [
                                              {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                              },
                                              {
                                                "name": "material",
                                                "spec": {
                                                  "spec": [
                                                    {
                                                      "name": "link",
                                                      "spec": [
                                                        {
                                                          "name": "uri",
                                                          "type": "url",
                                                          "label": "URL"
                                                        },
                                                        {
                                                          "name": "displayText",
                                                          "type": "text",
                                                          "label": "Display Text"
                                                        }
                                                      ],
                                                      "type": "collection",
                                                      "label": "Link"
                                                    },
                                                    {
                                                      "name": "video",
                                                      "spec": [
                                                        {
                                                          "name": "youtubeUri",
                                                          "type": "url",
                                                          "label": "Youtube URL"
                                                        },
                                                        {
                                                          "name": "displayText",
                                                          "type": "text",
                                                          "label": "Display Text"
                                                        }
                                                      ],
                                                      "type": "collection",
                                                      "label": "Video"
                                                    }
                                                  ],
                                                  "type": "collection",
                                                  "label": "Material"
                                                },
                                                "type": "array",
                                                "label": "Materials"
                                              }
                                            ],
                                            "type": "collection",
                                            "label": "When Right"
                                          },
                                          {
                                            "name": "whenWrong",
                                            "spec": [
                                              {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                              },
                                              {
                                                "name": "material",
                                                "spec": {
                                                  "spec": [
                                                    {
                                                      "name": "link",
                                                      "spec": [
                                                        {
                                                          "name": "uri",
                                                          "type": "url",
                                                          "label": "URL"
                                                        },
                                                        {
                                                          "name": "displayText",
                                                          "type": "text",
                                                          "label": "Display Text"
                                                        }
                                                      ],
                                                      "type": "collection",
                                                      "label": "Link"
                                                    },
                                                    {
                                                      "name": "video",
                                                      "spec": [
                                                        {
                                                          "name": "youtubeUri",
                                                          "type": "url",
                                                          "label": "Youtube URL"
                                                        },
                                                        {
                                                          "name": "displayText",
                                                          "type": "text",
                                                          "label": "Display Text"
                                                        }
                                                      ],
                                                      "type": "collection",
                                                      "label": "Video"
                                                    }
                                                  ],
                                                  "type": "collection",
                                                  "label": "Material"
                                                },
                                                "type": "array",
                                                "label": "Materials"
                                              }
                                            ],
                                            "type": "collection",
                                            "label": "When Wrong"
                                          },
                                          {
                                            "name": "generalFeedback",
                                            "spec": [
                                              {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                              },
                                              {
                                                "name": "material",
                                                "spec": {
                                                  "spec": [
                                                    {
                                                      "name": "link",
                                                      "spec": [
                                                        {
                                                          "name": "uri",
                                                          "type": "url",
                                                          "label": "URL"
                                                        },
                                                        {
                                                          "name": "displayText",
                                                          "type": "text",
                                                          "label": "Display Text"
                                                        }
                                                      ],
                                                      "type": "collection",
                                                      "label": "Link"
                                                    },
                                                    {
                                                      "name": "video",
                                                      "spec": [
                                                        {
                                                          "name": "youtubeUri",
                                                          "type": "url",
                                                          "label": "Youtube URL"
                                                        },
                                                        {
                                                          "name": "displayText",
                                                          "type": "text",
                                                          "label": "Display Text"
                                                        }
                                                      ],
                                                      "type": "collection",
                                                      "label": "Video"
                                                    }
                                                  ],
                                                  "type": "collection",
                                                  "label": "Material"
                                                },
                                                "type": "array",
                                                "label": "Materials"
                                              }
                                            ],
                                            "type": "collection",
                                            "label": "General Feedback"
                                          }
                                        ],
                                        "type": "collection",
                                        "label": "Grading",
                                        "advanced": true
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Question"
                                  },
                                  "type": "array",
                                  "label": "Questions"
                                },
                                {
                                  "help": "When grid is set, all questions in the group must be of kind `row`.",
                                  "name": "grid",
                                  "spec": [
                                    {
                                      "name": "columns",
                                      "spec": [
                                        {
                                          "name": "type",
                                          "type": "select",
                                          "label": "Choice Type",
                                          "options": [
                                            {
                                              "label": "Radio",
                                              "value": "RADIO"
                                            },
                                            {
                                              "label": "Checkbox",
                                              "value": "CHECKBOX"
                                            }
                                          ]
                                        },
                                        {
                                          "name": "options",
                                          "spec": {
                                            "spec": [
                                              {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                              }
                                            ],
                                            "type": "collection",
                                            "label": "Option"
                                          },
                                          "type": "array",
                                          "label": "Options"
                                        }
                                      ],
                                      "type": "collection",
                                      "label": "Columns"
                                    },
                                    {
                                      "name": "shuffleQuestions",
                                      "type": "boolean",
                                      "label": "Shuffle Questions"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Grid"
                                },
                                {
                                  "name": "image",
                                  "spec": [
                                    {
                                      "name": "sourceUri",
                                      "type": "url",
                                      "label": "Source URL"
                                    },
                                    {
                                      "name": "altText",
                                      "type": "text",
                                      "label": "Alt Text"
                                    },
                                    {
                                      "name": "properties",
                                      "spec": [
                                        {
                                          "name": "alignment",
                                          "type": "select",
                                          "label": "Alignment",
                                          "options": [
                                            {
                                              "label": "Left",
                                              "value": "LEFT"
                                            },
                                            {
                                              "label": "Right",
                                              "value": "RIGHT"
                                            },
                                            {
                                              "label": "Center",
                                              "value": "CENTER"
                                            }
                                          ]
                                        },
                                        {
                                          "name": "width",
                                          "type": "uinteger",
                                          "label": "Width in pixels",
                                          "validate": {
                                            "max": 740,
                                            "min": 0
                                          }
                                        }
                                      ],
                                      "type": "collection",
                                      "label": "Properties"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Image",
                                  "advanced": true
                                }
                              ]
                            },
                            {
                              "label": "Page Break Item",
                              "value": "pageBreakItem"
                            },
                            {
                              "label": "Text Item",
                              "value": "textItem"
                            },
                            {
                              "label": "Image Item",
                              "value": "imageItem",
                              "nested": [
                                {
                                  "name": "image",
                                  "spec": [
                                    {
                                      "name": "sourceUri",
                                      "type": "url",
                                      "label": "Source URL",
                                      "required": true
                                    },
                                    {
                                      "name": "altText",
                                      "type": "text",
                                      "label": "Alt Text"
                                    },
                                    {
                                      "name": "properties",
                                      "spec": [
                                        {
                                          "name": "alignment",
                                          "type": "select",
                                          "label": "Alignment",
                                          "options": [
                                            {
                                              "label": "Left",
                                              "value": "LEFT"
                                            },
                                            {
                                              "label": "Right",
                                              "value": "RIGHT"
                                            },
                                            {
                                              "label": "Center",
                                              "value": "CENTER"
                                            }
                                          ]
                                        },
                                        {
                                          "name": "width",
                                          "type": "uinteger",
                                          "label": "Width in pixels",
                                          "validate": {
                                            "max": 740,
                                            "min": 0
                                          }
                                        }
                                      ],
                                      "type": "collection",
                                      "label": "Properties"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Image"
                                }
                              ]
                            },
                            {
                              "label": "Video Item",
                              "value": "videoItem",
                              "nested": [
                                {
                                  "name": "video",
                                  "spec": [
                                    {
                                      "name": "youtubeUri",
                                      "type": "url",
                                      "label": "YouTube URL",
                                      "required": true
                                    },
                                    {
                                      "name": "properties",
                                      "spec": [
                                        {
                                          "name": "alignment",
                                          "type": "select",
                                          "label": "Alignment",
                                          "options": [
                                            {
                                              "label": "Left",
                                              "value": "LEFT"
                                            },
                                            {
                                              "label": "Right",
                                              "value": "RIGHT"
                                            },
                                            {
                                              "label": "Center",
                                              "value": "CENTER"
                                            }
                                          ]
                                        },
                                        {
                                          "name": "width",
                                          "type": "uinteger",
                                          "label": "Width in pixels",
                                          "validate": {
                                            "max": 740,
                                            "min": 0
                                          }
                                        }
                                      ],
                                      "type": "collection",
                                      "label": "Properties"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Video"
                                },
                                {
                                  "name": "caption",
                                  "type": "text",
                                  "label": "Caption"
                                }
                              ]
                            }
                          ],
                          "required": true
                        }
                      ],
                      "type": "collection",
                      "label": "Item"
                    },
                    "type": "array",
                    "label": "Items"
                  },
                  {
                    "name": "settings",
                    "spec": [
                      {
                        "name": "quizSettings",
                        "spec": [
                          {
                            "name": "isQuiz",
                            "type": "boolean",
                            "label": "Is Quiz"
                          }
                        ],
                        "type": "collection",
                        "label": "Quiz Settings"
                      }
                    ],
                    "type": "collection",
                    "label": "Settings"
                  }
                ],
                "restore": {
                  "expect": {
                    "items": {
                      "mode": "chose",
                      "items": [
                        {
                          "image": {
                            "nested": {
                              "properties": {
                                "nested": {
                                  "alignment": {
                                    "mode": "chose",
                                    "label": "Empty"
                                  }
                                }
                              }
                            }
                          },
                          "itemType": {
                            "mode": "chose",
                            "label": "Question Item"
                          },
                          "question": {
                            "nested": {
                              "grading": {
                                "nested": {
                                  "whenRight": {
                                    "nested": {
                                      "material": {
                                        "mode": "chose"
                                      }
                                    }
                                  },
                                  "whenWrong": {
                                    "nested": {
                                      "material": {
                                        "mode": "chose"
                                      }
                                    }
                                  },
                                  "correctAnswers": {
                                    "nested": {
                                      "answers": {
                                        "mode": "chose"
                                      }
                                    }
                                  },
                                  "generalFeedback": {
                                    "nested": {
                                      "material": {
                                        "mode": "chose"
                                      }
                                    }
                                  }
                                }
                              },
                              "required": {
                                "mode": "chose"
                              },
                              "paragraph": {
                                "mode": "chose"
                              },
                              "questionType": {
                                "mode": "chose",
                                "label": "Text Question"
                              }
                            }
                          }
                        },
                        {
                          "image": {
                            "nested": {
                              "properties": {
                                "nested": {
                                  "alignment": {
                                    "mode": "chose",
                                    "label": "Empty"
                                  }
                                }
                              }
                            }
                          },
                          "itemType": {
                            "mode": "chose",
                            "label": "Question Item"
                          },
                          "question": {
                            "nested": {
                              "grading": {
                                "nested": {
                                  "whenRight": {
                                    "nested": {
                                      "material": {
                                        "mode": "chose"
                                      }
                                    }
                                  },
                                  "whenWrong": {
                                    "nested": {
                                      "material": {
                                        "mode": "chose"
                                      }
                                    }
                                  },
                                  "correctAnswers": {
                                    "nested": {
                                      "answers": {
                                        "mode": "chose"
                                      }
                                    }
                                  },
                                  "generalFeedback": {
                                    "nested": {
                                      "material": {
                                        "mode": "chose"
                                      }
                                    }
                                  }
                                }
                              },
                              "required": {
                                "mode": "chose"
                              },
                              "paragraph": {
                                "mode": "chose"
                              },
                              "questionType": {
                                "mode": "chose",
                                "label": "Text Question"
                              }
                            }
                          }
                        }
                      ]
                    },
                    "settings": {
                      "nested": {
                        "quizSettings": {
                          "nested": {
                            "isQuiz": {
                              "mode": "chose"
                            }
                          }
                        }
                      }
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Google Sheets (Gerardo - FUNDACIÓN INNOVAR) (guribururomero@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "designer": {
                  "x": 2100,
                  "y": 0,
                  "name": "Create registration form"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 6281682
              }
            },
            {
              "id": 12,
              "mapper": {
                "from": "team",
                "mode": "select",
                "values": {
                  "6": "{{11.formId}}"
                },
                "sheetId": "Reuniones virtuales",
                "rowNumber": "{{4.rowNumber}}",
                "sharedDrive": "0AK06uo_haiSBUk9PVA",
                "spreadsheetId": "/1SeOnMeet8Q8Q6L3q4attHXhNppxE_e8vbJhhG_ghZlg",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED",
                "useDomainAdminAccess": false
              },
              "module": "google-sheets:updateRow",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share",
                        "team"
                      ]
                    }
                  },
                  {
                    "name": "useDomainAdminAccess",
                    "type": "select",
                    "label": "Use Domain Admin Access",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "sharedDrive",
                    "type": "select",
                    "label": "Shared Drive",
                    "required": true
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet ID",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "rowNumber",
                    "type": "uinteger",
                    "label": "Row number",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "ID (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "Fecha (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "Hora (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "Edición de curso (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "Duración (minutos) (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "Link de la reunión (F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "id_forms_asociado (G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                      }
                    ],
                    "type": "collection",
                    "label": "Values"
                  }
                ],
                "restore": {
                  "expect": {
                    "from": {
                      "label": "Google Shared Drive"
                    },
                    "mode": {
                      "label": "Search by path"
                    },
                    "sheetId": {
                      "label": "Reuniones virtuales"
                    },
                    "sharedDrive": {
                      "label": "IITA Cursos"
                    },
                    "spreadsheetId": {
                      "path": [
                        "Testeos (no tocar)- Información de cursos 2025"
                      ]
                    },
                    "includesHeaders": {
                      "label": "Yes",
                      "nested": [
                        {
                          "name": "values",
                          "spec": [
                            {
                              "name": "0",
                              "type": "text",
                              "label": "ID (A)"
                            },
                            {
                              "name": "1",
                              "type": "text",
                              "label": "Fecha (B)"
                            },
                            {
                              "name": "2",
                              "type": "text",
                              "label": "Hora (C)"
                            },
                            {
                              "name": "3",
                              "type": "text",
                              "label": "Edición de curso (D)"
                            },
                            {
                              "name": "4",
                              "type": "text",
                              "label": "Duración (minutos) (E)"
                            },
                            {
                              "name": "5",
                              "type": "text",
                              "label": "Link de la reunión (F)"
                            },
                            {
                              "name": "6",
                              "type": "text",
                              "label": "id_forms_asociado (G)"
                            },
                            {
                              "name": "7",
                              "type": "text",
                              "label": "(H)"
                            },
                            {
                              "name": "8",
                              "type": "text",
                              "label": "(I)"
                            },
                            {
                              "name": "9",
                              "type": "text",
                              "label": "(J)"
                            },
                            {
                              "name": "10",
                              "type": "text",
                              "label": "(K)"
                            },
                            {
                              "name": "11",
                              "type": "text",
                              "label": "(L)"
                            },
                            {
                              "name": "12",
                              "type": "text",
                              "label": "(M)"
                            },
                            {
                              "name": "13",
                              "type": "text",
                              "label": "(N)"
                            },
                            {
                              "name": "14",
                              "type": "text",
                              "label": "(O)"
                            },
                            {
                              "name": "15",
                              "type": "text",
                              "label": "(P)"
                            },
                            {
                              "name": "16",
                              "type": "text",
                              "label": "(Q)"
                            },
                            {
                              "name": "17",
                              "type": "text",
                              "label": "(R)"
                            },
                            {
                              "name": "18",
                              "type": "text",
                              "label": "(S)"
                            },
                            {
                              "name": "19",
                              "type": "text",
                              "label": "(T)"
                            },
                            {
                              "name": "20",
                              "type": "text",
                              "label": "(U)"
                            },
                            {
                              "name": "21",
                              "type": "text",
                              "label": "(V)"
                            },
                            {
                              "name": "22",
                              "type": "text",
                              "label": "(W)"
                            },
                            {
                              "name": "23",
                              "type": "text",
                              "label": "(X)"
                            },
                            {
                              "name": "24",
                              "type": "text",
                              "label": "(Y)"
                            }
                          ],
                          "type": "collection",
                          "label": "Values"
                        }
                      ]
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    },
                    "useDomainAdminAccess": {
                      "label": "No"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "google"
                      },
                      "label": "Google Sheets (Gerardo - FUNDACIÓN INNOVAR) (guribururomero@fundacioninnovar.org.ar)"
                    }
                  }
                },
                "designer": {
                  "x": 2400,
                  "y": 0,
                  "name": "Register associated form"
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "__IMTCONN__": 6281682
              }
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    }
  ],
  "name": "Create Google Sheets records",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "2": {
          "data": {
            "date": "20-11-2025",
            "time": "12:05",
            "course_edition": "10",
            "duration_in_minutes": "150"
          },
          "meeting_id": "88431537019",
          "meeting_url": "https://us06web.zoom.us/j/88431537019?pwd=gZ2Jkbi6YxzYUubcXUTbWKSjJkImhf.1",
          "operation_type": "meeting_register"
        },
        "4": {
          "updates": {
            "updatedRows": 1,
            "updatedCells": 5,
            "updatedRange": "'Reuniones virtuales'!A2:F2",
            "spreadsheetId": "1SeOnMeet8Q8Q6L3q4attHXhNppxE_e8vbJhhG_ghZlg",
            "updatedColumns": 5
          },
          "rowNumber": 2,
          "sheetName": "Reuniones virtuales",
          "tableRange": "'Reuniones virtuales'!A1:G1",
          "spreadsheetId": "1SeOnMeet8Q8Q6L3q4attHXhNppxE_e8vbJhhG_ghZlg"
        },
        "5": {
          "updates": {
            "updatedRows": 1,
            "updatedCells": 3,
            "updatedRange": "'Grabaciones de Reuniones'!A2:D2",
            "spreadsheetId": "1SeOnMeet8Q8Q6L3q4attHXhNppxE_e8vbJhhG_ghZlg",
            "updatedColumns": 3
          },
          "rowNumber": 2,
          "sheetName": "Grabaciones de Reuniones",
          "tableRange": "'Grabaciones de Reuniones'!A1:E1",
          "spreadsheetId": "1SeOnMeet8Q8Q6L3q4attHXhNppxE_e8vbJhhG_ghZlg"
        },
        "6": {
          "0": "1",
          "1": "20-11-2025",
          "2": "12:05",
          "3": "10",
          "4": "150",
          "5": "https://us06web.zoom.us/j/88431537019?pwd=gZ2Jkbi6YxzYUubcXUTbWKSjJkImhf.1",
          "__SHEET__": "Reuniones virtuales",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 1,
          "__ROW_NUMBER__": 2,
          "__SPREADSHEET_ID__": "1SeOnMeet8Q8Q6L3q4attHXhNppxE_e8vbJhhG_ghZlg"
        },
        "10": {
          "0": "10",
          "1": "Robotica con arduino presencial",
          "2": "Jueves",
          "3": "18:30 a 21:00",
          "4": "",
          "5": "Salta",
          "6": "Virtual",
          "7": "4",
          "8": "Inscribiendo",
          "__SHEET__": "Ediciones cursos",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 1,
          "__ROW_NUMBER__": 11,
          "__SPREADSHEET_ID__": "1SeOnMeet8Q8Q6L3q4attHXhNppxE_e8vbJhhG_ghZlg"
        },
        "11": {
          "info": {
            "title": "10 - Robotica con arduino presencial Jueves 18:30 a 21:00",
            "description": "Complete los campos del presente formulario para acceder a la clase virtual del curso. El enlace par...",
            "documentTitle": "10 - Robotica con arduino presencial Jueves 18:30 a 21:00"
          },
          "items": [
            {
              "title": "Nombre y Apellido",
              "itemId": "444961c5",
              "description": "Complete con su nombre y apellido",
              "questionItem": {
                "question": {
                  "required": true,
                  "questionId": "32daad41",
                  "textQuestion": {}
                }
              }
            }
          ],
          "formId": "18voqggWdyfVezIJXvNy8504SCEDPn86bK-B3m1zPIjY",
          "settings": {
            "emailCollectionType": "DO_NOT_COLLECT"
          },
          "revisionId": "00000004",
          "responderUri": "https://docs.google.com/forms/d/e/1FAIpQLSf7YPC5eqSH8Msthf5unu7TjTSpDGHPjig9SwyeNL3qFXCNiA/viewform",
          "publishSettings": {
            "publishState": {
              "isPublished": true,
              "isAcceptingResponses": true
            }
          }
        },
        "12": {
          "updatedRows": 1,
          "updatedCells": 1,
          "updatedRange": "'Reuniones virtuales'!A2:G2",
          "spreadsheetId": "1SeOnMeet8Q8Q6L3q4attHXhNppxE_e8vbJhhG_ghZlg",
          "updatedColumns": 1
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}