automations/make-scenarios/snapshots/2026-02-19_nocturno/8_otros/2740948_novedades_3d.json
{
  "flow": [
    {
      "id": 3,
      "mapper": {},
      "module": "rss:TriggerNewArticle",
      "version": 4,
      "metadata": {
        "restore": {},
        "designer": {
          "x": 0,
          "y": 0,
          "name": "Noticias 3D"
        },
        "interface": [
          {
            "name": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "name": "description",
            "type": "text",
            "label": "Description"
          },
          {
            "name": "summary",
            "type": "text",
            "label": "Summary"
          },
          {
            "name": "author",
            "type": "text",
            "label": "Author"
          },
          {
            "name": "url",
            "type": "url",
            "label": "URL"
          },
          {
            "name": "dateUpdated",
            "type": "date",
            "label": "Date updated"
          },
          {
            "name": "dateCreated",
            "type": "date",
            "label": "Date created"
          },
          {
            "name": "comments",
            "type": "url",
            "label": "Comments"
          },
          {
            "name": "image",
            "spec": [
              {
                "name": "title",
                "type": "text",
                "label": "Name"
              },
              {
                "name": "url",
                "type": "url",
                "label": "URL"
              }
            ],
            "type": "collection",
            "label": "Image"
          },
          {
            "name": "categories",
            "spec": {
              "type": "text"
            },
            "type": "array",
            "label": "Categories"
          },
          {
            "name": "source",
            "spec": [
              {
                "name": "title",
                "type": "text",
                "label": "Name"
              },
              {
                "name": "url",
                "type": "url",
                "label": "URL"
              }
            ],
            "type": "collection",
            "label": "Source"
          },
          {
            "name": "enclosures",
            "spec": [
              {
                "name": "url",
                "type": "url",
                "label": "URL"
              },
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "length",
                "type": "number",
                "label": "Length"
              }
            ],
            "type": "array",
            "label": "Enclosures"
          },
          {
            "help": "Other RSS fields. All values are in text format.",
            "name": "rssFields",
            "spec": [
              {
                "name": "title",
                "type": "text",
                "label": "title"
              },
              {
                "name": "link",
                "type": "text",
                "label": "link"
              },
              {
                "name": "comments",
                "type": "text",
                "label": "comments"
              },
              {
                "name": "pubdate",
                "type": "text",
                "label": "pubdate"
              },
              {
                "name": "category",
                "type": "text",
                "label": "category"
              },
              {
                "name": "guid",
                "type": "text",
                "label": "guid"
              },
              {
                "name": "description",
                "type": "text",
                "label": "description"
              },
              {
                "name": "media:content",
                "spec": [
                  {
                    "name": "props",
                    "spec": [
                      {
                        "name": "url",
                        "type": "text",
                        "label": "url"
                      },
                      {
                        "name": "type",
                        "type": "text",
                        "label": "type"
                      },
                      {
                        "name": "medium",
                        "type": "text",
                        "label": "medium"
                      },
                      {
                        "name": "width",
                        "type": "number",
                        "label": "width"
                      },
                      {
                        "name": "height",
                        "type": "number",
                        "label": "height"
                      }
                    ],
                    "type": "collection",
                    "label": "Properties"
                  },
                  {
                    "name": "value",
                    "type": "text",
                    "label": "Value"
                  },
                  {
                    "name": "media:description",
                    "spec": [
                      {
                        "name": "props",
                        "spec": [
                          {
                            "name": "type",
                            "type": "text",
                            "label": "type"
                          }
                        ],
                        "type": "collection",
                        "label": "Properties"
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ],
                    "type": "collection",
                    "label": "media:description"
                  }
                ],
                "type": "collection",
                "label": "media:content"
              }
            ],
            "type": "collection",
            "label": "RSS fields"
          }
        ],
        "parameters": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of returned items",
            "required": true
          },
          {
            "name": "username",
            "type": "text",
            "label": "User name"
          },
          {
            "name": "password",
            "type": "text",
            "label": "Password"
          },
          {
            "name": "include",
            "type": "select",
            "label": "Process RSS fields",
            "multiple": true,
            "validate": {
              "enum": [
                "google-merchant-center",
                "itunes"
              ]
            }
          },
          {
            "name": "gzip",
            "type": "boolean",
            "label": "Request compressed content",
            "required": true
          }
        ]
      },
      "parameters": {
        "url": "https://www.3dnatives.com/es/feed/",
        "gzip": true,
        "include": [],
        "password": "",
        "username": "",
        "maxResults": 1
      }
    },
    {
      "id": 6,
      "mapper": {
        "ca": "",
        "qs": [],
        "url": "{{3.url}}",
        "gzip": true,
        "method": "get",
        "headers": [],
        "timeout": "",
        "useMtls": false,
        "authPass": "",
        "authUser": "",
        "bodyType": "",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": false,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "module": "http:ActionSendData",
      "version": 3,
      "metadata": {
        "expect": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "serializeUrl",
            "type": "boolean",
            "label": "Serialize URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "get",
                "head",
                "post",
                "put",
                "patch",
                "delete",
                "options"
              ]
            }
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Name",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "qs",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Name",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Query String"
          },
          {
            "name": "bodyType",
            "type": "select",
            "label": "Body type",
            "validate": {
              "enum": [
                "raw",
                "x_www_form_urlencoded",
                "multipart_form_data"
              ]
            }
          },
          {
            "name": "parseResponse",
            "type": "boolean",
            "label": "Parse response",
            "required": true
          },
          {
            "name": "authUser",
            "type": "text",
            "label": "User name"
          },
          {
            "name": "authPass",
            "type": "password",
            "label": "Password"
          },
          {
            "name": "timeout",
            "type": "uinteger",
            "label": "Timeout",
            "validate": {
              "max": 300,
              "min": 1
            }
          },
          {
            "name": "shareCookies",
            "type": "boolean",
            "label": "Share cookies with other HTTP modules",
            "required": true
          },
          {
            "name": "ca",
            "type": "cert",
            "label": "Self-signed certificate"
          },
          {
            "name": "rejectUnauthorized",
            "type": "boolean",
            "label": "Reject connections that are using unverified (self-signed) certificates",
            "required": true
          },
          {
            "name": "followRedirect",
            "type": "boolean",
            "label": "Follow redirect",
            "required": true
          },
          {
            "name": "useQuerystring",
            "type": "boolean",
            "label": "Disable serialization of multiple same query string keys as arrays",
            "required": true
          },
          {
            "name": "gzip",
            "type": "boolean",
            "label": "Request compressed content",
            "required": true
          },
          {
            "name": "useMtls",
            "type": "boolean",
            "label": "Use Mutual TLS",
            "required": true
          },
          {
            "name": "followAllRedirects",
            "type": "boolean",
            "label": "Follow all redirect",
            "required": true
          }
        ],
        "restore": {
          "expect": {
            "qs": {
              "mode": "chose"
            },
            "method": {
              "mode": "chose",
              "label": "GET"
            },
            "headers": {
              "mode": "chose"
            },
            "bodyType": {
              "label": "Empty"
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 0,
          "name": "Extrae todo el HTML"
        },
        "parameters": [
          {
            "name": "handleErrors",
            "type": "boolean",
            "label": "Evaluate all states as errors (except for 2xx and 3xx )",
            "required": true
          },
          {
            "name": "useNewZLibDeCompress",
            "type": "hidden"
          }
        ]
      },
      "parameters": {
        "handleErrors": true,
        "useNewZLibDeCompress": true
      }
    },
    {
      "id": 38,
      "mapper": {},
      "module": "util:FunctionIncrement",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "reset": {
              "label": "Never"
            }
          }
        },
        "designer": {
          "x": 600,
          "y": 0,
          "name": "Autoincrement"
        },
        "parameters": [
          {
            "name": "reset",
            "type": "select",
            "label": "Reset a value",
            "required": true,
            "validate": {
              "enum": [
                "run",
                "execution",
                "scenario"
              ]
            }
          }
        ]
      },
      "parameters": {
        "reset": "scenario"
      }
    },
    {
      "id": 12,
      "mapper": {
        "html": "{{6.data}}",
        "newline": "lf",
        "uppercaseHeadings": true
      },
      "module": "regexp:HTMLToText",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "html",
            "type": "text",
            "label": "HTML"
          },
          {
            "name": "newline",
            "type": "select",
            "label": "Line break",
            "required": true,
            "validate": {
              "enum": [
                "lf",
                "crlf",
                "cr"
              ]
            }
          },
          {
            "name": "uppercaseHeadings",
            "type": "boolean",
            "label": "Uppercase headings",
            "required": true
          }
        ],
        "restore": {
          "expect": {
            "newline": {
              "label": "LF (\\n) - Unix/Mac OS X"
            }
          }
        },
        "designer": {
          "x": 900,
          "y": 0,
          "name": "HTML a texto"
        }
      },
      "parameters": {}
    },
    {
      "id": 7,
      "mapper": {
        "model": "gpt-3.5-turbo",
        "top_p": "1",
        "select": "chat",
        "messages": [
          {
            "role": "system",
            "content": "Lee el siguiente texto extraído de una noticia: {{12.text}}.\r\n\r\n1. Extrae la información más relevante y crea un resumen extenso, incluyendo el título de la noticia.\r\n2. Adapta el resumen para un post de Facebook, comenzando con un gancho que capture la atención del lector en segundos.\r\n3. Al final del post, añade el link original de la noticia: {{3.url}}.\r\n4. Finaliza con un llamado a la acción, por ejemplo: \"Síguenos para más novedades del mundo de la impresión 3D\".\r\n5. Añade hashtags relevantes al tema.\r\n\r\nNo incluyas otros links, menús, anuncios o información que no pertenezca al cuerpo principal de la noticia. El texto final debe estar listo para publicar en Facebook.\nSólo dame el texto final listo para el post, no devuelvas nada adicional a esto."
          }
        ],
        "max_tokens": "2048",
        "temperature": "1",
        "n_completions": "1",
        "response_format": "text"
      },
      "module": "openai-gpt-3:CreateCompletion",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "select",
            "type": "select",
            "label": "Select Method",
            "required": true,
            "validate": {
              "enum": [
                "chat",
                "prompt"
              ]
            }
          },
          {
            "name": "temperature",
            "type": "number",
            "label": "Temperature",
            "validate": {
              "max": 2,
              "min": 0
            }
          },
          {
            "name": "top_p",
            "type": "number",
            "label": "Top P",
            "validate": {
              "max": 1,
              "min": 0
            }
          },
          {
            "name": "n_completions",
            "type": "number",
            "label": "Number"
          },
          {
            "name": "frequency_penalty",
            "type": "number",
            "label": "Frequency Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "presence_penalty",
            "type": "number",
            "label": "Presence Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "logit_bias",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "token",
                  "type": "text",
                  "label": "Token ID",
                  "required": true
                },
                {
                  "name": "probability",
                  "type": "number",
                  "label": "Probability",
                  "required": true,
                  "validate": {
                    "max": 100,
                    "min": -100
                  }
                }
              ],
              "type": "collection",
              "label": "Token Probability"
            },
            "type": "array",
            "label": "Token Probability"
          },
          {
            "name": "seed",
            "type": "integer",
            "label": "Seed"
          },
          {
            "name": "tool_choice",
            "type": "select",
            "label": "Tool Choice",
            "validate": {
              "enum": [
                "none",
                "auto",
                "required"
              ]
            }
          },
          {
            "name": "stop",
            "spec": {
              "name": "value",
              "type": "text",
              "label": "Stop Sequence"
            },
            "type": "array",
            "label": "Stop Sequences",
            "validate": {
              "maxItems": 4
            }
          },
          {
            "name": "additionalParameters",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "key",
                  "type": "text",
                  "label": "Parameter Name",
                  "required": true
                },
                {
                  "name": "type",
                  "type": "select",
                  "label": "Input Type",
                  "options": [
                    {
                      "label": "Text",
                      "value": "text",
                      "nested": [
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Parameter Value"
                        }
                      ],
                      "default": true
                    },
                    {
                      "label": "Number",
                      "value": "number",
                      "nested": [
                        {
                          "name": "value",
                          "type": "number",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Boolean",
                      "value": "boolean",
                      "nested": [
                        {
                          "name": "value",
                          "type": "boolean",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Date",
                      "value": "date",
                      "nested": [
                        {
                          "name": "value",
                          "type": "date",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Any",
                      "value": "any",
                      "nested": [
                        {
                          "name": "value",
                          "type": "any",
                          "label": "Parameter Value"
                        }
                      ]
                    }
                  ]
                }
              ],
              "type": "collection",
              "label": "Input Parameter"
            },
            "type": "array",
            "label": "Other Input Parameters"
          },
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true
          },
          {
            "name": "max_tokens",
            "type": "uinteger",
            "label": "Max Completion Tokens"
          },
          {
            "name": "messages",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "role",
                  "type": "select",
                  "label": "Role",
                  "options": {
                    "store": [
                      {
                        "label": "User",
                        "value": "user",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          }
                        ]
                      },
                      {
                        "label": "Assistant",
                        "value": "assistant",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          },
                          {
                            "mode": "edit",
                            "name": "tool_calls",
                            "spec": {
                              "spec": [
                                {
                                  "name": "type",
                                  "type": "hidden",
                                  "default": "function"
                                },
                                {
                                  "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                  "name": "id",
                                  "type": "text",
                                  "label": "Tool call ID"
                                },
                                {
                                  "name": "function",
                                  "spec": [
                                    {
                                      "help": "The name of the function previously called.",
                                      "name": "name",
                                      "type": "text",
                                      "label": "Name",
                                      "required": true
                                    },
                                    {
                                      "help": "The arguments previously output by the AI.",
                                      "name": "arguments",
                                      "type": "text",
                                      "label": "Arguments",
                                      "required": true
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Function"
                                }
                              ],
                              "type": "collection",
                              "label": "Tool Call"
                            },
                            "type": "array",
                            "label": "Tool Calls",
                            "labels": {
                              "add": "Add tool call"
                            },
                            "mappable": {
                              "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                            }
                          }
                        ]
                      },
                      {
                        "label": "Developer / System",
                        "value": "system",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          }
                        ]
                      },
                      {
                        "label": "Tool",
                        "value": "tool",
                        "nested": [
                          {
                            "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content",
                            "required": true
                          },
                          {
                            "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                            "name": "tool_call_id",
                            "type": "text",
                            "label": "Tool Call ID.",
                            "required": true
                          }
                        ]
                      }
                    ]
                  },
                  "required": true
                }
              ],
              "type": "collection",
              "label": "Message"
            },
            "type": "array",
            "label": "Messages",
            "required": true
          },
          {
            "name": "response_format",
            "type": "select",
            "label": "Response Format",
            "validate": {
              "enum": [
                "text",
                "json_object"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "stop": {
              "mode": "chose"
            },
            "model": {
              "mode": "chose",
              "label": "gpt-3.5-turbo"
            },
            "select": {
              "label": "Create a Chat Completion (GPT and o1 models)"
            },
            "messages": {
              "mode": "chose",
              "items": [
                {
                  "role": {
                    "mode": "chose",
                    "label": "Developer / System"
                  }
                }
              ]
            },
            "logit_bias": {
              "mode": "chose"
            },
            "tool_choice": {
              "mode": "chose",
              "label": "Empty"
            },
            "response_format": {
              "mode": "chose",
              "label": "Text"
            },
            "additionalParameters": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "openai-gpt-3"
              },
              "label": "AI Content Generator"
            }
          }
        },
        "designer": {
          "x": 1200,
          "y": 0,
          "name": "Resume la noticia"
        },
        "interface": [
          {
            "name": "result",
            "type": "any",
            "label": "Result"
          },
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "object",
            "type": "text",
            "label": "Object"
          },
          {
            "name": "created",
            "type": "date",
            "label": "Created"
          },
          {
            "name": "model",
            "type": "text",
            "label": "Model"
          },
          {
            "name": "choices",
            "spec": [
              {
                "name": "text",
                "type": "text",
                "label": "Text"
              },
              {
                "name": "index",
                "type": "number",
                "label": "Index"
              },
              {
                "name": "logprobs",
                "type": "text",
                "label": "Log Probs"
              },
              {
                "name": "finish_reason",
                "type": "text",
                "label": "Finish Reason"
              },
              {
                "name": "message",
                "spec": [
                  {
                    "name": "role",
                    "type": "text",
                    "label": "Role"
                  },
                  {
                    "name": "content",
                    "type": "text",
                    "label": "Content"
                  },
                  {
                    "name": "tool_calls",
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "function",
                        "spec": [
                          {
                            "name": "name",
                            "type": "text",
                            "label": "Name"
                          },
                          {
                            "name": "arguments",
                            "type": "text",
                            "label": "Arguments"
                          }
                        ],
                        "type": "collection",
                        "label": "Function"
                      }
                    ],
                    "type": "array",
                    "label": "Tool Calls"
                  },
                  {
                    "name": "refusal",
                    "type": "text",
                    "label": "Refusal"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "url_citation",
                        "spec": [
                          {
                            "name": "end_index",
                            "type": "number",
                            "label": "End Index"
                          },
                          {
                            "name": "start_index",
                            "type": "number",
                            "label": "Start Index"
                          },
                          {
                            "name": "title",
                            "type": "text",
                            "label": "Title"
                          },
                          {
                            "name": "url",
                            "type": "text",
                            "label": "URL"
                          }
                        ],
                        "type": "collection",
                        "label": "URL Citation"
                      }
                    ],
                    "type": "array",
                    "label": "Annotations"
                  }
                ],
                "type": "collection",
                "label": "Message"
              }
            ],
            "type": "array",
            "label": "Choices"
          },
          {
            "name": "usage",
            "spec": [
              {
                "name": "prompt_tokens",
                "type": "number",
                "label": "Prompt Tokens"
              },
              {
                "name": "completion_tokens",
                "type": "text",
                "label": "Completion Tokens"
              },
              {
                "name": "total_tokens",
                "type": "number",
                "label": "Total Tokens"
              },
              {
                "name": "prompt_tokens_details",
                "spec": [
                  {
                    "name": "cached_tokens",
                    "type": "uinteger",
                    "label": "Cached Tokens"
                  },
                  {
                    "name": "text_tokens",
                    "type": "uinteger",
                    "label": "Text Tokens"
                  },
                  {
                    "name": "image_tokens",
                    "type": "uinteger",
                    "label": "Image Tokens"
                  },
                  {
                    "name": "audio_tokens",
                    "type": "uinteger",
                    "label": "Audio Tokens"
                  }
                ],
                "type": "collection",
                "label": "Prompt Tokens Details"
              },
              {
                "name": "completion_tokens_details",
                "spec": [
                  {
                    "name": "reasoning_tokens",
                    "type": "uinteger",
                    "label": "Reasoning Tokens"
                  },
                  {
                    "name": "text_tokens",
                    "type": "uinteger",
                    "label": "Text Tokens"
                  },
                  {
                    "name": "audio_tokens",
                    "type": "uinteger",
                    "label": "Audio Tokens"
                  },
                  {
                    "name": "accepted_prediction_tokens",
                    "type": "uinteger",
                    "label": "Accepted Prediction Tokens"
                  },
                  {
                    "name": "rejected_prediction_tokens",
                    "type": "uinteger",
                    "label": "Rejected Prediction Tokens"
                  }
                ],
                "type": "collection",
                "label": "Completion Tokens Details"
              }
            ],
            "type": "collection",
            "label": "Usage"
          },
          {
            "name": "service_tier",
            "type": "text",
            "label": "Service Tier"
          },
          {
            "name": "system_fingerprint",
            "type": "text",
            "label": "System Fingerprint"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:openai-gpt-3",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 4371900
      }
    },
    {
      "id": 13,
      "mapper": {
        "n": "1",
        "model": "gpt-image-1",
        "prompt": "Crea una imagen publicitaria realista y profesional para dar información acerca de una noticia real, basada en el siguiente título \"{{3.title}}\" y el siguiente texto \"{{7.result}}\".\n\nFormato: Optimizado para Facebook en relación de aspecto 1:1 (cuadrado) o 4:5 (vertical), resolución mínima 1080×1080 px. Mantén todos los textos y elementos clave dentro de un margen seguro de al menos 10% desde los bordes.\nEstilo: Fotografía realista, iluminación natural, con colores vivos y llamativos que armonicen bien y dirijan la atención a lo importante.\nTexto: Estrictamente un máximo de tres frases cortas, en español, diseñadas para captar la atención al instante. Tipografía clara, moderna y profesional. El texto debe estar separado de los objetos y no tocar los bordes.\nComposición: Espacio amplio entre elementos, estética equilibrada y sin saturación.\nSensación: Positiva, entusiasta y motivadora, transmitiendo confianza, innovación y profesionalismo.\nTemática: Mostrar elementos visuales vinculados a la noticia y a la formación tecnológica (personas, herramientas, entornos de aprendizaje, tecnología aplicada).\nImportante: No incluir hastags."
      },
      "module": "openai-gpt-3:GenerateImage",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true,
            "validate": {
              "enum": [
                "gpt-image-1",
                "dall-e-3",
                "dall-e-2"
              ]
            }
          },
          {
            "name": "prompt",
            "type": "text",
            "label": "Prompt",
            "required": true,
            "validate": {
              "max": 32000,
              "min": 1
            }
          },
          {
            "name": "size",
            "type": "select",
            "label": "Size",
            "validate": {
              "enum": [
                "auto",
                "1024x1024",
                "1536x1024",
                "1024x1536"
              ]
            }
          },
          {
            "name": "quality",
            "type": "select",
            "label": "Quality",
            "validate": {
              "enum": [
                "auto",
                "high",
                "medium",
                "low"
              ]
            }
          },
          {
            "name": "background",
            "type": "select",
            "label": "Background",
            "validate": {
              "enum": [
                "auto",
                "transparent",
                "opaque"
              ]
            }
          },
          {
            "name": "n",
            "type": "integer",
            "label": "Number",
            "validate": {
              "max": 10,
              "min": 1
            }
          },
          {
            "name": "moderation",
            "type": "select",
            "label": "Moderation",
            "validate": {
              "enum": [
                "auto",
                "low"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "size": {
              "mode": "chose",
              "label": "Empty"
            },
            "model": {
              "mode": "chose",
              "label": "GPT Image 1"
            },
            "quality": {
              "mode": "chose",
              "label": "Empty"
            },
            "background": {
              "mode": "chose",
              "label": "Empty"
            },
            "moderation": {
              "mode": "chose",
              "label": "Empty"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "openai-gpt-3"
              },
              "label": "AI Content Generator"
            }
          }
        },
        "designer": {
          "x": 1500,
          "y": 0,
          "name": "Genera imagen acorde"
        },
        "interface": [
          {
            "name": "created",
            "type": "date",
            "label": "Created"
          },
          {
            "name": "data",
            "spec": [
              {
                "name": "fileName",
                "type": "text",
                "label": "File Name",
                "semantic": "file:name"
              },
              {
                "name": "fileData",
                "type": "buffer",
                "label": "File Data",
                "semantic": "file:data"
              }
            ],
            "type": "array",
            "label": "Data"
          },
          {
            "name": "resImgName",
            "type": "text",
            "label": "Response Image Name",
            "semantic": "file:name"
          },
          {
            "name": "resImgData",
            "type": "buffer",
            "label": "Response Image Data",
            "semantic": "file:data"
          },
          {
            "name": "usage",
            "spec": [
              {
                "name": "input_tokens",
                "type": "uinteger",
                "label": "Input Tokens"
              },
              {
                "name": "input_tokens_details",
                "spec": [
                  {
                    "name": "image_tokens",
                    "type": "uinteger",
                    "label": "Image Tokens"
                  },
                  {
                    "name": "text_tokens",
                    "type": "uinteger",
                    "label": "Text Tokens"
                  }
                ],
                "type": "collection",
                "label": "Input Tokens Details"
              },
              {
                "name": "output_tokens",
                "type": "uinteger",
                "label": "Output Tokens"
              },
              {
                "name": "total_tokens",
                "type": "uinteger",
                "label": "Total Tokens"
              }
            ],
            "type": "collection",
            "label": "Usage"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:openai-gpt-3",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 4371900
      }
    },
    {
      "id": 14,
      "mapper": {
        "data": "{{13.resImgData}}",
        "select": "value",
        "convert": false,
        "filename": "{{13.resImgName}}",
        "folderId": "/10TG2lLIRmjOG2f0i0Ld2EL7x6qF75M28/1vdB8g20VaW8R2_bQ7a3stfqEr_EQ4-bD",
        "destination": "drive"
      },
      "module": "google-drive:uploadAFile",
      "version": 4,
      "metadata": {
        "expect": [
          {
            "name": "select",
            "type": "select",
            "label": "Enter a Folder ID",
            "required": true,
            "validate": {
              "enum": [
                "map",
                "value"
              ]
            }
          },
          {
            "name": "title",
            "type": "text",
            "label": "New File Name"
          },
          {
            "name": "filename",
            "type": "text",
            "label": "File Name",
            "required": true
          },
          {
            "name": "data",
            "type": "buffer",
            "label": "Data",
            "required": true
          },
          {
            "name": "convert",
            "type": "boolean",
            "label": "Convert a File",
            "required": true
          },
          {
            "name": "destination",
            "type": "select",
            "label": "New Drive Location",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share",
                "team"
              ]
            }
          },
          {
            "name": "folderId",
            "type": "folder",
            "label": "New Folder Location",
            "required": true
          }
        ],
        "restore": {
          "expect": {
            "select": {
              "label": "Select from the list"
            },
            "folderId": {
              "mode": "chose",
              "path": [
                "IITA IA",
                "Novedades 3D"
              ]
            },
            "destination": {
              "label": "My Drive"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google-restricted"
              },
              "label": "Archivos drive (ejemplo) Agustín Aybar (talitoagustin@gmail.com)"
            }
          }
        },
        "designer": {
          "x": 1800,
          "y": 0,
          "name": "Subir imagen a drive"
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google-restricted",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 4657119
      }
    },
    {
      "id": 40,
      "mapper": {
        "name": "Img_IA",
        "scope": "roundtrip",
        "value": "https://drive.google.com/uc?export=view&id={{14.id}}"
      },
      "module": "util:SetVariable2",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "name",
            "type": "text",
            "label": "Variable name",
            "required": true
          },
          {
            "name": "scope",
            "type": "select",
            "label": "Variable lifetime",
            "required": true,
            "validate": {
              "enum": [
                "roundtrip",
                "execution"
              ]
            }
          },
          {
            "name": "value",
            "type": "any",
            "label": "Variable value"
          }
        ],
        "restore": {
          "expect": {
            "scope": {
              "label": "One cycle"
            }
          }
        },
        "designer": {
          "x": 2100,
          "y": 0,
          "name": "Obtiene URL pública"
        },
        "interface": [
          {
            "name": "Img_IA",
            "type": "any",
            "label": "Img_IA"
          }
        ]
      },
      "parameters": {}
    },
    {
      "id": 45,
      "mapper": {
        "name": "Array",
        "scope": "roundtrip",
        "value": "{{emptyarray}}"
      },
      "module": "util:SetVariable2",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "name",
            "type": "text",
            "label": "Variable name",
            "required": true
          },
          {
            "name": "scope",
            "type": "select",
            "label": "Variable lifetime",
            "required": true,
            "validate": {
              "enum": [
                "roundtrip",
                "execution"
              ]
            }
          },
          {
            "name": "value",
            "type": "any",
            "label": "Variable value"
          }
        ],
        "restore": {
          "expect": {
            "scope": {
              "label": "One cycle"
            }
          }
        },
        "designer": {
          "x": 2400,
          "y": 0,
          "name": "Crea Array"
        },
        "interface": [
          {
            "name": "Array",
            "type": "any",
            "label": "Array"
          }
        ]
      },
      "parameters": {}
    },
    {
      "id": 46,
      "mapper": {
        "name": "ArrayFinal",
        "scope": "roundtrip",
        "value": "{{add(45.Array; 40.Img_IA)}}"
      },
      "module": "util:SetVariable2",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "name",
            "type": "text",
            "label": "Variable name",
            "required": true
          },
          {
            "name": "scope",
            "type": "select",
            "label": "Variable lifetime",
            "required": true,
            "validate": {
              "enum": [
                "roundtrip",
                "execution"
              ]
            }
          },
          {
            "name": "value",
            "type": "any",
            "label": "Variable value"
          }
        ],
        "restore": {
          "expect": {
            "scope": {
              "label": "One cycle"
            }
          }
        },
        "designer": {
          "x": 2700,
          "y": 0
        },
        "interface": [
          {
            "name": "ArrayFinal",
            "type": "any",
            "label": "ArrayFinal"
          }
        ]
      },
      "parameters": {}
    },
    {
      "id": 22,
      "mapper": {
        "html": "{{6.data}}",
        "elementType": "img"
      },
      "module": "regexp:HTMLParser",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "elementType",
            "type": "select",
            "label": "Element type",
            "required": true,
            "validate": {
              "enum": [
                "img",
                "a",
                "iframe"
              ]
            }
          },
          {
            "name": "html",
            "type": "text",
            "label": "HTML"
          }
        ],
        "restore": {
          "expect": {
            "elementType": {
              "label": "Image (img)"
            }
          }
        },
        "designer": {
          "x": 3000,
          "y": 0,
          "name": "Extrae img HTML"
        },
        "interface": [
          {
            "name": "element",
            "type": "text",
            "label": "Element"
          },
          {
            "name": "innerContent",
            "type": "text",
            "label": "Inner content"
          },
          {
            "name": "attrs",
            "spec": [
              {
                "name": "src",
                "type": "text",
                "label": "src"
              },
              {
                "name": "alt",
                "type": "text",
                "label": "alt"
              },
              {
                "name": "height",
                "type": "text",
                "label": "height"
              },
              {
                "name": "width",
                "type": "text",
                "label": "width"
              }
            ],
            "type": "collection",
            "label": "Attributes"
          }
        ],
        "parameters": [
          {
            "name": "continueWhenNoRes",
            "type": "boolean",
            "label": "Continue the execution of the route even if the module finds no matches",
            "required": true
          }
        ]
      },
      "parameters": {
        "continueWhenNoRes": false
      }
    },
    {
      "id": 23,
      "filter": {
        "name": "Imagen noticia",
        "conditions": [
          [
            {
              "a": "{{22.element}}",
              "b": "https://www.3dnatives.com/es/wp-content/uploads/sites/",
              "o": "text:contain"
            },
            {
              "a": "{{22.element}}",
              "b": ".jpg",
              "o": "text:contain"
            }
          ],
          [
            {
              "a": "{{22.element}}",
              "b": "https://www.3dnatives.com/de/wp-content/uploads/sites/",
              "o": "text:contain"
            },
            {
              "a": "{{22.element}}",
              "b": ".jpg",
              "o": "text:contain"
            }
          ],
          [
            {
              "a": "{{22.element}}",
              "b": "https://www.3dnatives.com/en/wp-content/uploads/sites/",
              "o": "text:contain"
            },
            {
              "a": "{{22.element}}",
              "b": ".jpg",
              "o": "text:contain"
            }
          ]
        ]
      },
      "mapper": {
        "array": "{{22.element}}"
      },
      "module": "builtin:BasicFeeder",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "mode": "edit",
            "name": "array",
            "spec": [],
            "type": "array",
            "label": "Array"
          }
        ],
        "restore": {
          "expect": {
            "array": {
              "mode": "edit"
            }
          }
        },
        "designer": {
          "x": 3300,
          "y": 0,
          "name": "Itera img HTML"
        }
      },
      "parameters": {}
    },
    {
      "id": 25,
      "mapper": {
        "input": "{{23.value}}",
        "fields": [
          {
            "name": "Url_img",
            "type": "string",
            "description": "URL contenida en src"
          }
        ]
      },
      "module": "ai-tools:Extract",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "input",
            "type": "text",
            "label": "Text",
            "required": true
          },
          {
            "name": "fields",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "description",
                  "type": "text",
                  "label": "Description",
                  "required": true
                },
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true
                },
                {
                  "name": "type",
                  "type": "select",
                  "label": "Type",
                  "options": [
                    {
                      "label": "Text",
                      "value": "string"
                    },
                    {
                      "label": "Number",
                      "value": "number"
                    },
                    {
                      "label": "Boolean",
                      "value": "boolean"
                    }
                  ],
                  "required": true
                }
              ],
              "type": "collection",
              "label": "Information"
            },
            "type": "array",
            "label": "Information",
            "required": true
          }
        ],
        "restore": {
          "expect": {
            "fields": {
              "items": [
                {
                  "type": {
                    "mode": "chose",
                    "label": "Text"
                  }
                }
              ]
            }
          }
        },
        "designer": {
          "x": 3600,
          "y": 0,
          "name": "Extrae src"
        }
      },
      "parameters": {}
    },
    {
      "id": 47,
      "mapper": {
        "name": "URL_Img",
        "scope": "roundtrip",
        "value": "{{add(46.ArrayFinal; 25.Url_img)}}"
      },
      "module": "util:SetVariable2",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "name",
            "type": "text",
            "label": "Variable name",
            "required": true
          },
          {
            "name": "scope",
            "type": "select",
            "label": "Variable lifetime",
            "required": true,
            "validate": {
              "enum": [
                "roundtrip",
                "execution"
              ]
            }
          },
          {
            "name": "value",
            "type": "any",
            "label": "Variable value"
          }
        ],
        "restore": {
          "expect": {
            "scope": {
              "label": "One cycle"
            }
          }
        },
        "designer": {
          "x": 3900,
          "y": 0
        },
        "interface": [
          {
            "name": "URL_Img",
            "type": "any",
            "label": "URL_Img"
          }
        ]
      },
      "parameters": {}
    },
    {
      "id": 29,
      "mapper": {
        "from": "drive",
        "mode": "select",
        "values": {
          "0": "Noticia o novedad",
          "1": "{{formatDate(13.created; \"DD.MM.YYYY HH:mm\")}}",
          "2": "{{7.result}}",
          "3": "{{47.URL_Img}}",
          "4": "{{14.id}}",
          "5": "Revisión"
        },
        "sheetId": "Post generado",
        "spreadsheetId": "/1_qErnyu2sY3whh0pIpIrlL66osWOKsOXCBogCANm7S8",
        "includesHeaders": true,
        "insertDataOption": "INSERT_ROWS",
        "valueInputOption": "USER_ENTERED",
        "insertUnformatted": false
      },
      "module": "google-sheets:addRow",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "mode",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "select",
                "fromAll",
                "map"
              ]
            }
          },
          {
            "name": "insertUnformatted",
            "type": "boolean",
            "label": "Unformatted",
            "required": true
          },
          {
            "name": "valueInputOption",
            "type": "select",
            "label": "Value input option",
            "validate": {
              "enum": [
                "USER_ENTERED",
                "RAW"
              ]
            }
          },
          {
            "name": "insertDataOption",
            "type": "select",
            "label": "Insert data option",
            "validate": {
              "enum": [
                "INSERT_ROWS",
                "OVERWRITE"
              ]
            }
          },
          {
            "name": "from",
            "type": "select",
            "label": "Drive",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share",
                "team"
              ]
            }
          },
          {
            "name": "spreadsheetId",
            "type": "file",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "values",
            "spec": [
              {
                "name": "0",
                "type": "text",
                "label": "Tipo de post (A)"
              },
              {
                "name": "1",
                "type": "text",
                "label": "Fecha de generación (B)"
              },
              {
                "name": "2",
                "type": "text",
                "label": "Descripción post (C)"
              },
              {
                "name": "3",
                "type": "text",
                "label": "Imágen (D)"
              },
              {
                "name": "4",
                "type": "text",
                "label": "ID de archivo (E)"
              },
              {
                "name": "5",
                "type": "text",
                "label": "Estado (F)"
              },
              {
                "name": "6",
                "type": "text",
                "label": "Aprobado (G)"
              },
              {
                "name": "7",
                "type": "text",
                "label": "(H)"
              },
              {
                "name": "8",
                "type": "text",
                "label": "(I)"
              },
              {
                "name": "9",
                "type": "text",
                "label": "(J)"
              },
              {
                "name": "10",
                "type": "text",
                "label": "(K)"
              },
              {
                "name": "11",
                "type": "text",
                "label": "(L)"
              },
              {
                "name": "12",
                "type": "text",
                "label": "(M)"
              },
              {
                "name": "13",
                "type": "text",
                "label": "(N)"
              },
              {
                "name": "14",
                "type": "text",
                "label": "(O)"
              },
              {
                "name": "15",
                "type": "text",
                "label": "(P)"
              },
              {
                "name": "16",
                "type": "text",
                "label": "(Q)"
              },
              {
                "name": "17",
                "type": "text",
                "label": "(R)"
              },
              {
                "name": "18",
                "type": "text",
                "label": "(S)"
              },
              {
                "name": "19",
                "type": "text",
                "label": "(T)"
              },
              {
                "name": "20",
                "type": "text",
                "label": "(U)"
              },
              {
                "name": "21",
                "type": "text",
                "label": "(V)"
              },
              {
                "name": "22",
                "type": "text",
                "label": "(W)"
              },
              {
                "name": "23",
                "type": "text",
                "label": "(X)"
              },
              {
                "name": "24",
                "type": "text",
                "label": "(Y)"
              },
              {
                "name": "25",
                "type": "text",
                "label": "(Z)"
              }
            ],
            "type": "collection",
            "label": "Values"
          }
        ],
        "restore": {
          "expect": {
            "from": {
              "label": "My Drive"
            },
            "mode": {
              "label": "Search by path"
            },
            "sheetId": {
              "label": "Post generado"
            },
            "spreadsheetId": {
              "path": [
                "Post Facebook IITA"
              ]
            },
            "includesHeaders": {
              "label": "Yes",
              "nested": [
                {
                  "name": "values",
                  "spec": [
                    {
                      "name": "0",
                      "type": "text",
                      "label": "Tipo de post (A)"
                    },
                    {
                      "name": "1",
                      "type": "text",
                      "label": "Fecha de generación (B)"
                    },
                    {
                      "name": "2",
                      "type": "text",
                      "label": "Descripción post (C)"
                    },
                    {
                      "name": "3",
                      "type": "text",
                      "label": "Imágen (D)"
                    },
                    {
                      "name": "4",
                      "type": "text",
                      "label": "ID de archivo (E)"
                    },
                    {
                      "name": "5",
                      "type": "text",
                      "label": "Estado (F)"
                    },
                    {
                      "name": "6",
                      "type": "text",
                      "label": "Aprobado (G)"
                    },
                    {
                      "name": "7",
                      "type": "text",
                      "label": "(H)"
                    },
                    {
                      "name": "8",
                      "type": "text",
                      "label": "(I)"
                    },
                    {
                      "name": "9",
                      "type": "text",
                      "label": "(J)"
                    },
                    {
                      "name": "10",
                      "type": "text",
                      "label": "(K)"
                    },
                    {
                      "name": "11",
                      "type": "text",
                      "label": "(L)"
                    },
                    {
                      "name": "12",
                      "type": "text",
                      "label": "(M)"
                    },
                    {
                      "name": "13",
                      "type": "text",
                      "label": "(N)"
                    },
                    {
                      "name": "14",
                      "type": "text",
                      "label": "(O)"
                    },
                    {
                      "name": "15",
                      "type": "text",
                      "label": "(P)"
                    },
                    {
                      "name": "16",
                      "type": "text",
                      "label": "(Q)"
                    },
                    {
                      "name": "17",
                      "type": "text",
                      "label": "(R)"
                    },
                    {
                      "name": "18",
                      "type": "text",
                      "label": "(S)"
                    },
                    {
                      "name": "19",
                      "type": "text",
                      "label": "(T)"
                    },
                    {
                      "name": "20",
                      "type": "text",
                      "label": "(U)"
                    },
                    {
                      "name": "21",
                      "type": "text",
                      "label": "(V)"
                    },
                    {
                      "name": "22",
                      "type": "text",
                      "label": "(W)"
                    },
                    {
                      "name": "23",
                      "type": "text",
                      "label": "(X)"
                    },
                    {
                      "name": "24",
                      "type": "text",
                      "label": "(Y)"
                    },
                    {
                      "name": "25",
                      "type": "text",
                      "label": "(Z)"
                    }
                  ],
                  "type": "collection",
                  "label": "Values"
                }
              ]
            },
            "insertDataOption": {
              "mode": "chose",
              "label": "Insert rows"
            },
            "valueInputOption": {
              "mode": "chose",
              "label": "User entered"
            },
            "insertUnformatted": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google"
              },
              "label": "Tabla Cursos (Ejemplo) Agustín Aybar (talitoagustin@gmail.com)"
            }
          }
        },
        "designer": {
          "x": 4200,
          "y": 0,
          "name": "Añade a \"Post generado\""
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 4656951
      }
    }
  ],
  "name": "Novedades 3D",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "3": {
          "id": "https://www.3dnatives.com/es/?p=83320",
          "url": "https://www.3dnatives.com/es/bentley-tecnologia-3d-prototipo-exp-15-260820252/",
          "date": "2025-08-25T22:00:18.000Z",
          "image": {},
          "title": "Bentley combina tradición y tecnología 3D en el prototipo EXP 15",
          "author": "Carol S.",
          "source": {},
          "summary": "Bentley Motors ha presentado su concept car EXP 15, un proyecto digital que captura tanto el espírit...",
          "comments": "https://www.3dnatives.com/es/bentley-tecnologia-3d-prototipo-exp-15-260820252/#respond",
          "rssFields": {
            "guid": "https://www.3dnatives.com/es/?p=83320",
            "link": "https://www.3dnatives.com/es/bentley-tecnologia-3d-prototipo-exp-15-260820252/",
            "title": "Bentley combina tradición y tecnología 3D en el prototipo EXP 15",
            "pubdate": "Mon, 25 Aug 2025 22:00:18 +0000",
            "comments": "https://www.3dnatives.com/es/bentley-tecnologia-3d-prototipo-exp-15-260820252/#respond",
            "description": "Bentley Motors ha presentado su concept car EXP 15, un proyecto digital que captura tanto el espírit...",
            "media:content": {
              "props": {
                "url": "https://www.3dnatives.com/es/wp-content/uploads/sites/4/bentley_cover.jpg",
                "type": "image/jpeg",
                "width": 550,
                "height": 293,
                "medium": "image"
              },
              "value": null,
              "media:description": {
                "props": {
                  "type": "plain"
                },
                "value": "bentley_cover"
              }
            }
          },
          "categories": [
            "Actualidad"
          ],
          "enclosures": [
            {
              "url": "https://www.3dnatives.com/es/wp-content/uploads/sites/4/bentley_cover.jpg",
              "type": "image/jpeg",
              "length": null
            }
          ],
          "dateCreated": "2025-08-25T22:00:18.000Z",
          "dateUpdated": "2025-08-25T22:00:18.000Z",
          "description": "Bentley Motors ha presentado su concept car EXP 15, un proyecto digital que captura tanto el espírit..."
        },
        "6": {
          "data": "<!DOCTYPE html><html lang=es><head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8...",
          "headers": [
            {
              "name": "server-timing",
              "value": "cfL4;desc=\"?proto=TCP&rtt=2571&min_rtt=2021&rtt_var=969&sent=11&recv=9&lost=0&retrans=0&sent_bytes=8..."
            }
          ],
          "fileSize": 102061,
          "statusCode": 200,
          "cookieHeaders": []
        },
        "7": {
          "id": "chatcmpl-C9CgUMQPRmB6iFWkfZuHajpStNVmo",
          "model": "gpt-3.5-turbo-0125",
          "usage": {
            "total_tokens": 7368,
            "prompt_tokens": 7138,
            "completion_tokens": 230,
            "prompt_tokens_details": {
              "audio_tokens": 0,
              "cached_tokens": 0
            },
            "completion_tokens_details": {
              "audio_tokens": 0,
              "reasoning_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "object": "chat.completion",
          "result": "**Resumen:**\n\n*Bentley combina tradición y tecnología 3D en el prototipo EXP 15*\n\nBentley Motors ha ...",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "**Resumen:**\n\n*Bentley combina tradición y tecnología 3D en el prototipo EXP 15*\n\nBentley Motors ha ...",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "created": "2025-08-27T15:49:06.000Z",
          "service_tier": "default",
          "system_fingerprint": null
        },
        "12": {
          "text": " menu 3Dnatives [https://www.3dnatives.com/es/wp-content/themes/3dnatives/img/logo/3Dnatives_es.svg]..."
        },
        "13": {
          "data": [
            {
              "fileData": "IMTBuffer(1708417, binary, a936e59238cfe9656fe3e019fc8892ab2181bf3f): 89504e470d0a1a0a0000000d494844...",
              "fileName": "output1.png"
            }
          ],
          "size": "1024x1024",
          "usage": {
            "input_tokens": 468,
            "total_tokens": 4628,
            "output_tokens": 4160,
            "input_tokens_details": {
              "text_tokens": 468,
              "image_tokens": 0
            }
          },
          "created": "2025-08-27T15:50:12.000Z",
          "quality": "high",
          "background": "opaque",
          "resImgData": "IMTBuffer(1708417, binary, a936e59238cfe9656fe3e019fc8892ab2181bf3f): 89504e470d0a1a0a0000000d494844...",
          "resImgName": "output1.png",
          "output_format": "png"
        },
        "14": {
          "id": "1ezJLYMG-9N4CkNkwt0hfFxReDDnu8KVd",
          "kind": "drive#file",
          "name": "output1.png",
          "size": "1708417",
          "owners": [
            {
              "me": true,
              "kind": "drive#user",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIBFn8fI3p1Y6MHQTEnWHH3nvCT36gcIFROWhoK8POdXn0ZOeDlIA=s64",
              "displayName": "Gonzalo Agustín Aybar Oviedo",
              "emailAddress": "talitoagustin@gmail.com",
              "permissionId": "07093277817644828304"
            }
          ],
          "shared": false,
          "spaces": [
            "drive"
          ],
          "parents": [
            "1vdB8g20VaW8R2_bQ7a3stfqEr_EQ4-bD"
          ],
          "starred": false,
          "trashed": false,
          "version": "3",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/image/png",
          "mimeType": "image/png",
          "ownedByMe": true,
          "viewedByMe": false,
          "createdTime": "2025-08-27T15:50:12.766Z",
          "md5Checksum": "93e2d7b19ba82fe4b5b39c1289a6694c",
          "permissions": [
            {
              "id": "07093277817644828304",
              "kind": "drive#permission",
              "role": "owner",
              "type": "user",
              "deleted": false,
              "displayName": "talitoagustin",
              "emailAddress": "talitoagustin@gmail.com",
              "pendingOwner": false
            }
          ],
          "webViewLink": "https://drive.google.com/file/d/1ezJLYMG-9N4CkNkwt0hfFxReDDnu8KVd/view?usp=drivesdk",
          "capabilities": {
            "canCopy": true,
            "canEdit": true,
            "canShare": true,
            "canTrash": true,
            "canDelete": true,
            "canRename": true,
            "canComment": true,
            "canUntrash": true,
            "canDownload": true,
            "canReadLabels": false,
            "canAddChildren": false,
            "canListChildren": false,
            "canModifyLabels": false,
            "canModifyContent": true,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canAcceptOwnership": false,
            "canAddMyDriveParent": false,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canRemoveMyDriveParent": true,
            "canMoveItemIntoTeamDrive": true,
            "canMoveChildrenWithinDrive": false,
            "canModifyContentRestriction": true,
            "canRemoveContentRestriction": false,
            "canEnableInheritedPermissions": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canDisableInheritedPermissions": false,
            "canChangeItemDownloadRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canChangeCopyRequiresWriterPermission": true
          },
          "hasThumbnail": true,
          "modifiedByMe": true,
          "modifiedTime": "2025-08-27T15:50:13.993Z",
          "sha1Checksum": "a936e59238cfe9656fe3e019fc8892ab2181bf3f",
          "fileExtension": "png",
          "permissionIds": [
            "07093277817644828304"
          ],
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBNyplwS-YVuSMrqcUu71CwW_v1WMcMqrjgWtckfgqMp6iU-...",
          "headRevisionId": "0BwCNwE1eY8Qjc3N5OG5ocHVjNW1ocUtEL1gyQ1lUaXdvdVdRPQ",
          "quotaBytesUsed": "1708417",
          "sha256Checksum": "acc33a1812d9fe7b1fc67893cdf423bb02b71ac94d71106851fe99f2ea53ff07",
          "webContentLink": "https://drive.google.com/uc?id=1ezJLYMG-9N4CkNkwt0hfFxReDDnu8KVd&export=download",
          "isAppAuthorized": true,
          "writersCanShare": true,
          "modifiedByMeTime": "2025-08-27T15:50:13.993Z",
          "originalFilename": "output1.png",
          "thumbnailVersion": "1",
          "explicitlyTrashed": false,
          "fullFileExtension": "png",
          "lastModifyingUser": {
            "me": true,
            "kind": "drive#user",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIBFn8fI3p1Y6MHQTEnWHH3nvCT36gcIFROWhoK8POdXn0ZOeDlIA=s64",
            "displayName": "Gonzalo Agustín Aybar Oviedo",
            "emailAddress": "talitoagustin@gmail.com",
            "permissionId": "07093277817644828304"
          },
          "linkShareMetadata": {
            "securityUpdateEnabled": true,
            "securityUpdateEligible": false
          },
          "imageMediaMetadata": {
            "width": 1024,
            "height": 1024,
            "rotation": 0
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "inheritedPermissionsDisabled": false
        },
        "22": {
          "attrs": {},
          "element": "<img src=https://www.3dnatives.com/es/wp-content/themes/3dnatives/img/logo/3Dnatives_es.svg alt=3Dna...",
          "innerContent": null
        },
        "23": {
          "value": "<img loading=lazy width=850 height=500 src=https://www.3dnatives.com/es/wp-content/uploads/sites/4/b...",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 1
        },
        "25": {
          "AIUsage": {
            "inputTokens": 975,
            "outputTokens": 42
          },
          "Url_img": "https://www.3dnatives.com/es/wp-content/uploads/sites/4/bentley_cover.jpg",
          "organizationTokenUsage": {
            "input": {
              "resetAt": "2025-09-14T14:41:02.516Z",
              "tokensUsed": 7806,
              "tokensRemaining": 9992194
            },
            "output": {
              "resetAt": "2025-09-14T14:41:03.130Z",
              "tokensUsed": 2286,
              "tokensRemaining": 9997714
            }
          }
        },
        "29": {
          "updates": {
            "updatedRows": 1,
            "updatedCells": 6,
            "updatedRange": "'Post generado'!A8:F8",
            "spreadsheetId": "1_qErnyu2sY3whh0pIpIrlL66osWOKsOXCBogCANm7S8",
            "updatedColumns": 6
          },
          "rowNumber": 8,
          "sheetName": "Post generado",
          "tableRange": "'Post generado'!A1:G7",
          "spreadsheetId": "1_qErnyu2sY3whh0pIpIrlL66osWOKsOXCBogCANm7S8"
        },
        "38": {
          "i": 5
        },
        "40": {
          "Img_IA": "https://drive.google.com/uc?export=view&id=1ezJLYMG-9N4CkNkwt0hfFxReDDnu8KVd"
        },
        "45": {
          "Array": []
        },
        "46": {
          "ArrayFinal": [
            "https://drive.google.com/uc?export=view&id=1ezJLYMG-9N4CkNkwt0hfFxReDDnu8KVd"
          ]
        },
        "47": {
          "URL_Img": [
            "https://drive.google.com/uc?export=view&id=1ezJLYMG-9N4CkNkwt0hfFxReDDnu8KVd"
          ]
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}