snapshots/2026-02-21_produccion/8_otros/3324542_registro_de_contactos_google_contacts_sl.json
{
  "flow": [
    {
      "id": 1,
      "mapper": {
        "from": "drive",
        "filter": [
          [
            {
              "a": "B",
              "b": "Paola Rovere",
              "o": "text:notequal:ci"
            }
          ],
          [
            {
              "a": "B",
              "b": "Camila Agustina Zerpa",
              "o": "text:equal"
            }
          ]
        ],
        "sheetId": "Respuestas de formulario 1",
        "sortOrder": "asc",
        "spreadsheetId": "1VuyWb3xwDibHu7tk606ZDWxvw7sPRmLln7zdzvffvI4",
        "tableFirstRow": "A1:CZ1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "module": "google-sheets:filterRows",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "from",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share"
              ]
            }
          },
          {
            "name": "valueRenderOption",
            "type": "select",
            "label": "Value render option",
            "validate": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            }
          },
          {
            "name": "dateTimeRenderOption",
            "type": "select",
            "label": "Date and time render option",
            "validate": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          },
          {
            "name": "spreadsheetId",
            "type": "select",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "tableFirstRow",
            "type": "select",
            "label": "Column range",
            "required": true,
            "validate": {
              "enum": [
                "A1:Z1",
                "A1:BZ1",
                "A1:CZ1",
                "A1:DZ1",
                "A1:MZ1",
                "A1:ZZ1",
                "A1:AZZ1",
                "A1:BZZ1",
                "A1:CZZ1",
                "A1:DZZ1",
                "A1:MZZ1",
                "A1:ZZZ1"
              ]
            }
          },
          {
            "name": "filter",
            "type": "filter",
            "label": "Filter",
            "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
          },
          {
            "name": "orderBy",
            "type": "select",
            "label": "Order by"
          },
          {
            "name": "sortOrder",
            "type": "select",
            "label": "Sort order",
            "validate": {
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "restore": {
          "expect": {
            "from": {
              "label": "Select from My Drive"
            },
            "orderBy": {
              "mode": "chose"
            },
            "sheetId": {
              "mode": "chose",
              "label": "Respuestas de formulario 1"
            },
            "sortOrder": {
              "mode": "chose",
              "label": "Ascending"
            },
            "spreadsheetId": {
              "mode": "chose",
              "label": "JORNADA INTENSIVA EN SALTA SOBRE INTELIGENCIA ARTIFICIAL (Respuestas)"
            },
            "tableFirstRow": {
              "label": "A-CZ"
            },
            "includesHeaders": {
              "mode": "chose",
              "label": "Yes"
            },
            "valueRenderOption": {
              "mode": "chose",
              "label": "Formatted value"
            },
            "dateTimeRenderOption": {
              "mode": "chose",
              "label": "Formatted string"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google"
              },
              "label": "Automations Sheets IITA (iitaautomations@gmail.com)"
            }
          }
        },
        "designer": {
          "x": 0,
          "y": 0,
          "name": "Obtengo la hoja normalizada"
        },
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "type": "uinteger",
            "label": "Total number of bundles"
          },
          {
            "name": "__IMTINDEX__",
            "type": "uinteger",
            "label": "Bundle order position"
          },
          {
            "name": "__ROW_NUMBER__",
            "type": "number",
            "label": "Row number"
          },
          {
            "name": "__SPREADSHEET_ID__",
            "type": "text",
            "label": "Spreadsheet ID"
          },
          {
            "name": "__SHEET__",
            "type": "text",
            "label": "Sheet"
          },
          {
            "name": "0",
            "type": "text",
            "label": "3875288803 (A)"
          },
          {
            "name": "1",
            "type": "text",
            "label": "Nombre y apellido (B)"
          },
          {
            "name": "2",
            "type": "text",
            "label": "Correo electrónico (C)"
          },
          {
            "name": "3",
            "type": "text",
            "label": "Número de teléfono (D)"
          },
          {
            "name": "4",
            "type": "text",
            "label": "¿Tenés conocimientos previos sobre la IA? (E)"
          },
          {
            "name": "5",
            "type": "text",
            "label": "Elige un horario (F)"
          },
          {
            "name": "6",
            "type": "text",
            "label": "¿En qué área te gustaría aplicar la IA en tu vida cotidiana? (puedes seleccionar varias opciones) (G)"
          },
          {
            "name": "7",
            "type": "text",
            "label": "(H)"
          },
          {
            "name": "8",
            "type": "text",
            "label": "(I)"
          },
          {
            "name": "9",
            "type": "text",
            "label": "(J)"
          },
          {
            "name": "10",
            "type": "text",
            "label": "(K)"
          },
          {
            "name": "11",
            "type": "text",
            "label": "(L)"
          },
          {
            "name": "12",
            "type": "text",
            "label": "(M)"
          },
          {
            "name": "13",
            "type": "text",
            "label": "(N)"
          },
          {
            "name": "14",
            "type": "text",
            "label": "(O)"
          },
          {
            "name": "15",
            "type": "text",
            "label": "(P)"
          },
          {
            "name": "16",
            "type": "text",
            "label": "(Q)"
          },
          {
            "name": "17",
            "type": "text",
            "label": "(R)"
          },
          {
            "name": "18",
            "type": "text",
            "label": "(S)"
          },
          {
            "name": "19",
            "type": "text",
            "label": "(T)"
          },
          {
            "name": "20",
            "type": "text",
            "label": "(U)"
          },
          {
            "name": "21",
            "type": "text",
            "label": "(V)"
          },
          {
            "name": "22",
            "type": "text",
            "label": "(W)"
          },
          {
            "name": "23",
            "type": "text",
            "label": "(X)"
          },
          {
            "name": "24",
            "type": "text",
            "label": "(Y)"
          },
          {
            "name": "25",
            "type": "text",
            "label": "(Z)"
          },
          {
            "name": "26",
            "type": "text",
            "label": "(AA)"
          },
          {
            "name": "27",
            "type": "text",
            "label": "(AB)"
          },
          {
            "name": "28",
            "type": "text",
            "label": "(AC)"
          },
          {
            "name": "29",
            "type": "text",
            "label": "(AD)"
          },
          {
            "name": "30",
            "type": "text",
            "label": "(AE)"
          },
          {
            "name": "31",
            "type": "text",
            "label": "(AF)"
          },
          {
            "name": "32",
            "type": "text",
            "label": "(AG)"
          },
          {
            "name": "33",
            "type": "text",
            "label": "(AH)"
          },
          {
            "name": "34",
            "type": "text",
            "label": "(AI)"
          },
          {
            "name": "35",
            "type": "text",
            "label": "(AJ)"
          },
          {
            "name": "36",
            "type": "text",
            "label": "(AK)"
          },
          {
            "name": "37",
            "type": "text",
            "label": "(AL)"
          },
          {
            "name": "38",
            "type": "text",
            "label": "(AM)"
          },
          {
            "name": "39",
            "type": "text",
            "label": "(AN)"
          },
          {
            "name": "40",
            "type": "text",
            "label": "(AO)"
          },
          {
            "name": "41",
            "type": "text",
            "label": "(AP)"
          },
          {
            "name": "42",
            "type": "text",
            "label": "(AQ)"
          },
          {
            "name": "43",
            "type": "text",
            "label": "(AR)"
          },
          {
            "name": "44",
            "type": "text",
            "label": "(AS)"
          },
          {
            "name": "45",
            "type": "text",
            "label": "(AT)"
          },
          {
            "name": "46",
            "type": "text",
            "label": "(AU)"
          },
          {
            "name": "47",
            "type": "text",
            "label": "(AV)"
          },
          {
            "name": "48",
            "type": "text",
            "label": "(AW)"
          },
          {
            "name": "49",
            "type": "text",
            "label": "(AX)"
          },
          {
            "name": "50",
            "type": "text",
            "label": "(AY)"
          },
          {
            "name": "51",
            "type": "text",
            "label": "(AZ)"
          },
          {
            "name": "52",
            "type": "text",
            "label": "(BA)"
          },
          {
            "name": "53",
            "type": "text",
            "label": "(BB)"
          },
          {
            "name": "54",
            "type": "text",
            "label": "(BC)"
          },
          {
            "name": "55",
            "type": "text",
            "label": "(BD)"
          },
          {
            "name": "56",
            "type": "text",
            "label": "(BE)"
          },
          {
            "name": "57",
            "type": "text",
            "label": "(BF)"
          },
          {
            "name": "58",
            "type": "text",
            "label": "(BG)"
          },
          {
            "name": "59",
            "type": "text",
            "label": "(BH)"
          },
          {
            "name": "60",
            "type": "text",
            "label": "(BI)"
          },
          {
            "name": "61",
            "type": "text",
            "label": "(BJ)"
          },
          {
            "name": "62",
            "type": "text",
            "label": "(BK)"
          },
          {
            "name": "63",
            "type": "text",
            "label": "(BL)"
          },
          {
            "name": "64",
            "type": "text",
            "label": "(BM)"
          },
          {
            "name": "65",
            "type": "text",
            "label": "(BN)"
          },
          {
            "name": "66",
            "type": "text",
            "label": "(BO)"
          },
          {
            "name": "67",
            "type": "text",
            "label": "(BP)"
          },
          {
            "name": "68",
            "type": "text",
            "label": "(BQ)"
          },
          {
            "name": "69",
            "type": "text",
            "label": "(BR)"
          },
          {
            "name": "70",
            "type": "text",
            "label": "(BS)"
          },
          {
            "name": "71",
            "type": "text",
            "label": "(BT)"
          },
          {
            "name": "72",
            "type": "text",
            "label": "(BU)"
          },
          {
            "name": "73",
            "type": "text",
            "label": "(BV)"
          },
          {
            "name": "74",
            "type": "text",
            "label": "(BW)"
          },
          {
            "name": "75",
            "type": "text",
            "label": "(BX)"
          },
          {
            "name": "76",
            "type": "text",
            "label": "(BY)"
          },
          {
            "name": "77",
            "type": "text",
            "label": "(BZ)"
          },
          {
            "name": "78",
            "type": "text",
            "label": "(CA)"
          },
          {
            "name": "79",
            "type": "text",
            "label": "(CB)"
          },
          {
            "name": "80",
            "type": "text",
            "label": "(CC)"
          },
          {
            "name": "81",
            "type": "text",
            "label": "(CD)"
          },
          {
            "name": "82",
            "type": "text",
            "label": "(CE)"
          },
          {
            "name": "83",
            "type": "text",
            "label": "(CF)"
          },
          {
            "name": "84",
            "type": "text",
            "label": "(CG)"
          },
          {
            "name": "85",
            "type": "text",
            "label": "(CH)"
          },
          {
            "name": "86",
            "type": "text",
            "label": "(CI)"
          },
          {
            "name": "87",
            "type": "text",
            "label": "(CJ)"
          },
          {
            "name": "88",
            "type": "text",
            "label": "(CK)"
          },
          {
            "name": "89",
            "type": "text",
            "label": "(CL)"
          },
          {
            "name": "90",
            "type": "text",
            "label": "(CM)"
          },
          {
            "name": "91",
            "type": "text",
            "label": "(CN)"
          },
          {
            "name": "92",
            "type": "text",
            "label": "(CO)"
          },
          {
            "name": "93",
            "type": "text",
            "label": "(CP)"
          },
          {
            "name": "94",
            "type": "text",
            "label": "(CQ)"
          },
          {
            "name": "95",
            "type": "text",
            "label": "(CR)"
          },
          {
            "name": "96",
            "type": "text",
            "label": "(CS)"
          },
          {
            "name": "97",
            "type": "text",
            "label": "(CT)"
          },
          {
            "name": "98",
            "type": "text",
            "label": "(CU)"
          },
          {
            "name": "99",
            "type": "text",
            "label": "(CV)"
          },
          {
            "name": "100",
            "type": "text",
            "label": "(CW)"
          },
          {
            "name": "101",
            "type": "text",
            "label": "(CX)"
          },
          {
            "name": "102",
            "type": "text",
            "label": "(CY)"
          },
          {
            "name": "103",
            "type": "text",
            "label": "(CZ)"
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 4812476
      }
    },
    {
      "id": 2,
      "mapper": {
        "note": "Jornada intensiva en Salta de IA",
        "label": "contactGroups/4ddeccda8919ad16",
        "givenName": "JI_IA - {{1.`1`}}",
        "organization": {},
        "phoneNumbers": [
          {
            "value": "549{{1.`3`}}"
          }
        ]
      },
      "module": "google-contacts:createAContact",
      "onerror": [
        {
          "id": 5,
          "filter": {
            "name": "Catch BundleValidationError",
            "conditions": [
              [
                {
                  "a": "{{2.error.type}}",
                  "b": "BundleValidationError",
                  "o": "text:equal"
                }
              ]
            ]
          },
          "module": "builtin:Ignore",
          "version": 1,
          "metadata": {
            "designer": {
              "x": 600,
              "y": 0
            }
          }
        }
      ],
      "version": 4,
      "metadata": {
        "expect": [
          {
            "name": "honorificPrefix",
            "tags": "strip",
            "type": "text",
            "label": "Name Prefix"
          },
          {
            "name": "givenName",
            "tags": "strip",
            "type": "text",
            "label": "First Name",
            "required": true
          },
          {
            "name": "phoneticGivenName",
            "tags": "strip",
            "type": "text",
            "label": "First Name Yomi"
          },
          {
            "name": "middleName",
            "tags": "strip",
            "type": "text",
            "label": "Middle Name"
          },
          {
            "name": "phoneticMiddleName",
            "tags": "strip",
            "type": "text",
            "label": "Middle Name Yomi"
          },
          {
            "name": "familyName",
            "tags": "strip",
            "type": "text",
            "label": "Family Name"
          },
          {
            "name": "phoneticFamilyName",
            "tags": "strip",
            "type": "text",
            "label": "Family Name Yomi"
          },
          {
            "name": "honorificSuffix",
            "tags": "strip",
            "type": "text",
            "label": "Name Suffix"
          },
          {
            "name": "nickname",
            "tags": "strip",
            "type": "text",
            "label": "Nickname"
          },
          {
            "name": "fileAses",
            "type": "text",
            "label": "File as"
          },
          {
            "name": "label",
            "type": "select",
            "label": "Labels",
            "multiple": true
          },
          {
            "name": "data",
            "type": "buffer",
            "label": "Photo Data"
          },
          {
            "name": "organization",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Name"
              },
              {
                "name": "title",
                "type": "text",
                "label": "Job Title"
              },
              {
                "name": "department",
                "type": "text",
                "label": "Department"
              },
              {
                "name": "jobDescription",
                "type": "text",
                "label": "Job Description"
              },
              {
                "name": "symbol",
                "type": "text",
                "label": "Symbol"
              },
              {
                "name": "type",
                "type": "select",
                "label": "Type",
                "validate": {
                  "enum": [
                    "work",
                    "school"
                  ]
                }
              },
              {
                "name": "domain",
                "type": "text",
                "label": "Domain"
              },
              {
                "name": "location",
                "type": "text",
                "label": "Location"
              }
            ],
            "type": "collection",
            "label": "Company"
          },
          {
            "name": "emailAddresses",
            "spec": [
              {
                "name": "value",
                "type": "email",
                "label": "Email",
                "required": true
              },
              {
                "name": "displayName",
                "tags": "strip",
                "type": "text",
                "label": "Display Name"
              },
              {
                "name": "type",
                "type": "select",
                "label": "Type",
                "options": [
                  {
                    "label": "Home",
                    "value": "home"
                  },
                  {
                    "label": "Work",
                    "value": "work"
                  },
                  {
                    "label": "Other",
                    "value": "other"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "Emails"
          },
          {
            "name": "phoneNumbers",
            "spec": [
              {
                "name": "value",
                "type": "text",
                "label": "Phone Number",
                "required": true
              },
              {
                "name": "type",
                "type": "select",
                "label": "Type",
                "options": [
                  {
                    "label": "Home",
                    "value": "home"
                  },
                  {
                    "label": "Work",
                    "value": "work"
                  },
                  {
                    "label": "Mobile",
                    "value": "mobile"
                  },
                  {
                    "label": "Home Fax",
                    "value": "homeFax"
                  },
                  {
                    "label": "Work Fax",
                    "value": "workFax"
                  },
                  {
                    "label": "Other Fax",
                    "value": "otherFax"
                  },
                  {
                    "label": "Pager",
                    "value": "pager"
                  },
                  {
                    "label": "Work Mobile",
                    "value": "workMobile"
                  },
                  {
                    "label": "Work Pager",
                    "value": "workPager"
                  },
                  {
                    "label": "Main",
                    "value": "main"
                  },
                  {
                    "label": "Google Voice",
                    "value": "googleVoice"
                  },
                  {
                    "label": "Other",
                    "value": "other"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "Phone Numbers"
          },
          {
            "name": "addresses",
            "spec": [
              {
                "name": "streetAddress",
                "tags": "strip",
                "type": "text",
                "label": "Street Address"
              },
              {
                "name": "poBox",
                "tags": "strip",
                "type": "text",
                "label": "PO Box"
              },
              {
                "name": "extendedAddress",
                "tags": "strip",
                "type": "text",
                "label": "Extended Address"
              },
              {
                "name": "city",
                "tags": "strip",
                "type": "text",
                "label": "City"
              },
              {
                "name": "region",
                "tags": "strip",
                "type": "text",
                "label": "Region"
              },
              {
                "name": "postalCode",
                "tags": "strip",
                "type": "text",
                "label": "Postal Code"
              },
              {
                "name": "country",
                "tags": "strip",
                "type": "text",
                "label": "Country"
              }
            ],
            "type": "array",
            "label": "Addresses"
          },
          {
            "name": "birthday",
            "time": true,
            "type": "date",
            "label": "Birthday"
          },
          {
            "name": "events",
            "spec": [
              {
                "name": "date",
                "time": true,
                "type": "date",
                "label": "Date"
              },
              {
                "name": "type",
                "type": "select",
                "label": "Type",
                "options": [
                  {
                    "label": "anniversary",
                    "value": "Anniversary"
                  },
                  {
                    "label": "Other",
                    "value": "other"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "Events"
          },
          {
            "name": "urls",
            "spec": [
              {
                "name": "value",
                "type": "url",
                "label": "URL",
                "required": true
              },
              {
                "name": "type",
                "type": "select",
                "label": "Type",
                "options": [
                  {
                    "label": "Home",
                    "value": "home"
                  },
                  {
                    "label": "Work",
                    "value": "work"
                  },
                  {
                    "label": "Blog",
                    "value": "blog"
                  },
                  {
                    "label": "Profile",
                    "value": "profile"
                  },
                  {
                    "label": "HomePage",
                    "value": "homePage"
                  },
                  {
                    "label": "FTP",
                    "value": "ftp"
                  },
                  {
                    "label": "Reservations",
                    "value": "reservations"
                  },
                  {
                    "label": "App Install Page",
                    "value": "appInstallPage"
                  },
                  {
                    "label": "Other",
                    "value": "other"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "URLs"
          },
          {
            "name": "imClients",
            "spec": [
              {
                "name": "username",
                "type": "text",
                "label": "Username",
                "required": true
              },
              {
                "name": "type",
                "type": "select",
                "label": "Type",
                "options": [
                  {
                    "label": "Home",
                    "value": "home"
                  },
                  {
                    "label": "Work",
                    "value": "work"
                  },
                  {
                    "label": "Other",
                    "value": "other"
                  }
                ]
              },
              {
                "name": "protocol",
                "type": "select",
                "label": "Protocol",
                "options": [
                  {
                    "label": "AIM",
                    "value": "aim"
                  },
                  {
                    "label": "MSN",
                    "value": "msn"
                  },
                  {
                    "label": "Yahoo",
                    "value": "yahoo"
                  },
                  {
                    "label": "Skype",
                    "value": "skype"
                  },
                  {
                    "label": "QQ",
                    "value": "qq"
                  },
                  {
                    "label": "Google Talk",
                    "value": "googleTalk"
                  },
                  {
                    "label": "ICQ",
                    "value": "icq"
                  },
                  {
                    "label": "Jabber",
                    "value": "jabber"
                  },
                  {
                    "label": "Net Meeting",
                    "value": "netMeeting"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "IM Clients"
          },
          {
            "name": "note",
            "tags": "strip",
            "type": "text",
            "label": "Notes"
          },
          {
            "name": "relations",
            "spec": [
              {
                "name": "person",
                "type": "text",
                "label": "Person",
                "required": true
              },
              {
                "name": "type",
                "type": "select",
                "label": "Type",
                "options": [
                  {
                    "label": "Spouse",
                    "value": "spouse"
                  },
                  {
                    "label": "Child",
                    "value": "child"
                  },
                  {
                    "label": "Mother",
                    "value": "mother"
                  },
                  {
                    "label": "Father",
                    "value": "father"
                  },
                  {
                    "label": "Parent",
                    "value": "parent"
                  },
                  {
                    "label": "Brother",
                    "value": "brother"
                  },
                  {
                    "label": "Sister",
                    "value": "sister"
                  },
                  {
                    "label": "Friend",
                    "value": "friend"
                  },
                  {
                    "label": "Relative",
                    "value": "relative"
                  },
                  {
                    "label": "Domestic Partner",
                    "value": "domesticPartner"
                  },
                  {
                    "label": "Manager",
                    "value": "manager"
                  },
                  {
                    "label": "Assistant",
                    "value": "assistant"
                  },
                  {
                    "label": "Referred By",
                    "value": "referredBy"
                  },
                  {
                    "label": "Partner",
                    "value": "partner"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "Relations"
          },
          {
            "name": "userDefined",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "key",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "User Defined Fields"
          }
        ],
        "restore": {
          "expect": {
            "urls": {
              "mode": "chose"
            },
            "label": {
              "mode": "edit"
            },
            "events": {
              "mode": "chose"
            },
            "addresses": {
              "mode": "chose"
            },
            "imClients": {
              "mode": "chose"
            },
            "relations": {
              "mode": "chose"
            },
            "userDefined": {
              "mode": "chose"
            },
            "organization": {
              "nested": {
                "type": {
                  "mode": "chose",
                  "label": "Empty"
                }
              }
            },
            "phoneNumbers": {
              "mode": "chose",
              "items": [
                {
                  "type": {
                    "mode": "chose",
                    "label": "Empty"
                  }
                }
              ]
            },
            "emailAddresses": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google"
              },
              "label": "My Google connection (cursosiitasl@gmail.com)"
            }
          }
        },
        "designer": {
          "x": 300,
          "y": 0,
          "name": "Cargar contactos en teléfono"
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 5940685
      }
    }
  ],
  "name": "Registro de Contactos (Google Contacts SL)",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": [],
      "samples": {
        "1": {
          "0": "8/11/2025 13:22:08",
          "1": "Alexandra Acosta",
          "2": "Acostalexandra97@gmail.com",
          "3": "3875510148",
          "4": "No",
          "5": "",
          "6": "Educación y aprendizaje: investigación y búsqueda de información y creación de material educativo., ...",
          "__SHEET__": "Respuestas de formulario 1",
          "__IMTINDEX__": 1,
          "__IMTLENGTH__": 542,
          "__ROW_NUMBER__": 2,
          "__SPREADSHEET_ID__": "1VuyWb3xwDibHu7tk606ZDWxvw7sPRmLln7zdzvffvI4"
        },
        "2": {
          "id": "c2658574800698039460",
          "etag": "%EiQBAgMFBgcICQoLDA0ODxATFBUWGR8hIiMkJSYnLjQ1Nz0+P0AaBAECBQciDHBsNWNCd3lhMFZzPQ==",
          "note": "Jornada intensiva en Salta de IA",
          "PhotoUrl": "https://lh3.googleusercontent.com/cm/AGPWSu-KH9mc-MHkz_w91uO-X7yEhF6dSVZq-888LRu6TMcHhbJ_xbWZfGXezhk...",
          "givenName": "JI_IA - Molina Mercedes",
          "updateTime": "2025-10-26T07:32:14.625Z",
          "displayName": "JI_IA - Molina Mercedes",
          "memberships": [
            {
              "metadata": {
                "source": {
                  "id": "24e527b20c695ca4",
                  "type": "CONTACT"
                }
              },
              "contactGroupMembership": {
                "contactGroupId": "myContacts",
                "contactGroupResourceName": "contactGroups/myContacts"
              }
            }
          ],
          "phoneNumbers": [
            {
              "value": "5493875206917",
              "metadata": {
                "source": {
                  "id": "24e527b20c695ca4",
                  "type": "CONTACT"
                },
                "primary": true
              },
              "canonicalForm": "+5493875206917"
            }
          ],
          "unstructuredName": "JI_IA - Molina Mercedes",
          "displayNameLastFirst": "JI_IA - Molina Mercedes"
        }
      }
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}