snapshots/2026-02-18_produccion/1_entrada/4161348_input_san_lorenzo_chico_-_whatsapp_coexistence.json
{
  "flow": [
    {
      "id": 2,
      "mapper": {},
      "module": "whatsapp-business-cloud:watchEvents2",
      "version": 1,
      "metadata": {
        "restore": {
          "parameters": {
            "__IMTHOOK__": {
              "data": {
                "editable": "false"
              },
              "label": "Ssn Lorenzo prod Coexistence"
            }
          }
        },
        "designer": {
          "x": -516,
          "y": 39
        },
        "parameters": [
          {
            "name": "__IMTHOOK__",
            "type": "hook:whatsapp-business-cloud",
            "label": "Webhook",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTHOOK__": 1703555
      }
    },
    {
      "id": 3,
      "mapper": null,
      "module": "builtin:BasicRouter",
      "routes": [
        {
          "flow": [
            {
              "id": 4,
              "filter": {
                "name": "Mensaje cliente",
                "conditions": [
                  [
                    {
                      "a": "{{2.messages}}",
                      "o": "exist"
                    }
                  ]
                ]
              },
              "mapper": null,
              "module": "builtin:BasicRouter",
              "routes": [
                {
                  "flow": [
                    {
                      "id": 5,
                      "filter": {
                        "name": "Sin media",
                        "conditions": [
                          [
                            {
                              "a": "{{2.messages[].image}}",
                              "o": "notexist"
                            },
                            {
                              "a": "{{2.messages[].audio}}",
                              "o": "notexist"
                            },
                            {
                              "a": "{{2.messages[].video}}",
                              "o": "notexist"
                            },
                            {
                              "a": "{{2.messages[].document}}",
                              "o": "notexist"
                            },
                            {
                              "a": "{{2.messages[].sticker}}",
                              "o": "notexist"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "data": {
                          "text": "{{2.messages[].text.body}}",
                          "is_user": true,
                          "person_name": "{{2.contacts[].profile.name}}",
                          "external_ref": "{{2.messages[].id}}",
                          "provider_name": "{{2.messaging_product}}",
                          "person_address": "{{2.contacts[].wa_id}}",
                          "channel_address": "{{2.metadata.display_phone_number}}"
                        }
                      },
                      "module": "scenario-service:CallSubscenario",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "data",
                            "spec": [
                              {
                                "name": "external_ref",
                                "type": "text",
                                "label": ""
                              },
                              {
                                "name": "provider_name",
                                "type": "text",
                                "label": "",
                                "required": true
                              },
                              {
                                "name": "channel_address",
                                "type": "text",
                                "label": "",
                                "required": true
                              },
                              {
                                "name": "person_address",
                                "type": "text",
                                "label": ""
                              },
                              {
                                "name": "text",
                                "type": "text",
                                "label": ""
                              },
                              {
                                "name": "is_user",
                                "type": "boolean",
                                "label": ""
                              },
                              {
                                "name": "person_name",
                                "type": "text",
                                "label": ""
                              },
                              {
                                "name": "ad_id",
                                "type": "text",
                                "label": ""
                              },
                              {
                                "name": "media_external_id",
                                "type": "text",
                                "label": ""
                              },
                              {
                                "name": "media_data",
                                "type": "text",
                                "label": ""
                              },
                              {
                                "name": "media_extension",
                                "type": "text",
                                "label": ""
                              }
                            ],
                            "type": "collection",
                            "label": "Scenario Inputs"
                          }
                        ],
                        "restore": {
                          "expect": {
                            "data": {
                              "nested": {
                                "is_user": {
                                  "mode": "chose"
                                }
                              }
                            }
                          },
                          "parameters": {
                            "scenario": {
                              "label": "IITA - Create new interaction (new)"
                            }
                          }
                        },
                        "designer": {
                          "x": 384,
                          "y": -261
                        },
                        "interface": [
                          {
                            "name": "executionId",
                            "type": "text",
                            "label": "Execution ID"
                          }
                        ],
                        "parameters": [
                          {
                            "name": "scenario",
                            "type": "scenario",
                            "label": "Scenario",
                            "required": true
                          },
                          {
                            "name": "shouldWaitForExecutionEnd",
                            "type": "boolean",
                            "label": "Wait for the scenario to finish",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "scenario": "SCN_3730125",
                        "shouldWaitForExecutionEnd": false
                      }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 6,
                      "filter": {
                        "name": "Contiene media",
                        "conditions": []
                      },
                      "mapper": {
                        "mediaId": "{{2.messages[].sticker.id}}{{if(2.messages[].image.id != null; 2.messages[].image.id; if(2.messages[].audio.id != null; 2.messages[].audio.id; if(2.messages[].video.id != null; 2.messages[].video.id; if(2.messages[].document.id != null; 2.messages[].document.id; if(null; 2.messages[].sticker.id; )))))}}"
                      },
                      "module": "whatsapp-business-cloud:getMedia",
                      "version": 1,
                      "metadata": {
                        "expect": [
                          {
                            "name": "mediaId",
                            "type": "text",
                            "label": "Media ID",
                            "required": true
                          },
                          {
                            "name": "mediaId",
                            "type": "text",
                            "label": "Media ID",
                            "required": true
                          }
                        ],
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": {
                              "data": {
                                "scoped": "true",
                                "connection": "whatsapp-business-cloud"
                              },
                              "label": "IITA San Lorenzo - WhatsApp Business (Coexistence) (iita san lorenzo (101122479675191))"
                            }
                          }
                        },
                        "designer": {
                          "x": 384,
                          "y": 39,
                          "name": "Descargar media"
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:whatsapp-business-cloud,whatsapp-business-cloud2",
                            "label": "Connection",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "__IMTCONN__": 5794332
                      }
                    },
                    {
                      "id": 7,
                      "mapper": {
                        "name": "Messages",
                        "scope": "roundtrip",
                        "value": "{{2.messages[].document.caption}}{{2.messages[].video.id}}{{ifempty(2.messages[].image.caption; ifempty(; ifempty(; null)))}}"
                      },
                      "module": "util:SetVariable2",
                      "version": 1,
                      "metadata": {
                        "expect": [
                          {
                            "name": "name",
                            "type": "text",
                            "label": "Variable name",
                            "required": true
                          },
                          {
                            "name": "scope",
                            "type": "select",
                            "label": "Variable lifetime",
                            "required": true,
                            "validate": {
                              "enum": [
                                "roundtrip",
                                "execution"
                              ]
                            }
                          },
                          {
                            "name": "value",
                            "type": "any",
                            "label": "Variable value"
                          }
                        ],
                        "restore": {
                          "expect": {
                            "scope": {
                              "label": "One cycle"
                            }
                          }
                        },
                        "designer": {
                          "x": 684,
                          "y": 39,
                          "name": "Obtener caption"
                        },
                        "interface": [
                          {
                            "name": "Messages",
                            "type": "any",
                            "label": "Messages"
                          }
                        ]
                      },
                      "parameters": {}
                    },
                    {
                      "id": 8,
                      "mapper": {
                        "data": {
                          "text": "{{7.Messages}}",
                          "is_user": true,
                          "media_data": "{{base64(6.mediaData)}}",
                          "person_name": "{{2.contacts[].profile.name}}",
                          "external_ref": "{{2.messages[].id}}",
                          "provider_name": "{{2.messaging_product}}",
                          "person_address": "{{2.contacts[].wa_id}}",
                          "channel_address": "{{2.metadata.display_phone_number}}",
                          "media_extension": "{{last(split(6.mime_type; \"/\"))}}",
                          "media_external_id": "{{6.id}}"
                        }
                      },
                      "module": "scenario-service:CallSubscenario",
                      "version": 2,
                      "metadata": {
                        "expect": [
                          {
                            "name": "data",
                            "spec": [
                              {
                                "name": "external_ref",
                                "type": "text",
                                "label": ""
                              },
                              {
                                "name": "provider_name",
                                "type": "text",
                                "label": "",
                                "required": true
                              },
                              {
                                "name": "channel_address",
                                "type": "text",
                                "label": "",
                                "required": true
                              },
                              {
                                "name": "person_address",
                                "type": "text",
                                "label": ""
                              },
                              {
                                "name": "text",
                                "type": "text",
                                "label": ""
                              },
                              {
                                "name": "is_user",
                                "type": "boolean",
                                "label": ""
                              },
                              {
                                "name": "person_name",
                                "type": "text",
                                "label": ""
                              },
                              {
                                "name": "ad_id",
                                "type": "text",
                                "label": ""
                              },
                              {
                                "name": "media_external_id",
                                "type": "text",
                                "label": ""
                              },
                              {
                                "name": "media_data",
                                "type": "text",
                                "label": ""
                              },
                              {
                                "name": "media_extension",
                                "type": "text",
                                "label": ""
                              }
                            ],
                            "type": "collection",
                            "label": "Scenario Inputs"
                          }
                        ],
                        "restore": {
                          "expect": {
                            "data": {
                              "nested": {
                                "is_user": {
                                  "mode": "chose"
                                }
                              }
                            }
                          },
                          "parameters": {
                            "scenario": {
                              "label": "IITA - Create new interaction (new)"
                            }
                          }
                        },
                        "designer": {
                          "x": 984,
                          "y": 39
                        },
                        "interface": [
                          {
                            "name": "executionId",
                            "type": "text",
                            "label": "Execution ID"
                          }
                        ],
                        "parameters": [
                          {
                            "name": "scenario",
                            "type": "scenario",
                            "label": "Scenario",
                            "required": true
                          },
                          {
                            "name": "shouldWaitForExecutionEnd",
                            "type": "boolean",
                            "label": "Wait for the scenario to finish",
                            "required": true
                          }
                        ]
                      },
                      "parameters": {
                        "scenario": "SCN_3730125",
                        "shouldWaitForExecutionEnd": false
                      }
                    }
                  ]
                }
              ],
              "version": 1,
              "metadata": {
                "designer": {
                  "x": 84,
                  "y": -111
                }
              },
              "parameters": {
                "else": 1
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 9,
              "filter": {
                "name": "self",
                "conditions": [
                  [
                    {
                      "a": "{{2.statuses}}",
                      "o": "exist"
                    },
                    {
                      "a": "{{2.statuses[].status}}",
                      "b": "delivered",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "data": {
                  "text": "Respondido desde telefono",
                  "is_user": false,
                  "person_name": "{{2.contacts[].profile.name}}",
                  "external_ref": "{{2.statuses[].id}}",
                  "provider_name": "{{2.messaging_product}}",
                  "person_address": "{{2.statuses[].recipient_id}}",
                  "channel_address": "{{2.metadata.display_phone_number}}"
                }
              },
              "module": "scenario-service:CallSubscenario",
              "version": 2,
              "metadata": {
                "expect": [
                  {
                    "name": "data",
                    "spec": [
                      {
                        "name": "external_ref",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "provider_name",
                        "type": "text",
                        "label": "",
                        "required": true
                      },
                      {
                        "name": "channel_address",
                        "type": "text",
                        "label": "",
                        "required": true
                      },
                      {
                        "name": "person_address",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "text",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "is_user",
                        "type": "boolean",
                        "label": ""
                      },
                      {
                        "name": "person_name",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "ad_id",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "media_external_id",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "media_data",
                        "type": "text",
                        "label": ""
                      },
                      {
                        "name": "media_extension",
                        "type": "text",
                        "label": ""
                      }
                    ],
                    "type": "collection",
                    "label": "Scenario Inputs"
                  }
                ],
                "restore": {
                  "expect": {
                    "data": {
                      "nested": {
                        "is_user": {
                          "mode": "chose"
                        }
                      }
                    }
                  },
                  "parameters": {
                    "scenario": {
                      "label": "test--IITA - Create interaction"
                    }
                  }
                },
                "designer": {
                  "x": 84,
                  "y": 339
                },
                "interface": [
                  {
                    "name": "executionId",
                    "type": "text",
                    "label": "Execution ID"
                  }
                ],
                "parameters": [
                  {
                    "name": "scenario",
                    "type": "scenario",
                    "label": "Scenario",
                    "required": true
                  },
                  {
                    "name": "shouldWaitForExecutionEnd",
                    "type": "boolean",
                    "label": "Wait for subscenario output",
                    "required": true
                  }
                ]
              },
              "parameters": {
                "scenario": "SCN_3730125",
                "shouldWaitForExecutionEnd": false
              }
            }
          ]
        }
      ],
      "version": 1,
      "metadata": {
        "designer": {
          "x": -216,
          "y": 39
        }
      }
    }
  ],
  "name": "[INPUT] San Lorenzo Chico - WhatsApp Coexistence",
  "metadata": {
    "instant": true,
    "version": 1,
    "designer": {
      "orphans": []
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}