snapshots/2026-02-18_pre_fix/2_procesamiento/4097317_save_media_into_bucket_dev.json
{
  "flow": [
    {
      "id": 1,
      "module": "scenario-service:StartSubscenario",
      "version": 2,
      "metadata": {
        "designer": {
          "x": -483,
          "y": 102
        },
        "interface": [
          {
            "help": "contenido de la media en formato binario",
            "name": "binary_data",
            "type": "text",
            "label": "",
            "default": "",
            "required": true,
            "multiline": false
          },
          {
            "help": "nombre que se le desea poner a la media en el storage",
            "name": "media_name",
            "type": "text",
            "label": "",
            "default": "",
            "required": true,
            "multiline": false
          },
          {
            "help": "extension de la media",
            "name": "media_extension",
            "type": "text",
            "label": "",
            "default": "",
            "required": true,
            "multiline": false
          }
        ]
      }
    },
    {
      "id": 2,
      "mapper": {
        "upsert": true,
        "bucketID": "media",
        "file_data": "{{toBinary(var.input.binary_data; \"base64\")}}",
        "file_name": "{{var.input.media_name}}.{{var.input.media_extension}}"
      },
      "module": "supabase:uploadAFile",
      "version": 1,
      "metadata": {
        "expect": [
          {
            "name": "bucketID",
            "type": "select",
            "label": "Bucket ID",
            "required": true
          },
          {
            "name": "file_name",
            "type": "text",
            "label": "Name",
            "required": true
          },
          {
            "name": "file_data",
            "type": "buffer",
            "label": "Data",
            "required": true
          },
          {
            "name": "upsert",
            "type": "boolean",
            "label": "Upsert"
          },
          {
            "name": "bucketID",
            "type": "select",
            "label": "Bucket ID",
            "required": true
          },
          {
            "name": "file_name",
            "type": "text",
            "label": "Name",
            "required": true
          },
          {
            "name": "file_data",
            "type": "buffer",
            "label": "Data",
            "required": true
          },
          {
            "name": "upsert",
            "type": "boolean",
            "label": "Upsert"
          }
        ],
        "restore": {
          "expect": {
            "upsert": {
              "mode": "chose"
            },
            "bucketID": {
              "mode": "chose",
              "label": "media"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "supabase"
              },
              "label": "Nico DB Desarrollo"
            }
          }
        },
        "advanced": true,
        "designer": {
          "x": -183,
          "y": 102,
          "name": "Upload media into bucket"
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:supabase",
            "label": "Connection",
            "required": true
          }
        ]
      },
      "parameters": {
        "__IMTCONN__": 7312545
      }
    },
    {
      "id": 3,
      "mapper": {
        "@id": "",
        "@name": "{{var.input.media_name}}",
        "@type": "{{var.input.media_extension}}",
        "@disabled": "",
        "@content_dir": "{{2.Key}}",
        "@description": ""
      },
      "module": "postgres:InsertIntoTable",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "@id",
            "type": "integer",
            "label": "id"
          },
          {
            "name": "@name",
            "type": "text",
            "label": "name"
          },
          {
            "name": "@content_dir",
            "type": "text",
            "label": "content_dir"
          },
          {
            "name": "@type",
            "type": "text",
            "label": "type"
          },
          {
            "name": "@description",
            "type": "text",
            "label": "description"
          },
          {
            "name": "@disabled",
            "type": "text",
            "label": "disabled"
          },
          {
            "name": "@id",
            "type": "integer",
            "label": "id"
          },
          {
            "name": "@name",
            "type": "text",
            "label": "name"
          },
          {
            "name": "@content_dir",
            "type": "text",
            "label": "content_dir"
          },
          {
            "name": "@type",
            "type": "text",
            "label": "type"
          },
          {
            "name": "@description",
            "type": "text",
            "label": "description"
          },
          {
            "name": "@disabled",
            "type": "text",
            "label": "disabled"
          }
        ],
        "restore": {
          "parameters": {
            "table": {
              "label": "public.medias"
            },
            "account": {
              "data": {
                "scoped": "true",
                "connection": "postgres"
              },
              "label": "Nico DB - Desarrollo (postgres.kacygprzxwysoijsvqdv@aws-1-us-east-2.pooler.supabase.com:5432/postgres)"
            }
          }
        },
        "advanced": true,
        "designer": {
          "x": 117,
          "y": 102
        },
        "interface": [
          {
            "name": "rowsAffected",
            "type": "number",
            "label": "Affected rows"
          },
          {
            "name": "rows",
            "spec": [
              {
                "name": "id",
                "type": "integer"
              },
              {
                "name": "name",
                "type": "text"
              },
              {
                "name": "content_dir",
                "type": "text"
              },
              {
                "name": "type",
                "type": "text"
              },
              {
                "name": "description",
                "type": "text"
              },
              {
                "name": "disabled",
                "type": "text"
              }
            ],
            "type": "array",
            "label": "Rows"
          }
        ],
        "parameters": [
          {
            "name": "account",
            "type": "account:postgres",
            "label": "Connection",
            "required": true
          },
          {
            "name": "isToManageDataInSharedTransaction",
            "type": "boolean",
            "label": "Manage data within the shared transaction",
            "required": true
          },
          {
            "name": "returnRows",
            "type": "boolean",
            "label": "Return Rows"
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          }
        ]
      },
      "parameters": {
        "table": "\"public\".\"medias\"",
        "account": 7346367,
        "returnRows": true,
        "isToManageDataInSharedTransaction": true
      }
    },
    {
      "id": 4,
      "mapper": {
        "media_id": "{{3.rows[].id}}"
      },
      "module": "scenario-service:ReturnData",
      "version": 2,
      "metadata": {
        "expect": [
          {
            "name": "media_id",
            "type": "number",
            "label": "",
            "required": true
          }
        ],
        "restore": {},
        "designer": {
          "x": 417,
          "y": 102
        }
      },
      "parameters": {}
    }
  ],
  "name": "Save media into bucket (Dev)",
  "metadata": {
    "instant": false,
    "version": 1,
    "designer": {
      "orphans": []
    },
    "scenario": {
      "dlq": false,
      "slots": null,
      "dataloss": false,
      "maxErrors": 3,
      "autoCommit": true,
      "roundtrips": 1,
      "sequential": false,
      "confidential": false,
      "freshVariables": false,
      "autoCommitTriggerLast": true
    }
  }
}